Repository nekator/mono: changes, and which lint-staged commands are due for each by the changed paths.
All: jscpd --exitCode 1 ., markdownlint -c .markdown-lint.yml, stylelint --fix, cross-env TIMING=1 NODE_OPTIONS="--max-old-space-size=4096" xo --fix, prettier --write, prettier --write --ignore-unknown

.lintstagedrc:

{
	"*": "jscpd --exitCode 1 .",
	"*.md": "markdownlint -c .markdown-lint.yml",
	"*.{css,scss}": "stylelint --fix",
	"*.{js,ts,tsx}": ["cross-env TIMING=1 NODE_OPTIONS=\"--max-old-space-size=4096\" xo --fix", "prettier --write"],
	"*.!{js,ts,tsx}": "prettier --write --ignore-unknown"
}

chore: add icon overview for patternhub (#2029)
  __snapshots__/accordion-item/showcase/chromium/regular/neutral/DBAccordionItem-should-match-screenshot.png
  __snapshots__/accordion-item/showcase/webkit/regular/neutral/DBAccordionItem-should-match-screenshot.png
  __snapshots__/accordion/showcase/chromium/regular/neutral/DBAccordion-should-match-screenshot.png
  __snapshots__/accordion/showcase/webkit/regular/neutral/DBAccordion-should-match-screenshot.png
  __snapshots__/alert/showcase/chromium/regular/neutral/DBAlert-should-match-screenshot.png
  __snapshots__/alert/showcase/webkit/regular/neutral/DBAlert-should-match-screenshot.png
  __snapshots__/badge/showcase/chromium/regular/neutral/DBBadge-should-match-screenshot.png
  __snapshots__/badge/showcase/webkit/regular/neutral/DBBadge-should-match-screenshot.png
  __snapshots__/button/showcase/chromium/regular/neutral/DBButton-should-match-screenshot.png
  __snapshots__/button/showcase/webkit/regular/neutral/DBButton-should-match-screenshot.png
  __snapshots__/icon/showcase/chromium/regular/neutral/DBIcon-should-match-screenshot.png
  __snapshots__/icon/showcase/mobile-chrome/regular/neutral/DBIcon-should-match-screenshot.png
  __snapshots__/icon/showcase/mobile-safari/regular/neutral/DBIcon-should-match-screenshot.png
  __snapshots__/icon/showcase/webkit/regular/neutral/DBIcon-should-match-screenshot.png
  __snapshots__/infotext/showcase/chromium/regular/neutral/DBInfotext-should-match-screenshot.png
  __snapshots__/infotext/showcase/webkit/regular/neutral/DBInfotext-should-match-screenshot.png
  __snapshots__/input/showcase/chromium/regular/neutral/DBInput-should-match-screenshot.png
  __snapshots__/input/showcase/webkit/regular/neutral/DBInput-should-match-screenshot.png
  __snapshots__/link/showcase/chromium/regular/neutral/DBLink-should-match-screenshot.png
  __snapshots__/link/showcase/webkit/regular/neutral/DBLink-should-match-screenshot.png
  __snapshots__/section/showcase/chromium/regular/neutral/DBSection-should-match-screenshot.png
  __snapshots__/section/showcase/webkit/regular/neutral/DBSection-should-match-screenshot.png
  __snapshots__/tag/showcase/chromium/regular/neutral/DBTag-should-match-screenshot.png
  __snapshots__/tag/showcase/mobile-chrome/regular/neutral/DBTag-should-match-screenshot.png
  __snapshots__/tag/showcase/webkit/regular/neutral/DBTag-should-match-screenshot.png
  __snapshots__/textarea/showcase/chromium/regular/neutral/DBTextarea-should-match-screenshot.png
  __snapshots__/textarea/showcase/webkit/regular/neutral/DBTextarea-should-match-screenshot.png
  showcases/angular-showcase/src/app/app.module.ts
  showcases/angular-showcase/src/app/components/icon/icon.component.html
  showcases/angular-showcase/src/app/components/icon/icon.component.ts
  showcases/angular-showcase/src/app/utils/navigation-item.ts
  showcases/e2e/icon/showcase-icon.spec.ts
  showcases/react-showcase/src/components/icon/index.tsx
  showcases/react-showcase/src/utils/navigation-item.tsx
  showcases/shared/icon.json
  showcases/vue-showcase/src/components/icon/Icon.vue
  showcases/vue-showcase/src/utils/navigation-items.ts
Due: jscpd --exitCode 1 ., cross-env TIMING=1 NODE_OPTIONS="--max-old-space-size=4096" xo --fix, prettier --write

fix: issue with new labeler version (#2073)
  .github/labeler.yml
Due: jscpd --exitCode 1 .

Update research-other-design-systems.md
  docs/research-other-design-systems.md
Due: jscpd --exitCode 1 ., markdownlint -c .markdown-lint.yml

Update design-systems.js
  docs/scripts/component-research/design-systems.js
Due: jscpd --exitCode 1 ., cross-env TIMING=1 NODE_OPTIONS="--max-old-space-size=4096" xo --fix, prettier --write

chore: update snapshots
  __snapshots__/accordion-item/showcase/chromium/regular/neutral/DBAccordionItem-should-match-screenshot.png
  __snapshots__/accordion-item/showcase/webkit/regular/neutral/DBAccordionItem-should-match-screenshot.png
  __snapshots__/accordion/showcase/chromium/regular/neutral/DBAccordion-should-match-screenshot.png
  __snapshots__/accordion/showcase/webkit/regular/neutral/DBAccordion-should-match-screenshot.png
  __snapshots__/alert/showcase/chromium/regular/neutral/DBAlert-should-match-screenshot.png
  __snapshots__/alert/showcase/webkit/regular/neutral/DBAlert-should-match-screenshot.png
  __snapshots__/badge/showcase/chromium/regular/neutral/DBBadge-should-match-screenshot.png
  __snapshots__/badge/showcase/webkit/regular/neutral/DBBadge-should-match-screenshot.png
  __snapshots__/button/showcase/chromium/regular/neutral/DBButton-should-match-screenshot.png
  __snapshots__/button/showcase/webkit/regular/neutral/DBButton-should-match-screenshot.png
  __snapshots__/icon/showcase/chromium/regular/neutral/DBIcon-should-match-screenshot.png
  __snapshots__/icon/showcase/mobile-chrome/regular/neutral/DBIcon-should-match-screenshot.png
  __snapshots__/icon/showcase/mobile-safari/regular/neutral/DBIcon-should-match-screenshot.png
  __snapshots__/icon/showcase/webkit/regular/neutral/DBIcon-should-match-screenshot.png
  __snapshots__/infotext/showcase/chromium/regular/neutral/DBInfotext-should-match-screenshot.png
  __snapshots__/infotext/showcase/webkit/regular/neutral/DBInfotext-should-match-screenshot.png
  __snapshots__/input/showcase/chromium/regular/neutral/DBInput-should-match-screenshot.png
  __snapshots__/input/showcase/webkit/regular/neutral/DBInput-should-match-screenshot.png
  __snapshots__/link/showcase/chromium/regular/neutral/DBLink-should-match-screenshot.png
  __snapshots__/link/showcase/webkit/regular/neutral/DBLink-should-match-screenshot.png
  __snapshots__/section/showcase/chromium/regular/neutral/DBSection-should-match-screenshot.png
  __snapshots__/section/showcase/webkit/regular/neutral/DBSection-should-match-screenshot.png
  __snapshots__/tag/showcase/chromium/regular/neutral/DBTag-should-match-screenshot.png
  __snapshots__/tag/showcase/mobile-chrome/regular/neutral/DBTag-should-match-screenshot.png
  __snapshots__/tag/showcase/mobile-safari/regular/neutral/DBTag-should-match-screenshot.png
  __snapshots__/tag/showcase/webkit/regular/neutral/DBTag-should-match-screenshot.png
  __snapshots__/textarea/showcase/chromium/regular/neutral/DBTextarea-should-match-screenshot.png
  __snapshots__/textarea/showcase/webkit/regular/neutral/DBTextarea-should-match-screenshot.png
  packages/components/src/styles/_form-components.scss
Due: jscpd --exitCode 1 ., stylelint --fix

refactor: removed one of the colors
  packages/foundations/scss/_init.scss
Due: jscpd --exitCode 1 ., stylelint --fix

refactor: added that variable font
  packages/foundations/assets/fonts/DBScreenFlexVF.woff2
  packages/foundations/scss/_font-faces.scss
  packages/foundations/tokens/font.jsonc
Due: jscpd --exitCode 1 ., stylelint --fix

refactor: manual replacements
  .github/scripts/update-playwright.js
  .github/workflows/02-e2e-showcases.yml
  .github/workflows/02-e2e.yml
  e2e/Dockerfile
  e2e/package.json
Due: jscpd --exitCode 1 ., cross-env TIMING=1 NODE_OPTIONS="--max-old-space-size=4096" xo --fix, prettier --write

docs: add tab research file (#2066)
  docs/research/tabs.md
Due: jscpd --exitCode 1 ., markdownlint -c .markdown-lint.yml

refactor: added another entry to angular group
  .github/dependabot.yml
Due: jscpd --exitCode 1 .

docs: added further relevant websites
  docs/research-other-design-systems.md
Due: jscpd --exitCode 1 ., markdownlint -c .markdown-lint.yml
