Repository nekator/mono: changes, and which lint-staged commands are due for each by the changed paths.
All: jscpd --exitCode 1 ., markdownlint -c .markdown-lint.yml, stylelint --fix, cross-env TIMING=1 NODE_OPTIONS="--max-old-space-size=4096" xo --fix, prettier --write, prettier --write --ignore-unknown

.lintstagedrc:

{
	"*": "jscpd --exitCode 1 .",
	"*.md": "markdownlint -c .markdown-lint.yml",
	"*.{css,scss}": "stylelint --fix",
	"*.{js,ts,tsx}": ["cross-env TIMING=1 NODE_OPTIONS=\"--max-old-space-size=4096\" xo --fix", "prettier --write"],
	"*.!{js,ts,tsx}": "prettier --write --ignore-unknown"
}

chore: update from main
  package-lock.json
Due: jscpd --exitCode 1 .

fix: linting
  showcases/angular-showcase/src/app/app.component.ts
  showcases/angular-showcase/src/app/components/accordion/accordion.component.ts
  showcases/angular-showcase/src/app/components/badge/badge.component.ts
  showcases/angular-showcase/src/app/components/brand/brand.component.ts
  showcases/angular-showcase/src/app/components/checkbox/checkbox.component.ts
  showcases/angular-showcase/src/app/components/form/checkboxes/checkboxes.component.ts
  showcases/angular-showcase/src/app/components/form/inputs/inputs.component.ts
  showcases/angular-showcase/src/app/components/form/selects/selects.component.ts
  showcases/angular-showcase/src/app/components/form/textareas/textareas.component.ts
  showcases/angular-showcase/src/app/components/header/header.component.ts
  showcases/angular-showcase/src/app/components/home/home.component.ts
  showcases/angular-showcase/src/app/components/icon/icon.component.ts
  showcases/angular-showcase/src/app/components/infotext/infotext.component.ts
  showcases/angular-showcase/src/app/components/input/input.component.ts
  showcases/angular-showcase/src/app/components/link/link.component.ts
  showcases/angular-showcase/src/app/components/navigation-item/navigation-item.component.ts
  showcases/angular-showcase/src/app/components/navigation/navigation.component.ts
  showcases/angular-showcase/src/app/components/notification/notification.component.ts
  showcases/angular-showcase/src/app/components/popover/popover.component.ts
  showcases/angular-showcase/src/app/components/radio/radio.component.ts
  showcases/angular-showcase/src/app/components/section/section.component.ts
  showcases/angular-showcase/src/app/components/select/select.component.ts
  showcases/angular-showcase/src/app/components/switch/switch.component.ts
  showcases/angular-showcase/src/app/components/tab-item/tab-item.component.ts
  showcases/angular-showcase/src/app/components/tabs/tabs.component.ts
  showcases/angular-showcase/src/app/components/tag/tag.component.ts
  showcases/angular-showcase/src/app/components/textarea/textarea.component.ts
  showcases/stencil-showcase/src/main.ts
  showcases/stencil-showcase/tsconfig.json
Due: jscpd --exitCode 1 ., cross-env TIMING=1 NODE_OPTIONS="--max-old-space-size=4096" xo --fix, prettier --write

fix: issue with missing prop
  showcases/shared/default-component-data.ts
Due: jscpd --exitCode 1 ., cross-env TIMING=1 NODE_OPTIONS="--max-old-space-size=4096" xo --fix, prettier --write

fix: issue with wrong workspace
  scripts/package.json
Due: jscpd --exitCode 1 .

fix: issue with post scripts
  packages/components/package.json
Due: jscpd --exitCode 1 .

chore: enable stencil tests in cicd
  .github/workflows/default.yml
  .github/workflows/release.yml
Due: jscpd --exitCode 1 .

fix: issue with stencil showcase build
  showcases/stencil-showcase/package.json
Due: jscpd --exitCode 1 .

chore: increase shards for screen reader tests (#3175)
  .github/workflows/02-e2e-screen-reader.yml
Due: jscpd --exitCode 1 .

fix: issue with stencil showcase build
  showcases/e2e/default.ts
  showcases/stencil-showcase/angular.json
Due: jscpd --exitCode 1 ., cross-env TIMING=1 NODE_OPTIONS="--max-old-space-size=4096" xo --fix, prettier --write

refactor: provide possibility for a second focus color (#3153)
  packages/foundations/scss/helpers/_focus.scss
Due: jscpd --exitCode 1 ., stylelint --fix

feat: Generating provenance statements
  .github/scripts/publish-npm.sh
Due: jscpd --exitCode 1 .

Update publish-npm.sh
  .github/scripts/publish-npm.sh
Due: jscpd --exitCode 1 .

fix: issues with missing stencil components for showcases
  packages/components/mitosis-stencil.config.js
  packages/components/scripts/post-build/components.ts
  packages/components/scripts/post-build/stencil.ts
  packages/components/src/components/infotext/infotext.scss
  packages/components/src/components/tabs/tabs.lite.tsx
  showcases/angular-showcase/src/app/components/accordion-item/accordion-item.component.ts
  showcases/angular-showcase/src/app/components/accordion/accordion.component.ts
  showcases/angular-showcase/src/app/components/checkbox/checkbox.component.ts
  showcases/angular-showcase/src/app/components/form/checkboxes/checkboxes.component.ts
  showcases/angular-showcase/src/app/components/form/form.component.ts
  showcases/angular-showcase/src/app/components/form/inputs/inputs.component.ts
  showcases/angular-showcase/src/app/components/form/selects/selects.component.ts
  showcases/angular-showcase/src/app/components/form/textareas/textareas.component.ts
  showcases/angular-showcase/src/app/components/home/home.component.ts
  showcases/angular-showcase/src/app/components/input/input.component.ts
  showcases/angular-showcase/src/app/components/navigation-item/navigation-item.component.ts
  showcases/angular-showcase/src/app/components/navigation/navigation.component.ts
  showcases/angular-showcase/src/app/components/popover/popover.component.ts
  showcases/angular-showcase/src/app/components/select/select.component.ts
  showcases/angular-showcase/src/app/components/switch/switch.component.ts
  showcases/angular-showcase/src/app/components/textarea/textarea.component.ts
Due: jscpd --exitCode 1 ., stylelint --fix, cross-env TIMING=1 NODE_OPTIONS="--max-old-space-size=4096" xo --fix, prettier --write

feat: generating provenance statements
  .github/workflows/03-publish-packages.yml
Due: jscpd --exitCode 1 .

fix: issues with stencil components
  packages/components/src/components/infotext/infotext.scss
  packages/components/src/components/tag/tag.scss
  showcases/angular-showcase/src/app/components/header/header.component.ts
  showcases/e2e/default.ts
  showcases/e2e/header/header-a11y.spec.ts
  showcases/e2e/home/showcase-home.spec.ts
  showcases/e2e/navigation-item/navigation-item-a11y.spec.ts
  showcases/e2e/navigation/navigation-a11y.spec.ts
Due: jscpd --exitCode 1 ., stylelint --fix, cross-env TIMING=1 NODE_OPTIONS="--max-old-space-size=4096" xo --fix, prettier --write

fix: issues with stencil showcase
  packages/components/scripts/post-build/components.ts
  packages/components/src/components/navigation-item/navigation-item.scss
  showcases/angular-showcase/src/app/components/header/header.component.ts
Due: jscpd --exitCode 1 ., stylelint --fix, cross-env TIMING=1 NODE_OPTIONS="--max-old-space-size=4096" xo --fix, prettier --write

chore: update cancel workflow action (#3176)
  .github/workflows/00-init.yml
  .github/workflows/default.yml
Due: jscpd --exitCode 1 .

fix: issues with passing props from custom element
  packages/components/scripts/post-build/angular.ts
  packages/components/scripts/post-build/components.ts
  packages/components/scripts/post-build/stencil.ts
  packages/components/src/components/tag/model.ts
  packages/components/src/utils/index.ts
  showcases/angular-showcase/src/app/components/tag/tag.component.html
  showcases/e2e/default.ts
  showcases/e2e/drawer/drawer-a11y.spec.ts
  showcases/e2e/header/header-a11y.spec.ts
  showcases/e2e/home/showcase-home.spec.ts
  showcases/e2e/navigation-item/navigation-item-a11y.spec.ts
  showcases/e2e/navigation/navigation-a11y.spec.ts
  showcases/e2e/popover/popover-a11y.spec.ts
  showcases/e2e/tooltip/tooltip-a11y.spec.ts
  showcases/playwright.config.ts
  showcases/react-showcase/src/components/tag/index.tsx
  showcases/vue-showcase/src/components/tag/Tag.vue
Due: jscpd --exitCode 1 ., cross-env TIMING=1 NODE_OPTIONS="--max-old-space-size=4096" xo --fix, prettier --write
