Repository nekator/mono: changes, and which lint-staged commands are due for each by the changed paths.
All: jscpd --exitCode 1 ., markdownlint -c .markdown-lint.yml, stylelint --fix, cross-env TIMING=1 NODE_OPTIONS="--max-old-space-size=4096" xo --fix, prettier --write, prettier --write --ignore-unknown

.lintstagedrc:

{
	"*": "jscpd --exitCode 1 .",
	"*.md": "markdownlint -c .markdown-lint.yml",
	"*.{css,scss}": "stylelint --fix",
	"*.{js,ts,tsx}": ["cross-env TIMING=1 NODE_OPTIONS=\"--max-old-space-size=4096\" xo --fix", "prettier --write"],
	"*.!{js,ts,tsx}": "prettier --write --ignore-unknown"
}

fix: db font-family for power apps (#1482)
  packages/foundations/scss/_tonality.scss
Due: jscpd --exitCode 1 ., stylelint --fix

fix: issue with justify-content: end because it has mixed support (#1484)
  packages/components/src/components/header/header.scss
Due: jscpd --exitCode 1 ., stylelint --fix

fix: min height for header with brand only (#1483)
  packages/components/src/components/header/header.scss
Due: jscpd --exitCode 1 ., stylelint --fix

fix: issues with mobile header (#1485)
  packages/components/src/components/header/header.lite.tsx
  packages/components/src/components/header/header.scss
Due: jscpd --exitCode 1 ., stylelint --fix, cross-env TIMING=1 NODE_OPTIONS="--max-old-space-size=4096" xo --fix, prettier --write

fix: add missing id for components to use them from DOM or e2e tests (#1487)
  packages/components/src/components/accordion/accordion.lite.tsx
  packages/components/src/components/alert/alert.lite.tsx
  packages/components/src/components/badge/badge.lite.tsx
  packages/components/src/components/brand/brand.lite.tsx
  packages/components/src/components/card/card.lite.tsx
  packages/components/src/components/divider/divider.lite.tsx
  packages/components/src/components/icon/icon.lite.tsx
  packages/components/src/components/infotext/infotext.lite.tsx
  packages/components/src/components/link/link.lite.tsx
  packages/components/src/components/main-navigation/main-navigation.lite.tsx
  packages/components/src/components/navigation-item/navigation-item.lite.tsx
  packages/components/src/components/page/page.lite.tsx
  packages/components/src/components/section/section.lite.tsx
  packages/components/src/components/tab-bar/tab-bar.lite.tsx
  packages/components/src/components/tab/tab.lite.tsx
  packages/components/src/components/tag/tag.lite.tsx
Due: jscpd --exitCode 1 ., cross-env TIMING=1 NODE_OPTIONS="--max-old-space-size=4096" xo --fix, prettier --write

refactor: possible simplification
  packages/components/src/utils/index.ts
Due: jscpd --exitCode 1 ., cross-env TIMING=1 NODE_OPTIONS="--max-old-space-size=4096" xo --fix, prettier --write

refactor: another try
  packages/components/src/utils/index.ts
Due: jscpd --exitCode 1 ., cross-env TIMING=1 NODE_OPTIONS="--max-old-space-size=4096" xo --fix, prettier --write

refactor: further optimization
  packages/components/src/utils/index.ts
Due: jscpd --exitCode 1 ., cross-env TIMING=1 NODE_OPTIONS="--max-old-space-size=4096" xo --fix, prettier --write

refactor: more readable
  packages/components/src/utils/index.ts
Due: jscpd --exitCode 1 ., cross-env TIMING=1 NODE_OPTIONS="--max-old-space-size=4096" xo --fix, prettier --write

chore: another simplification
  packages/components/src/utils/index.ts
Due: jscpd --exitCode 1 ., cross-env TIMING=1 NODE_OPTIONS="--max-old-space-size=4096" xo --fix, prettier --write

chore: so sad …
  packages/components/src/utils/index.ts
Due: jscpd --exitCode 1 ., cross-env TIMING=1 NODE_OPTIONS="--max-old-space-size=4096" xo --fix, prettier --write

chore: another try
  packages/components/src/utils/index.ts
Due: jscpd --exitCode 1 ., cross-env TIMING=1 NODE_OPTIONS="--max-old-space-size=4096" xo --fix, prettier --write
