Repository nekator/mono: changes, and which lint-staged commands are due for each by the changed paths.
All: jscpd --exitCode 1 ., markdownlint -c .markdown-lint.yml, stylelint --fix, cross-env TIMING=1 NODE_OPTIONS="--max-old-space-size=4096" xo --fix, prettier --write, prettier --write --ignore-unknown

fix: missing token in showcase
  showcases/patternhub/styles/globals.scss
Due: jscpd --exitCode 1 ., stylelint --fix

chore: update snapshots
  __snapshots__/brand/component/chromium/DBBrand-should-match-screenshot.png
  __snapshots__/brand/component/mobile-chrome/DBBrand-should-match-screenshot.png
  __snapshots__/infotext/component/webkit/DBInfotext-should-match-screenshot-for-variant-critical.png
  __snapshots__/infotext/component/webkit/DBInfotext-should-match-screenshot-for-variant-informational.png
  __snapshots__/infotext/component/webkit/DBInfotext-should-match-screenshot-for-variant-warning.png
  __snapshots__/infotext/component/webkit/DBInfotext-should-match-screenshot.png
  __snapshots__/input/showcase/chromium/regular/neutral/DBInput-should-match-screenshot.png
  __snapshots__/input/showcase/mobile-chrome/regular/neutral/DBInput-should-match-screenshot.png
  __snapshots__/input/showcase/mobile-safari/regular/neutral/DBInput-should-match-screenshot.png
  __snapshots__/input/showcase/webkit/regular/neutral/DBInput-should-match-screenshot.png
  __snapshots__/select/component/webkit/DBSelect-should-match-screenshot.png
  __snapshots__/tag/showcase/mobile-safari/regular/neutral/DBTag-should-match-screenshot.png
  __snapshots__/textarea/component/mobile-chrome/DBTextarea-should-match-screenshot.png
  __snapshots__/textarea/showcase/mobile-chrome/regular/neutral/DBTextarea-should-match-screenshot.png
Due: jscpd --exitCode 1 .

chore: update links for readmes (#1904)
  README.md
  packages/foundations/README.md
Due: jscpd --exitCode 1 ., markdownlint -c .markdown-lint.yml

chore: update snapshots
  __snapshots__/brand/component/chromium/DBBrand-should-match-screenshot.png
  __snapshots__/brand/component/mobile-chrome/DBBrand-should-match-screenshot.png
  __snapshots__/button/component/mobile-safari/DBButton-should-only-have-icon-for-variant-primary.png
  __snapshots__/button/component/mobile-safari/DBButton-should-only-have-icon-for-variant-solid.png
  __snapshots__/tag/showcase/mobile-safari/regular/neutral/DBTag-should-match-screenshot.png
  __snapshots__/textarea/component/mobile-chrome/DBTextarea-should-match-screenshot.png
  __snapshots__/textarea/showcase/mobile-chrome/regular/neutral/DBTextarea-should-match-screenshot.png
Due: jscpd --exitCode 1 .

chore: update snapshots
  __snapshots__/brand/component/chromium/DBBrand-should-match-screenshot.png
  __snapshots__/brand/component/mobile-chrome/DBBrand-should-match-screenshot.png
  __snapshots__/button/component/webkit/DBButton-should-only-have-icon-for-variant-primary.png
  __snapshots__/button/component/webkit/DBButton-should-only-have-icon-for-variant-text.png
  __snapshots__/input/showcase/mobile-safari/regular/neutral/DBInput-should-match-screenshot.png
  __snapshots__/input/showcase/webkit/regular/neutral/DBInput-should-match-screenshot.png
  __snapshots__/textarea/component/mobile-chrome/DBTextarea-should-match-screenshot.png
  __snapshots__/textarea/showcase/mobile-chrome/regular/neutral/DBTextarea-should-match-screenshot.png
Due: jscpd --exitCode 1 .

chore: update snapshots
  __snapshots__/alert/component/mobile-safari/DBAlert-should-match-screenshot-for-variant-warning.png
  __snapshots__/button/component/webkit/DBButton-should-only-have-icon-for-variant-outlined.png
  __snapshots__/button/component/webkit/DBButton-should-only-have-icon-for-variant-primary.png
  __snapshots__/button/component/webkit/DBButton-should-only-have-icon-for-variant-solid.png
  __snapshots__/infotext/component/webkit/DBInfotext-should-match-screenshot-for-variant-warning.png
  packages/components/src/components/accordion/accordion.scss
  packages/components/test/playwright/boilerplate/index.html
Due: jscpd --exitCode 1 ., stylelint --fix

docs(README): removed obsolete block
  README.md
Due: jscpd --exitCode 1 ., markdownlint -c .markdown-lint.yml

Update README.md
  README.md
Due: jscpd --exitCode 1 ., markdownlint -c .markdown-lint.yml

chore: update snapshots
  __snapshots__/input/showcase/webkit/regular/neutral/DBInput-should-match-screenshot.png
  __snapshots__/textarea/showcase/webkit/regular/neutral/DBTextarea-should-match-screenshot.png
Due: jscpd --exitCode 1 .

chore: update snapshots
  __snapshots__/alert/component/chromium/DBAlert-should-match-screenshot-for-variant-informational.png
  __snapshots__/alert/component/chromium/DBAlert-should-match-screenshot-for-variant-successful.png
  __snapshots__/alert/component/chromium/DBAlert-should-match-screenshot-for-variant-warning.png
  __snapshots__/alert/component/mobile-chrome/DBAlert-should-match-screenshot-for-variant-informational.png
  __snapshots__/alert/component/mobile-chrome/DBAlert-should-match-screenshot-for-variant-successful.png
  __snapshots__/alert/component/mobile-chrome/DBAlert-should-match-screenshot-for-variant-warning.png
  __snapshots__/alert/showcase/chromium/regular/neutral/DBAlert-should-match-screenshot.png
  __snapshots__/alert/showcase/mobile-chrome/regular/neutral/DBAlert-should-match-screenshot.png
  __snapshots__/alert/showcase/mobile-safari/regular/neutral/DBAlert-should-match-screenshot.png
  __snapshots__/alert/showcase/webkit/regular/neutral/DBAlert-should-match-screenshot.png
  __snapshots__/badge/showcase/chromium/regular/neutral/DBBadge-should-match-screenshot.png
  __snapshots__/badge/showcase/mobile-chrome/regular/neutral/DBBadge-should-match-screenshot.png
  __snapshots__/badge/showcase/mobile-safari/regular/neutral/DBBadge-should-match-screenshot.png
  __snapshots__/badge/showcase/webkit/regular/neutral/DBBadge-should-match-screenshot.png
  __snapshots__/input/showcase/chromium/regular/neutral/DBInput-should-match-screenshot.png
  __snapshots__/input/showcase/mobile-chrome/regular/neutral/DBInput-should-match-screenshot.png
  __snapshots__/input/showcase/mobile-safari/regular/neutral/DBInput-should-match-screenshot.png
  __snapshots__/input/showcase/webkit/regular/neutral/DBInput-should-match-screenshot.png
  __snapshots__/tag/component/chromium/DBTag-should-match-screenshot-for-variant-informational.png
  __snapshots__/tag/component/chromium/DBTag-should-match-screenshot-for-variant-successful.png
  __snapshots__/tag/component/chromium/DBTag-should-match-screenshot-for-variant-warning.png
  __snapshots__/tag/component/mobile-chrome/DBTag-should-match-screenshot-for-variant-informational.png
  __snapshots__/tag/component/mobile-chrome/DBTag-should-match-screenshot-for-variant-successful.png
  __snapshots__/tag/component/mobile-chrome/DBTag-should-match-screenshot-for-variant-warning.png
  __snapshots__/tag/showcase/chromium/regular/neutral/DBTag-should-match-screenshot.png
  __snapshots__/tag/showcase/mobile-chrome/regular/neutral/DBTag-should-match-screenshot.png
  __snapshots__/tag/showcase/mobile-safari/regular/neutral/DBTag-should-match-screenshot.png
  __snapshots__/tag/showcase/webkit/regular/neutral/DBTag-should-match-screenshot.png
  __snapshots__/textarea/showcase/chromium/regular/neutral/DBTextarea-should-match-screenshot.png
  __snapshots__/textarea/showcase/mobile-chrome/regular/neutral/DBTextarea-should-match-screenshot.png
  __snapshots__/textarea/showcase/mobile-safari/regular/neutral/DBTextarea-should-match-screenshot.png
  __snapshots__/textarea/showcase/webkit/regular/neutral/DBTextarea-should-match-screenshot.png
Due: jscpd --exitCode 1 .

chore: update from main
  package-lock.json
Due: jscpd --exitCode 1 .

chore: fix issues from playwright tests
  showcases/angular-showcase/src/app/components/textarea/textarea.component.html
  showcases/e2e/default.ts
Due: jscpd --exitCode 1 ., cross-env TIMING=1 NODE_OPTIONS="--max-old-space-size=4096" xo --fix, prettier --write

docs(README): changed further aspects (#1909)
  README.md
Due: jscpd --exitCode 1 ., markdownlint -c .markdown-lint.yml

chore(scss): further simplification
  packages/components/src/components/accordion-item/accordion-item.scss
Due: jscpd --exitCode 1 ., stylelint --fix

Path conditions:
  jscpd --exitCode 1 .: any of: *
  markdownlint -c .markdown-lint.yml: any of: *.md
  stylelint --fix: any of: *.{css,scss}
  cross-env TIMING=1 NODE_OPTIONS="--max-old-space-size=4096" xo --fix: any of: *.{js,ts,tsx}
  prettier --write: any of: *.{js,ts,tsx}
  prettier --write --ignore-unknown: any of: *.!{js,ts,tsx}
