Repository nekator/mono: changes, and which lint-staged commands are due for each by the changed paths.
All: jscpd --exitCode 1 ., markdownlint -c .markdown-lint.yml, stylelint --fix, cross-env TIMING=1 NODE_OPTIONS="--max-old-space-size=4096" xo --fix, prettier --write, prettier --write --ignore-unknown

fix: issues with wrong notification heading
  packages/components/src/components/notification/notification.scss
Due: jscpd --exitCode 1 ., stylelint --fix

chore: update snapshots
  __snapshots__/notification/showcase/chromium/regular/neutral/DBNotification-should-match-screenshot.png
  __snapshots__/notification/showcase/firefox/regular/neutral/DBNotification-should-match-screenshot.png
  __snapshots__/notification/showcase/mobile-chrome/regular/neutral/DBNotification-should-match-screenshot.png
  __snapshots__/notification/showcase/mobile-safari/regular/neutral/DBNotification-should-match-screenshot.png
  __snapshots__/notification/showcase/webkit/regular/neutral/DBNotification-should-match-screenshot.png
Due: jscpd --exitCode 1 .

fix: issue with drawer closing on every key (#2596)
  packages/components/src/components/drawer/drawer.lite.tsx
  packages/components/src/components/drawer/model.ts
  packages/components/src/shared/model.ts
Due: jscpd --exitCode 1 ., cross-env TIMING=1 NODE_OPTIONS="--max-old-space-size=4096" xo --fix, prettier --write

fix: issue with drawer closing on every key (#2598)
  packages/components/src/components/drawer/drawer.lite.tsx
Due: jscpd --exitCode 1 ., cross-env TIMING=1 NODE_OPTIONS="--max-old-space-size=4096" xo --fix, prettier --write

docs: change wrong icon for night/day (#2597)
  showcases/patternhub/pages/foundations/colors/color-schemes.tsx
Due: jscpd --exitCode 1 ., cross-env TIMING=1 NODE_OPTIONS="--max-old-space-size=4096" xo --fix, prettier --write

fix: issue with vue showcase for popover
  showcases/vue-showcase/src/components/popover/Popover.vue
Due: jscpd --exitCode 1 .

chore: add additional e2e tests for showcases
  packages/components/src/components/tooltip/tooltip.scss
  packages/components/src/styles/db-ui-components.scss
  showcases/angular-showcase/src/app/components/navigation/navigation.component.html
  showcases/angular-showcase/src/app/components/navigation/navigation.component.ts
  showcases/e2e/checkbox/showcase-checkbox.spec.ts
  showcases/e2e/fixtures/hover.ts
  showcases/e2e/navigation/showcase-navigation.spec.ts
  showcases/e2e/radio/showcase-radio.spec.ts
  showcases/e2e/select/showcase-select.spec.ts
  showcases/e2e/tooltip/showcase-tag.spec.ts
  showcases/react-showcase/src/components/navigation/index.tsx
  showcases/vue-showcase/src/components/navigation/Navigation.vue
Due: jscpd --exitCode 1 ., stylelint --fix, cross-env TIMING=1 NODE_OPTIONS="--max-old-space-size=4096" xo --fix, prettier --write

chore: update from main
  package-lock.json
Due: jscpd --exitCode 1 .

fix: a11y issue for navigation
  .github/workflows/02-e2e-showcases.yml
  __snapshots__/checkbox/showcase/chromium/regular/neutral-bg-lvl-1/DBCheckbox-should-match-screenshot.png
  __snapshots__/checkbox/showcase/firefox/regular/neutral-bg-lvl-1/DBCheckbox-should-match-screenshot.png
  __snapshots__/checkbox/showcase/mobile-chrome/regular/neutral-bg-lvl-1/DBCheckbox-should-match-screenshot.png
  __snapshots__/checkbox/showcase/mobile-safari/regular/neutral-bg-lvl-1/DBCheckbox-should-match-screenshot.png
  __snapshots__/checkbox/showcase/webkit/regular/neutral-bg-lvl-1/DBCheckbox-should-match-screenshot.png
  __snapshots__/navigation/showcase/chromium/regular/neutral-bg-lvl-1/DBNavigation-should-match-screenshot.png
  __snapshots__/navigation/showcase/firefox/regular/neutral-bg-lvl-1/DBNavigation-should-match-screenshot.png
  __snapshots__/navigation/showcase/mobile-chrome/regular/neutral-bg-lvl-1/DBNavigation-should-match-screenshot.png
  __snapshots__/navigation/showcase/mobile-safari/regular/neutral-bg-lvl-1/DBNavigation-should-match-screenshot.png
  __snapshots__/navigation/showcase/webkit/regular/neutral-bg-lvl-1/DBNavigation-should-match-screenshot.png
  __snapshots__/radio/showcase/chromium/regular/neutral-bg-lvl-1/DBRadio-should-match-screenshot.png
  __snapshots__/radio/showcase/firefox/regular/neutral-bg-lvl-1/DBRadio-should-match-screenshot.png
  __snapshots__/radio/showcase/mobile-chrome/regular/neutral-bg-lvl-1/DBRadio-should-match-screenshot.png
  __snapshots__/radio/showcase/mobile-safari/regular/neutral-bg-lvl-1/DBRadio-should-match-screenshot.png
  __snapshots__/radio/showcase/webkit/regular/neutral-bg-lvl-1/DBRadio-should-match-screenshot.png
  __snapshots__/select/showcase/chromium/regular/neutral-bg-lvl-1/DBSelect-should-match-screenshot.png
  __snapshots__/select/showcase/firefox/regular/neutral-bg-lvl-1/DBSelect-should-match-screenshot.png
  __snapshots__/select/showcase/mobile-chrome/regular/neutral-bg-lvl-1/DBSelect-should-match-screenshot.png
  __snapshots__/select/showcase/mobile-safari/regular/neutral-bg-lvl-1/DBSelect-should-match-screenshot.png
  __snapshots__/select/showcase/webkit/regular/neutral-bg-lvl-1/DBSelect-should-match-screenshot.png
  __snapshots__/switch/showcase/chromium/regular/neutral-bg-lvl-1/DBSwitch-should-match-screenshot.png
  __snapshots__/switch/showcase/firefox/regular/neutral-bg-lvl-1/DBSwitch-should-match-screenshot.png
  __snapshots__/switch/showcase/mobile-chrome/regular/neutral-bg-lvl-1/DBSwitch-should-match-screenshot.png
  __snapshots__/switch/showcase/mobile-safari/regular/neutral-bg-lvl-1/DBSwitch-should-match-screenshot.png
  __snapshots__/switch/showcase/webkit/regular/neutral-bg-lvl-1/DBSwitch-should-match-screenshot.png
  __snapshots__/tooltip/showcase/chromium/regular/neutral-bg-lvl-1/DBTooltip-should-match-screenshot.png
  __snapshots__/tooltip/showcase/firefox/regular/neutral-bg-lvl-1/DBTooltip-should-match-screenshot.png
  __snapshots__/tooltip/showcase/mobile-chrome/regular/neutral-bg-lvl-1/DBTooltip-should-match-screenshot.png
  __snapshots__/tooltip/showcase/mobile-safari/regular/neutral-bg-lvl-1/DBTooltip-should-match-screenshot.png
  __snapshots__/tooltip/showcase/webkit/regular/neutral-bg-lvl-1/DBTooltip-should-match-screenshot.png
  packages/components/src/components/navigation/model.ts
  packages/components/src/components/navigation/navigation.lite.tsx
  showcases/angular-showcase/src/app/components/navigation/navigation.component.html
  showcases/react-showcase/src/components/navigation/index.tsx
  showcases/vue-showcase/src/components/navigation/Navigation.vue
Due: jscpd --exitCode 1 ., cross-env TIMING=1 NODE_OPTIONS="--max-old-space-size=4096" xo --fix, prettier --write

fix: a11y issue for tabs
  packages/components/src/components/navigation/model.ts
  packages/components/src/components/tab-item/model.ts
  packages/components/src/components/tab-item/tab-item.lite.tsx
  packages/components/src/components/tab-panel/model.ts
  packages/components/src/components/tab-panel/tab-panel.lite.tsx
  packages/components/src/components/tabs/tabs.lite.tsx
  packages/components/src/shared/model.ts
  showcases/e2e/switch/showcase-switch.spec.ts
Due: jscpd --exitCode 1 ., cross-env TIMING=1 NODE_OPTIONS="--max-old-space-size=4096" xo --fix, prettier --write

chore: update snapshots
  __snapshots__/switch/showcase/chromium/regular/neutral-bg-lvl-1/DBSwitch-should-match-screenshot.png
  __snapshots__/switch/showcase/firefox/regular/neutral-bg-lvl-1/DBSwitch-should-match-screenshot.png
  __snapshots__/switch/showcase/mobile-chrome/regular/neutral-bg-lvl-1/DBSwitch-should-match-screenshot.png
  __snapshots__/switch/showcase/mobile-safari/regular/neutral-bg-lvl-1/DBSwitch-should-match-screenshot.png
  __snapshots__/switch/showcase/webkit/regular/neutral-bg-lvl-1/DBSwitch-should-match-screenshot.png
Due: jscpd --exitCode 1 .

chore: update e2e tests for drawer
  showcases/angular-showcase/src/app/components/checkbox/checkbox.component.html
  showcases/angular-showcase/src/app/components/drawer/drawer.component.html
  showcases/angular-showcase/src/app/components/navigation/navigation.component.html
  showcases/angular-showcase/src/app/components/radio/radio.component.html
  showcases/angular-showcase/src/app/components/select/select.component.html
  showcases/e2e/drawer/showcase-drawer.spec.ts
  showcases/vue-showcase/src/components/checkbox/Checkbox.vue
  showcases/vue-showcase/src/components/drawer/Drawer.vue
  showcases/vue-showcase/src/components/select/Select.vue
Due: jscpd --exitCode 1 ., cross-env TIMING=1 NODE_OPTIONS="--max-old-space-size=4096" xo --fix, prettier --write

chore: update e2e tests for a11y
  __snapshots__/drawer/showcase/chromium/regular/neutral-bg-lvl-1/DBDrawer-should-match-screenshot.png
  __snapshots__/drawer/showcase/firefox/regular/neutral-bg-lvl-1/DBDrawer-should-match-screenshot.png
  __snapshots__/drawer/showcase/mobile-chrome/regular/neutral-bg-lvl-1/DBDrawer-should-match-screenshot.png
  __snapshots__/drawer/showcase/mobile-safari/regular/neutral-bg-lvl-1/DBDrawer-should-match-screenshot.png
  __snapshots__/drawer/showcase/webkit/regular/neutral-bg-lvl-1/DBDrawer-should-match-screenshot.png
  showcases/angular-showcase/src/app/components/default.component.html
  showcases/angular-showcase/src/app/components/default.component.ts
  showcases/react-showcase/src/components/index.tsx
  showcases/shared/default-component-data.ts
  showcases/vue-showcase/src/components/DefaultComponent.vue
Due: jscpd --exitCode 1 ., cross-env TIMING=1 NODE_OPTIONS="--max-old-space-size=4096" xo --fix, prettier --write

feat: adds next showcase
  .jscpd.json
  package-lock.json
  scripts/dev.js
  scripts/package.json
  showcases/next-showcase/.gitignore
  showcases/next-showcase/.nvmrc
  showcases/next-showcase/README.md
  showcases/next-showcase/next-env.d.ts
  showcases/next-showcase/next.config.js
  showcases/next-showcase/package.json
  showcases/next-showcase/pages/[[...slug]].tsx
  showcases/next-showcase/pages/_app.tsx
  showcases/next-showcase/public/favicon.ico
  showcases/next-showcase/styles/global.scss
  showcases/next-showcase/tsconfig.json
  showcases/react-showcase/src/components/brand/process.d.ts
  showcases/react-showcase/src/components/index.tsx
  showcases/react-showcase/src/hooks/use-query.tsx
  showcases/react-showcase/src/hooks/use-universal-search-parameters.ts
  showcases/react-showcase/src/meta-navigation/index.tsx
  showcases/react-showcase/src/navigation/nav-item.tsx
Due: jscpd --exitCode 1 ., markdownlint -c .markdown-lint.yml, stylelint --fix, cross-env TIMING=1 NODE_OPTIONS="--max-old-space-size=4096" xo --fix, prettier --write

Path conditions:
  jscpd --exitCode 1 .: any of: *
  markdownlint -c .markdown-lint.yml: any of: *.md
  stylelint --fix: any of: *.{css,scss}
  cross-env TIMING=1 NODE_OPTIONS="--max-old-space-size=4096" xo --fix: any of: *.{js,ts,tsx}
  prettier --write: any of: *.{js,ts,tsx}
  prettier --write --ignore-unknown: any of: *.!{js,ts,tsx}
