Repository nekator/mono: changes, and which lint-staged commands are due for each by the changed paths.
All: jscpd --exitCode 1 ., markdownlint -c .markdown-lint.yml, stylelint --fix, cross-env TIMING=1 NODE_OPTIONS="--max-old-space-size=4096" xo --fix, prettier --write, prettier --write --ignore-unknown

docs: add testing table for patternhub (#2983)
  package-lock.json
  showcases/e2e/tooltip/showcase-tooltip.spec.ts
  showcases/patternhub/.gitignore
  showcases/patternhub/data/routes.tsx
  showcases/patternhub/package.json
  showcases/patternhub/pages/foundations/test-table/index.tsx
  showcases/patternhub/scripts/generate-test-table.js
Due: jscpd --exitCode 1 ., cross-env TIMING=1 NODE_OPTIONS="--max-old-space-size=4096" xo --fix, prettier --write

docs: adds install commands to readme
  showcases/screen-reader/README.md
Due: jscpd --exitCode 1 ., markdownlint -c .markdown-lint.yml

feat: adds empty guidepup test for accordion
  showcases/screen-reader/tests/accordion.spec.ts
Due: jscpd --exitCode 1 ., cross-env TIMING=1 NODE_OPTIONS="--max-old-space-size=4096" xo --fix, prettier --write

docs: adds installation guide for playwright and guidepup
  showcases/screen-reader/README.md
Due: jscpd --exitCode 1 ., markdownlint -c .markdown-lint.yml

test: adds ignore line
  showcases/screen-reader/default.ts
Due: jscpd --exitCode 1 ., cross-env TIMING=1 NODE_OPTIONS="--max-old-space-size=4096" xo --fix, prettier --write

test: adds guidepup tests for accordion
  showcases/screen-reader/__snapshots__/macos/webkit/DBAccordion-one-item-should-open-then-the-nex-10d9e-he-first-should-then-close-automatically-next-.txt
  showcases/screen-reader/__snapshots__/macos/webkit/DBAccordion-should-next-.txt
  showcases/screen-reader/tests/accordion.spec.ts
Due: jscpd --exitCode 1 ., cross-env TIMING=1 NODE_OPTIONS="--max-old-space-size=4096" xo --fix, prettier --write

docs: align color docs to color update
  packages/foundations/docs/Colors.md
  packages/foundations/scss/colors/classes/_get-class.scss
  showcases/patternhub/components/foundations/colors/data.ts
  showcases/patternhub/data/routes.tsx
  showcases/patternhub/pages/foundations/colors/color-classes.tsx
  showcases/patternhub/pages/foundations/colors/color-usage-guide.tsx
Due: jscpd --exitCode 1 ., markdownlint -c .markdown-lint.yml, stylelint --fix, cross-env TIMING=1 NODE_OPTIONS="--max-old-space-size=4096" xo --fix, prettier --write

Update Colors.md
  packages/foundations/docs/Colors.md
Due: jscpd --exitCode 1 ., markdownlint -c .markdown-lint.yml

feat: added missing snapshot
  showcases/screen-reader/__snapshots__/macos/webkit/DBAccordion-should-open-two-items-while-both-remain-unfolded-next-.txt
Due: jscpd --exitCode 1 .

fix: issue with nested tailwind tokens not working for fontsize (#3002)
  packages/foundations/tailwind/tailwind-tokens.json
Due: jscpd --exitCode 1 .

feat: adds text-wrap balance to headlines h1 - h6
  packages/foundations/scss/init/default-fonts.scss
Due: jscpd --exitCode 1 ., stylelint --fix

chore(docs): added brackets (#2995)
  showcases/screen-reader/tests/button.spec.ts
  showcases/screen-reader/tests/input.spec.ts
  showcases/screen-reader/tests/radio.spec.ts
Due: jscpd --exitCode 1 ., cross-env TIMING=1 NODE_OPTIONS="--max-old-space-size=4096" xo --fix, prettier --write

fix: removes empty last line
  showcases/screen-reader/__snapshots__/macos/webkit/DBAccordion-one-item-should-open-then-the-nex-10d9e-he-first-should-then-close-automatically-next-.txt
  showcases/screen-reader/__snapshots__/macos/webkit/DBAccordion-should-next-.txt
Due: jscpd --exitCode 1 .

test: adds guidepup test for checkbox
  showcases/screen-reader/__snapshots__/macos/webkit/DBCheckbox-should-tick-and-untick-checkbox-feedback-messages-must-appear.txt
  showcases/screen-reader/tests/checkbox.spec.ts
Due: jscpd --exitCode 1 ., cross-env TIMING=1 NODE_OPTIONS="--max-old-space-size=4096" xo --fix, prettier --write

test: adds guidepup test for badge, raw
  showcases/screen-reader/tests/badge.spec.ts
Due: jscpd --exitCode 1 ., cross-env TIMING=1 NODE_OPTIONS="--max-old-space-size=4096" xo --fix, prettier --write

test: adds guidepup test for badge
  showcases/screen-reader/__snapshots__/macos/webkit/DBBadge-should-have-texts-inline-or-as-data-label-attributes-next-.txt
  showcases/screen-reader/tests/badge.spec.ts
Due: jscpd --exitCode 1 ., cross-env TIMING=1 NODE_OPTIONS="--max-old-space-size=4096" xo --fix, prettier --write

test: adds guidepup test for brand
  showcases/screen-reader/__snapshots__/macos/webkit/DBBrand-should-have-inline-texts-no-icons-but-the-custom-logo-as-image-next-.txt
  showcases/screen-reader/default.ts
  showcases/screen-reader/tests/brand.spec.ts
Due: jscpd --exitCode 1 ., cross-env TIMING=1 NODE_OPTIONS="--max-old-space-size=4096" xo --fix, prettier --write

Update README.md
  showcases/screen-reader/README.md
Due: jscpd --exitCode 1 ., markdownlint -c .markdown-lint.yml

Path conditions:
  jscpd --exitCode 1 .: any of: *
  markdownlint -c .markdown-lint.yml: any of: *.md
  stylelint --fix: any of: *.{css,scss}
  cross-env TIMING=1 NODE_OPTIONS="--max-old-space-size=4096" xo --fix: any of: *.{js,ts,tsx}
  prettier --write: any of: *.{js,ts,tsx}
  prettier --write --ignore-unknown: any of: *.!{js,ts,tsx}
