Repository nekator/mono: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint --fix, xo --fix, prettier --write

chore: comment
  .husky/pre-commit
Due: none

refactor: further prettifying
  .lintstagedrc
  docs/how-to-develop-a-component.md
  packages/components/index.html
  packages/components/src/components/main-navigation/model.ts
  packages/components/src/styles/db-puls.scss
  packages/foundations/scss/_variables.global.scss
  showcases/angular-showcase/src/app/components/badge/badge.component.html
Due: stylelint --fix, xo --fix, prettier --write

refactor: we even also need to ignore this cache folder
  .jscpd.json
Due: none

refactor: consolidating lintings
  .husky/pre-commit
  .lintstagedrc
Due: none

refactor: optimized this so that lint-staged doesn't have to search for a config
  .husky/pre-commit
Due: none

fix: corrected that filetype selector
  .lintstagedrc
Due: none

refactor: we don't need prettier, as this is already included with xo
  .lintstagedrc
Due: none

fix: issue with jscpd not loading config for lint-staged (#1431)
  .husky/pre-commit
  .lintstagedrc
Due: none

refactor: doing markdownlint only for the staged files
  .husky/pre-commit
  .lintstagedrc
Due: none

fix: issue with empty meta-navigation and wrong screen overwrite (#1434)
  packages/components/src/components/header/header.scss
Due: stylelint --fix, prettier --write

Path conditions:
  stylelint --fix: any of: *.{css,scss}
  xo --fix: any of: *.{js,ts,tsx}
  prettier --write: (any of: *.{js,ts,tsx}) or (any of: *.{css,scss,md,adoc,sh,yml})
