Repository nekator/mono: changes, and which lint-staged commands are due for each by the changed paths.
All: jscpd --exitCode 1 ., markdownlint -c .markdown-lint.yml, stylelint --fix, cross-env TIMING=1 NODE_OPTIONS="--max-old-space-size=4096" xo --fix, prettier --write, prettier --write --ignore-unknown

.lintstagedrc:

{
	"*": "jscpd --exitCode 1 .",
	"*.md": "markdownlint -c .markdown-lint.yml",
	"*.{css,scss}": "stylelint --fix",
	"*.{js,ts,tsx}": ["cross-env TIMING=1 NODE_OPTIONS=\"--max-old-space-size=4096\" xo --fix", "prettier --write"],
	"*.!{js,ts,tsx}": "prettier --write --ignore-unknown"
}

chore: update test for checkbox
  showcases/screen-reader/__snapshots__/windows/chromium/DBCheckbox-default-1.txt
  showcases/screen-reader/tests/checkbox.spec.ts
  showcases/screen-reader/translations.ts
Due: jscpd --exitCode 1 ., cross-env TIMING=1 NODE_OPTIONS="--max-old-space-size=4096" xo --fix, prettier --write

Discard changes to packages/foundations/scss/icons/_icon-helpers.scss
  packages/foundations/scss/icons/_icon-helpers.scss
Due: jscpd --exitCode 1 ., stylelint --fix

chore: update sr test for checkbox
  showcases/screen-reader/__snapshots__/windows/chromium/DBCheckbox-default-1.txt
Due: jscpd --exitCode 1 .

refactor: simplification (#3064)
  packages/foundations/scss/icons/_icon-helpers.scss
Due: jscpd --exitCode 1 ., stylelint --fix

refactor: overwrite star for screenreader output (#3065)
  packages/components/src/styles/_form-components.scss
  showcases/screen-reader/__snapshots__/windows/chromium/DBInput-required-1.txt
Due: jscpd --exitCode 1 ., stylelint --fix

chore: update comments for checkbox st test
  showcases/screen-reader/tests/checkbox.spec.ts
Due: jscpd --exitCode 1 ., cross-env TIMING=1 NODE_OPTIONS="--max-old-space-size=4096" xo --fix, prettier --write

chore: update snapshots
  showcases/screen-reader/__snapshots__/macos/webkit/DBCheckbox-default-1.txt
Due: jscpd --exitCode 1 .

chore: update snapshots
  showcases/screen-reader/__snapshots__/windows/chromium/DBCard-default-1.txt
  showcases/screen-reader/tests/card.spec.ts
Due: jscpd --exitCode 1 ., cross-env TIMING=1 NODE_OPTIONS="--max-old-space-size=4096" xo --fix, prettier --write

chore: update sr test for nvda header
  showcases/screen-reader/tests/header.spec.ts
Due: jscpd --exitCode 1 ., cross-env TIMING=1 NODE_OPTIONS="--max-old-space-size=4096" xo --fix, prettier --write

chore: update sr test for nvda icon
  showcases/screen-reader/__snapshots__/windows/chromium/DBIcon-default-1.txt
  showcases/screen-reader/tests/icon.spec.ts
Due: jscpd --exitCode 1 ., cross-env TIMING=1 NODE_OPTIONS="--max-old-space-size=4096" xo --fix, prettier --write

chore: update sr test for nvda infotext
  showcases/screen-reader/__snapshots__/windows/chromium/DBInfotext-default-1.txt
  showcases/screen-reader/tests/infotext.spec.ts
Due: jscpd --exitCode 1 ., cross-env TIMING=1 NODE_OPTIONS="--max-old-space-size=4096" xo --fix, prettier --write

chore: update sr test for nvda link
  showcases/screen-reader/__snapshots__/windows/chromium/DBLink-default-1.txt
  showcases/screen-reader/tests/link.spec.ts
  showcases/screen-reader/translations.ts
Due: jscpd --exitCode 1 ., cross-env TIMING=1 NODE_OPTIONS="--max-old-space-size=4096" xo --fix, prettier --write

chore: update snapshots
  showcases/screen-reader/__snapshots__/windows/chromium/DBHeader-default-1.txt
Due: jscpd --exitCode 1 .

chore: update sr test for nvda navigation
  showcases/screen-reader/tests/navigation.spec.ts
Due: jscpd --exitCode 1 ., cross-env TIMING=1 NODE_OPTIONS="--max-old-space-size=4096" xo --fix, prettier --write

chore: update sr test for nvda notification
  showcases/screen-reader/__snapshots__/windows/chromium/DBNotification-default-1.txt
  showcases/screen-reader/tests/notification.spec.ts
Due: jscpd --exitCode 1 ., cross-env TIMING=1 NODE_OPTIONS="--max-old-space-size=4096" xo --fix, prettier --write

chore: update snapshots
  showcases/screen-reader/__snapshots__/windows/chromium/DBNavigation-default-1.txt
Due: jscpd --exitCode 1 .
