Repository nekator/mono: changes, and which lint-staged commands are due for each by the changed paths.
All: jscpd --exitCode 1 ., markdownlint -c .markdown-lint.yml, stylelint --fix, cross-env TIMING=1 NODE_OPTIONS="--max-old-space-size=4096" xo --fix, prettier --write, prettier --write --ignore-unknown

.lintstagedrc:

{
	"*": "jscpd --exitCode 1 .",
	"*.md": "markdownlint -c .markdown-lint.yml",
	"*.{css,scss}": "stylelint --fix",
	"*.{js,ts,tsx}": ["cross-env TIMING=1 NODE_OPTIONS=\"--max-old-space-size=4096\" xo --fix", "prettier --write"],
	"*.!{js,ts,tsx}": "prettier --write --ignore-unknown"
}

fix: links with foundation readme
  packages/foundations/README.md
Due: jscpd --exitCode 1 ., markdownlint -c .markdown-lint.yml

fix: issue with properties page for patternhub (#2486)
  showcases/patternhub/components/default-page.tsx
Due: jscpd --exitCode 1 ., cross-env TIMING=1 NODE_OPTIONS="--max-old-space-size=4096" xo --fix, prettier --write

fix: issue with wrong tooltip distance (#2485)
  packages/components/src/styles/_popover-component.scss
Due: jscpd --exitCode 1 ., stylelint --fix

Docs merge accordion and accordion item docs (#2482)
  packages/components/src/components/accordion/docs/Angular.md
  packages/components/src/components/accordion/docs/React.md
  packages/components/src/components/accordion/docs/Vue.md
  showcases/patternhub/components/index.tsx
  showcases/patternhub/data/routes.ts
  showcases/patternhub/scripts/get-code-files.js
  showcases/react-showcase/src/components/accordion-item/index.tsx
  showcases/react-showcase/src/components/accordion/index.tsx
  showcases/shared/default-component-data.ts
Due: jscpd --exitCode 1 ., markdownlint -c .markdown-lint.yml, cross-env TIMING=1 NODE_OPTIONS="--max-old-space-size=4096" xo --fix, prettier --write

fix(logo): corrected duplicated files contents
  showcases/angular-showcase/src/assets/images/db_logo.svg
  showcases/patternhub/public/images/db_logo.svg
  showcases/react-showcase/public/assets/images/db_logo.svg
  showcases/vue-showcase/public/assets/images/db_logo.svg
Due: jscpd --exitCode 1 .

chore: prepare patternhub to use static assets provided by react showcase (#2342)
  showcases/patternhub/components/default-page.tsx
  showcases/patternhub/components/src/tsconfig.json
  showcases/patternhub/package.json
  showcases/patternhub/public/assets/images/db_logo.svg
  showcases/patternhub/public/site.webmanifest
  showcases/patternhub/scripts/fix-base-path.js
Due: jscpd --exitCode 1 ., cross-env TIMING=1 NODE_OPTIONS="--max-old-space-size=4096" xo --fix, prettier --write

docs: update properties.mdx for icons (#2483)
  packages/components/src/shared/model.ts
  showcases/patternhub/scripts/get-properties-file.js
  showcases/patternhub/scripts/utils.js
Due: jscpd --exitCode 1 ., cross-env TIMING=1 NODE_OPTIONS="--max-old-space-size=4096" xo --fix, prettier --write
