Repository nekator/mono: changes, and which lint-staged commands are due for each by the changed paths.
All: jscpd --exitCode 1 ., markdownlint -c .markdown-lint.yml, stylelint --fix, cross-env TIMING=1 NODE_OPTIONS="--max-old-space-size=4096" xo --fix, prettier --write, prettier --write --ignore-unknown

.lintstagedrc:

{
	"*": "jscpd --exitCode 1 .",
	"*.md": "markdownlint -c .markdown-lint.yml",
	"*.{css,scss}": "stylelint --fix",
	"*.{js,ts,tsx}": ["cross-env TIMING=1 NODE_OPTIONS=\"--max-old-space-size=4096\" xo --fix", "prettier --write"],
	"*.!{js,ts,tsx}": "prettier --write --ignore-unknown"
}

refactor(axe): removed obsolete disabled rule (#3449)
  showcases/e2e/input/input-a11y.spec.ts
Due: jscpd --exitCode 1 ., cross-env TIMING=1 NODE_OPTIONS="--max-old-space-size=4096" xo --fix, prettier --write

fix: issue with version switcher and DOMPurify.sanitize (#3450)
  showcases/patternhub/components/version-switcher/version-switcher.tsx
Due: jscpd --exitCode 1 ., cross-env TIMING=1 NODE_OPTIONS="--max-old-space-size=4096" xo --fix, prettier --write

refactor(CI/CD): replace shell by JavaScript
  .github/scripts/build-gh-page.js
  .github/scripts/build-gh-page.sh
  .github/workflows/03-deploy-gh-pages.yml
Due: jscpd --exitCode 1 ., cross-env TIMING=1 NODE_OPTIONS="--max-old-space-size=4096" xo --fix, prettier --write

refactor: split a11y tests and replace bg-lvl-2 tst with density functional test (#3448)
  showcases/e2e/accordion-item/accordion-item-a11y.spec.ts
  showcases/e2e/accordion/accordion-a11y.spec.ts
  showcases/e2e/badge/badge-a11y.spec.ts
  showcases/e2e/brand/brand-a11y.spec.ts
  showcases/e2e/button/button-a11y.spec.ts
  showcases/e2e/card/card-a11y.spec.ts
  showcases/e2e/checkbox/checkbox-a11y.spec.ts
  showcases/e2e/default.ts
  showcases/e2e/divider/divider-a11y.spec.ts
  showcases/e2e/drawer/drawer-a11y.spec.ts
  showcases/e2e/fixtures/variants.ts
  showcases/e2e/header/header-a11y.spec.ts
  showcases/e2e/icon/icon-a11y.spec.ts
  showcases/e2e/infotext/infotext-a11y.spec.ts
  showcases/e2e/input/input-a11y.spec.ts
  showcases/e2e/link/link-a11y.spec.ts
  showcases/e2e/navigation-item/navigation-item-a11y.spec.ts
  showcases/e2e/navigation/navigation-a11y.spec.ts
  showcases/e2e/notification/notification-a11y.spec.ts
  showcases/e2e/popover/popover-a11y.spec.ts
  showcases/e2e/radio/radio-a11y.spec.ts
  showcases/e2e/section/section-a11y.spec.ts
  showcases/e2e/select/select-a11y.spec.ts
  showcases/e2e/switch/switch-a11y.spec.ts
  showcases/e2e/tab-item/tab-item-a11y.spec.ts
  showcases/e2e/tabs/tabs-a11y.spec.ts
  showcases/e2e/tag/tag-a11y.spec.ts
  showcases/e2e/textarea/textarea-a11y.spec.ts
  showcases/e2e/tooltip/tooltip-a11y.spec.ts
Due: jscpd --exitCode 1 ., cross-env TIMING=1 NODE_OPTIONS="--max-old-space-size=4096" xo --fix, prettier --write

fix: some issues for mobile layouts
  packages/components/src/components/drawer/drawer.scss
  packages/components/src/components/navigation-item/navigation-item.scss
  showcases/patternhub/data/routes.tsx
  showcases/patternhub/styles/globals.scss
Due: jscpd --exitCode 1 ., stylelint --fix, cross-env TIMING=1 NODE_OPTIONS="--max-old-space-size=4096" xo --fix, prettier --write

refactor: we obviously need to provide and export that function
  .github/scripts/build-gh-page.js
Due: jscpd --exitCode 1 ., cross-env TIMING=1 NODE_OPTIONS="--max-old-space-size=4096" xo --fix, prettier --write

docs: removed Samsung Internet Browser warning (#3453)
  README.md
Due: jscpd --exitCode 1 ., markdownlint -c .markdown-lint.yml

fix: further adapted space (#3431)
  __snapshots__/checkbox/showcase/chromium-highContrast/DBCheckbox-should-match-screenshot-1/DBCheckbox-should-match-screenshot.png
  __snapshots__/checkbox/showcase/chromium/DBCheckbox-should-match-screenshot-1/DBCheckbox-should-match-screenshot.png
  __snapshots__/checkbox/showcase/firefox/DBCheckbox-should-match-screenshot-1/DBCheckbox-should-match-screenshot.png
  __snapshots__/checkbox/showcase/mobile-chrome/DBCheckbox-should-match-screenshot-1/DBCheckbox-should-match-screenshot.png
  __snapshots__/checkbox/showcase/mobile-safari/DBCheckbox-should-match-screenshot-1/DBCheckbox-should-match-screenshot.png
  __snapshots__/checkbox/showcase/webkit/DBCheckbox-should-match-screenshot-1/DBCheckbox-should-match-screenshot.png
  __snapshots__/radio/showcase/chromium-highContrast/DBRadio-should-match-screenshot-1/DBRadio-should-match-screenshot.png
  __snapshots__/radio/showcase/chromium/DBRadio-should-match-screenshot-1/DBRadio-should-match-screenshot.png
  __snapshots__/radio/showcase/firefox/DBRadio-should-match-screenshot-1/DBRadio-should-match-screenshot.png
  __snapshots__/radio/showcase/mobile-chrome/DBRadio-should-match-screenshot-1/DBRadio-should-match-screenshot.png
  __snapshots__/radio/showcase/mobile-safari/DBRadio-should-match-screenshot-1/DBRadio-should-match-screenshot.png
  __snapshots__/radio/showcase/webkit/DBRadio-should-match-screenshot-1/DBRadio-should-match-screenshot.png
  __snapshots__/select/showcase/mobile-safari/DBSelect-should-match-screenshot-1/DBSelect-should-match-screenshot.png
  __snapshots__/select/showcase/webkit/DBSelect-should-match-screenshot-1/DBSelect-should-match-screenshot.png
  packages/components/src/styles/_form-components.scss
Due: jscpd --exitCode 1 ., stylelint --fix

fix: issue with showIcon
  packages/components/src/components/brand/brand.lite.tsx
  packages/components/src/components/button/button.lite.tsx
  packages/components/src/components/infotext/infotext.lite.tsx
  packages/components/src/components/input/input.lite.tsx
  packages/components/src/components/link/link.lite.tsx
  packages/components/src/components/navigation-item/navigation-item.lite.tsx
  packages/components/src/components/notification/notification.lite.tsx
  packages/components/src/components/select/select.lite.tsx
  packages/components/src/components/tab-item/tab-item.lite.tsx
  packages/components/src/components/tag/tag.lite.tsx
  packages/components/src/shared/model.ts
  packages/foundations/scss/icons/include.scss
Due: jscpd --exitCode 1 ., stylelint --fix, cross-env TIMING=1 NODE_OPTIONS="--max-old-space-size=4096" xo --fix, prettier --write

fix: issue with showIcon
  packages/components/src/components/brand/brand.lite.tsx
  packages/components/src/components/button/button.lite.tsx
  packages/components/src/components/infotext/infotext.lite.tsx
  packages/components/src/components/input/input.lite.tsx
  packages/components/src/components/link/link.lite.tsx
  packages/components/src/components/navigation-item/navigation-item.lite.tsx
  packages/components/src/components/notification/notification.lite.tsx
  packages/components/src/components/select/select.lite.tsx
  packages/components/src/components/tab-item/tab-item.lite.tsx
  packages/components/src/components/tag/tag.lite.tsx
  packages/components/src/utils/index.ts
Due: jscpd --exitCode 1 ., cross-env TIMING=1 NODE_OPTIONS="--max-old-space-size=4096" xo --fix, prettier --write

fix: issue with vue output
  packages/components/src/utils/index.ts
Due: jscpd --exitCode 1 ., cross-env TIMING=1 NODE_OPTIONS="--max-old-space-size=4096" xo --fix, prettier --write

fix: issue with showIcon
  packages/components/src/components/link/link.lite.tsx
  packages/foundations/scss/icons/_icon-helpers.scss
  packages/foundations/scss/icons/include.scss
Due: jscpd --exitCode 1 ., stylelint --fix, cross-env TIMING=1 NODE_OPTIONS="--max-old-space-size=4096" xo --fix, prettier --write

chore: update snapshots
  __snapshots__/brand/patternhub/brand-properties-should-match-screenshot.png
  __snapshots__/button/patternhub/button-properties-should-match-screenshot.png
  __snapshots__/checkbox/showcase/chromium-highContrast/DBCheckbox-should-match-screenshot-1/DBCheckbox-should-match-screenshot.png
  __snapshots__/header/patternhub/header-overview-should-match-screenshot.png
  __snapshots__/header/showcase/chromium-highContrast/DBHeader-should-match-screenshot-1/DBHeader-should-match-screenshot.png
  __snapshots__/header/showcase/chromium/DBHeader-should-match-screenshot-1/DBHeader-should-match-screenshot.png
  __snapshots__/header/showcase/firefox/DBHeader-should-match-screenshot-1/DBHeader-should-match-screenshot.png
  __snapshots__/header/showcase/webkit/DBHeader-should-match-screenshot-1/DBHeader-should-match-screenshot.png
  __snapshots__/infotext/patternhub/infotext-properties-should-match-screenshot.png
  __snapshots__/link/patternhub/link-overview-should-match-screenshot.png
  __snapshots__/link/patternhub/link-properties-should-match-screenshot.png
  __snapshots__/link/showcase/chromium-highContrast/DBLink-should-match-screenshot-1/DBLink-should-match-screenshot.png
  __snapshots__/link/showcase/chromium/DBLink-should-match-screenshot-1/DBLink-should-match-screenshot.png
  __snapshots__/link/showcase/firefox/DBLink-should-match-screenshot-1/DBLink-should-match-screenshot.png
  __snapshots__/link/showcase/mobile-chrome/DBLink-should-match-screenshot-1/DBLink-should-match-screenshot.png
  __snapshots__/link/showcase/mobile-safari/DBLink-should-match-screenshot-1/DBLink-should-match-screenshot.png
  __snapshots__/link/showcase/webkit/DBLink-should-match-screenshot-1/DBLink-should-match-screenshot.png
  __snapshots__/notification/patternhub/notification-properties-should-match-screenshot.png
  __snapshots__/tab-item/patternhub/tab-item-properties-should-match-screenshot.png
  __snapshots__/tag/component/chromium/DBTag-should-be-a-checkbox-checked.png
  __snapshots__/tag/component/firefox/DBTag-should-be-a-checkbox-checked.png
  __snapshots__/tag/component/mobile-chrome/DBTag-should-be-a-checkbox-checked.png
Due: jscpd --exitCode 1 .
