Repository nekator/mono: changes, and which lint-staged commands are due for each by the changed paths.
All: jscpd --exitCode 1 ., markdownlint -c .markdown-lint.yml, stylelint --fix, cross-env TIMING=1 NODE_OPTIONS="--max-old-space-size=4096" xo --fix, prettier --write, prettier --write --ignore-unknown

.lintstagedrc:

{
	"*": "jscpd --exitCode 1 .",
	"*.md": "markdownlint -c .markdown-lint.yml",
	"*.{css,scss}": "stylelint --fix",
	"*.{js,ts,tsx}": ["cross-env TIMING=1 NODE_OPTIONS=\"--max-old-space-size=4096\" xo --fix", "prettier --write"],
	"*.!{js,ts,tsx}": "prettier --write --ignore-unknown"
}

chore: remove obsolete update-prs.yml workflow (#2543)
  .github/scripts/update-prs.js
  .github/workflows/update-prs.yml
Due: jscpd --exitCode 1 ., cross-env TIMING=1 NODE_OPTIONS="--max-old-space-size=4096" xo --fix, prettier --write

chore: align playwright version via package.json (#2539)
  .github/scripts/get-playwright-version.js
  .github/scripts/update-playwright.js
  .github/workflows/01-get-playwright-version.yml
  .github/workflows/02-e2e-foundations.yml
  .github/workflows/02-e2e-regenerate.yml
  .github/workflows/02-e2e-showcases.yml
  .github/workflows/02-e2e.yml
  .github/workflows/99-update-playwright.yml
  .github/workflows/default.yml
  .github/workflows/pull-request.yml
  .github/workflows/release.yml
  e2e/Dockerfile
  e2e/README.md
  e2e/package-lock.json
  package-lock.json
  package.json
  scripts/rebuild-e2e.js
  showcases/patternhub/package.json
Due: jscpd --exitCode 1 ., markdownlint -c .markdown-lint.yml, cross-env TIMING=1 NODE_OPTIONS="--max-old-space-size=4096" xo --fix, prettier --write

chore: remove normalize dependency (#2025)
  .gitignore
  .stylelintignore
  package-lock.json
  packages/foundations/package.json
  packages/foundations/scss/db-ui-foundations.scss
Due: jscpd --exitCode 1 ., stylelint --fix

feat: adds visibility handling on hover
  packages/components/src/components/navigation-item/model.ts
  packages/components/src/components/navigation-item/navigation-item.lite.tsx
  packages/components/src/components/navigation-item/navigation-item.scss
Due: jscpd --exitCode 1 ., stylelint --fix, cross-env TIMING=1 NODE_OPTIONS="--max-old-space-size=4096" xo --fix, prettier --write

feat: adds react and partly angular support
  packages/components/scripts/post-build/components.js
  packages/components/src/components/navigation-item/model.ts
  packages/components/src/components/navigation-item/navigation-item.lite.tsx
  packages/components/src/utils/index.ts
  showcases/vue-showcase/src/utils/navigation-items.ts
Due: jscpd --exitCode 1 ., cross-env TIMING=1 NODE_OPTIONS="--max-old-space-size=4096" xo --fix, prettier --write

fix: issue with a11y for icons reading content
  packages/foundations/scss/icons/_icon-helpers.scss
Due: jscpd --exitCode 1 ., stylelint --fix

fix: add fallback for firefox
  packages/foundations/scss/icons/_icon-helpers.scss
Due: jscpd --exitCode 1 ., stylelint --fix

fix: issue with firefox
  packages/foundations/scss/icons/_icon-helpers.scss
Due: jscpd --exitCode 1 ., stylelint --fix

Update _icon-helpers.scss
  packages/foundations/scss/icons/_icon-helpers.scss
Due: jscpd --exitCode 1 ., stylelint --fix

Update include.scss
  packages/foundations/scss/icons/include.scss
Due: jscpd --exitCode 1 ., stylelint --fix

refactor: extracted this into a mixin
  packages/foundations/scss/icons/_icon-helpers.scss
  packages/foundations/scss/icons/include.scss
Due: jscpd --exitCode 1 ., stylelint --fix

fix: issues with wrong position of mixin
  packages/foundations/scss/icons/_icon-helpers.scss
  packages/foundations/scss/icons/include.scss
Due: jscpd --exitCode 1 ., stylelint --fix

fix: resets menu items within showcases
  packages/components/package.json
  packages/components/scripts/post-build/angular.js
  packages/components/scripts/post-build/components.js
  packages/components/src/components/navigation-item/model.ts
  packages/components/src/components/navigation-item/navigation-item.lite.tsx
  packages/components/src/components/navigation-item/navigation-item.scss
  packages/components/src/utils/index.ts
  packages/components/src/utils/navigation.ts
  showcases/react-showcase/src/utils/navigation-item.tsx
  showcases/vue-showcase/src/utils/navigation-items.ts
Due: jscpd --exitCode 1 ., stylelint --fix, cross-env TIMING=1 NODE_OPTIONS="--max-old-space-size=4096" xo --fix, prettier --write
