Repository nekator/mono: changes, and which lint-staged commands are due for each by the changed paths.
All: jscpd --exitCode 1 ., markdownlint -c .markdown-lint.yml, stylelint --fix, cross-env TIMING=1 NODE_OPTIONS="--max-old-space-size=4096" xo --fix, prettier --write, prettier --write --ignore-unknown

fix: adds missing file
  showcases/vue-showcase/src/composables/use-layout.ts
Due: jscpd --exitCode 1 ., cross-env TIMING=1 NODE_OPTIONS="--max-old-space-size=4096" xo --fix, prettier --write

fix: moves code fragments to private methods and renames methods
  packages/components/src/components/navigation-item/navigation-item.lite.tsx
  packages/components/src/utils/navigation.ts
Due: jscpd --exitCode 1 ., cross-env TIMING=1 NODE_OPTIONS="--max-old-space-size=4096" xo --fix, prettier --write

chore: removed props.areaPopup from navigation-item
  packages/components/src/components/navigation-item/docs/Angular.md
  packages/components/src/components/navigation-item/model.ts
  packages/components/src/components/navigation-item/navigation-item.lite.tsx
  showcases/angular-showcase/src/app/components/navigation-item/navigation-item.component.html
  showcases/angular-showcase/src/app/components/navigation/navigation.component.html
  showcases/react-showcase/src/components/navigation-item/index.tsx
Due: jscpd --exitCode 1 ., markdownlint -c .markdown-lint.yml, cross-env TIMING=1 NODE_OPTIONS="--max-old-space-size=4096" xo --fix, prettier --write

test: add a11y tests to showcases
  output/react/package.json
  output/vue/package.json
  package-lock.json
  package.json
  showcases/e2e/default.ts
Due: jscpd --exitCode 1 ., cross-env TIMING=1 NODE_OPTIONS="--max-old-space-size=4096" xo --fix, prettier --write

test: a11y test showcase only watch main
  showcases/e2e/default.ts
Due: jscpd --exitCode 1 ., cross-env TIMING=1 NODE_OPTIONS="--max-old-space-size=4096" xo --fix, prettier --write

test: add test for home screen
  showcases/e2e/home/showcase-home.spec.ts
Due: jscpd --exitCode 1 ., cross-env TIMING=1 NODE_OPTIONS="--max-old-space-size=4096" xo --fix, prettier --write

feat: adds framework-answers pair to dev selection
  scripts/dev.js
  scripts/package.json
  showcases/vue-showcase/src/composables/use-layout.ts
Due: jscpd --exitCode 1 ., cross-env TIMING=1 NODE_OPTIONS="--max-old-space-size=4096" xo --fix, prettier --write

chore(docs): alpha to beta leftover
  README.md
Due: jscpd --exitCode 1 ., markdownlint -c .markdown-lint.yml

fix: a11y issues for notification and tab-item
  package-lock.json
  package.json
  packages/components/src/components/notification/model.ts
  packages/components/src/components/notification/notification-grid-default.scss
  packages/components/src/components/notification/notification-grid-non-overlay.scss
  packages/components/src/components/notification/notification-grid-overlay.scss
  packages/components/src/components/notification/notification.lite.tsx
  packages/components/src/components/notification/notification.scss
  packages/components/src/components/tab-item/model.ts
  packages/components/src/components/tab-item/tab-item.lite.tsx
  packages/components/src/components/tab-list/tab-list.lite.tsx
  packages/components/src/components/tab-panel/tab-panel.lite.tsx
  packages/components/src/components/tabs/tabs.lite.tsx
  showcases/angular-showcase/src/app/components/navigation-item/navigation-item.component.html
  showcases/angular-showcase/src/app/components/tab-item/tab-item.component.html
  showcases/angular-showcase/src/app/components/tab-item/tab-item.component.ts
  showcases/e2e/default.ts
  showcases/e2e/input/showcase-input.spec.ts
  showcases/e2e/tab-item/showcase-tab-item.spec.ts
  showcases/e2e/tabs/showcase-tabs.spec.ts
  showcases/react-showcase/src/components/navigation-item/index.tsx
  showcases/react-showcase/src/components/tab-item/index.tsx
  showcases/vue-showcase/src/components/navigation-item/NavigationItem.vue
  showcases/vue-showcase/src/components/tab-item/TabItem.vue
Due: jscpd --exitCode 1 ., stylelint --fix, cross-env TIMING=1 NODE_OPTIONS="--max-old-space-size=4096" xo --fix, prettier --write

fix: issue with ts miss match
  packages/components/src/components/tab-item/tab-item.lite.tsx
Due: jscpd --exitCode 1 ., cross-env TIMING=1 NODE_OPTIONS="--max-old-space-size=4096" xo --fix, prettier --write

fix: issues with a11y tests in showcases
  __snapshots__/navigation-item/showcase/chromium/regular/neutral/DBNavigationItem-should-match-screenshot.png
  __snapshots__/navigation-item/showcase/firefox/regular/neutral/DBNavigationItem-should-match-screenshot.png
  __snapshots__/navigation-item/showcase/mobile-chrome/regular/neutral/DBNavigationItem-should-match-screenshot.png
  __snapshots__/navigation-item/showcase/mobile-safari/regular/neutral/DBNavigationItem-should-match-screenshot.png
  __snapshots__/navigation-item/showcase/webkit/regular/neutral/DBNavigationItem-should-match-screenshot.png
  packages/components/src/components/tab-item/tab-item.lite.tsx
  packages/components/src/components/tabs/tabs.spec.tsx
  showcases/angular-showcase/src/app/components/form/form.component.html
  showcases/e2e/default.ts
  showcases/e2e/home/showcase-home.spec.ts
  showcases/e2e/input/showcase-input.spec.ts
  showcases/e2e/textarea/showcase-textarea.spec.ts
  showcases/react-showcase/src/components/form/index.tsx
  showcases/vue-showcase/src/components/form/Form.vue
Due: jscpd --exitCode 1 ., cross-env TIMING=1 NODE_OPTIONS="--max-old-space-size=4096" xo --fix, prettier --write

fix: issues with a11y tests in showcases
  .github/workflows/02-e2e-showcases.yml
  __snapshots__/notification/showcase/chromium/regular/neutral/DBNotification-should-match-screenshot.png
  __snapshots__/notification/showcase/firefox/regular/neutral/DBNotification-should-match-screenshot.png
  __snapshots__/notification/showcase/mobile-chrome/regular/neutral/DBNotification-should-match-screenshot.png
  __snapshots__/notification/showcase/mobile-safari/regular/neutral/DBNotification-should-match-screenshot.png
  __snapshots__/notification/showcase/webkit/regular/neutral/DBNotification-should-match-screenshot.png
  showcases/playwright.config.ts
Due: jscpd --exitCode 1 ., cross-env TIMING=1 NODE_OPTIONS="--max-old-space-size=4096" xo --fix, prettier --write

fix: try to fix issues with a11y tests
  .github/workflows/02-e2e-showcases.yml
  showcases/e2e/default.ts
Due: jscpd --exitCode 1 ., cross-env TIMING=1 NODE_OPTIONS="--max-old-space-size=4096" xo --fix, prettier --write

fix: some playwright issues
  showcases/e2e/default.ts
  showcases/e2e/home/showcase-home.spec.ts
Due: jscpd --exitCode 1 ., cross-env TIMING=1 NODE_OPTIONS="--max-old-space-size=4096" xo --fix, prettier --write

chore: package-lock changed
  package-lock.json
Due: jscpd --exitCode 1 .

fix: skip test for angular
  showcases/e2e/default.ts
  showcases/e2e/navigation-item/showcase-navigation-item.spec.ts
Due: jscpd --exitCode 1 ., cross-env TIMING=1 NODE_OPTIONS="--max-old-space-size=4096" xo --fix, prettier --write

fix: skip test for angular
  showcases/e2e/home/showcase-home.spec.ts
Due: jscpd --exitCode 1 ., cross-env TIMING=1 NODE_OPTIONS="--max-old-space-size=4096" xo --fix, prettier --write

fix: transforms safe-triangle to fill-gap rect when mouse enters subnav
  packages/components/src/components/navigation-item/navigation-item.lite.tsx
  packages/components/src/utils/navigation.ts
Due: jscpd --exitCode 1 ., cross-env TIMING=1 NODE_OPTIONS="--max-old-space-size=4096" xo --fix, prettier --write

docs: adds areaPopup from navItem to alpha-beta migration docs
  docs/migration/alpha-beta.md
Due: jscpd --exitCode 1 ., markdownlint -c .markdown-lint.yml

fix: replaces not working mouseOver event in angular
  packages/components/scripts/post-build/angular.js
  packages/components/src/utils/navigation.ts
Due: jscpd --exitCode 1 ., cross-env TIMING=1 NODE_OPTIONS="--max-old-space-size=4096" xo --fix, prettier --write

Path conditions:
  jscpd --exitCode 1 .: any of: *
  markdownlint -c .markdown-lint.yml: any of: *.md
  stylelint --fix: any of: *.{css,scss}
  cross-env TIMING=1 NODE_OPTIONS="--max-old-space-size=4096" xo --fix: any of: *.{js,ts,tsx}
  prettier --write: any of: *.{js,ts,tsx}
  prettier --write --ignore-unknown: any of: *.!{js,ts,tsx}
