Repository nekator/mono: changes, and which lint-staged commands are due for each by the changed paths.
All: jscpd --exitCode 1 ., markdownlint -c .markdown-lint.yml, stylelint --fix, cross-env TIMING=1 NODE_OPTIONS="--max-old-space-size=4096" xo --fix, prettier --write, prettier --write --ignore-unknown

chore: update speaking colors
  .jscpd.json
  __snapshots__/badge/showcase/chromium/regular/neutral/DBBadge-should-match-screenshot.png
  __snapshots__/badge/showcase/mobile-chrome/regular/neutral/DBBadge-should-match-screenshot.png
  __snapshots__/badge/showcase/mobile-safari/regular/neutral/DBBadge-should-match-screenshot.png
  __snapshots__/badge/showcase/webkit/regular/neutral/DBBadge-should-match-screenshot.png
  __snapshots__/input/showcase/chromium/regular/neutral/DBInput-should-match-screenshot.png
  __snapshots__/input/showcase/mobile-chrome/regular/neutral/DBInput-should-match-screenshot.png
  __snapshots__/input/showcase/mobile-safari/regular/neutral/DBInput-should-match-screenshot.png
  __snapshots__/input/showcase/webkit/regular/neutral/DBInput-should-match-screenshot.png
  __snapshots__/tag/showcase/chromium/regular/neutral/DBTag-should-match-screenshot.png
  __snapshots__/tag/showcase/mobile-chrome/regular/neutral/DBTag-should-match-screenshot.png
  __snapshots__/tag/showcase/mobile-safari/regular/neutral/DBTag-should-match-screenshot.png
  __snapshots__/tag/showcase/webkit/regular/neutral/DBTag-should-match-screenshot.png
  __snapshots__/textarea/showcase/chromium/regular/neutral/DBTextarea-should-match-screenshot.png
  __snapshots__/textarea/showcase/mobile-chrome/regular/neutral/DBTextarea-should-match-screenshot.png
  __snapshots__/textarea/showcase/mobile-safari/regular/neutral/DBTextarea-should-match-screenshot.png
  __snapshots__/textarea/showcase/webkit/regular/neutral/DBTextarea-should-match-screenshot.png
  packages/components/src/README.md
  packages/components/src/components/alert/alert.scss
  packages/components/src/components/card/card.scss
  packages/components/src/components/drawer/drawer.scss
  packages/components/src/components/header/header.scss
  packages/components/src/components/infotext/infotext.scss
  packages/components/src/components/link/link.scss
  packages/components/src/components/navigation-item/navigation-item.scss
  packages/components/src/components/tag/tag.scss
  packages/components/src/components/textarea/textarea.scss
  packages/components/src/components/tooltip/tooltip.scss
  packages/components/src/styles/_form-components.scss
  packages/components/src/styles/_popover-component.scss
  packages/components/src/styles/_tag-components.scss
  packages/foundations/scss/_init.scss
  packages/foundations/scss/colors/_default-color-scheme.scss
  packages/foundations/scss/colors/_placeholder.scss
  packages/foundations/scss/colors/_variables.scss
Due: jscpd --exitCode 1 ., markdownlint -c .markdown-lint.yml, stylelint --fix

chore: update snapshots
  __snapshots__/textarea/showcase/webkit/regular/neutral/DBTextarea-should-match-screenshot.png
Due: jscpd --exitCode 1 .

refactor: rename force-mobile to data-force-mobile (#1925)
  packages/components/src/components/header/header.lite.tsx
  packages/components/src/components/header/header.scss
  packages/foundations/scss/_screen-sizes.scss
Due: jscpd --exitCode 1 ., stylelint --fix, cross-env TIMING=1 NODE_OPTIONS="--max-old-space-size=4096" xo --fix, prettier --write

feat: added new name attribute (#1642)
  packages/components/src/components/accordion-item/accordion-item.lite.tsx
  packages/components/src/components/accordion-item/model.ts
Due: jscpd --exitCode 1 ., cross-env TIMING=1 NODE_OPTIONS="--max-old-space-size=4096" xo --fix, prettier --write

chore: remove as * from scss and documentation (#1926)
  docs/how-to-develop-a-component.md
  output/angular/README.md
  output/react/README.md
  output/vue/vue3/README.md
  packages/components/_templates/mitosis/new/component/db-ui-components.ejs.t
  packages/components/_templates/mitosis/new/db-ui-components-use.ejs.t
  packages/components/src/components/input/docs/Angular.md
  packages/components/src/components/input/docs/HTML.md
  packages/components/src/components/input/docs/React.md
  packages/components/src/components/input/docs/Vue.md
  packages/components/src/components/input/input.scss
  packages/components/src/styles/db-ui-42-rollup.scss
  packages/components/src/styles/db-ui-42-webpack.scss
  packages/components/src/styles/db-ui-components.scss
Due: jscpd --exitCode 1 ., markdownlint -c .markdown-lint.yml, stylelint --fix

fix: issue with missing logo (#1927)
  showcases/react-showcase/vite.config.ts
  showcases/vue-showcase/vite.config.ts
Due: jscpd --exitCode 1 ., cross-env TIMING=1 NODE_OPTIONS="--max-old-space-size=4096" xo --fix, prettier --write

docs: Update README.md
  packages/foundations/assets/icons/README.md
Due: jscpd --exitCode 1 ., markdownlint -c .markdown-lint.yml

Update packages/foundations/assets/icons/README.md
  packages/foundations/assets/icons/README.md
Due: jscpd --exitCode 1 ., markdownlint -c .markdown-lint.yml

chore: moved generate-icon-font to own package (#1934)
  package-lock.json
  packages/foundations/docs/CustomIcons.md
  packages/foundations/package.json
  packages/foundations/scripts/clean-icons/cli.js
  packages/foundations/scripts/clean-icons/index.js
  packages/foundations/scripts/generate-icon-fonts/gather-icons.js
  packages/foundations/scripts/generate-icon-fonts/index.js
  packages/foundations/scripts/generate-icon-fonts/styles/font-face.css
  packages/foundations/scripts/generate-icon-fonts/styles/index.css
  packages/foundations/scripts/generate-icon-fonts/svg-to-font.js
  packages/foundations/scripts/generate-icon-fonts/templates/template.ejs
  packages/foundations/scripts/program.js
Due: jscpd --exitCode 1 ., markdownlint -c .markdown-lint.yml, stylelint --fix, cross-env TIMING=1 NODE_OPTIONS="--max-old-space-size=4096" xo --fix, prettier --write

chore: update color consumption
  packages/components/src/README.md
  packages/components/src/components/accordion-item/accordion-item.scss
  packages/components/src/components/button/button.scss
  packages/components/src/components/card/card.lite.tsx
  packages/components/src/components/card/card.scss
  packages/components/src/components/card/model.ts
  packages/components/src/components/navigation-item/navigation-item.scss
  packages/components/src/components/tag/tag.scss
  packages/components/src/components/textarea/textarea.scss
  packages/components/src/styles/_component.scss
  packages/components/src/styles/_form-components.scss
  packages/components/src/styles/_tag-components.scss
  packages/foundations/scss/_init.scss
  packages/foundations/scss/colors/_default-color-scheme.scss
  packages/foundations/scss/colors/_placeholder.scss
  packages/foundations/scss/colors/_variables.scss
  packages/foundations/scss/colors/speaking-colors.scss
  packages/foundations/scss/helpers/_functions.scss
  showcases/angular-showcase/src/app/components/card/card.component.html
  showcases/react-showcase/src/components/card/index.tsx
  showcases/shared/card.json
  showcases/vue-showcase/src/components/card/Card.vue
Due: jscpd --exitCode 1 ., markdownlint -c .markdown-lint.yml, stylelint --fix, cross-env TIMING=1 NODE_OPTIONS="--max-old-space-size=4096" xo --fix, prettier --write

chore: fix issues with checkbox/radio
  .jscpd.json
  __snapshots__/card/component/chromium/DBCard-should-match-screenshot-for-color-variant-critical.png
  __snapshots__/card/component/chromium/DBCard-should-match-screenshot-for-color-variant-informational.png
  __snapshots__/card/component/chromium/DBCard-should-match-screenshot-for-color-variant-neutral-strong.png
  __snapshots__/card/component/chromium/DBCard-should-match-screenshot-for-color-variant-neutral.png
  __snapshots__/card/component/chromium/DBCard-should-match-screenshot-for-color-variant-primary.png
  __snapshots__/card/component/chromium/DBCard-should-match-screenshot-for-color-variant-successful.png
  __snapshots__/card/component/chromium/DBCard-should-match-screenshot-for-color-variant-warning.png
  __snapshots__/card/component/chromium/DBCard-should-match-screenshot-for-variant-interactive.png
  __snapshots__/card/component/chromium/DBCard-should-match-screenshot.png
  __snapshots__/card/component/mobile-chrome/DBCard-should-match-screenshot-for-color-variant-critical.png
  __snapshots__/card/component/mobile-chrome/DBCard-should-match-screenshot-for-color-variant-informational.png
  __snapshots__/card/component/mobile-chrome/DBCard-should-match-screenshot-for-color-variant-neutral-strong.png
  __snapshots__/card/component/mobile-chrome/DBCard-should-match-screenshot-for-color-variant-neutral.png
  __snapshots__/card/component/mobile-chrome/DBCard-should-match-screenshot-for-color-variant-primary.png
  __snapshots__/card/component/mobile-chrome/DBCard-should-match-screenshot-for-color-variant-successful.png
  __snapshots__/card/component/mobile-chrome/DBCard-should-match-screenshot-for-color-variant-warning.png
  __snapshots__/card/component/mobile-chrome/DBCard-should-match-screenshot-for-variant-interactive.png
  __snapshots__/card/component/mobile-chrome/DBCard-should-match-screenshot.png
  packages/components/src/components/card/card.spec.tsx
  packages/components/src/components/radio/radio.lite.tsx
  packages/components/src/styles/_form-components.scss
Due: jscpd --exitCode 1 ., stylelint --fix, cross-env TIMING=1 NODE_OPTIONS="--max-old-space-size=4096" xo --fix, prettier --write

fix: issue with duplicated event for drawer in react (#1938)
  packages/components/scripts/post-build/components.js
  packages/components/scripts/post-build/react.js
  packages/components/src/shared/model.ts
  packages/components/src/utils/index.ts
Due: jscpd --exitCode 1 ., cross-env TIMING=1 NODE_OPTIONS="--max-old-space-size=4096" xo --fix, prettier --write

Path conditions:
  jscpd --exitCode 1 .: any of: *
  markdownlint -c .markdown-lint.yml: any of: *.md
  stylelint --fix: any of: *.{css,scss}
  cross-env TIMING=1 NODE_OPTIONS="--max-old-space-size=4096" xo --fix: any of: *.{js,ts,tsx}
  prettier --write: any of: *.{js,ts,tsx}
  prettier --write --ignore-unknown: any of: *.!{js,ts,tsx}
