Repository nekator/mono: changes, and which lint-staged commands are due for each by the changed paths.
All: jscpd --exitCode 1 ., markdownlint -c .markdown-lint.yml, stylelint --fix, cross-env TIMING=1 NODE_OPTIONS="--max-old-space-size=4096" xo --fix, prettier --write, prettier --write --ignore-unknown

chore: update elevation tokens to use shirt sizes (#1804)
  packages/components/src/components/card/card.scss
  packages/components/src/components/drawer/drawer.scss
  packages/components/src/components/header/header.scss
  packages/components/src/components/navigation-item/navigation-item.scss
  packages/components/src/components/tooltip/tooltip.scss
  packages/components/src/styles/_component.scss
  packages/foundations/scss/_variables.scss
  packages/foundations/scss/default-theme.scss
Due: jscpd --exitCode 1 ., stylelint --fix

chore: update border-height token in foundations to reuse them (#1803)
  packages/components/src/components/tag/tag.scss
  packages/components/src/styles/_component.scss
  packages/components/src/styles/_db-puls.scss
  packages/foundations/scss/_init.scss
  packages/foundations/scss/_variables.scss
  packages/foundations/scss/default-theme.scss
Due: jscpd --exitCode 1 ., stylelint --fix

style: 💄 fix overwrites for color scheme (#1810)
  packages/foundations/scss/colors/_default-color-scheme.scss
  packages/foundations/scss/colors/color-scheme.scss
Due: jscpd --exitCode 1 ., stylelint --fix

fix: make icon generation *.js file execuatble
  packages/foundations/scripts/generate-icon-fonts/index.js
Due: jscpd --exitCode 1 ., cross-env TIMING=1 NODE_OPTIONS="--max-old-space-size=4096" xo --fix, prettier --write

fix: removed focus within for hover effect in navigation-item.scss (#1819)
  packages/components/src/components/navigation-item/navigation-item.scss
Due: jscpd --exitCode 1 ., stylelint --fix

feat: add labelVariant=hidden for input, select, textarea (#1809)
  __snapshots__/input/showcase/chromium/regular/neutral/DBInput-should-match-screenshot.png
  __snapshots__/input/showcase/mobile-chrome/regular/neutral/DBInput-should-match-screenshot.png
  __snapshots__/input/showcase/mobile-safari/regular/neutral/DBInput-should-match-screenshot.png
  __snapshots__/input/showcase/webkit/regular/neutral/DBInput-should-match-screenshot.png
  __snapshots__/textarea/showcase/chromium/regular/neutral/DBTextarea-should-match-screenshot.png
  __snapshots__/textarea/showcase/mobile-chrome/regular/neutral/DBTextarea-should-match-screenshot.png
  __snapshots__/textarea/showcase/mobile-safari/regular/neutral/DBTextarea-should-match-screenshot.png
  __snapshots__/textarea/showcase/webkit/regular/neutral/DBTextarea-should-match-screenshot.png
  packages/components/src/components/checkbox/checkbox.lite.tsx
  packages/components/src/components/radio/radio.lite.tsx
  packages/components/src/components/select/select.scss
  packages/components/src/shared/model.ts
  packages/components/src/styles/_form-components.scss
  showcases/angular-showcase/src/app/components/checkbox/checkbox.component.html
  showcases/angular-showcase/src/app/components/radio/radio.component.html
  showcases/react-showcase/src/components/checkbox/index.tsx
  showcases/react-showcase/src/components/radio/index.tsx
  showcases/shared/checkbox.json
  showcases/shared/input.json
  showcases/shared/radio.json
  showcases/shared/select.json
  showcases/shared/textarea.json
  showcases/vue-showcase/src/components/checkbox/Checkbox.vue
  showcases/vue-showcase/src/components/radio/Radio.vue
Due: jscpd --exitCode 1 ., stylelint --fix, cross-env TIMING=1 NODE_OPTIONS="--max-old-space-size=4096" xo --fix, prettier --write

feat: add version switcher for patternhub (#1634)
  package-lock.json
  showcases/patternhub/components/default-page.tsx
  showcases/patternhub/components/version-switcher/data.ts
  showcases/patternhub/components/version-switcher/index.tsx
  showcases/patternhub/components/version-switcher/version-switcher.tsx
  showcases/patternhub/package.json
  showcases/patternhub/styles/globals.scss
Due: jscpd --exitCode 1 ., stylelint --fix, cross-env TIMING=1 NODE_OPTIONS="--max-old-space-size=4096" xo --fix, prettier --write

refactor: updated icon types and fonts
  packages/components/src/shared/all-icons.ts
  packages/components/src/shared/icon-types.ts
  packages/foundations/assets/icons/functional/fonts/all/db-ux.woff2
  packages/foundations/assets/icons/functional/fonts/default/db-ux.woff2
  packages/foundations/assets/icons/functional/fonts/default_16/db-ux.woff2
  packages/foundations/assets/icons/functional/fonts/default_20/db-ux.woff2
  packages/foundations/assets/icons/functional/fonts/default_24/db-ux.woff2
  packages/foundations/assets/icons/functional/fonts/default_32/db-ux.woff2
  packages/foundations/assets/icons/functional/fonts/default_48/db-ux.woff2
  packages/foundations/assets/icons/functional/fonts/default_64/db-ux.woff2
  packages/foundations/assets/icons/functional/fonts/inverted/db-ux.woff2
  packages/foundations/assets/icons/functional/fonts/inverted_16/db-ux.woff2
  packages/foundations/assets/icons/functional/fonts/inverted_20/db-ux.woff2
  packages/foundations/assets/icons/functional/fonts/inverted_24/db-ux.woff2
  packages/foundations/assets/icons/functional/fonts/inverted_32/db-ux.woff2
  packages/foundations/assets/icons/functional/fonts/inverted_48/db-ux.woff2
  packages/foundations/assets/icons/functional/fonts/inverted_64/db-ux.woff2
  packages/foundations/assets/icons/functional/fonts/solid/db-ux.woff2
  packages/foundations/assets/icons/functional/fonts/solid_16/db-ux.woff2
  packages/foundations/assets/icons/functional/fonts/solid_20/db-ux.woff2
  packages/foundations/assets/icons/functional/fonts/solid_24/db-ux.woff2
  packages/foundations/assets/icons/functional/fonts/solid_32/db-ux.woff2
  packages/foundations/assets/icons/functional/fonts/solid_48/db-ux.woff2
  packages/foundations/assets/icons/functional/fonts/solid_64/db-ux.woff2
Due: jscpd --exitCode 1 ., cross-env TIMING=1 NODE_OPTIONS="--max-old-space-size=4096" xo --fix, prettier --write

Path conditions:
  jscpd --exitCode 1 .: any of: *
  markdownlint -c .markdown-lint.yml: any of: *.md
  stylelint --fix: any of: *.{css,scss}
  cross-env TIMING=1 NODE_OPTIONS="--max-old-space-size=4096" xo --fix: any of: *.{js,ts,tsx}
  prettier --write: any of: *.{js,ts,tsx}
  prettier --write --ignore-unknown: any of: *.!{js,ts,tsx}
