Repository nekator/mono: changes, and which lint-staged commands are due for each by the changed paths.
All: jscpd --exitCode 1 ., markdownlint -c .markdown-lint.yml, stylelint --fix, cross-env TIMING=1 NODE_OPTIONS="--max-old-space-size=4096" xo --fix, prettier --write, prettier --write --ignore-unknown

docs: added further aspects
  packages/foundations/assets/icons/README.md
Due: jscpd --exitCode 1 ., markdownlint -c .markdown-lint.yml

feat: added icon fonts
  packages/foundations/assets/icons/functional/fonts/all/db-ux.woff2
  packages/foundations/assets/icons/functional/fonts/default/db-ux.woff2
  packages/foundations/assets/icons/functional/fonts/default_16/db-ux.woff2
  packages/foundations/assets/icons/functional/fonts/default_20/db-ux.woff2
  packages/foundations/assets/icons/functional/fonts/default_24/db-ux.woff2
  packages/foundations/assets/icons/functional/fonts/default_32/db-ux.woff2
  packages/foundations/assets/icons/functional/fonts/default_48/db-ux.woff2
  packages/foundations/assets/icons/functional/fonts/default_64/db-ux.woff2
  packages/foundations/assets/icons/functional/fonts/inverted/db-ux.woff2
  packages/foundations/assets/icons/functional/fonts/inverted_16/db-ux.woff2
  packages/foundations/assets/icons/functional/fonts/inverted_20/db-ux.woff2
  packages/foundations/assets/icons/functional/fonts/inverted_24/db-ux.woff2
  packages/foundations/assets/icons/functional/fonts/inverted_32/db-ux.woff2
  packages/foundations/assets/icons/functional/fonts/inverted_48/db-ux.woff2
  packages/foundations/assets/icons/functional/fonts/inverted_64/db-ux.woff2
  packages/foundations/assets/icons/functional/fonts/solid/db-ux.woff2
  packages/foundations/assets/icons/functional/fonts/solid_16/db-ux.woff2
  packages/foundations/assets/icons/functional/fonts/solid_20/db-ux.woff2
  packages/foundations/assets/icons/functional/fonts/solid_24/db-ux.woff2
  packages/foundations/assets/icons/functional/fonts/solid_32/db-ux.woff2
  packages/foundations/assets/icons/functional/fonts/solid_48/db-ux.woff2
  packages/foundations/assets/icons/functional/fonts/solid_64/db-ux.woff2
Due: jscpd --exitCode 1 .

fix: added file to get ignored
  packages/foundations/scripts/generate-icon-fonts/gather-icons.js
Due: jscpd --exitCode 1 ., cross-env TIMING=1 NODE_OPTIONS="--max-old-space-size=4096" xo --fix, prettier --write

feat: upload icon assets via GitHub Actions
  .github/scripts/release/index.js
  .github/scripts/release/update-icon-release.js
  .github/scripts/release/upload-asset.js
  .github/workflows/03-publish-packages.yml
Due: jscpd --exitCode 1 ., cross-env TIMING=1 NODE_OPTIONS="--max-old-space-size=4096" xo --fix, prettier --write

fix: use outlined icons as fallback for solid (#1649)
  packages/foundations/assets/icons/functional/fonts/all/db-ux.woff2
  packages/foundations/assets/icons/functional/fonts/default/db-ux.woff2
  packages/foundations/assets/icons/functional/fonts/default_16/db-ux.woff2
  packages/foundations/assets/icons/functional/fonts/default_20/db-ux.woff2
  packages/foundations/assets/icons/functional/fonts/default_24/db-ux.woff2
  packages/foundations/assets/icons/functional/fonts/default_32/db-ux.woff2
  packages/foundations/assets/icons/functional/fonts/default_48/db-ux.woff2
  packages/foundations/assets/icons/functional/fonts/default_64/db-ux.woff2
  packages/foundations/assets/icons/functional/fonts/inverted/db-ux.woff2
  packages/foundations/assets/icons/functional/fonts/inverted_16/db-ux.woff2
  packages/foundations/assets/icons/functional/fonts/inverted_20/db-ux.woff2
  packages/foundations/assets/icons/functional/fonts/inverted_24/db-ux.woff2
  packages/foundations/assets/icons/functional/fonts/inverted_32/db-ux.woff2
  packages/foundations/assets/icons/functional/fonts/inverted_48/db-ux.woff2
  packages/foundations/assets/icons/functional/fonts/inverted_64/db-ux.woff2
  packages/foundations/assets/icons/functional/fonts/solid/db-ux.woff2
  packages/foundations/assets/icons/functional/fonts/solid_16/db-ux.woff2
  packages/foundations/assets/icons/functional/fonts/solid_20/db-ux.woff2
  packages/foundations/assets/icons/functional/fonts/solid_24/db-ux.woff2
  packages/foundations/assets/icons/functional/fonts/solid_32/db-ux.woff2
  packages/foundations/assets/icons/functional/fonts/solid_48/db-ux.woff2
  packages/foundations/assets/icons/functional/fonts/solid_64/db-ux.woff2
  packages/foundations/scripts/generate-icon-fonts/gather-icons.js
Due: jscpd --exitCode 1 ., cross-env TIMING=1 NODE_OPTIONS="--max-old-space-size=4096" xo --fix, prettier --write

fix: issue with variables
  .github/scripts/release/index.js
  .github/workflows/03-publish-packages.yml
Due: jscpd --exitCode 1 ., cross-env TIMING=1 NODE_OPTIONS="--max-old-space-size=4096" xo --fix, prettier --write

refactor: updated the icon files again
  packages/foundations/assets/icons/functional/fonts/all/db-ux.woff2
  packages/foundations/assets/icons/functional/fonts/default/db-ux.woff2
  packages/foundations/assets/icons/functional/fonts/default_16/db-ux.woff2
  packages/foundations/assets/icons/functional/fonts/default_20/db-ux.woff2
  packages/foundations/assets/icons/functional/fonts/default_24/db-ux.woff2
  packages/foundations/assets/icons/functional/fonts/default_32/db-ux.woff2
  packages/foundations/assets/icons/functional/fonts/default_48/db-ux.woff2
  packages/foundations/assets/icons/functional/fonts/default_64/db-ux.woff2
  packages/foundations/assets/icons/functional/fonts/inverted/db-ux.woff2
  packages/foundations/assets/icons/functional/fonts/inverted_16/db-ux.woff2
  packages/foundations/assets/icons/functional/fonts/inverted_20/db-ux.woff2
  packages/foundations/assets/icons/functional/fonts/inverted_24/db-ux.woff2
  packages/foundations/assets/icons/functional/fonts/inverted_32/db-ux.woff2
  packages/foundations/assets/icons/functional/fonts/inverted_48/db-ux.woff2
  packages/foundations/assets/icons/functional/fonts/inverted_64/db-ux.woff2
  packages/foundations/assets/icons/functional/fonts/solid/db-ux.woff2
  packages/foundations/assets/icons/functional/fonts/solid_16/db-ux.woff2
  packages/foundations/assets/icons/functional/fonts/solid_20/db-ux.woff2
  packages/foundations/assets/icons/functional/fonts/solid_24/db-ux.woff2
  packages/foundations/assets/icons/functional/fonts/solid_32/db-ux.woff2
  packages/foundations/assets/icons/functional/fonts/solid_48/db-ux.woff2
  packages/foundations/assets/icons/functional/fonts/solid_64/db-ux.woff2
Due: jscpd --exitCode 1 .

feat: added another VS Code extension suggestion
  .vscode/extensions.json
Due: jscpd --exitCode 1 .

fix: lint-stages issue with generate icon fonts (#1832)
  .lintstagedrc.js
Due: jscpd --exitCode 1 ., cross-env TIMING=1 NODE_OPTIONS="--max-old-space-size=4096" xo --fix, prettier --write

refactor: ignoring line length markdownlint rule
  docs/scripts/component-research/generate-component-research.js
Due: jscpd --exitCode 1 ., cross-env TIMING=1 NODE_OPTIONS="--max-old-space-size=4096" xo --fix, prettier --write

chore: prettified
  packages/components/src/shared/all-icons.ts
Due: jscpd --exitCode 1 ., cross-env TIMING=1 NODE_OPTIONS="--max-old-space-size=4096" xo --fix, prettier --write

docs: focus state dev research (#1655)
  docs/research/README.md
  docs/research/focus-state.md
Due: jscpd --exitCode 1 ., markdownlint -c .markdown-lint.yml

Path conditions:
  jscpd --exitCode 1 .: any of: *
  markdownlint -c .markdown-lint.yml: any of: *.md
  stylelint --fix: any of: *.{css,scss}
  cross-env TIMING=1 NODE_OPTIONS="--max-old-space-size=4096" xo --fix: any of: *.{js,ts,tsx}
  prettier --write: any of: *.{js,ts,tsx}
  prettier --write --ignore-unknown: any of: *.!{js,ts,tsx}
