Repository nekator/mono: changes, and which lint-staged commands are due for each by the changed paths.
All: jscpd --exitCode 1 ., markdownlint -c .markdown-lint.yml, stylelint --fix, cross-env TIMING=1 NODE_OPTIONS="--max-old-space-size=4096" xo --fix, prettier --write, prettier --write --ignore-unknown

.lintstagedrc:

{
	"*": "jscpd --exitCode 1 .",
	"*.md": "markdownlint -c .markdown-lint.yml",
	"*.{css,scss}": "stylelint --fix",
	"*.{js,ts,tsx}": ["cross-env TIMING=1 NODE_OPTIONS=\"--max-old-space-size=4096\" xo --fix", "prettier --write"],
	"*.!{js,ts,tsx}": "prettier --write --ignore-unknown"
}

Update index.tsx
  showcases/react-showcase/src/components/brand/index.tsx
Due: jscpd --exitCode 1 ., cross-env TIMING=1 NODE_OPTIONS="--max-old-space-size=4096" xo --fix, prettier --write

fix(showcases): ensure a minimum of words in alternative texts (#3036)
  showcases/angular-showcase/src/app/components/brand/brand.component.html
  showcases/angular-showcase/src/app/components/notification/notification.component.html
  showcases/react-showcase/src/components/brand/index.tsx
  showcases/react-showcase/src/components/notification/index.tsx
  showcases/vue-showcase/src/components/brand/Brand.vue
  showcases/vue-showcase/src/components/notification/Notification.vue
Due: jscpd --exitCode 1 ., cross-env TIMING=1 NODE_OPTIONS="--max-old-space-size=4096" xo --fix, prettier --write

fix: prevent new line
  showcases/screen-reader/__snapshots__/.editorconfig
  showcases/screen-reader/__snapshots__/windows/chromium/DBBrand-default-1.txt
Due: jscpd --exitCode 1 .

refactor: one last try
  showcases/react-showcase/src/components/brand/index.tsx
Due: jscpd --exitCode 1 ., cross-env TIMING=1 NODE_OPTIONS="--max-old-space-size=4096" xo --fix, prettier --write

Revert "refactor: one last try"
  showcases/react-showcase/src/components/brand/index.tsx
Due: jscpd --exitCode 1 ., cross-env TIMING=1 NODE_OPTIONS="--max-old-space-size=4096" xo --fix, prettier --write

refactor: do not include a new line
  showcases/screen-reader/__snapshots__/macos/webkit/DBBrand-default-1.txt
Due: jscpd --exitCode 1 .

refactor: updated snapshots
  showcases/screen-reader/__snapshots__/macos/webkit/DBCheckbox-default-1.txt
  showcases/screen-reader/__snapshots__/windows/chromium/DBCheckbox-default-1.txt
Due: jscpd --exitCode 1 .

docs: add correct show code for navigation (#3031)
  showcases/shared/navigation-item.json
  showcases/shared/navigation.json
Due: jscpd --exitCode 1 .

feat: added missing snapshot
  showcases/screen-reader/__snapshots__/windows/chromium/DBAccordion-default-1.txt
Due: jscpd --exitCode 1 .

fix: issue with divider not visible in flex layout (#3032)
  __snapshots__/divider/patternhub/divider-properties-should-match-screenshot.png
  packages/components/src/components/divider/divider.lite.tsx
  packages/components/src/components/divider/divider.scss
  packages/components/src/components/divider/model.ts
  showcases/angular-showcase/src/app/components/divider/divider.component.html
  showcases/react-showcase/src/components/divider/index.tsx
  showcases/shared/divider.json
  showcases/vue-showcase/src/components/divider/Divider.vue
Due: jscpd --exitCode 1 ., stylelint --fix, cross-env TIMING=1 NODE_OPTIONS="--max-old-space-size=4096" xo --fix, prettier --write

docs: add research for multiselect (#3017)
  docs/research/multi-select.md
  docs/scripts/component-research/design-systems.js
Due: jscpd --exitCode 1 ., markdownlint -c .markdown-lint.yml, cross-env TIMING=1 NODE_OPTIONS="--max-old-space-size=4096" xo --fix, prettier --write

feat: enable styling for simple input type=file (#3034)
  __snapshots__/input/showcase/chromium-highContrast/DBInput-should-match-screenshot-1/DBInput-should-match-screenshot.png
  __snapshots__/input/showcase/chromium/DBInput-should-match-screenshot-1/DBInput-should-match-screenshot.png
  __snapshots__/input/showcase/firefox/DBInput-should-match-screenshot-1/DBInput-should-match-screenshot.png
  __snapshots__/input/showcase/mobile-chrome/DBInput-should-match-screenshot-1/DBInput-should-match-screenshot.png
  __snapshots__/input/showcase/mobile-safari/DBInput-should-match-screenshot-1/DBInput-should-match-screenshot.png
  __snapshots__/input/showcase/webkit/DBInput-should-match-screenshot-1/DBInput-should-match-screenshot.png
  packages/components/src/components/input/input.scss
  showcases/shared/input.json
Due: jscpd --exitCode 1 ., stylelint --fix

docs: add migration guide (#3040)
  README.md
Due: jscpd --exitCode 1 ., markdownlint -c .markdown-lint.yml
