Repository nekator/mono: changes, and which lint-staged commands are due for each by the changed paths.
All: jscpd --exitCode 1 ., markdownlint -c .markdown-lint.yml, stylelint --fix, cross-env TIMING=1 NODE_OPTIONS="--max-old-space-size=4096" xo --fix, prettier --write, prettier --write --ignore-unknown

.lintstagedrc:

{
	"*": "jscpd --exitCode 1 .",
	"*.md": "markdownlint -c .markdown-lint.yml",
	"*.{css,scss}": "stylelint --fix",
	"*.{js,ts,tsx}": ["cross-env TIMING=1 NODE_OPTIONS=\"--max-old-space-size=4096\" xo --fix", "prettier --write"],
	"*.!{js,ts,tsx}": "prettier --write --ignore-unknown"
}

refactor: optimized for meaningful description
  showcases/patternhub/scripts/get-code-files.js
Due: jscpd --exitCode 1 ., cross-env TIMING=1 NODE_OPTIONS="--max-old-space-size=4096" xo --fix, prettier --write

refactor: removed obsolete build step
  packages/foundations/package.json
Due: jscpd --exitCode 1 .

Revert "refactor: removed obsolete build step"
  packages/foundations/package.json
Due: jscpd --exitCode 1 .

refactor: further optimization
  packages/foundations/package.json
Due: jscpd --exitCode 1 .

refactor: this attribute is redundant
  packages/components/src/components/tab-item/tab-item.lite.tsx
Due: jscpd --exitCode 1 ., cross-env TIMING=1 NODE_OPTIONS="--max-old-space-size=4096" xo --fix, prettier --write

refactor: optimized script and roles defintions
  packages/components/src/components/tab-list/tab-list.lite.tsx
  packages/components/src/components/tabs/tabs.lite.tsx
Due: jscpd --exitCode 1 ., cross-env TIMING=1 NODE_OPTIONS="--max-old-space-size=4096" xo --fix, prettier --write

refactor: use the accepted HTML tag
  packages/components/src/components/tab-panel/tab-panel.lite.tsx
Due: jscpd --exitCode 1 ., cross-env TIMING=1 NODE_OPTIONS="--max-old-space-size=4096" xo --fix, prettier --write

refactor: extracted config
  packages/foundations/nodemon.json
  packages/foundations/package.json
Due: jscpd --exitCode 1 .

fix: adds missing type to vue data by post script
  packages/components/scripts/post-build/components.js
Due: jscpd --exitCode 1 ., cross-env TIMING=1 NODE_OPTIONS="--max-old-space-size=4096" xo --fix, prettier --write

fix: remove tokens from nodemon.json
  packages/foundations/nodemon.json
Due: jscpd --exitCode 1 .

feat: add invisible variant for drawer (#2550)
  packages/components/src/components/drawer/model.ts
  packages/components/src/styles/_dialog-init.scss
  showcases/patternhub/styles/globals.scss
  showcases/shared/drawer.json
Due: jscpd --exitCode 1 ., stylelint --fix, cross-env TIMING=1 NODE_OPTIONS="--max-old-space-size=4096" xo --fix, prettier --write

fix: issues with slots
  packages/components/src/components/navigation/navigation.spec.tsx
  showcases/vue-showcase/src/App.vue
  showcases/vue-showcase/src/NavItemComponent.vue
  showcases/vue-showcase/src/components/navigation-item/NavigationItem.vue
  showcases/vue-showcase/src/components/navigation/Navigation.vue
Due: jscpd --exitCode 1 ., cross-env TIMING=1 NODE_OPTIONS="--max-old-space-size=4096" xo --fix, prettier --write

fix: issue with message ids for react (#2559)
  packages/components/src/components/checkbox/checkbox.lite.tsx
  packages/components/src/components/input/input.lite.tsx
  packages/components/src/components/select/select.lite.tsx
  packages/components/src/components/textarea/textarea.lite.tsx
Due: jscpd --exitCode 1 ., cross-env TIMING=1 NODE_OPTIONS="--max-old-space-size=4096" xo --fix, prettier --write
