Repository nekator/mono: changes, and which lint-staged commands are due for each by the changed paths.
All: jscpd --exitCode 1 ., markdownlint -c .markdown-lint.yml, stylelint --fix, cross-env TIMING=1 NODE_OPTIONS="--max-old-space-size=4096" xo --fix, prettier --write, prettier --write --ignore-unknown

.lintstagedrc:

{
	"*": "jscpd --exitCode 1 .",
	"*.md": "markdownlint -c .markdown-lint.yml",
	"*.{css,scss}": "stylelint --fix",
	"*.{js,ts,tsx}": ["cross-env TIMING=1 NODE_OPTIONS=\"--max-old-space-size=4096\" xo --fix", "prettier --write"],
	"*.!{js,ts,tsx}": "prettier --write --ignore-unknown"
}

fix: clean-up issue for gh-pages (#2023)
  .github/scripts/cleanup-gh-pages.js
Due: jscpd --exitCode 1 ., cross-env TIMING=1 NODE_OPTIONS="--max-old-space-size=4096" xo --fix, prettier --write

feat: add autocomplete and caret-color for form elements (#2019)
  packages/components/src/components/input/input.lite.tsx
  packages/components/src/components/select/select.lite.tsx
  packages/components/src/components/textarea/textarea.lite.tsx
  packages/components/src/shared/model.ts
  packages/components/src/styles/_form-components.scss
Due: jscpd --exitCode 1 ., stylelint --fix, cross-env TIMING=1 NODE_OPTIONS="--max-old-space-size=4096" xo --fix, prettier --write

refactor(icons): prevent the textual representation from being announced
  packages/foundations/scss/icons/_icon-helpers.scss
  packages/foundations/scss/icons/include.scss
Due: jscpd --exitCode 1 ., stylelint --fix

refactor: removed data-hide-on for header (#2041)
  packages/components/src/components/header/header.lite.tsx
  packages/components/src/components/header/header.scss
Due: jscpd --exitCode 1 ., stylelint --fix, cross-env TIMING=1 NODE_OPTIONS="--max-old-space-size=4096" xo --fix, prettier --write

fix: revert playwright update because of node20 issues (#2042)
  .github/dependabot.yml
  .github/workflows/02-e2e-showcases.yml
  .github/workflows/02-e2e.yml
  __snapshots__/textarea/component/mobile-chrome/DBTextarea-should-match-screenshot.png
  __snapshots__/textarea/showcase/mobile-chrome/regular/neutral/DBTextarea-should-match-screenshot.png
  e2e/Dockerfile
  e2e/package-lock.json
  e2e/package.json
  output/react/package.json
  output/vue/vue3/package.json
  package-lock.json
  package.json
  scripts/update-playwright.js
Due: jscpd --exitCode 1 ., cross-env TIMING=1 NODE_OPTIONS="--max-old-space-size=4096" xo --fix, prettier --write

refactor: upgraded typescript version
  e2e/package-lock.json
  e2e/package.json
  output/vue/vue3/package.json
  package-lock.json
  package.json
  showcases/patternhub/package.json
  showcases/react-showcase/package.json
  showcases/vue-showcase/package.json
Due: jscpd --exitCode 1 .

refactor: updated year
  README.md
  showcases/angular-showcase/src/app/components/form/form.component.ts
Due: jscpd --exitCode 1 ., markdownlint -c .markdown-lint.yml, cross-env TIMING=1 NODE_OPTIONS="--max-old-space-size=4096" xo --fix, prettier --write

fix: select for angular showcase (#2018)
  packages/components/scripts/post-build/angular.js
  showcases/angular-showcase/src/app/components/form/form.component.html
  showcases/angular-showcase/src/app/components/form/form.component.ts
Due: jscpd --exitCode 1 ., cross-env TIMING=1 NODE_OPTIONS="--max-old-space-size=4096" xo --fix, prettier --write

refactor: updated year (#2051)
  README.md
  showcases/angular-showcase/src/app/components/form/form.component.ts
Due: jscpd --exitCode 1 ., markdownlint -c .markdown-lint.yml, cross-env TIMING=1 NODE_OPTIONS="--max-old-space-size=4096" xo --fix, prettier --write

fix: issue with truffle hog on main (#2053)
  .github/workflows/00-scan-secrets.yml
Due: jscpd --exitCode 1 .

fix: issue with solid button
  packages/components/src/components/button/button.scss
Due: jscpd --exitCode 1 ., stylelint --fix

fix: issue with duplicated transition variables (#2056)
  packages/foundations/scss/animation/_transitions.scss
Due: jscpd --exitCode 1 ., stylelint --fix
