Repository nekator/mono: changes, and which lint-staged commands are due for each by the changed paths.
All: jscpd --exitCode 1 ., markdownlint -c .markdown-lint.yml, stylelint --fix, cross-env TIMING=1 NODE_OPTIONS="--max-old-space-size=4096" xo --fix, prettier --write, prettier --write --ignore-unknown

chore: optimizations
  packages/components/src/components/badge/model.ts
  packages/components/src/components/divider/model.ts
Due: jscpd --exitCode 1 ., cross-env TIMING=1 NODE_OPTIONS="--max-old-space-size=4096" xo --fix, prettier --write

chore: removed unnecessary import
  packages/components/src/components/button/model.ts
Due: jscpd --exitCode 1 ., cross-env TIMING=1 NODE_OPTIONS="--max-old-space-size=4096" xo --fix, prettier --write

chore: removed unnecessary import
  packages/components/src/components/badge/badge.lite.tsx
Due: jscpd --exitCode 1 ., cross-env TIMING=1 NODE_OPTIONS="--max-old-space-size=4096" xo --fix, prettier --write

chore: removed unnecessary import
  packages/components/src/components/brand/brand.spec.tsx
Due: jscpd --exitCode 1 ., cross-env TIMING=1 NODE_OPTIONS="--max-old-space-size=4096" xo --fix, prettier --write

chore: removed unnecessary import
  packages/components/src/components/brand/brand.lite.tsx
Due: jscpd --exitCode 1 ., cross-env TIMING=1 NODE_OPTIONS="--max-old-space-size=4096" xo --fix, prettier --write

chore: optimization
  packages/components/src/components/switch/model.ts
Due: jscpd --exitCode 1 ., cross-env TIMING=1 NODE_OPTIONS="--max-old-space-size=4096" xo --fix, prettier --write

refactor: embed our page into an iframe instead of doing a redirect (#3291)
  .github/scripts/build-gh-page.sh
Due: jscpd --exitCode 1 .

refactor(dependabot): added new dependency that needs grouping (#3292)
  .github/dependabot.yml
Due: jscpd --exitCode 1 .

docs: add research for stack component (#3226)
  docs/research/stack.md
Due: jscpd --exitCode 1 ., markdownlint -c .markdown-lint.yml

docs: updated accessibility test status (#3305)
  showcases/patternhub/pages/foundations/test-table/index.tsx
  showcases/shared/_accessibility-review.json
Due: jscpd --exitCode 1 ., cross-env TIMING=1 NODE_OPTIONS="--max-old-space-size=4096" xo --fix, prettier --write

Path conditions:
  jscpd --exitCode 1 .: any of: *
  markdownlint -c .markdown-lint.yml: any of: *.md
  stylelint --fix: any of: *.{css,scss}
  cross-env TIMING=1 NODE_OPTIONS="--max-old-space-size=4096" xo --fix: any of: *.{js,ts,tsx}
  prettier --write: any of: *.{js,ts,tsx}
  prettier --write --ignore-unknown: any of: *.!{js,ts,tsx}
