Repository nekator/mono: changes, and which lint-staged commands are due for each by the changed paths.
All: jscpd --exitCode 1 ., markdownlint -c .markdown-lint.yml, stylelint --fix, cross-env TIMING=1 NODE_OPTIONS="--max-old-space-size=4096" xo --fix, prettier --write, prettier --write --ignore-unknown

.lintstagedrc:

{
	"*": "jscpd --exitCode 1 .",
	"*.md": "markdownlint -c .markdown-lint.yml",
	"*.{css,scss}": "stylelint --fix",
	"*.{js,ts,tsx}": ["cross-env TIMING=1 NODE_OPTIONS=\"--max-old-space-size=4096\" xo --fix", "prettier --write"],
	"*.!{js,ts,tsx}": "prettier --write --ignore-unknown"
}

chore: try to harden screen reader tests to avoid duplication in macOS (#3198)
  showcases/screen-reader/default.ts
Due: jscpd --exitCode 1 ., cross-env TIMING=1 NODE_OPTIONS="--max-old-space-size=4096" xo --fix, prettier --write

Update release.yml
  .github/workflows/release.yml
Due: jscpd --exitCode 1 .

Update 03-publish-packages.yml
  .github/workflows/03-publish-packages.yml
Due: jscpd --exitCode 1 .

chore: update e2e tests for stencil
  __snapshots__/tag/patternhub/tag-properties-should-match-screenshot.png
  packages/components/scripts/post-build/components.ts
  packages/components/src/components/button/button.scss
  packages/components/src/styles/_link-components.scss
  showcases/e2e/default.ts
  showcases/e2e/header/header-a11y.spec.ts
  showcases/e2e/tab-item/tab-item-a11y.spec.ts
  showcases/e2e/tabs/tabs-a11y.spec.ts
  showcases/shared/select.json
Due: jscpd --exitCode 1 ., stylelint --fix, cross-env TIMING=1 NODE_OPTIONS="--max-old-space-size=4096" xo --fix, prettier --write

chore: update e2e tests for stencil
  showcases/e2e/home/showcase-home.spec.ts
  showcases/e2e/link/link-a11y.spec.ts
  showcases/playwright.config.ts
Due: jscpd --exitCode 1 ., cross-env TIMING=1 NODE_OPTIONS="--max-old-space-size=4096" xo --fix, prettier --write

chore: update e2e tests for stencil
  showcases/e2e/default.ts
  showcases/playwright.config.ts
Due: jscpd --exitCode 1 ., cross-env TIMING=1 NODE_OPTIONS="--max-old-space-size=4096" xo --fix, prettier --write

chore: update e2e tests for stencil
  showcases/e2e/default.ts
Due: jscpd --exitCode 1 ., cross-env TIMING=1 NODE_OPTIONS="--max-old-space-size=4096" xo --fix, prettier --write

chore: update e2e tests for stencil
  showcases/e2e/header/header-snapshot.spec.ts
  showcases/e2e/home/showcase-home.spec.ts
  showcases/e2e/link/link-a11y.spec.ts
Due: jscpd --exitCode 1 ., cross-env TIMING=1 NODE_OPTIONS="--max-old-space-size=4096" xo --fix, prettier --write

docs: adds wip research for footer component
  docs/research/footer.md
Due: jscpd --exitCode 1 ., markdownlint -c .markdown-lint.yml

Revert "Update 03-publish-packages.yml"
  .github/workflows/03-publish-packages.yml
Due: jscpd --exitCode 1 .

Revert "Update release.yml"
  .github/workflows/release.yml
Due: jscpd --exitCode 1 .

chore: update e2e tests for stencil
  package-lock.json
  showcases/e2e/header/header-a11y.spec.ts
  showcases/shared/select.json
Due: jscpd --exitCode 1 ., cross-env TIMING=1 NODE_OPTIONS="--max-old-space-size=4096" xo --fix, prettier --write

chore: update e2e tests for stencil
  showcases/angular-showcase/src/app/components/input/input.component.html
Due: jscpd --exitCode 1 .

chore: improve playwright tests by reducing amount of running projects (#3205)
  showcases/e2e/default.ts
  showcases/e2e/drawer/drawer-a11y.spec.ts
  showcases/e2e/header/header-a11y.spec.ts
  showcases/e2e/home/showcase-home.spec.ts
  showcases/e2e/navigation-item/navigation-item-a11y.spec.ts
  showcases/e2e/navigation/navigation-a11y.spec.ts
  showcases/e2e/popover/popover-a11y.spec.ts
  showcases/e2e/tooltip/tooltip-a11y.spec.ts
  showcases/playwright.config.ts
Due: jscpd --exitCode 1 ., cross-env TIMING=1 NODE_OPTIONS="--max-old-space-size=4096" xo --fix, prettier --write

chore: update e2e tests for stencil
  showcases/playwright.config.ts
Due: jscpd --exitCode 1 ., cross-env TIMING=1 NODE_OPTIONS="--max-old-space-size=4096" xo --fix, prettier --write

fix: issue for playwright patternhub
  showcases/playwright.config.ts
Due: jscpd --exitCode 1 ., cross-env TIMING=1 NODE_OPTIONS="--max-old-space-size=4096" xo --fix, prettier --write

docs: adds wip research for animation component
  docs/research/animation-wrapper.md
Due: jscpd --exitCode 1 ., markdownlint -c .markdown-lint.yml

docs: adds wip research for animation component
  docs/research/footer.md
Due: jscpd --exitCode 1 ., markdownlint -c .markdown-lint.yml

feat: add autocompletion for web-components
  output/stencil/README.md
  output/stencil/custom-elements-manifest.config.js
  output/stencil/package.json
  output/stencil/scripts/analyzePhase.js
  output/stencil/scripts/packageLinkPhase.js
  output/stencil/scripts/resolveTypes.js
  package-lock.json
  packages/components/_templates/mitosis/new/component/model.ejs.t
  packages/components/src/components/accordion-item/model.ts
  packages/components/src/components/accordion/model.ts
  packages/components/src/components/badge/model.ts
  packages/components/src/components/brand/model.ts
  packages/components/src/components/button/button.lite.tsx
  packages/components/src/components/checkbox/model.ts
  packages/components/src/components/drawer/model.ts
  packages/components/src/components/header/model.ts
  packages/components/src/components/infotext/model.ts
  packages/components/src/components/link/model.ts
  packages/components/src/components/navigation-item/model.ts
  packages/components/src/components/navigation/model.ts
  packages/components/src/components/notification/model.ts
  packages/components/src/components/page/model.ts
  packages/components/src/components/popover/model.ts
  packages/components/src/components/radio/model.ts
  packages/components/src/components/section/model.ts
  packages/components/src/components/select/model.ts
  packages/components/src/components/switch/model.ts
  packages/components/src/components/tab-list/model.ts
  packages/components/src/components/tab-panel/model.ts
  packages/components/src/components/tabs/model.ts
  packages/components/src/components/tag/model.ts
  packages/components/src/components/textarea/model.ts
  packages/components/src/components/tooltip/model.ts
  packages/components/src/shared/model.ts
Due: jscpd --exitCode 1 ., markdownlint -c .markdown-lint.yml, cross-env TIMING=1 NODE_OPTIONS="--max-old-space-size=4096" xo --fix, prettier --write

chore: update from main
  package-lock.json
Due: jscpd --exitCode 1 .
