Repository nekator/mono: changes, and which lint-staged commands are due for each by the changed paths.
All: jscpd --exitCode 1 ., markdownlint -c .markdown-lint.yml, stylelint --fix, cross-env TIMING=1 NODE_OPTIONS="--max-old-space-size=4096" xo --fix, prettier --write, prettier --write --ignore-unknown

fix: issue with missing uuid function for react
  packages/components/scripts/post-build/react.js
  packages/components/src/components/checkbox/checkbox.lite.tsx
  packages/components/src/components/drawer/drawer.lite.tsx
  packages/components/src/components/radio/radio.lite.tsx
  packages/components/src/components/tab-list/tab-list.lite.tsx
  packages/components/src/components/tab-panel/tab-panel.lite.tsx
  packages/components/src/components/tab/tab.lite.tsx
Due: jscpd --exitCode 1 ., cross-env TIMING=1 NODE_OPTIONS="--max-old-space-size=4096" xo --fix, prettier --write

fix: issue with missing uuid function for react
  packages/components/scripts/post-build/react.js
Due: jscpd --exitCode 1 ., cross-env TIMING=1 NODE_OPTIONS="--max-old-space-size=4096" xo --fix, prettier --write

refactor: regenerated package lock file
  package-lock.json
Due: jscpd --exitCode 1 .

chore: update fonts and transitions chore: update background-color for adaptive components chore: removed style-dictionary
  .gitignore
  package-lock.json
  packages/components/src/components/accordion-item/accordion-item.scss
  packages/components/src/components/drawer/drawer.scss
  packages/components/src/components/header/header.scss
  packages/components/src/components/infotext/infotext.scss
  packages/components/src/components/navigation-item/navigation-item.scss
  packages/components/src/components/page/page.scss
  packages/components/src/components/radio/radio.scss
  packages/components/src/components/tab-list/tab-list.scss
  packages/components/src/components/textarea/textarea.scss
  packages/components/src/components/tooltip/tooltip.scss
  packages/components/src/styles/_db-puls.scss
  packages/components/src/styles/_form-components.scss
  packages/components/src/styles/_popover-component.scss
  packages/components/src/styles/_scrollbar.scss
  packages/components/src/styles/db-ui-42.scss
  packages/foundations/package.json
  packages/foundations/scripts/tailwind-config-generator.mjs
  packages/foundations/scripts/zeplin-styleguide.js
  packages/foundations/scss/_font-faces.scss
  packages/foundations/scss/_init.scss
  packages/foundations/scss/_variables.scss
  packages/foundations/scss/animation/_transitions.scss
  packages/foundations/scss/default-theme.scss
  packages/foundations/style-dictionary.config.json
  packages/foundations/style-dictionary.js
  packages/foundations/tailwind/tailwind-tokens.json
  packages/foundations/tailwind/tailwind.config.js
  packages/foundations/tokens/README.md
  packages/foundations/tokens/font.jsonc
  packages/foundations/tokens/tailwind/font-size.json
  packages/foundations/tokens/tailwind/screens.json
  packages/foundations/tokens/tailwind/spacing.json
  packages/foundations/tokens/transition.json
Due: jscpd --exitCode 1 ., markdownlint -c .markdown-lint.yml, stylelint --fix, cross-env TIMING=1 NODE_OPTIONS="--max-old-space-size=4096" xo --fix, prettier --write

chore: update brand colors
  packages/foundations/scss/colors/_default-color-scheme.scss
  packages/foundations/scss/colors/_default-palette.scss
Due: jscpd --exitCode 1 ., stylelint --fix

chore: update from main
  package-lock.json
Due: jscpd --exitCode 1 .

feat: add anchor headings for patternhub (#2011)
  package-lock.json
  packages/components/src/components/page/page.scss
  showcases/patternhub/components/default-page.tsx
  showcases/patternhub/components/link-header/index.tsx
  showcases/patternhub/components/static-content.tsx
  showcases/patternhub/next.config.js
  showcases/patternhub/package.json
  showcases/patternhub/pages/_app.tsx
  showcases/patternhub/styles/globals.scss
  showcases/showcase-styles.css
Due: jscpd --exitCode 1 ., stylelint --fix, cross-env TIMING=1 NODE_OPTIONS="--max-old-space-size=4096" xo --fix, prettier --write

fix: icon alignment for all [data-icon] (#2271)
  __snapshots__/tabs/showcase/chromium/regular/neutral/DBTabs-should-match-screenshot.png
  __snapshots__/tabs/showcase/firefox/regular/neutral/DBTabs-should-match-screenshot.png
  __snapshots__/tabs/showcase/mobile-chrome/regular/neutral/DBTabs-should-match-screenshot.png
  __snapshots__/tabs/showcase/mobile-safari/regular/neutral/DBTabs-should-match-screenshot.png
  __snapshots__/tabs/showcase/webkit/regular/neutral/DBTabs-should-match-screenshot.png
  packages/components/src/components/icon/icon.scss
  packages/foundations/scss/icons/include.scss
Due: jscpd --exitCode 1 ., stylelint --fix

docs(other design systems): added new entries
  docs/research-other-design-systems.md
Due: jscpd --exitCode 1 ., markdownlint -c .markdown-lint.yml

Update design-systems.js
  docs/scripts/component-research/design-systems.js
Due: jscpd --exitCode 1 ., cross-env TIMING=1 NODE_OPTIONS="--max-old-space-size=4096" xo --fix, prettier --write

chore: update tabs overview (#2279)
  __snapshots__/tabs/showcase/chromium/regular/neutral/DBTabs-should-match-screenshot.png
  __snapshots__/tabs/showcase/firefox/regular/neutral/DBTabs-should-match-screenshot.png
  __snapshots__/tabs/showcase/mobile-chrome/regular/neutral/DBTabs-should-match-screenshot.png
  __snapshots__/tabs/showcase/mobile-safari/regular/neutral/DBTabs-should-match-screenshot.png
  __snapshots__/tabs/showcase/webkit/regular/neutral/DBTabs-should-match-screenshot.png
  showcases/shared/tabs.json
Due: jscpd --exitCode 1 .

chore: update from main
  __snapshots__/input/showcase/firefox/regular/neutral/DBInput-should-match-screenshot.png
  __snapshots__/tabs/showcase/chromium/regular/neutral/DBTabs-should-match-screenshot.png
  __snapshots__/tabs/showcase/firefox/regular/neutral/DBTabs-should-match-screenshot.png
  __snapshots__/tabs/showcase/mobile-chrome/regular/neutral/DBTabs-should-match-screenshot.png
  __snapshots__/tabs/showcase/mobile-safari/regular/neutral/DBTabs-should-match-screenshot.png
  __snapshots__/tabs/showcase/webkit/regular/neutral/DBTabs-should-match-screenshot.png
  package-lock.json
Due: jscpd --exitCode 1 .

Path conditions:
  jscpd --exitCode 1 .: any of: *
  markdownlint -c .markdown-lint.yml: any of: *.md
  stylelint --fix: any of: *.{css,scss}
  cross-env TIMING=1 NODE_OPTIONS="--max-old-space-size=4096" xo --fix: any of: *.{js,ts,tsx}
  prettier --write: any of: *.{js,ts,tsx}
  prettier --write --ignore-unknown: any of: *.!{js,ts,tsx}
