Repository nekator/mono: changes, and which lint-staged commands are due for each by the changed paths.
All: jscpd --exitCode 1 ., markdownlint -c .markdown-lint.yml, stylelint --fix, cross-env TIMING=1 NODE_OPTIONS="--max-old-space-size=4096" xo --fix, prettier --write, prettier --write --ignore-unknown

.lintstagedrc:

{
	"*": "jscpd --exitCode 1 .",
	"*.md": "markdownlint -c .markdown-lint.yml",
	"*.{css,scss}": "stylelint --fix",
	"*.{js,ts,tsx}": ["cross-env TIMING=1 NODE_OPTIONS=\"--max-old-space-size=4096\" xo --fix", "prettier --write"],
	"*.!{js,ts,tsx}": "prettier --write --ignore-unknown"
}

refactor: beautify
  packages/components/src/utils/index.ts
Due: jscpd --exitCode 1 ., cross-env TIMING=1 NODE_OPTIONS="--max-old-space-size=4096" xo --fix, prettier --write

refactor: deactivate divider generation again for now
  build-power-apps/DBUI/DBUI.cdsproj
Due: jscpd --exitCode 1 .

feat: added correct default values
  packages/components/src/components/divider/divider.lite.tsx
Due: jscpd --exitCode 1 ., cross-env TIMING=1 NODE_OPTIONS="--max-old-space-size=4096" xo --fix, prettier --write

refactor: changed syntax
  packages/components/_templates/power-apps/new/comp-xml.ejs.t
Due: jscpd --exitCode 1 .

refactor(input): optimized showcase
  showcases/shared/input.json
Due: jscpd --exitCode 1 .

fix(power apps): added missing selector for font-family definition
  packages/foundations/scss/_tonality.scss
Due: jscpd --exitCode 1 ., stylelint --fix

test: 💍 updated screenshots for db-input
  __snapshots__/input/showcase/chromium/regular/neutral/DBInput-should-match-screenshot.png
  __snapshots__/input/showcase/mobile-chrome/regular/neutral/DBInput-should-match-screenshot.png
  __snapshots__/input/showcase/mobile-safari/regular/neutral/DBInput-should-match-screenshot.png
  __snapshots__/input/showcase/webkit/regular/neutral/DBInput-should-match-screenshot.png
Due: jscpd --exitCode 1 .

test: 💍 updated script for screenshot regeneration
  package.json
Due: jscpd --exitCode 1 .

refactor: we need to add this again
  showcases/shared/input.json
Due: jscpd --exitCode 1 .

test: 💍 updated screenshots part 2
  __snapshots__/input/showcase/chromium/regular/neutral/DBInput-should-match-screenshot.png
  __snapshots__/input/showcase/mobile-chrome/regular/neutral/DBInput-should-match-screenshot.png
  __snapshots__/input/showcase/mobile-safari/regular/neutral/DBInput-should-match-screenshot.png
  __snapshots__/input/showcase/webkit/regular/neutral/DBInput-should-match-screenshot.png
Due: jscpd --exitCode 1 .
