Repository nekator/mono: changes, and which lint-staged commands are due for each by the changed paths.
All: jscpd --exitCode 1 ., markdownlint -c .markdown-lint.yml, stylelint --fix, cross-env TIMING=1 NODE_OPTIONS="--max-old-space-size=4096" xo --fix, prettier --write, prettier --write --ignore-unknown

fix: wrong property for notification (#2758)
  __snapshots__/notification/showcase/chromium/regular/neutral-bg-lvl-1/DBNotification-should-match-screenshot.png
  __snapshots__/notification/showcase/firefox/regular/neutral-bg-lvl-1/DBNotification-should-match-screenshot.png
  __snapshots__/notification/showcase/mobile-chrome/regular/neutral-bg-lvl-1/DBNotification-should-match-screenshot.png
  __snapshots__/notification/showcase/mobile-safari/regular/neutral-bg-lvl-1/DBNotification-should-match-screenshot.png
  __snapshots__/notification/showcase/webkit/regular/neutral-bg-lvl-1/DBNotification-should-match-screenshot.png
  showcases/shared/notification.json
Due: jscpd --exitCode 1 .

fix: issue with patternhub copy (#2767)
  .github/workflows/03-deploy-gh-pages.yml
Due: jscpd --exitCode 1 .

refactor: added further logging
  .github/scripts/build-gh-page.sh
Due: jscpd --exitCode 1 .

chore: update from main
  package-lock.json
Due: jscpd --exitCode 1 .

fix: issue with tailwind tokens causing esbuild warning (#2769)
  packages/foundations/tailwind/tailwind-tokens.json
Due: jscpd --exitCode 1 .

fix: issue with linting
  .eslintignore
Due: jscpd --exitCode 1 .

fix: issue with building react showcase
  showcases/react-showcase/src/main.tsx
Due: jscpd --exitCode 1 ., cross-env TIMING=1 NODE_OPTIONS="--max-old-space-size=4096" xo --fix, prettier --write

fix: linting issue
  showcases/react-showcase/src/main.tsx
Due: jscpd --exitCode 1 ., cross-env TIMING=1 NODE_OPTIONS="--max-old-space-size=4096" xo --fix, prettier --write

Update tooltip.scss
  packages/components/src/components/tooltip/tooltip.scss
Due: jscpd --exitCode 1 ., stylelint --fix

chore: remove global has selectors and refactor tooltip & badge
  packages/components/src/components/badge/badge.lite.tsx
  packages/components/src/components/badge/badge.scss
  packages/components/src/components/badge/model.ts
  packages/components/src/components/tooltip/tooltip.lite.tsx
  packages/components/src/components/tooltip/tooltip.scss
  showcases/angular-showcase/src/app/components/tooltip/tooltip.component.html
  showcases/react-showcase/src/components/tooltip/index.tsx
  showcases/vue-showcase/src/components/tooltip/Tooltip.vue
Due: jscpd --exitCode 1 ., stylelint --fix, cross-env TIMING=1 NODE_OPTIONS="--max-old-space-size=4096" xo --fix, prettier --write

chore: update package-lock.json
  package-lock.json
Due: jscpd --exitCode 1 .

refactor(codeowners): added bruno (#2770)
  CODEOWNERS
Due: jscpd --exitCode 1 .

Path conditions:
  jscpd --exitCode 1 .: any of: *
  markdownlint -c .markdown-lint.yml: any of: *.md
  stylelint --fix: any of: *.{css,scss}
  cross-env TIMING=1 NODE_OPTIONS="--max-old-space-size=4096" xo --fix: any of: *.{js,ts,tsx}
  prettier --write: any of: *.{js,ts,tsx}
  prettier --write --ignore-unknown: any of: *.!{js,ts,tsx}
