Repository nekator/mono: changes, and which lint-staged commands are due for each by the changed paths.
All: jscpd --exitCode 1 ., markdownlint -c .markdown-lint.yml, stylelint --fix, cross-env TIMING=1 NODE_OPTIONS="--max-old-space-size=4096" xo --fix, prettier --write, prettier --write --ignore-unknown

chore: update snapshots
  __snapshots__/divider/patternhub/divider-overview-should-match-screenshot.png
  __snapshots__/foundations/chromium/Icons-should-match-screenshot-1/Icons-should-match-screenshot.png
  __snapshots__/foundations/firefox/Icons-should-match-screenshot-1/Icons-should-match-screenshot.png
  __snapshots__/foundations/webkit/Icons-should-match-screenshot-1/Icons-should-match-screenshot.png
  __snapshots__/infotext/component/chromium/DBInfotext-should-match-screenshot-for-semantic-critical.png
  __snapshots__/infotext/component/chromium/DBInfotext-should-match-screenshot-for-semantic-informational.png
  __snapshots__/infotext/component/chromium/DBInfotext-should-match-screenshot-for-semantic-warning.png
  __snapshots__/infotext/component/chromium/DBInfotext-should-match-screenshot.png
  __snapshots__/infotext/component/firefox/DBInfotext-should-match-screenshot-for-semantic-informational.png
  __snapshots__/infotext/component/firefox/DBInfotext-should-match-screenshot.png
  __snapshots__/infotext/component/mobile-chrome/DBInfotext-should-match-screenshot-for-semantic-critical.png
  __snapshots__/infotext/component/mobile-chrome/DBInfotext-should-match-screenshot-for-semantic-informational.png
  __snapshots__/infotext/component/mobile-chrome/DBInfotext-should-match-screenshot-for-semantic-warning.png
  __snapshots__/infotext/component/mobile-chrome/DBInfotext-should-match-screenshot.png
  __snapshots__/infotext/patternhub/infotext-overview-should-match-screenshot.png
  __snapshots__/notification/component/chromium/DBNotification-should-match-screenshot-for-semantic-informational.png
  __snapshots__/notification/component/chromium/DBNotification-should-match-screenshot-for-semantic-warning.png
  __snapshots__/notification/component/firefox/DBNotification-should-match-screenshot-for-semantic-critical.png
  __snapshots__/notification/component/firefox/DBNotification-should-match-screenshot-for-semantic-informational.png
  __snapshots__/notification/component/firefox/DBNotification-should-match-screenshot-for-semantic-warning.png
  __snapshots__/notification/component/mobile-chrome/DBNotification-should-match-screenshot-for-semantic-informational.png
  __snapshots__/notification/component/mobile-chrome/DBNotification-should-match-screenshot-for-semantic-warning.png
  __snapshots__/notification/patternhub/notification-overview-should-match-screenshot.png
  __snapshots__/notification/showcase/chromium-highContrast/DBNotification-should-match-screenshot-1/DBNotification-should-match-screenshot.png
Due: jscpd --exitCode 1 .

style: enable default text-decoration for `.db-link` (#3475)
  packages/components/src/styles/_link-components.scss
Due: jscpd --exitCode 1 ., stylelint --fix

chore: add aria snapshot tests
  packages/components/src/components/accordion-item/accordion-item.spec.tsx
  packages/components/src/components/accordion/accordion.spec.tsx
  packages/components/src/components/badge/badge.spec.tsx
  packages/components/src/components/brand/brand.spec.tsx
  packages/components/src/components/button/button.spec.tsx
  packages/components/src/components/card/card.spec.tsx
  packages/components/src/components/checkbox/checkbox.spec.tsx
  packages/components/src/components/divider/divider.spec.tsx
  packages/components/src/components/drawer/drawer.spec.tsx
  packages/components/src/components/infotext/infotext.spec.tsx
  packages/components/src/components/input/input.spec.tsx
  packages/components/src/components/navigation-item/navigation-item.spec.tsx
  packages/components/src/components/navigation/navigation.spec.tsx
  packages/components/src/components/notification/notification.spec.tsx
  packages/components/src/components/popover/popover.spec.tsx
  packages/components/src/components/radio/radio.spec.tsx
  packages/components/src/components/select/select.spec.tsx
  packages/components/src/components/tabs/tabs.spec.tsx
  packages/components/src/components/tag/tag.spec.tsx
  packages/components/src/components/textarea/textarea.spec.tsx
  showcases/screen-reader/__snapshots__/macos/webkit/DBNavigation-default-1.txt
  showcases/screen-reader/__snapshots__/macos/webkit/DBTabs-default-1.txt
Due: jscpd --exitCode 1 ., cross-env TIMING=1 NODE_OPTIONS="--max-old-space-size=4096" xo --fix, prettier --write

fix: issue with tests
  packages/components/src/components/button/button.spec.tsx
  packages/components/src/components/card/card.spec.tsx
Due: jscpd --exitCode 1 ., cross-env TIMING=1 NODE_OPTIONS="--max-old-space-size=4096" xo --fix, prettier --write

chore: update snapshots
  __snapshots__/button/component/chromium/DBButton-should-have-same-aria-snapshot.yaml
  __snapshots__/button/component/firefox/DBButton-should-have-same-aria-snapshot.yaml
  __snapshots__/button/component/mobile-chrome/DBButton-should-have-same-aria-snapshot.yaml
  __snapshots__/card/component/chromium/DBCard-should-have-same-aria-snapshot.yaml
  __snapshots__/card/component/firefox/DBCard-should-have-same-aria-snapshot.yaml
  __snapshots__/card/component/mobile-chrome/DBCard-should-have-same-aria-snapshot.yaml
Due: jscpd --exitCode 1 .

chore: add aria snapshots for showcases
  packages/components/_templates/mitosis/new/showcases/e2e-snapshot-test.ejs.t
  showcases/e2e/accordion-item/accordion-item-snapshot.spec.ts
  showcases/e2e/accordion/accordion-snapshot.spec.ts
  showcases/e2e/badge/badge-snapshot.spec.ts
  showcases/e2e/brand/brand-snapshot.spec.ts
  showcases/e2e/button/button-snapshot.spec.ts
  showcases/e2e/card/card-snapshot.spec.ts
  showcases/e2e/checkbox/checkbox-snapshot.spec.ts
  showcases/e2e/default.ts
  showcases/e2e/divider/divider-snapshot.spec.ts
  showcases/e2e/drawer/drawer-snapshot.spec.ts
  showcases/e2e/header/header-snapshot.spec.ts
  showcases/e2e/icon/icon-snapshot.spec.ts
  showcases/e2e/infotext/infotext-snapshot.spec.ts
  showcases/e2e/input/input-snapshot.spec.ts
  showcases/e2e/link/link-snapshot.spec.ts
  showcases/e2e/navigation-item/navigation-item-snapshot.spec.ts
  showcases/e2e/navigation/navigation-snapshot.spec.ts
  showcases/e2e/notification/notification-snapshot.spec.ts
  showcases/e2e/popover/popover-snapshot.spec.ts
  showcases/e2e/radio/radio-snapshot.spec.ts
  showcases/e2e/section/section-snapshot.spec.ts
  showcases/e2e/select/select-snapshot.spec.ts
  showcases/e2e/switch/switch-snapshot.spec.ts
  showcases/e2e/tab-item/tab-item-snapshot.spec.ts
  showcases/e2e/tabs/tabs-snapshot.spec.ts
  showcases/e2e/tag/tag-snapshot.spec.ts
  showcases/e2e/textarea/textarea-snapshot.spec.ts
  showcases/e2e/tooltip/tooltip-snapshot.spec.ts
Due: jscpd --exitCode 1 ., cross-env TIMING=1 NODE_OPTIONS="--max-old-space-size=4096" xo --fix, prettier --write

refactor: prettification
  showcases/next-showcase/tsconfig.json
Due: jscpd --exitCode 1 .

chore: update snapshots
  __snapshots__/textarea/component/chromium/DBTextarea-should-have-same-aria-snapshot.yaml
  __snapshots__/textarea/component/firefox/DBTextarea-should-have-same-aria-snapshot.yaml
  __snapshots__/textarea/component/mobile-chrome/DBTextarea-should-have-same-aria-snapshot.yaml
Due: jscpd --exitCode 1 .

fix: uncomment some broken ariaSnapshot tests
  showcases/e2e/checkbox/checkbox-snapshot.spec.ts
  showcases/e2e/radio/radio-snapshot.spec.ts
  showcases/e2e/textarea/textarea-snapshot.spec.ts
Due: jscpd --exitCode 1 ., cross-env TIMING=1 NODE_OPTIONS="--max-old-space-size=4096" xo --fix, prettier --write

fix: issue with next and previous buttons for patternhub
  showcases/patternhub/data/routes.tsx
  showcases/patternhub/scripts/generate-docs-mdx.js
  showcases/patternhub/scripts/generate-example-jsx.js
  showcases/patternhub/scripts/generate-test-table.js
Due: jscpd --exitCode 1 ., cross-env TIMING=1 NODE_OPTIONS="--max-old-space-size=4096" xo --fix, prettier --write

chore: add prettier to lintstaged (#3485)
  .config/.lintstagedrc-prettier.js
  .husky/pre-commit
Due: jscpd --exitCode 1 ., cross-env TIMING=1 NODE_OPTIONS="--max-old-space-size=4096" xo --fix, prettier --write

chore: update snapshots
  showcases/e2e/switch/switch-snapshot.spec.ts
Due: jscpd --exitCode 1 ., cross-env TIMING=1 NODE_OPTIONS="--max-old-space-size=4096" xo --fix, prettier --write

refactor: removed inner div inside section.lite.tsx (#3477)
  __snapshots__/section/patternhub/section-overview-should-match-screenshot.png
  __snapshots__/section/showcase/chromium-highContrast/DBSection-should-match-screenshot-1/DBSection-should-match-screenshot.png
  __snapshots__/section/showcase/chromium/DBSection-should-match-screenshot-1/DBSection-should-match-screenshot.png
  __snapshots__/section/showcase/firefox/DBSection-should-match-screenshot-1/DBSection-should-match-screenshot.png
  __snapshots__/section/showcase/mobile-chrome/DBSection-should-match-screenshot-1/DBSection-should-match-screenshot.png
  __snapshots__/section/showcase/mobile-safari/DBSection-should-match-screenshot-1/DBSection-should-match-screenshot.png
  __snapshots__/section/showcase/webkit/DBSection-should-match-screenshot-1/DBSection-should-match-screenshot.png
  packages/components/src/components/section/section.lite.tsx
  packages/components/src/components/section/section.scss
  packages/components/src/utils/index.ts
  showcases/angular-showcase/src/app/components/section/section.component.html
  showcases/angular-showcase/src/app/components/section/section.component.ts
  showcases/react-showcase/src/components/section/index.tsx
  showcases/screen-reader/__snapshots__/macos/webkit/DBSection-default-1.txt
  showcases/screen-reader/__snapshots__/windows/chromium/DBSection-default-1.txt
  showcases/screen-reader/tests/section.spec.ts
  showcases/showcase-styles.css
  showcases/vue-showcase/src/components/section/Section.vue
Due: jscpd --exitCode 1 ., stylelint --fix, cross-env TIMING=1 NODE_OPTIONS="--max-old-space-size=4096" xo --fix, prettier --write

Update drawer.scss
  packages/components/src/components/drawer/drawer.scss
Due: jscpd --exitCode 1 ., stylelint --fix

refactor(accordion): adapt native standard for `behaviour` (#3218)
  __snapshots__/accordion/patternhub/accordion-properties-should-match-screenshot.png
  package-lock.json
  packages/components/scripts/post-build/angular.ts
  packages/components/scripts/post-build/components.ts
  packages/components/src/components/accordion-item/accordion-item.lite.tsx
  packages/components/src/components/accordion-item/accordion-item.scss
  packages/components/src/components/accordion-item/accordion-item.spec.tsx
  packages/components/src/components/accordion-item/model.ts
  packages/components/src/components/accordion/accordion.lite.tsx
  packages/components/src/components/accordion/accordion.scss
  packages/components/src/components/accordion/accordion.spec.tsx
  packages/components/src/components/accordion/model.ts
  packages/components/src/shared/model.ts
  showcases/e2e/accordion-item/accordion-item-a11y.spec.ts
  showcases/e2e/accordion/accordion-a11y.spec.ts
  showcases/screen-reader/__snapshots__/macos/webkit/DBAccordion-default-1.txt
  showcases/screen-reader/__snapshots__/windows/chromium/DBAccordion-default-1.txt
Due: jscpd --exitCode 1 ., stylelint --fix, cross-env TIMING=1 NODE_OPTIONS="--max-old-space-size=4096" xo --fix, prettier --write

fix: issue with wrong route for input
  showcases/patternhub/components/old-routing-fallback/index.tsx
Due: jscpd --exitCode 1 ., cross-env TIMING=1 NODE_OPTIONS="--max-old-space-size=4096" xo --fix, prettier --write

chore: update snapshots
  __snapshots__/stack/component/chromium/DBStack-should-match-screenshot.png
  __snapshots__/stack/component/firefox/DBStack-should-match-screenshot.png
  __snapshots__/stack/component/mobile-chrome/DBStack-should-match-screenshot.png
  __snapshots__/stack/showcase/chromium-highContrast/DBStack-should-match-screenshot-1/DBStack-should-match-screenshot.png
  __snapshots__/stack/showcase/chromium/DBStack-should-match-screenshot-1/DBStack-should-match-screenshot.png
  __snapshots__/stack/showcase/firefox/DBStack-should-match-screenshot-1/DBStack-should-match-screenshot.png
  __snapshots__/stack/showcase/mobile-chrome/DBStack-should-match-screenshot-1/DBStack-should-match-screenshot.png
  __snapshots__/stack/showcase/mobile-safari/DBStack-should-match-screenshot-1/DBStack-should-match-screenshot.png
  __snapshots__/stack/showcase/webkit/DBStack-should-match-screenshot-1/DBStack-should-match-screenshot.png
  __snapshots__/textarea/component/chromium/DBTextarea-should-have-same-aria-snapshot.yaml
  __snapshots__/textarea/component/firefox/DBTextarea-should-have-same-aria-snapshot.yaml
  __snapshots__/textarea/component/mobile-chrome/DBTextarea-should-have-same-aria-snapshot.yaml
Due: jscpd --exitCode 1 .

refactor: resolves a dependabot alert (#3479)
  e2e/package.json
  package-lock.json
  package.json
  showcases/next-showcase/package.json
  showcases/stencil-showcase/package.json
Due: jscpd --exitCode 1 .

Path conditions:
  jscpd --exitCode 1 .: any of: *
  markdownlint -c .markdown-lint.yml: any of: *.md
  stylelint --fix: any of: *.{css,scss}
  cross-env TIMING=1 NODE_OPTIONS="--max-old-space-size=4096" xo --fix: any of: *.{js,ts,tsx}
  prettier --write: any of: *.{js,ts,tsx}
  prettier --write --ignore-unknown: any of: *.!{js,ts,tsx}
