Repository nekator/mono: changes, and which lint-staged commands are due for each by the changed paths.
All: jscpd --exitCode 1 ., markdownlint -c .markdown-lint.yml, stylelint --fix, cross-env TIMING=1 NODE_OPTIONS="--max-old-space-size=4096" xo --fix, prettier --write, prettier --write --ignore-unknown

fix: wrong/missing react attributes (#2337)
  packages/components/scripts/post-build/react.js
  packages/components/src/components/accordion-item/accordion-item.lite.tsx
  packages/components/src/components/accordion-item/accordion-item.spec.tsx
  packages/components/src/components/accordion-item/model.ts
  packages/components/src/components/accordion/accordion.lite.tsx
  packages/components/src/components/accordion/accordion.spec.tsx
  packages/components/src/components/button/button.lite.tsx
  packages/components/src/components/icon/icon.lite.tsx
  packages/components/src/components/infotext/infotext.lite.tsx
  packages/components/src/components/link/link.lite.tsx
  packages/components/src/shared/model.ts
  packages/components/src/utils/index.ts
  showcases/angular-showcase/src/app/components/accordion-item/accordion-item.component.html
  showcases/angular-showcase/src/app/components/accordion/accordion.component.html
  showcases/react-showcase/src/components/accordion-item/index.tsx
  showcases/react-showcase/src/components/accordion/index.tsx
  showcases/react-showcase/src/components/brand/index.tsx
  showcases/react-showcase/src/components/header/index.tsx
  showcases/react-showcase/src/components/page/index.tsx
  showcases/shared/accordion-item.json
  showcases/shared/accordion.json
  showcases/vue-showcase/src/components/accordion-item/AccordionItem.vue
  showcases/vue-showcase/src/components/accordion/Accordion.vue
Due: jscpd --exitCode 1 ., cross-env TIMING=1 NODE_OPTIONS="--max-old-space-size=4096" xo --fix, prettier --write

docs: update overview for checkbox and radio (#2484)
  showcases/shared/checkbox.json
  showcases/shared/radio.json
Due: jscpd --exitCode 1 .

feat: add auto close to navigation-item inside header and main-navigation (#2344)
  packages/components/src/components/header/header.lite.tsx
  packages/components/src/components/header/model.ts
  packages/components/src/components/main-navigation/main-navigation.lite.tsx
  packages/components/src/components/main-navigation/main-navigation.scss
  packages/components/src/components/main-navigation/model.ts
  packages/components/src/shared/model.ts
  packages/components/src/utils/navigation.ts
Due: jscpd --exitCode 1 ., stylelint --fix, cross-env TIMING=1 NODE_OPTIONS="--max-old-space-size=4096" xo --fix, prettier --write

fix: issue with user-valid for form-components (#2496)
  packages/components/src/components/checkbox/checkbox.scss
  packages/components/src/components/radio/radio.scss
  packages/components/src/styles/_form-components.scss
Due: jscpd --exitCode 1 ., stylelint --fix

docs: removed custom events from Readmes (#2498)
  output/angular/README.md
  output/react/README.md
  output/vue/vue3/README.md
  packages/components/src/components/textarea/docs/Angular.md
  packages/components/src/components/textarea/docs/React.md
  packages/components/src/components/textarea/docs/Vue.md
Due: jscpd --exitCode 1 ., markdownlint -c .markdown-lint.yml

docs: missing value to set openDrawer ref
  packages/components/src/components/drawer/docs/Vue.md
Due: jscpd --exitCode 1 ., markdownlint -c .markdown-lint.yml

Path conditions:
  jscpd --exitCode 1 .: any of: *
  markdownlint -c .markdown-lint.yml: any of: *.md
  stylelint --fix: any of: *.{css,scss}
  cross-env TIMING=1 NODE_OPTIONS="--max-old-space-size=4096" xo --fix: any of: *.{js,ts,tsx}
  prettier --write: any of: *.{js,ts,tsx}
  prettier --write --ignore-unknown: any of: *.!{js,ts,tsx}
