Repository nekator/mono: changes, and which lint-staged commands are due for each by the changed paths.
All: jscpd --exitCode 1 ., markdownlint -c .markdown-lint.yml, stylelint --fix, cross-env TIMING=1 NODE_OPTIONS="--max-old-space-size=4096" xo --fix, prettier --write, prettier --write --ignore-unknown

fix: fixes some next issues like base-path
  showcases/next-showcase/next.config.js
  showcases/next-showcase/pages/[[...slug]].tsx
  showcases/next-showcase/public/assets/images/db_logo.svg
  showcases/next-showcase/public/assets/images/placeholder.jpg
  showcases/next-showcase/styles/global.scss
  showcases/next-showcase/tsconfig.json
  showcases/patternhub/next.config.js
  showcases/patternhub/package.json
  showcases/patternhub/scripts/fix-base-path.js
  showcases/react-showcase/src/components/index.tsx
  showcases/react-showcase/src/components/notification/index.tsx
  showcases/react-showcase/src/hooks/use-query.tsx
  showcases/react-showcase/src/hooks/use-universal-search-parameters.ts
  showcases/react-showcase/src/main.tsx
  showcases/react-showcase/src/meta-navigation/index.tsx
  showcases/react-showcase/src/utils/base-path.ts
Due: jscpd --exitCode 1 ., stylelint --fix, cross-env TIMING=1 NODE_OPTIONS="--max-old-space-size=4096" xo --fix, prettier --write

fix: issues with header with wrong spacings and dividers based on slots (#2611)
  __snapshots__/brand/component/chromium/DBBrand-should-match-screenshot.png
  __snapshots__/brand/component/firefox/DBBrand-should-match-screenshot.png
  __snapshots__/brand/component/mobile-chrome/DBBrand-should-match-screenshot.png
  __snapshots__/brand/showcase/chromium/regular/neutral/DBBrand-should-match-screenshot.png
  __snapshots__/brand/showcase/firefox/regular/neutral/DBBrand-should-match-screenshot.png
  __snapshots__/brand/showcase/mobile-chrome/regular/neutral/DBBrand-should-match-screenshot.png
  __snapshots__/brand/showcase/mobile-safari/regular/neutral/DBBrand-should-match-screenshot.png
  __snapshots__/brand/showcase/webkit/regular/neutral/DBBrand-should-match-screenshot.png
  docs/migration/alpha-beta.md
  package-lock.json
  packages/components/scripts/post-build/components.js
  packages/components/src/components/brand/brand.scss
  packages/components/src/components/header/docs/HTML.md
  packages/components/src/components/header/header.lite.tsx
  packages/components/src/components/header/header.scss
  packages/components/src/components/header/model.ts
  packages/components/src/components/page/page.lite.tsx
  packages/components/src/components/page/page.scss
  showcases/angular-showcase/src/app/app.component.html
  showcases/angular-showcase/src/app/app.component.ts
  showcases/angular-showcase/src/app/components/header/header.component.html
  showcases/angular-showcase/src/app/components/header/header.component.ts
  showcases/angular-showcase/src/app/utils/navigation-item.ts
  showcases/patternhub/components/default-page.tsx
  showcases/react-showcase/src/app.tsx
  showcases/react-showcase/src/components/header/index.tsx
  showcases/react-showcase/src/components/page/index.tsx
  showcases/react-showcase/src/utils/navigation-item.tsx
  showcases/shared/header.json
  showcases/showcase-styles.css
  showcases/vue-showcase/src/components/header/Header.vue
  showcases/vue-showcase/src/utils/navigation-items.ts
Due: jscpd --exitCode 1 ., markdownlint -c .markdown-lint.yml, stylelint --fix, cross-env TIMING=1 NODE_OPTIONS="--max-old-space-size=4096" xo --fix, prettier --write

chore: update from main
  package-lock.json
  showcases/angular-showcase/src/app/components/header/header.component.html
  showcases/e2e/header/showcase-header.spec.ts
  showcases/react-showcase/src/components/header/index.tsx
  showcases/vue-showcase/src/components/header/Header.vue
Due: jscpd --exitCode 1 ., cross-env TIMING=1 NODE_OPTIONS="--max-old-space-size=4096" xo --fix, prettier --write

chore: update snapshots
  __snapshots__/brand/component/chromium/DBBrand-should-match-screenshot.png
  __snapshots__/brand/component/firefox/DBBrand-should-match-screenshot.png
  __snapshots__/brand/component/mobile-chrome/DBBrand-should-match-screenshot.png
  __snapshots__/brand/showcase/chromium/regular/neutral-bg-lvl-1/DBBrand-should-match-screenshot.png
  __snapshots__/brand/showcase/firefox/regular/neutral-bg-lvl-1/DBBrand-should-match-screenshot.png
  __snapshots__/brand/showcase/mobile-chrome/regular/neutral-bg-lvl-1/DBBrand-should-match-screenshot.png
  __snapshots__/brand/showcase/mobile-safari/regular/neutral-bg-lvl-1/DBBrand-should-match-screenshot.png
  __snapshots__/brand/showcase/webkit/regular/neutral-bg-lvl-1/DBBrand-should-match-screenshot.png
  __snapshots__/header/showcase/chromium/regular/neutral-bg-lvl-1/DBHeader-should-match-screenshot.png
  __snapshots__/header/showcase/firefox/regular/neutral-bg-lvl-1/DBHeader-should-match-screenshot.png
  __snapshots__/header/showcase/mobile-chrome/regular/neutral-bg-lvl-1/DBHeader-should-match-screenshot.png
  __snapshots__/header/showcase/mobile-safari/regular/neutral-bg-lvl-1/DBHeader-should-match-screenshot.png
  __snapshots__/header/showcase/webkit/regular/neutral-bg-lvl-1/DBHeader-should-match-screenshot.png
Due: jscpd --exitCode 1 .

fix: issue with v-model (#2627)
  packages/components/scripts/post-build/vue.js
Due: jscpd --exitCode 1 ., cross-env TIMING=1 NODE_OPTIONS="--max-old-space-size=4096" xo --fix, prettier --write

chore: simplification
  packages/components/src/styles/db-ui-components.scss
Due: jscpd --exitCode 1 ., stylelint --fix

refactor: removed disabled rule again
  showcases/e2e/input/showcase-input.spec.ts
Due: jscpd --exitCode 1 ., cross-env TIMING=1 NODE_OPTIONS="--max-old-space-size=4096" xo --fix, prettier --write

Update showcase-home.spec.ts
  showcases/e2e/home/showcase-home.spec.ts
Due: jscpd --exitCode 1 ., cross-env TIMING=1 NODE_OPTIONS="--max-old-space-size=4096" xo --fix, prettier --write

Update showcase-select.spec.ts
  showcases/e2e/select/showcase-select.spec.ts
Due: jscpd --exitCode 1 ., cross-env TIMING=1 NODE_OPTIONS="--max-old-space-size=4096" xo --fix, prettier --write

Update showcase-textarea.spec.ts
  showcases/e2e/textarea/showcase-textarea.spec.ts
Due: jscpd --exitCode 1 ., cross-env TIMING=1 NODE_OPTIONS="--max-old-space-size=4096" xo --fix, prettier --write

feat: add additional enum arrays for better TS support (#2639)
  __snapshots__/section/showcase/chromium/regular/neutral/DBSection-should-match-screenshot.png
  __snapshots__/section/showcase/firefox/regular/neutral/DBSection-should-match-screenshot.png
  __snapshots__/section/showcase/mobile-chrome/regular/neutral/DBSection-should-match-screenshot.png
  __snapshots__/section/showcase/mobile-safari/regular/neutral/DBSection-should-match-screenshot.png
  __snapshots__/section/showcase/webkit/regular/neutral/DBSection-should-match-screenshot.png
  docs/migration/alpha-beta.md
  packages/components/src/components/accordion/model.ts
  packages/components/src/components/badge/model.ts
  packages/components/src/components/button/model.ts
  packages/components/src/components/card/model.ts
  packages/components/src/components/divider/model.ts
  packages/components/src/components/drawer/model.ts
  packages/components/src/components/header/model.ts
  packages/components/src/components/icon/model.ts
  packages/components/src/components/input/model.ts
  packages/components/src/components/link/model.ts
  packages/components/src/components/notification/model.ts
  packages/components/src/components/page/model.ts
  packages/components/src/components/radio/model.ts
  packages/components/src/components/section/model.ts
  packages/components/src/components/section/section.lite.tsx
  packages/components/src/components/section/section.scss
  packages/components/src/components/tabs/model.ts
  packages/components/src/components/tag/model.ts
  packages/components/src/components/textarea/model.ts
  packages/components/src/components/tooltip/model.ts
  packages/components/src/shared/model.ts
  showcases/angular-showcase/src/app/components/section/section.component.html
  showcases/patternhub/components/default-page.tsx
  showcases/react-showcase/src/components/section/index.tsx
  showcases/shared/section.json
  showcases/vue-showcase/src/components/section/Section.vue
Due: jscpd --exitCode 1 ., markdownlint -c .markdown-lint.yml, stylelint --fix, cross-env TIMING=1 NODE_OPTIONS="--max-old-space-size=4096" xo --fix, prettier --write

feat: adds angular-ssr-showase
  .jscpd.json
  package-lock.json
  packages/components/package.json
  scripts/dev.js
  scripts/package.json
  showcases/angular-ssr-showcase/.editorconfig
  showcases/angular-ssr-showcase/.gitignore
  showcases/angular-ssr-showcase/.vscode/extensions.json
  showcases/angular-ssr-showcase/.vscode/launch.json
  showcases/angular-ssr-showcase/.vscode/tasks.json
  showcases/angular-ssr-showcase/README.md
  showcases/angular-ssr-showcase/angular.json
  showcases/angular-ssr-showcase/package.json
  showcases/angular-ssr-showcase/server.ts
  showcases/angular-ssr-showcase/src/app/app.config.server.ts
  showcases/angular-ssr-showcase/src/app/app.config.ts
  showcases/angular-ssr-showcase/src/app/app.routes.ts
  showcases/angular-ssr-showcase/src/assets/.gitkeep
  showcases/angular-ssr-showcase/src/assets/images/db_logo.svg
  showcases/angular-ssr-showcase/src/assets/images/placeholder.jpg
  showcases/angular-ssr-showcase/src/favicon.ico
  showcases/angular-ssr-showcase/src/index.html
  showcases/angular-ssr-showcase/src/main.server.ts
  showcases/angular-ssr-showcase/src/main.ts
  showcases/angular-ssr-showcase/src/styles.css
  showcases/angular-ssr-showcase/tsconfig.app.json
  showcases/angular-ssr-showcase/tsconfig.json
Due: jscpd --exitCode 1 ., markdownlint -c .markdown-lint.yml, stylelint --fix, cross-env TIMING=1 NODE_OPTIONS="--max-old-space-size=4096" xo --fix, prettier --write

Path conditions:
  jscpd --exitCode 1 .: any of: *
  markdownlint -c .markdown-lint.yml: any of: *.md
  stylelint --fix: any of: *.{css,scss}
  cross-env TIMING=1 NODE_OPTIONS="--max-old-space-size=4096" xo --fix: any of: *.{js,ts,tsx}
  prettier --write: any of: *.{js,ts,tsx}
  prettier --write --ignore-unknown: any of: *.!{js,ts,tsx}
