Repository nekator/mono: changes, and which lint-staged commands are due for each by the changed paths.
All: jscpd --exitCode 1 ., markdownlint -c .markdown-lint.yml, stylelint --fix, cross-env TIMING=1 NODE_OPTIONS="--max-old-space-size=4096" xo --fix, prettier --write, prettier --write --ignore-unknown

.lintstagedrc:

{
	"*": "jscpd --exitCode 1 .",
	"*.md": "markdownlint -c .markdown-lint.yml",
	"*.{css,scss}": "stylelint --fix",
	"*.{js,ts,tsx}": ["cross-env TIMING=1 NODE_OPTIONS=\"--max-old-space-size=4096\" xo --fix", "prettier --write"],
	"*.!{js,ts,tsx}": "prettier --write --ignore-unknown"
}

fix: issue with missing copy for foundation scripts (#1748)
  packages/foundations/package.json
Due: jscpd --exitCode 1 .

refactor: generate-icon-font to use it as bin executable and update d… (#1754)
  package-lock.json
  packages/foundations/docs/CustomIcons.md
  packages/foundations/docs/Icons.md
  packages/foundations/package.json
  packages/foundations/scripts/clean-icons/cli.js
  packages/foundations/scripts/clean-icons/index.js
  packages/foundations/scripts/generate-icon-fonts/gather-icons.js
  packages/foundations/scripts/generate-icon-fonts/index.js
  packages/foundations/scripts/generate-icon-fonts/svg-to-font.js
  packages/foundations/scripts/generate-icon-fonts/templates/template.ejs
  showcases/patternhub/data/routes.ts
  showcases/patternhub/pages/foundations/icons/custom-icons.mdx
Due: jscpd --exitCode 1 ., markdownlint -c .markdown-lint.yml, cross-env TIMING=1 NODE_OPTIONS="--max-old-space-size=4096" xo --fix, prettier --write

chore: update sizings tokens for tooltip (#1755)
  packages/components/src/components/tooltip/tooltip.scss
  packages/foundations/scss/_variables.scss
  packages/foundations/scss/default-theme.scss
  packages/foundations/scss/tonality/_scaling-placeholder.scss
  packages/foundations/scss/tonality/_variables.scss
Due: jscpd --exitCode 1 ., stylelint --fix

fix: popover font-style (#1760)
  packages/components/src/components/tooltip/tooltip.scss
  packages/components/src/styles/_popover-component.scss
Due: jscpd --exitCode 1 ., stylelint --fix

Update _init.scss
  packages/foundations/scss/_init.scss
Due: jscpd --exitCode 1 ., stylelint --fix

fix: declaration
  packages/components/src/components/accordion-item/accordion-item.scss
Due: jscpd --exitCode 1 ., stylelint --fix

style: refactor
  packages/foundations/scss/_init.scss
Due: jscpd --exitCode 1 ., stylelint --fix
