Repository nekator/mono: changes, and which lint-staged commands are due for each by the changed paths.
All: jscpd --exitCode 1 ., markdownlint -c .markdown-lint.yml, stylelint --fix, cross-env TIMING=1 NODE_OPTIONS="--max-old-space-size=4096" xo --fix, prettier --write, prettier --write --ignore-unknown

.lintstagedrc:

{
	"*": "jscpd --exitCode 1 .",
	"*.md": "markdownlint -c .markdown-lint.yml",
	"*.{css,scss}": "stylelint --fix",
	"*.{js,ts,tsx}": ["cross-env TIMING=1 NODE_OPTIONS=\"--max-old-space-size=4096\" xo --fix", "prettier --write"],
	"*.!{js,ts,tsx}": "prettier --write --ignore-unknown"
}

refactor: xo feedback
  packages/foundations/scripts/zeplin-styleguide.js
  showcases/patternhub/components/data.ts
  showcases/patternhub/components/static-content.tsx
  showcases/patternhub/pages/_app.tsx
  showcases/patternhub/scripts/get-how-to-file.js
  showcases/patternhub/scripts/get-properties-file.js
  showcases/patternhub/scripts/utils.js
  showcases/react-showcase/src/components/accordion-item/index.tsx
  showcases/react-showcase/src/components/data.ts
  showcases/react-showcase/src/components/drawer/index.tsx
  showcases/react-showcase/src/components/form/index.tsx
Due: jscpd --exitCode 1 ., cross-env TIMING=1 NODE_OPTIONS="--max-old-space-size=4096" xo --fix, prettier --write

fix: issue with wrong color tokens
  showcases/patternhub/styles/globals.scss
Due: jscpd --exitCode 1 ., stylelint --fix

fix: missing disabled state for tab (#2249)
  __snapshots__/tab/showcase/chromium/regular/neutral/DBTab-should-match-screenshot.png
  __snapshots__/tab/showcase/firefox/regular/neutral/DBTab-should-match-screenshot.png
  __snapshots__/tab/showcase/mobile-chrome/regular/neutral/DBTab-should-match-screenshot.png
  __snapshots__/tab/showcase/mobile-safari/regular/neutral/DBTab-should-match-screenshot.png
  __snapshots__/tab/showcase/webkit/regular/neutral/DBTab-should-match-screenshot.png
  __snapshots__/tabs/component/chromium/DBTabs-should-match-screenshot.png
  __snapshots__/tabs/component/firefox/DBTabs-should-match-screenshot.png
  __snapshots__/tabs/component/mobile-chrome/DBTabs-should-match-screenshot.png
  __snapshots__/tabs/showcase/chromium/regular/neutral/DBTabs-should-match-screenshot.png
  __snapshots__/tabs/showcase/firefox/regular/neutral/DBTabs-should-match-screenshot.png
  __snapshots__/tabs/showcase/mobile-chrome/regular/neutral/DBTabs-should-match-screenshot.png
  __snapshots__/tabs/showcase/mobile-safari/regular/neutral/DBTabs-should-match-screenshot.png
  __snapshots__/tabs/showcase/webkit/regular/neutral/DBTabs-should-match-screenshot.png
  packages/components/src/components/tab/model.ts
  packages/components/src/components/tab/tab.lite.tsx
  packages/components/src/components/tab/tab.scss
  packages/components/src/components/tabs/tabs.lite.tsx
  packages/components/src/components/tabs/tabs.scss
  showcases/angular-showcase/src/app/components/tab/tab.component.html
  showcases/react-showcase/src/components/tab/index.tsx
  showcases/shared/tab.json
  showcases/vue-showcase/src/components/tab/Tab.vue
Due: jscpd --exitCode 1 ., stylelint --fix, cross-env TIMING=1 NODE_OPTIONS="--max-old-space-size=4096" xo --fix, prettier --write

chore: add docs for tabs (#2235)
  packages/components/src/components/tab-list/docs/Angular.md
  packages/components/src/components/tab-list/docs/HTML.md
  packages/components/src/components/tab-list/docs/Migration.md
  packages/components/src/components/tab-list/docs/React.md
  packages/components/src/components/tab-list/docs/Vue.md
  packages/components/src/components/tab-panel/docs/Angular.md
  packages/components/src/components/tab-panel/docs/HTML.md
  packages/components/src/components/tab-panel/docs/Migration.md
  packages/components/src/components/tab-panel/docs/React.md
  packages/components/src/components/tab-panel/docs/Vue.md
  packages/components/src/components/tab/docs/Angular.md
  packages/components/src/components/tab/docs/HTML.md
  packages/components/src/components/tab/docs/Migration.md
  packages/components/src/components/tab/docs/React.md
  packages/components/src/components/tab/docs/Vue.md
  packages/components/src/components/tabs/docs/Angular.md
  packages/components/src/components/tabs/docs/HTML.md
  packages/components/src/components/tabs/docs/Migration.md
  packages/components/src/components/tabs/docs/React.md
  packages/components/src/components/tabs/docs/Vue.md
  showcases/shared/tabs.json
Due: jscpd --exitCode 1 ., markdownlint -c .markdown-lint.yml

fix: issue with popover
  __snapshots__/tab/showcase/chromium/regular/neutral/DBTab-should-match-screenshot.png
  __snapshots__/tab/showcase/firefox/regular/neutral/DBTab-should-match-screenshot.png
  __snapshots__/tab/showcase/mobile-chrome/regular/neutral/DBTab-should-match-screenshot.png
  __snapshots__/tab/showcase/mobile-safari/regular/neutral/DBTab-should-match-screenshot.png
  __snapshots__/tab/showcase/webkit/regular/neutral/DBTab-should-match-screenshot.png
  __snapshots__/tabs/showcase/chromium/regular/neutral/DBTabs-should-match-screenshot.png
  __snapshots__/tabs/showcase/firefox/regular/neutral/DBTabs-should-match-screenshot.png
  __snapshots__/tabs/showcase/mobile-chrome/regular/neutral/DBTabs-should-match-screenshot.png
  __snapshots__/tabs/showcase/mobile-safari/regular/neutral/DBTabs-should-match-screenshot.png
  __snapshots__/tabs/showcase/webkit/regular/neutral/DBTabs-should-match-screenshot.png
  packages/components/src/components/tab/tab.scss
  packages/components/src/styles/_popover-component.scss
  packages/foundations/scss/animation/_animations.scss
Due: jscpd --exitCode 1 ., stylelint --fix

refactor: let's deactivate this for the moment
  .xo-config.cjs
Due: jscpd --exitCode 1 .

docs(react-components): add missing showcase for DBBrand
  showcases/react-showcase/src/components/brand/index.tsx
Due: jscpd --exitCode 1 ., cross-env TIMING=1 NODE_OPTIONS="--max-old-space-size=4096" xo --fix, prettier --write

refactor: regenerated package lock file
  package-lock.json
Due: jscpd --exitCode 1 .

docs(react-components): add missing showcase for DBPage
  showcases/react-showcase/src/components/page/index.tsx
  showcases/shared/page.json
Due: jscpd --exitCode 1 ., cross-env TIMING=1 NODE_OPTIONS="--max-old-space-size=4096" xo --fix, prettier --write

docs(react-components): add missing showcase for DbHeader
  showcases/patternhub/components/data.ts
  showcases/react-showcase/src/components/header/index.tsx
  showcases/shared/brand.json
  showcases/shared/header.json
Due: jscpd --exitCode 1 ., cross-env TIMING=1 NODE_OPTIONS="--max-old-space-size=4096" xo --fix, prettier --write

fix: issue with angular active tab
  packages/components/src/components/tab/tab.lite.tsx
Due: jscpd --exitCode 1 ., cross-env TIMING=1 NODE_OPTIONS="--max-old-space-size=4096" xo --fix, prettier --write

fix: overwrites for duplicate key error in react
  packages/components/scripts/post-build/react.js
  packages/components/src/components/accordion/accordion.lite.tsx
  packages/components/src/components/brand/brand.lite.tsx
  packages/components/src/components/select/select.lite.tsx
  packages/components/src/components/tag/tag.lite.tsx
Due: jscpd --exitCode 1 ., cross-env TIMING=1 NODE_OPTIONS="--max-old-space-size=4096" xo --fix, prettier --write

Update accordion.lite.tsx
  packages/components/src/components/accordion/accordion.lite.tsx
Due: jscpd --exitCode 1 ., cross-env TIMING=1 NODE_OPTIONS="--max-old-space-size=4096" xo --fix, prettier --write

Update tag.lite.tsx
  packages/components/src/components/tag/tag.lite.tsx
Due: jscpd --exitCode 1 ., cross-env TIMING=1 NODE_OPTIONS="--max-old-space-size=4096" xo --fix, prettier --write

fix: issue with wrong dir name for notification
  packages/components/overrides/angular/src/components/notification/index.ts
Due: jscpd --exitCode 1 ., cross-env TIMING=1 NODE_OPTIONS="--max-old-space-size=4096" xo --fix, prettier --write

chore: add "on-contrast" color
  packages/components/src/styles/_tag-components.scss
  packages/foundations/scss/colors/_default-color-scheme.scss
  packages/foundations/scss/colors/_placeholder.scss
  packages/foundations/scss/colors/_variables.scss
  showcases/angular-showcase/src/app/components/notification/notification.component.html
  showcases/patternhub/components/default-page.tsx
  showcases/patternhub/public/assets/images/db_logo.svg
  showcases/patternhub/public/assets/images/placeholder.png
  showcases/patternhub/public/site.webmanifest
  showcases/react-showcase/src/components/notification/index.tsx
Due: jscpd --exitCode 1 ., stylelint --fix, cross-env TIMING=1 NODE_OPTIONS="--max-old-space-size=4096" xo --fix, prettier --write

fix: issue with base path
  showcases/patternhub/package.json
  showcases/patternhub/scripts/fix-base-path.js
  showcases/react-showcase/src/components/notification/index.tsx
Due: jscpd --exitCode 1 ., cross-env TIMING=1 NODE_OPTIONS="--max-old-space-size=4096" xo --fix, prettier --write

fix: add missing uuid to alert
  packages/components/src/components/alert/alert.lite.tsx
Due: jscpd --exitCode 1 ., cross-env TIMING=1 NODE_OPTIONS="--max-old-space-size=4096" xo --fix, prettier --write

chore: update all components missing uuid
  packages/components/src/components/badge/badge.lite.tsx
  packages/components/src/components/button/button.lite.tsx
  packages/components/src/components/card/card.lite.tsx
  packages/components/src/components/code-docs/code-docs.lite.tsx
  packages/components/src/components/divider/divider.lite.tsx
  packages/components/src/components/icon/icon.lite.tsx
  packages/components/src/components/infotext/infotext.lite.tsx
  packages/components/src/components/link/link.lite.tsx
  packages/components/src/components/main-navigation/main-navigation.lite.tsx
  packages/components/src/components/navigation-item/navigation-item.lite.tsx
  packages/components/src/components/page/page.lite.tsx
  packages/components/src/components/section/section.lite.tsx
  packages/components/src/components/tab-panel/tab-panel.lite.tsx
  packages/components/src/components/tab/tab.lite.tsx
  packages/components/src/components/tabs/tabs.lite.tsx
Due: jscpd --exitCode 1 ., cross-env TIMING=1 NODE_OPTIONS="--max-old-space-size=4096" xo --fix, prettier --write
