Repository nekator/mono: changes, and which lint-staged commands are due for each by the changed paths.
All: jscpd --exitCode 1 ., markdownlint -c .markdown-lint.yml, stylelint --fix, cross-env TIMING=1 NODE_OPTIONS="--max-old-space-size=4096" xo --fix, prettier --write, prettier --write --ignore-unknown

.lintstagedrc:

{
	"*": "jscpd --exitCode 1 .",
	"*.md": "markdownlint -c .markdown-lint.yml",
	"*.{css,scss}": "stylelint --fix",
	"*.{js,ts,tsx}": ["cross-env TIMING=1 NODE_OPTIONS=\"--max-old-space-size=4096\" xo --fix", "prettier --write"],
	"*.!{js,ts,tsx}": "prettier --write --ignore-unknown"
}

chore: code formatting
  packages/components/src/components/header/docs/HTML.md
Due: jscpd --exitCode 1 ., markdownlint -c .markdown-lint.yml

docs: prepare for 0.2.0 release (#2669)
  packages/components/src/components/header/docs/Angular.md
  packages/components/src/components/header/docs/React.md
  packages/components/src/components/header/docs/Vue.md
  packages/components/src/components/navigation/docs/React.md
  packages/components/src/components/navigation/docs/Vue.md
  showcases/angular-showcase/src/app/app.component.html
  showcases/patternhub/scripts/get-code-files.js
Due: jscpd --exitCode 1 ., markdownlint -c .markdown-lint.yml, cross-env TIMING=1 NODE_OPTIONS="--max-old-space-size=4096" xo --fix, prettier --write

docs: adds first version of color code example
  packages/foundations/scss/colors/_placeholder.scss
  packages/foundations/scss/colors/_variables.scss
  showcases/patternhub/pages/foundations/colors/overview.tsx
  showcases/patternhub/styles/globals.scss
Due: jscpd --exitCode 1 ., stylelint --fix, cross-env TIMING=1 NODE_OPTIONS="--max-old-space-size=4096" xo --fix, prettier --write

chore: merged with main
  package-lock.json
Due: jscpd --exitCode 1 .

chore: merged package lock
  package-lock.json
Due: jscpd --exitCode 1 .

chore: removes empty npm script
  scripts/dev.js
  scripts/package.json
Due: jscpd --exitCode 1 ., cross-env TIMING=1 NODE_OPTIONS="--max-old-space-size=4096" xo --fix, prettier --write

chore: removes obsolete code
  showcases/patternhub/scripts/generate-docs-mdx.js
Due: jscpd --exitCode 1 ., cross-env TIMING=1 NODE_OPTIONS="--max-old-space-size=4096" xo --fix, prettier --write

chore: removes obsolete commented code
  showcases/patternhub/components/card-navigation/card-navigation.tsx
Due: jscpd --exitCode 1 ., cross-env TIMING=1 NODE_OPTIONS="--max-old-space-size=4096" xo --fix, prettier --write

docs: adds color labels
  showcases/patternhub/components/colour-use-example/color-label.tsx
  showcases/patternhub/components/colour-use-example/index.tsx
  showcases/patternhub/styles/globals.scss
Due: jscpd --exitCode 1 ., stylelint --fix, cross-env TIMING=1 NODE_OPTIONS="--max-old-space-size=4096" xo --fix, prettier --write

fix: fixes layout of db switch
  packages/components/src/components/switch/switch.scss
Due: jscpd --exitCode 1 ., stylelint --fix

test: updated screenshots
  __snapshots__/switch/component/chromium/DBSwitch-should-match-screenshot.png
  __snapshots__/switch/component/firefox/DBSwitch-should-match-screenshot.png
  __snapshots__/switch/component/mobile-chrome/DBSwitch-should-match-screenshot.png
Due: jscpd --exitCode 1 .

feat: add additional colors (#2692)
  __snapshots__/header/showcase/chromium/regular/neutral-bg-lvl-1/DBHeader-should-match-screenshot.png
  __snapshots__/header/showcase/webkit/regular/neutral-bg-lvl-1/DBHeader-should-match-screenshot.png
  packages/foundations/docs/Colors.md
  packages/foundations/scss/colors/_default-color-scheme.scss
  packages/foundations/scss/colors/_default-palette.scss
  packages/foundations/scss/colors/_index.scss
  packages/foundations/scss/colors/_placeholder.scss
  packages/foundations/scss/colors/_variables.additional-palette.scss
  packages/foundations/scss/colors/_variables.additional-speaking-colors.scss
  packages/foundations/scss/colors/_variables.additional.scss
  packages/foundations/scss/colors/_variables.palette.scss
  packages/foundations/scss/colors/_variables.scss
  packages/foundations/scss/colors/_variables.speaking-colors.scss
  packages/foundations/scss/colors/classes/all.scss
  packages/foundations/scss/colors/classes/blue.scss
  packages/foundations/scss/colors/classes/cyan.scss
  packages/foundations/scss/colors/classes/green.scss
  packages/foundations/scss/colors/classes/orange.scss
  packages/foundations/scss/colors/classes/pink.scss
  packages/foundations/scss/colors/classes/red.scss
  packages/foundations/scss/colors/classes/turquoise.scss
  packages/foundations/scss/colors/classes/violet.scss
  packages/foundations/scss/colors/classes/yellow.scss
  packages/foundations/scss/default-theme.scss
  showcases/patternhub/pages/foundations/colors/overview.tsx
Due: jscpd --exitCode 1 ., markdownlint -c .markdown-lint.yml, stylelint --fix, cross-env TIMING=1 NODE_OPTIONS="--max-old-space-size=4096" xo --fix, prettier --write

chore: changed dependency cpr to use cpy-cli (#2687)
  e2e/package.json
  output/react/package.json
  output/vue/package.json
  output/webcomponent/package.json
  package-lock.json
  package.json
  packages/components/package.json
  packages/foundations/package.json
  showcases/patternhub/package.json
  showcases/patternhub/styles/globals.scss
  showcases/vanilla-showcase/package.json
  showcases/vanilla-showcase/scripts/generate-routes.js
Due: jscpd --exitCode 1 ., stylelint --fix, cross-env TIMING=1 NODE_OPTIONS="--max-old-space-size=4096" xo --fix, prettier --write

docs: changes headline
  showcases/patternhub/pages/foundations/colors/overview.tsx
Due: jscpd --exitCode 1 ., cross-env TIMING=1 NODE_OPTIONS="--max-old-space-size=4096" xo --fix, prettier --write

refactor: added a relevant selector part
  packages/components/src/components/tooltip/tooltip.scss
Due: jscpd --exitCode 1 ., stylelint --fix

feat: adds scss vars and custom props for weak current-colors
  packages/foundations/scss/colors/_placeholder.scss
  packages/foundations/scss/colors/_variables.scss
Due: jscpd --exitCode 1 ., stylelint --fix
