Repository nekator/mono: changes, and which lint-staged commands are due for each by the changed paths.
All: jscpd --exitCode 1 ., markdownlint -c .markdown-lint.yml, stylelint --fix, cross-env TIMING=1 NODE_OPTIONS="--max-old-space-size=4096" xo --fix, prettier --write, prettier --write --ignore-unknown

.lintstagedrc:

{
	"*": "jscpd --exitCode 1 .",
	"*.md": "markdownlint -c .markdown-lint.yml",
	"*.{css,scss}": "stylelint --fix",
	"*.{js,ts,tsx}": ["cross-env TIMING=1 NODE_OPTIONS=\"--max-old-space-size=4096\" xo --fix", "prettier --write"],
	"*.!{js,ts,tsx}": "prettier --write --ignore-unknown"
}

docs(tag): separate radio groups contain the same `name` for inputs (#1963)
  showcases/angular-showcase/src/app/components/tag/tag.component.html
  showcases/react-showcase/src/components/tag/index.tsx
  showcases/shared/tag.json
  showcases/vue-showcase/src/components/tag/Tag.vue
Due: jscpd --exitCode 1 ., cross-env TIMING=1 NODE_OPTIONS="--max-old-space-size=4096" xo --fix, prettier --write

fix: issues with checkbox and radio tags
  packages/components/src/styles/_tag-components.scss
  packages/foundations/scss/helpers/_functions.scss
Due: jscpd --exitCode 1 ., stylelint --fix

fix: issue with accordion with single behaviour (#2361)
  packages/components/src/components/accordion-item/accordion-item.lite.tsx
Due: jscpd --exitCode 1 ., cross-env TIMING=1 NODE_OPTIONS="--max-old-space-size=4096" xo --fix, prettier --write

fix: wrong focus outline offset (#2362)
  packages/foundations/scss/colors/_variants.scss
Due: jscpd --exitCode 1 ., stylelint --fix

docs: hide icon and page from patternhub (#2363)
  showcases/patternhub/data/routes.ts
Due: jscpd --exitCode 1 ., cross-env TIMING=1 NODE_OPTIONS="--max-old-space-size=4096" xo --fix, prettier --write

chore: update snapshots
  __snapshots__/accordion-item/showcase/chromium/regular/neutral/DBAccordionItem-should-match-screenshot.png
  __snapshots__/accordion-item/showcase/firefox/regular/neutral/DBAccordionItem-should-match-screenshot.png
  __snapshots__/accordion-item/showcase/mobile-chrome/regular/neutral/DBAccordionItem-should-match-screenshot.png
  __snapshots__/accordion-item/showcase/mobile-safari/regular/neutral/DBAccordionItem-should-match-screenshot.png
  __snapshots__/accordion-item/showcase/webkit/regular/neutral/DBAccordionItem-should-match-screenshot.png
  __snapshots__/badge/showcase/chromium/regular/neutral/DBBadge-should-match-screenshot.png
  __snapshots__/badge/showcase/firefox/regular/neutral/DBBadge-should-match-screenshot.png
  __snapshots__/badge/showcase/mobile-chrome/regular/neutral/DBBadge-should-match-screenshot.png
  __snapshots__/badge/showcase/mobile-safari/regular/neutral/DBBadge-should-match-screenshot.png
  __snapshots__/badge/showcase/webkit/regular/neutral/DBBadge-should-match-screenshot.png
  __snapshots__/infotext/showcase/chromium/regular/neutral/DBInfotext-should-match-screenshot.png
  __snapshots__/infotext/showcase/firefox/regular/neutral/DBInfotext-should-match-screenshot.png
  __snapshots__/infotext/showcase/mobile-chrome/regular/neutral/DBInfotext-should-match-screenshot.png
  __snapshots__/infotext/showcase/mobile-safari/regular/neutral/DBInfotext-should-match-screenshot.png
  __snapshots__/infotext/showcase/webkit/regular/neutral/DBInfotext-should-match-screenshot.png
  __snapshots__/link/showcase/chromium/regular/neutral/DBLink-should-match-screenshot.png
  __snapshots__/link/showcase/firefox/regular/neutral/DBLink-should-match-screenshot.png
  __snapshots__/link/showcase/mobile-chrome/regular/neutral/DBLink-should-match-screenshot.png
  __snapshots__/link/showcase/mobile-safari/regular/neutral/DBLink-should-match-screenshot.png
  __snapshots__/link/showcase/webkit/regular/neutral/DBLink-should-match-screenshot.png
  __snapshots__/navigation-item/showcase/chromium/regular/neutral/DBNavigationItem-should-match-screenshot.png
  __snapshots__/navigation-item/showcase/firefox/regular/neutral/DBNavigationItem-should-match-screenshot.png
  __snapshots__/navigation-item/showcase/mobile-chrome/regular/neutral/DBNavigationItem-should-match-screenshot.png
  __snapshots__/navigation-item/showcase/mobile-safari/regular/neutral/DBNavigationItem-should-match-screenshot.png
  __snapshots__/navigation-item/showcase/webkit/regular/neutral/DBNavigationItem-should-match-screenshot.png
  __snapshots__/textarea/showcase/chromium/regular/neutral/DBTextarea-should-match-screenshot.png
Due: jscpd --exitCode 1 .

chore: update from main
  packages/foundations/scss/_focus.scss
Due: jscpd --exitCode 1 ., stylelint --fix

refactor: added missing title
  showcases/patternhub/pages/_document.tsx
Due: jscpd --exitCode 1 ., cross-env TIMING=1 NODE_OPTIONS="--max-old-space-size=4096" xo --fix, prettier --write

chore: update cache action for workflows (#2374)
  .github/actions/npm-cache/action.yml
Due: jscpd --exitCode 1 .
