Repository nekator/mono: changes, and which lint-staged commands are due for each by the changed paths.
All: jscpd --exitCode 1 ., markdownlint -c .markdown-lint.yml, stylelint --fix, cross-env TIMING=1 NODE_OPTIONS="--max-old-space-size=4096" xo --fix, prettier --write, prettier --write --ignore-unknown

chore: update sr test for tooltip
  showcases/screen-reader/tests/tooltip.spec.ts
Due: jscpd --exitCode 1 ., cross-env TIMING=1 NODE_OPTIONS="--max-old-space-size=4096" xo --fix, prettier --write

chore: update snapshots
  showcases/screen-reader/__snapshots__/windows/chromium/DBSwitch-default-1.txt
  showcases/screen-reader/__snapshots__/windows/chromium/DBSwitch-icon-1.txt
Due: jscpd --exitCode 1 .

chore: update snapshots
  showcases/screen-reader/__snapshots__/windows/chromium/DBSelect-default-1.txt
Due: jscpd --exitCode 1 .

chore: update snapshots
  showcases/screen-reader/__snapshots__/windows/chromium/DBTabs-default-1.txt
  showcases/screen-reader/tests/tabs.spec.ts
Due: jscpd --exitCode 1 ., cross-env TIMING=1 NODE_OPTIONS="--max-old-space-size=4096" xo --fix, prettier --write

chore: update snapshots
  showcases/screen-reader/__snapshots__/macos/webkit/DBTag-behaviour-1.txt
  showcases/screen-reader/__snapshots__/windows/chromium/DBTag-behaviour-1.txt
Due: jscpd --exitCode 1 .

chore: update snapshots
  showcases/screen-reader/__snapshots__/windows/chromium/DBTooltip-default-1.txt
Due: jscpd --exitCode 1 .

test: adds guidepup tests for textarea
  showcases/screen-reader/__snapshots__/macos/webkit/DBTextarea-next-1.txt
  showcases/screen-reader/__snapshots__/macos/webkit/DBTextarea-required-1.txt
  showcases/screen-reader/tests/textarea.spec.ts
Due: jscpd --exitCode 1 ., cross-env TIMING=1 NODE_OPTIONS="--max-old-space-size=4096" xo --fix, prettier --write

chore: restored right code
  showcases/screen-reader/tests/select.spec.ts
Due: jscpd --exitCode 1 ., cross-env TIMING=1 NODE_OPTIONS="--max-old-space-size=4096" xo --fix, prettier --write

chore: update sr test for tag
  showcases/screen-reader/tests/tag.spec.ts
Due: jscpd --exitCode 1 ., cross-env TIMING=1 NODE_OPTIONS="--max-old-space-size=4096" xo --fix, prettier --write

chore: restored right code
  showcases/screen-reader/default.ts
  showcases/screen-reader/tests/select.spec.ts
Due: jscpd --exitCode 1 ., cross-env TIMING=1 NODE_OPTIONS="--max-old-space-size=4096" xo --fix, prettier --write

chore: restored right code
  showcases/screen-reader/__snapshots__/macos/webkit/DBSelect-default-1.txt
Due: jscpd --exitCode 1 .

chore: update snapshot
  showcases/screen-reader/__snapshots__/windows/chromium/DBTabs-default-1.txt
  showcases/screen-reader/tests/tabs.spec.ts
Due: jscpd --exitCode 1 ., cross-env TIMING=1 NODE_OPTIONS="--max-old-space-size=4096" xo --fix, prettier --write

chore: update snapshot
  showcases/screen-reader/__snapshots__/windows/chromium/DBTextarea-required-1.txt
  showcases/screen-reader/tests/textarea.spec.ts
Due: jscpd --exitCode 1 ., cross-env TIMING=1 NODE_OPTIONS="--max-old-space-size=4096" xo --fix, prettier --write

fix: issue with sr test for select
  showcases/screen-reader/__snapshots__/macos/webkit/DBSelect-default-1.txt
  showcases/screen-reader/tests/select.spec.ts
Due: jscpd --exitCode 1 ., cross-env TIMING=1 NODE_OPTIONS="--max-old-space-size=4096" xo --fix, prettier --write

docs: switch from classes to `data-density="*"`-attributes (#3094)
  packages/components/_templates/mitosis/new/showcases/shared-component-variants.ejs.t
  packages/foundations/README.md
  showcases/angular-showcase/src/app/components/default.component.html
  showcases/next-showcase/pages/_app.tsx
  showcases/patternhub/pages/foundations/variables/examples.tsx
  showcases/patternhub/pages/iframe/index.tsx
  showcases/react-showcase/src/app.tsx
  showcases/react-showcase/src/components/default-component.tsx
  showcases/shared/accordion-item.json
  showcases/shared/accordion.json
  showcases/shared/badge.json
  showcases/shared/brand.json
  showcases/shared/button.json
  showcases/shared/card.json
  showcases/shared/checkbox.json
  showcases/shared/default-component-data.ts
  showcases/shared/divider.json
  showcases/shared/drawer.json
  showcases/shared/header.json
  showcases/shared/icon.json
  showcases/shared/infotext.json
  showcases/shared/input.json
  showcases/shared/link.json
  showcases/shared/navigation-item.json
  showcases/shared/navigation.json
  showcases/shared/notification.json
  showcases/shared/page.json
  showcases/shared/popover.json
  showcases/shared/radio.json
  showcases/shared/section.json
  showcases/shared/select.json
  showcases/shared/switch.json
  showcases/shared/tab-item.json
  showcases/shared/tabs.json
  showcases/shared/tag.json
  showcases/shared/textarea.json
  showcases/shared/tooltip.json
  showcases/vue-showcase/src/components/DefaultComponent.vue
Due: jscpd --exitCode 1 ., markdownlint -c .markdown-lint.yml, cross-env TIMING=1 NODE_OPTIONS="--max-old-space-size=4096" xo --fix, prettier --write

Path conditions:
  jscpd --exitCode 1 .: any of: *
  markdownlint -c .markdown-lint.yml: any of: *.md
  stylelint --fix: any of: *.{css,scss}
  cross-env TIMING=1 NODE_OPTIONS="--max-old-space-size=4096" xo --fix: any of: *.{js,ts,tsx}
  prettier --write: any of: *.{js,ts,tsx}
  prettier --write --ignore-unknown: any of: *.!{js,ts,tsx}
