Repository nekator/mono: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint --fix, xo --fix, prettier --write

.lintstagedrc:

{
	"*.{css,scss}": "stylelint --fix",
	"*.{js,ts,tsx}": ["xo --fix", "prettier --write"],
	"*.{css,scss,md,adoc,sh,yml}": "prettier --write"
}

fix: defined correct local font names #1372
  packages/foundations/scss/_font-faces.scss
  packages/foundations/tokens/font.jsonc
Due: stylelint --fix, prettier --write

docs: added fonts example page
  packages/components/index.html
  packages/components/src/fonts.html
Due: none

refactor: corrected the headlines
  packages/components/src/fonts.html
  packages/foundations/tokens/font.jsonc
Due: none

feat: added DB Screen Sans Digital
  packages/components/src/fonts.html
  packages/foundations/scss/_font-faces.scss
Due: stylelint --fix, prettier --write

refactor: correctly providing a token for Digital Regular
  packages/foundations/scss/_font-faces.scss
  packages/foundations/tokens/font.jsonc
Due: stylelint --fix, prettier --write

refactor: corrected those font references
  packages/components/src/fonts.html
  packages/foundations/tokens/font.jsonc
Due: none

refactor: extracted CSS
  packages/components/src/fonts.html
Due: none

refactor: reference to possible local name
  packages/foundations/scss/_font-faces.scss
Due: stylelint --fix, prettier --write

chore: update model for input to use type="color" (#1381)
  packages/components/src/components/input/model.ts
Due: xo --fix, prettier --write

chore: aligned attribute with MDN documentation
  packages/components/src/components/drawer/docs/HTML.md
  packages/components/src/components/drawer/index.html
Due: prettier --write
