Repository nekator/mono: changes, and which lint-staged commands are due for each by the changed paths.
All: jscpd --exitCode 1 ., markdownlint -c .markdown-lint.yml, stylelint --fix, cross-env TIMING=1 NODE_OPTIONS="--max-old-space-size=4096" xo --fix, prettier --write, prettier --write --ignore-unknown

.lintstagedrc:

{
	"*": "jscpd --exitCode 1 .",
	"*.md": "markdownlint -c .markdown-lint.yml",
	"*.{css,scss}": "stylelint --fix",
	"*.{js,ts,tsx}": ["cross-env TIMING=1 NODE_OPTIONS=\"--max-old-space-size=4096\" xo --fix", "prettier --write"],
	"*.!{js,ts,tsx}": "prettier --write --ignore-unknown"
}

docs: adding new migration documentation (#3345)
  README.md
Due: jscpd --exitCode 1 ., markdownlint -c .markdown-lint.yml

fix(docs): corrected URLs (#3346)
  packages/foundations/README.md
Due: jscpd --exitCode 1 ., markdownlint -c .markdown-lint.yml

fix(docs): corrected URL (#3352)
  packages/components/README.md
Due: jscpd --exitCode 1 ., markdownlint -c .markdown-lint.yml

Create test
  version/latest/test
Due: jscpd --exitCode 1 .

refactor: revert previous solution (#3357)
  .github/scripts/build-gh-page.sh
Due: jscpd --exitCode 1 .

refactor(icon): replaced non-existing `x_placeholder` by `db` for the moment (#3269)
  __snapshots__/input/showcase/chromium-highContrast/DBInput-should-match-screenshot-1/DBInput-should-match-screenshot.png
  __snapshots__/input/showcase/chromium/DBInput-should-match-screenshot-1/DBInput-should-match-screenshot.png
  __snapshots__/input/showcase/firefox/DBInput-should-match-screenshot-1/DBInput-should-match-screenshot.png
  __snapshots__/input/showcase/mobile-chrome/DBInput-should-match-screenshot-1/DBInput-should-match-screenshot.png
  __snapshots__/input/showcase/mobile-safari/DBInput-should-match-screenshot-1/DBInput-should-match-screenshot.png
  __snapshots__/input/showcase/webkit/DBInput-should-match-screenshot-1/DBInput-should-match-screenshot.png
  __snapshots__/select/showcase/chromium-highContrast/DBSelect-should-match-screenshot-1/DBSelect-should-match-screenshot.png
  __snapshots__/select/showcase/chromium/DBSelect-should-match-screenshot-1/DBSelect-should-match-screenshot.png
  __snapshots__/select/showcase/firefox/DBSelect-should-match-screenshot-1/DBSelect-should-match-screenshot.png
  __snapshots__/select/showcase/mobile-chrome/DBSelect-should-match-screenshot-1/DBSelect-should-match-screenshot.png
  __snapshots__/tab-item/showcase/chromium-highContrast/DBTabItem-should-match-screenshot-1/DBTabItem-should-match-screenshot.png
  __snapshots__/tab-item/showcase/chromium/DBTabItem-should-match-screenshot-1/DBTabItem-should-match-screenshot.png
  __snapshots__/tab-item/showcase/firefox/DBTabItem-should-match-screenshot-1/DBTabItem-should-match-screenshot.png
  __snapshots__/tab-item/showcase/mobile-chrome/DBTabItem-should-match-screenshot-1/DBTabItem-should-match-screenshot.png
  __snapshots__/tab-item/showcase/mobile-safari/DBTabItem-should-match-screenshot-1/DBTabItem-should-match-screenshot.png
  __snapshots__/tab-item/showcase/webkit/DBTabItem-should-match-screenshot-1/DBTabItem-should-match-screenshot.png
  packages/components/src/components/tab-item/index.html
  packages/components/src/components/tab-list/index.html
  showcases/shared/input.json
  showcases/shared/select.json
  showcases/shared/tab-item.json
Due: jscpd --exitCode 1 .

refactor(ally): changing elements order (#3337)
  __snapshots__/drawer/patternhub/drawer-docs-should-match-screenshot.png
  __snapshots__/tab-item/patternhub/tab-item-properties-should-match-screenshot.png
  packages/components/src/components/drawer/docs/Angular.md
  packages/components/src/components/drawer/docs/React.md
  packages/components/src/components/drawer/docs/Vue.md
  showcases/angular-showcase/src/app/components/drawer/drawer.component.html
  showcases/react-showcase/src/components/drawer/index.tsx
  showcases/vue-showcase/src/components/drawer/Drawer.vue
Due: jscpd --exitCode 1 ., markdownlint -c .markdown-lint.yml, cross-env TIMING=1 NODE_OPTIONS="--max-old-space-size=4096" xo --fix, prettier --write

fix: issue with color contrast for tag (#3267)
  __snapshots__/tag/showcase/chromium-highContrast/DBTag-should-match-screenshot-1/DBTag-should-match-screenshot.png
  packages/components/src/components/tag/tag.scss
Due: jscpd --exitCode 1 ., stylelint --fix

refactor: using `latest` version as a redirect target from root (#3349)
  .github/scripts/build-gh-page.sh
Due: jscpd --exitCode 1 .

chore(docs): clarification (#3268)
  packages/foundations/docs/CustomIcons.md
Due: jscpd --exitCode 1 ., markdownlint -c .markdown-lint.yml
