Repository nekator/mono: changes, and which lint-staged commands are due for each by the changed paths.
All: jscpd --exitCode 1 ., markdownlint -c .markdown-lint.yml, stylelint --fix, cross-env TIMING=1 NODE_OPTIONS="--max-old-space-size=4096" xo --fix, prettier --write, prettier --write --ignore-unknown

.lintstagedrc:

{
	"*": "jscpd --exitCode 1 .",
	"*.md": "markdownlint -c .markdown-lint.yml",
	"*.{css,scss}": "stylelint --fix",
	"*.{js,ts,tsx}": ["cross-env TIMING=1 NODE_OPTIONS=\"--max-old-space-size=4096\" xo --fix", "prettier --write"],
	"*.!{js,ts,tsx}": "prettier --write --ignore-unknown"
}

fix: removes local sources for font faces (#2531)
  packages/foundations/scss/_font-faces.scss
Due: jscpd --exitCode 1 ., stylelint --fix

fix: adds show pulse to navigation item on root level (#2533)
  packages/components/src/components/navigation/navigation.scss
Due: jscpd --exitCode 1 ., stylelint --fix

fix: issue with copy button using wrong icon (#2538)
  showcases/patternhub/scripts/get-code-files.js
Due: jscpd --exitCode 1 ., cross-env TIMING=1 NODE_OPTIONS="--max-old-space-size=4096" xo --fix, prettier --write

feat: adds safe triangles for navigation item
  packages/components/src/components/navigation-item/model.ts
  packages/components/src/components/navigation-item/navigation-item.lite.tsx
  packages/components/src/components/navigation-item/navigation-item.scss
  showcases/react-showcase/src/utils/navigation-item.tsx
Due: jscpd --exitCode 1 ., stylelint --fix, cross-env TIMING=1 NODE_OPTIONS="--max-old-space-size=4096" xo --fix, prettier --write

docs: add adrs for technical decisions (#283)
  docs/adr-04-icons.md
  docs/adr-xx-Template.md
  docs/adr/adr-01-framework.md
  docs/adr/adr-02-monorepo.md
  docs/adr/adr-03-dependency-automation.md
  docs/adr/adr-xx-Template.md
Due: jscpd --exitCode 1 ., markdownlint -c .markdown-lint.yml

fix: color-scheme icon in patternhub (#2542)
  showcases/patternhub/pages/foundations/colors/color-schemes.tsx
Due: jscpd --exitCode 1 ., cross-env TIMING=1 NODE_OPTIONS="--max-old-space-size=4096" xo --fix, prettier --write

docs: add onclose change to beta migration file (#2541)
  docs/migration/alpha-beta.md
Due: jscpd --exitCode 1 ., markdownlint -c .markdown-lint.yml
