Repository nekator/mono: changes, and which lint-staged commands are due for each by the changed paths.
All: jscpd --exitCode 1 ., markdownlint -c .markdown-lint.yml, stylelint --fix, cross-env TIMING=1 NODE_OPTIONS="--max-old-space-size=4096" xo --fix, prettier --write, prettier --write --ignore-unknown

.lintstagedrc:

{
	"*": "jscpd --exitCode 1 .",
	"*.md": "markdownlint -c .markdown-lint.yml",
	"*.{css,scss}": "stylelint --fix",
	"*.{js,ts,tsx}": ["cross-env TIMING=1 NODE_OPTIONS=\"--max-old-space-size=4096\" xo --fix", "prettier --write"],
	"*.!{js,ts,tsx}": "prettier --write --ignore-unknown"
}

refactor(docs): wording (#3025)
  docs/how-to-develop-a-component.md
  showcases/patternhub/pages/foundations/test-table/index.tsx
Due: jscpd --exitCode 1 ., markdownlint -c .markdown-lint.yml, cross-env TIMING=1 NODE_OPTIONS="--max-old-space-size=4096" xo --fix, prettier --write

fix: wrong variables for radio, checkbox and switch (#3028)
  packages/components/src/components/checkbox/checkbox.scss
  packages/components/src/components/switch/switch.scss
  packages/components/src/styles/_form-components.scss
Due: jscpd --exitCode 1 ., stylelint --fix

fix: issue with long snapshot names for sr tests get shortened in pipeline (#3030)
  showcases/playwright.screen-reader.macos.ts
  showcases/playwright.screen-reader.windows.ts
  showcases/screen-reader/__snapshots__/macos/webkit/DBBadge-default-1.txt
  showcases/screen-reader/__snapshots__/macos/webkit/DBButton-next-1.txt
  showcases/screen-reader/__snapshots__/macos/webkit/DBDrawer-autofocus-1.txt
  showcases/screen-reader/__snapshots__/macos/webkit/DBInput-next-1.txt
  showcases/screen-reader/__snapshots__/macos/webkit/DBRadio-next-1.txt
  showcases/screen-reader/__snapshots__/windows/chromium/DBBadge-default-1.txt
  showcases/screen-reader/__snapshots__/windows/chromium/DBButton-next-1.txt
  showcases/screen-reader/__snapshots__/windows/chromium/DBButton-tab-1.txt
  showcases/screen-reader/__snapshots__/windows/chromium/DBDrawer-autofocus-1.txt
  showcases/screen-reader/__snapshots__/windows/chromium/DBInput-tab-1.txt
  showcases/screen-reader/__snapshots__/windows/chromium/DBRadio-arrows-1.txt
  showcases/screen-reader/__snapshots__/windows/chromium/DBRadio-next-1.txt
  showcases/screen-reader/data.ts
  showcases/screen-reader/default.ts
  showcases/screen-reader/tests/badge.spec.ts
  showcases/screen-reader/tests/button.spec.ts
  showcases/screen-reader/tests/drawer.spec.ts
  showcases/screen-reader/tests/input.spec.ts
  showcases/screen-reader/tests/radio.spec.ts
Due: jscpd --exitCode 1 ., cross-env TIMING=1 NODE_OPTIONS="--max-old-space-size=4096" xo --fix, prettier --write

chore(docs): clarification (#3029)
  packages/components/README.md
  packages/foundations/README.md
Due: jscpd --exitCode 1 ., markdownlint -c .markdown-lint.yml

test: adds title to test, removes obsolete screenshot
  showcases/screen-reader/__snapshots__/macos/webkit/DBBrand-default-1.txt
  showcases/screen-reader/tests/brand.spec.ts
Due: jscpd --exitCode 1 ., cross-env TIMING=1 NODE_OPTIONS="--max-old-space-size=4096" xo --fix, prettier --write

test: adds title to test, removes obsolete screenshot
  showcases/screen-reader/__snapshots__/macos/webkit/DBCheckbox-default-1.txt
  showcases/screen-reader/tests/checkbox.spec.ts
Due: jscpd --exitCode 1 ., cross-env TIMING=1 NODE_OPTIONS="--max-old-space-size=4096" xo --fix, prettier --write

chore: prettyfication
  showcases/screen-reader/default.ts
Due: jscpd --exitCode 1 ., cross-env TIMING=1 NODE_OPTIONS="--max-old-space-size=4096" xo --fix, prettier --write

refactor: updated screenshot
  showcases/screen-reader/__snapshots__/windows/chromium/DBBrand-default-1.txt
  showcases/screen-reader/__snapshots__/windows/chromium/DBBrand-should-have-inline-texts-no-icons-but-the-custom-logo-as-image-next-.txt
Due: jscpd --exitCode 1 .

test: adds title to test, removes obsolete screenshot
  showcases/screen-reader/__snapshots__/macos/webkit/DBAccordion-multiple-1.txt
  showcases/screen-reader/__snapshots__/macos/webkit/DBAccordion-single-1.txt
  showcases/screen-reader/tests/accordion.spec.ts
Due: jscpd --exitCode 1 ., cross-env TIMING=1 NODE_OPTIONS="--max-old-space-size=4096" xo --fix, prettier --write

feat: add multi-select component
  package-lock.json
  packages/components/_templates/mitosis/new/component/tsx.ejs.t
  packages/components/_templates/mitosis/new/showcases/react-showcase-component.ejs.t
  packages/components/index.html
  packages/components/package.json
  packages/components/scripts/post-build/components.ts
  packages/components/src/components/card/card.scss
  packages/components/src/components/multi-select/docs/Angular.md
  packages/components/src/components/multi-select/docs/HTML.md
  packages/components/src/components/multi-select/docs/React.md
  packages/components/src/components/multi-select/docs/Vue.md
  packages/components/src/components/multi-select/index.html
  packages/components/src/components/multi-select/index.ts
  packages/components/src/components/multi-select/model.ts
  packages/components/src/components/multi-select/multi-select-web-component.scss
  packages/components/src/components/multi-select/multi-select.lite.tsx
  packages/components/src/components/multi-select/multi-select.scss
  packages/components/src/components/multi-select/multi-select.spec.tsx
  packages/components/src/components/select/model.ts
  packages/components/src/components/select/select.lite.tsx
  packages/components/src/index.ts
  packages/components/src/shared/constants.ts
  packages/components/src/styles/_form-components.scss
  packages/components/src/styles/db-ui-components.scss
  showcases/angular-showcase/src/app/components/multi-select/multi-select.component.html
  showcases/angular-showcase/src/app/components/multi-select/multi-select.component.ts
  showcases/angular-showcase/src/app/utils/navigation-item.ts
  showcases/e2e/multi-select/showcase-multi-select.spec.ts
  showcases/patternhub/components/component-parser/data.ts
  showcases/patternhub/components/component-parser/index.tsx
  showcases/patternhub/data/components.json
  showcases/react-showcase/src/components/multi-select/index.tsx
  showcases/react-showcase/src/utils/navigation-item.tsx
  showcases/shared/multi-select.json
  showcases/showcase-styles.css
  showcases/vue-showcase/src/components/multi-select/MultiSelect.vue
  showcases/vue-showcase/src/utils/navigation-items.ts
Due: jscpd --exitCode 1 ., markdownlint -c .markdown-lint.yml, stylelint --fix, cross-env TIMING=1 NODE_OPTIONS="--max-old-space-size=4096" xo --fix, prettier --write

refactor: increased alternative text length
  showcases/angular-showcase/src/app/components/brand/brand.component.html
  showcases/react-showcase/src/components/brand/index.tsx
  showcases/screen-reader/__snapshots__/macos/webkit/DBBrand-default-1.txt
  showcases/screen-reader/__snapshots__/windows/chromium/DBBrand-default-1.txt
  showcases/vue-showcase/src/components/brand/Brand.vue
Due: jscpd --exitCode 1 ., cross-env TIMING=1 NODE_OPTIONS="--max-old-space-size=4096" xo --fix, prettier --write

refactor: corrected that phrase
  showcases/screen-reader/__snapshots__/macos/webkit/DBBrand-default-1.txt
  showcases/screen-reader/__snapshots__/windows/chromium/DBBrand-default-1.txt
  showcases/vue-showcase/src/components/brand/Brand.vue
Due: jscpd --exitCode 1 .

Discard changes to showcases/angular-showcase/src/app/components/brand/brand.component.html
  showcases/angular-showcase/src/app/components/brand/brand.component.html
Due: jscpd --exitCode 1 .

Discard changes to showcases/vue-showcase/src/components/brand/Brand.vue
  showcases/vue-showcase/src/components/brand/Brand.vue
Due: jscpd --exitCode 1 .

Update index.tsx
  showcases/react-showcase/src/components/brand/index.tsx
Due: jscpd --exitCode 1 ., cross-env TIMING=1 NODE_OPTIONS="--max-old-space-size=4096" xo --fix, prettier --write

test: simplifies guidepup test for accordion
  showcases/screen-reader/__snapshots__/macos/webkit/DBAccordion-default-1.txt
  showcases/screen-reader/__snapshots__/macos/webkit/DBAccordion-multiple-1.txt
  showcases/screen-reader/__snapshots__/macos/webkit/DBAccordion-single-1.txt
  showcases/screen-reader/__snapshots__/windows/chromium/DBAccordion-one-item-should-open-then-the-nex-10d9e-he-first-should-then-close-automatically-next-.txt
  showcases/screen-reader/__snapshots__/windows/chromium/DBAccordion-should-open-two-items-while-both-remain-unfolded-next-.txt
  showcases/screen-reader/tests/accordion.spec.ts
Due: jscpd --exitCode 1 ., cross-env TIMING=1 NODE_OPTIONS="--max-old-space-size=4096" xo --fix, prettier --write
