Repository nekator/mono: changes, and which lint-staged commands are due for each by the changed paths.
All: jscpd --exitCode 1 ., markdownlint -c .markdown-lint.yml, stylelint --fix, cross-env TIMING=1 NODE_OPTIONS="--max-old-space-size=4096" xo --fix, prettier --write, prettier --write --ignore-unknown

.lintstagedrc:

{
	"*": "jscpd --exitCode 1 .",
	"*.md": "markdownlint -c .markdown-lint.yml",
	"*.{css,scss}": "stylelint --fix",
	"*.{js,ts,tsx}": ["cross-env TIMING=1 NODE_OPTIONS=\"--max-old-space-size=4096\" xo --fix", "prettier --write"],
	"*.!{js,ts,tsx}": "prettier --write --ignore-unknown"
}

chore: update colors with migration tool
  packages/foundations/scripts/migration/color-update.ts
  packages/foundations/scss/colors/_default-color-scheme.scss
  packages/foundations/scss/colors/_placeholder.scss
  packages/foundations/scss/colors/_variables.scss
  packages/foundations/scss/colors/classes/_get-class.scss
  packages/foundations/scss/default-theme.scss
  packages/foundations/scss/helpers/_divider.scss
  packages/foundations/scss/helpers/_focus.scss
  packages/foundations/scss/init/default-code.scss
  packages/foundations/scss/init/default-root.scss
  packages/foundations/scss/init/required.scss
Due: jscpd --exitCode 1 ., stylelint --fix, cross-env TIMING=1 NODE_OPTIONS="--max-old-space-size=4096" xo --fix, prettier --write

chore: update showcases
  showcases/e2e/default.ts
  showcases/e2e/fixtures/hover.ts
  showcases/e2e/fixtures/variants.ts
  showcases/patternhub/pages/foundations/colors/color-schemes.tsx
  showcases/patternhub/pages/foundations/densities/examples.tsx
  showcases/patternhub/pages/foundations/font-sizes/overview.tsx
  showcases/patternhub/styles/globals.scss
  showcases/patternhub/styles/highlight.scss
  showcases/screen-reader/default.ts
  showcases/showcase-styles.css
  showcases/vanilla-showcase/src/app-shell.js
Due: jscpd --exitCode 1 ., stylelint --fix, cross-env TIMING=1 NODE_OPTIONS="--max-old-space-size=4096" xo --fix, prettier --write

fix: linting issues
  packages/foundations/scss/colors/classes/_get-class.scss
Due: jscpd --exitCode 1 ., stylelint --fix

fix: issues with build
  packages/foundations/tailwind/tailwind-tokens.json
  showcases/patternhub/styles/globals.scss
Due: jscpd --exitCode 1 ., stylelint --fix

fix: issue with noImplicitAny
  output/angular/tsconfig.json
  showcases/angular-showcase/tsconfig.json
  showcases/angular-ssr-showcase/tsconfig.json
Due: jscpd --exitCode 1 .

fix: issue with GitHub release workflow
  .github/workflows/release.yml
Due: jscpd --exitCode 1 .

fix: multiple styling issues with DBHeader (#2949)
  __snapshots__/header/patternhub/header-overview-should-match-screenshot.png
  __snapshots__/header/showcase/chromium/regular/neutral-bg-lvl-1/DBHeader-should-match-screenshot.png
  __snapshots__/header/showcase/firefox/regular/neutral-bg-lvl-1/DBHeader-should-match-screenshot.png
  __snapshots__/header/showcase/mobile-chrome/regular/neutral-bg-lvl-1/DBHeader-should-match-screenshot.png
  __snapshots__/header/showcase/mobile-safari/regular/neutral-bg-lvl-1/DBHeader-should-match-screenshot.png
  packages/components/src/components/header/header.scss
  packages/components/src/components/navigation-item/navigation-item.scss
  packages/components/src/styles/_component.scss
  packages/foundations/scss/default-theme.scss
Due: jscpd --exitCode 1 ., stylelint --fix

docs: adds decision tree for color usage
  package-lock.json
  showcases/patternhub/data/routes.tsx
  showcases/patternhub/package.json
  showcases/patternhub/pages/_app.tsx
  showcases/patternhub/pages/foundations/colors/color-usage-guide.tsx
  showcases/patternhub/pages/foundations/colors/overview.tsx
  showcases/patternhub/styles/decision-tree.scss
Due: jscpd --exitCode 1 ., stylelint --fix, cross-env TIMING=1 NODE_OPTIONS="--max-old-space-size=4096" xo --fix, prettier --write

fix: issue with GitHub release workflow (#2955)
  .github/workflows/release.yml
Due: jscpd --exitCode 1 .

docs: update migration
  docs/migration/color-update.md
  packages/foundations/README.md
Due: jscpd --exitCode 1 ., markdownlint -c .markdown-lint.yml

chore: update default-palette
  packages/foundations/scss/colors/_default-palette.scss
Due: jscpd --exitCode 1 ., stylelint --fix

fix: issue with puls colors
  packages/components/src/styles/_db-puls.scss
Due: jscpd --exitCode 1 ., stylelint --fix

chore: update snapshots
  __snapshots__/header/showcase/chromium/DBHeader-should-match-screenshot-1/DBHeader-should-match-screenshot.png
  __snapshots__/header/showcase/firefox/DBHeader-should-match-screenshot-1/DBHeader-should-match-screenshot.png
  __snapshots__/header/showcase/mobile-chrome/DBHeader-should-match-screenshot-1/DBHeader-should-match-screenshot.png
  __snapshots__/header/showcase/mobile-safari/DBHeader-should-match-screenshot-1/DBHeader-should-match-screenshot.png
Due: jscpd --exitCode 1 .

docs: adds decision tree for color usage (#2956)
  package-lock.json
  showcases/patternhub/data/routes.tsx
  showcases/patternhub/package.json
  showcases/patternhub/pages/_app.tsx
  showcases/patternhub/pages/foundations/colors/color-usage-guide.tsx
  showcases/patternhub/pages/foundations/colors/overview.tsx
  showcases/patternhub/styles/decision-tree.scss
Due: jscpd --exitCode 1 ., stylelint --fix, cross-env TIMING=1 NODE_OPTIONS="--max-old-space-size=4096" xo --fix, prettier --write

fix: issue with button and link tag color
  packages/components/src/styles/_tag-components.scss
Due: jscpd --exitCode 1 ., stylelint --fix

fix: replaces hex stroke color by css var
  showcases/patternhub/pages/foundations/colors/color-usage-guide.tsx
Due: jscpd --exitCode 1 ., cross-env TIMING=1 NODE_OPTIONS="--max-old-space-size=4096" xo --fix, prettier --write

refactor: squash dependabot PRs
  .github/workflows/99-auto-merge.yml
Due: jscpd --exitCode 1 .

fix: docs URL
  showcases/patternhub/scripts/get-code-files.js
Due: jscpd --exitCode 1 ., cross-env TIMING=1 NODE_OPTIONS="--max-old-space-size=4096" xo --fix, prettier --write
