Repository nekator/mono: changes, and which lint-staged commands are due for each by the changed paths.
All: jscpd --exitCode 1 ., markdownlint -c .markdown-lint.yml, stylelint --fix, cross-env TIMING=1 NODE_OPTIONS="--max-old-space-size=4096" xo --fix, prettier --write, prettier --write --ignore-unknown

chore: add new workflow to regenerate snapshots on failure (#2373)
  .github/scripts/update-playwright.js
  .github/workflows/02-e2e-regenerate.yml
  .github/workflows/default.yml
Due: jscpd --exitCode 1 ., cross-env TIMING=1 NODE_OPTIONS="--max-old-space-size=4096" xo --fix, prettier --write

fix: issue with aria-current for navigation-items and sub-navigation (#2259)
  packages/components/src/components/main-navigation/docs/Angular.md
  packages/components/src/components/main-navigation/docs/Vue.md
  packages/components/src/components/main-navigation/main-navigation.scss
  packages/components/src/components/navigation-item/navigation-item.scss
  showcases/angular-showcase/src/app/nav-item/nav-item.component.html
  showcases/angular-showcase/src/app/nav-item/nav-item.component.ts
  showcases/vue-showcase/src/NavItemComponent.vue
Due: jscpd --exitCode 1 ., markdownlint -c .markdown-lint.yml, stylelint --fix, cross-env TIMING=1 NODE_OPTIONS="--max-old-space-size=4096" xo --fix, prettier --write

feat: add message to checkbox (#2364)
  __snapshots__/tag/showcase/chromium/regular/neutral/DBTag-should-match-screenshot.png
  __snapshots__/tag/showcase/firefox/regular/neutral/DBTag-should-match-screenshot.png
  __snapshots__/tag/showcase/mobile-chrome/regular/neutral/DBTag-should-match-screenshot.png
  __snapshots__/tag/showcase/mobile-safari/regular/neutral/DBTag-should-match-screenshot.png
  __snapshots__/tag/showcase/webkit/regular/neutral/DBTag-should-match-screenshot.png
  __snapshots__/textarea/showcase/chromium/regular/neutral/DBTextarea-should-match-screenshot.png
  packages/components/src/components/checkbox/checkbox.lite.tsx
  packages/components/src/components/checkbox/checkbox.scss
  packages/components/src/components/checkbox/model.ts
  packages/components/src/components/input/input.lite.tsx
  packages/components/src/components/select/select.lite.tsx
  packages/components/src/components/textarea/textarea.lite.tsx
  packages/components/src/styles/_form-components.scss
Due: jscpd --exitCode 1 ., stylelint --fix, cross-env TIMING=1 NODE_OPTIONS="--max-old-space-size=4096" xo --fix, prettier --write

fix: issue with code docs
  showcases/patternhub/components/index.tsx
  showcases/patternhub/scripts/get-code-files.js
  showcases/patternhub/styles/globals.scss
  showcases/patternhub/styles/highlight.scss
Due: jscpd --exitCode 1 ., stylelint --fix, cross-env TIMING=1 NODE_OPTIONS="--max-old-space-size=4096" xo --fix, prettier --write

fix: issue with angular css selectors
  showcases/showcase-styles.css
Due: jscpd --exitCode 1 ., stylelint --fix

chore: typo
  packages/components/src/shared/constants.ts
Due: jscpd --exitCode 1 ., cross-env TIMING=1 NODE_OPTIONS="--max-old-space-size=4096" xo --fix, prettier --write

refactor: change badge default size (#2390)
  __snapshots__/badge/component/chromium/DBBadge-should-match-screenshot.png
  __snapshots__/badge/component/firefox/DBBadge-should-match-screenshot.png
  __snapshots__/badge/component/mobile-chrome/DBBadge-should-match-screenshot.png
  __snapshots__/badge/showcase/chromium/regular/neutral/DBBadge-should-match-screenshot.png
  __snapshots__/badge/showcase/firefox/regular/neutral/DBBadge-should-match-screenshot.png
  __snapshots__/badge/showcase/mobile-chrome/regular/neutral/DBBadge-should-match-screenshot.png
  __snapshots__/badge/showcase/mobile-safari/regular/neutral/DBBadge-should-match-screenshot.png
  __snapshots__/badge/showcase/webkit/regular/neutral/DBBadge-should-match-screenshot.png
  packages/components/src/components/badge/badge.scss
  showcases/shared/badge.json
Due: jscpd --exitCode 1 ., stylelint --fix

chore: update from main
  __snapshots__/badge/showcase/chromium/regular/neutral/DBBadge-should-match-screenshot.png
  __snapshots__/badge/showcase/firefox/regular/neutral/DBBadge-should-match-screenshot.png
  __snapshots__/badge/showcase/mobile-chrome/regular/neutral/DBBadge-should-match-screenshot.png
  __snapshots__/badge/showcase/mobile-safari/regular/neutral/DBBadge-should-match-screenshot.png
  __snapshots__/badge/showcase/webkit/regular/neutral/DBBadge-should-match-screenshot.png
  package-lock.json
Due: jscpd --exitCode 1 .

chore: update package-lock.json
  package-lock.json
Due: jscpd --exitCode 1 .

fix: issue with exporting angular directives (#2404)
  packages/components/scripts/post-build/angular.js
  packages/components/src/index.ts
Due: jscpd --exitCode 1 ., cross-env TIMING=1 NODE_OPTIONS="--max-old-space-size=4096" xo --fix, prettier --write

Path conditions:
  jscpd --exitCode 1 .: any of: *
  markdownlint -c .markdown-lint.yml: any of: *.md
  stylelint --fix: any of: *.{css,scss}
  cross-env TIMING=1 NODE_OPTIONS="--max-old-space-size=4096" xo --fix: any of: *.{js,ts,tsx}
  prettier --write: any of: *.{js,ts,tsx}
  prettier --write --ignore-unknown: any of: *.!{js,ts,tsx}
