Repository nekator/mono: changes, and which lint-staged commands are due for each by the changed paths.
All: jscpd --exitCode 1 ., markdownlint -c .markdown-lint.yml, stylelint --fix, cross-env TIMING=1 NODE_OPTIONS="--max-old-space-size=4096" xo --fix, prettier --write, prettier --write --ignore-unknown

.lintstagedrc:

{
	"*": "jscpd --exitCode 1 .",
	"*.md": "markdownlint -c .markdown-lint.yml",
	"*.{css,scss}": "stylelint --fix",
	"*.{js,ts,tsx}": ["cross-env TIMING=1 NODE_OPTIONS=\"--max-old-space-size=4096\" xo --fix", "prettier --write"],
	"*.!{js,ts,tsx}": "prettier --write --ignore-unknown"
}

fix: tag colors for emphasis strong (#1454)
  packages/components/src/styles/tag-components.scss
Due: jscpd --exitCode 1 ., stylelint --fix

feat: added en as the default language
  showcases/patternhub/next.config.js
Due: jscpd --exitCode 1 ., cross-env TIMING=1 NODE_OPTIONS="--max-old-space-size=4096" xo --fix, prettier --write

Revert "feat: added en as the default language"
  showcases/patternhub/next.config.js
Due: jscpd --exitCode 1 ., cross-env TIMING=1 NODE_OPTIONS="--max-old-space-size=4096" xo --fix, prettier --write

refactor: try that different approach
  showcases/patternhub/pages/_document.tsx
Due: jscpd --exitCode 1 ., cross-env TIMING=1 NODE_OPTIONS="--max-old-space-size=4096" xo --fix, prettier --write

Revert "refactor: next export is deprecated"
  showcases/patternhub/next.config.js
  showcases/patternhub/package.json
Due: jscpd --exitCode 1 ., cross-env TIMING=1 NODE_OPTIONS="--max-old-space-size=4096" xo --fix, prettier --write

feat: add controlling for power-apps canvas (#1367)
  build-power-apps/button/DBButton/strings/DBButton.1031.resx
  build-power-apps/button/DBButton/strings/DBButton.1033.resx
  packages/components/_templates/power-apps/new/comp-xml.ejs.t
  packages/components/_templates/power-apps/new/index.ejs.t
  packages/components/_templates/power-apps/new/utils.ejs.t
  packages/components/plugins/power-apps/index.js
  packages/components/src/components/alert/alert.lite.tsx
  packages/components/src/components/button/button.lite.tsx
  packages/components/src/components/icon/icon.lite.tsx
  packages/components/src/components/input/input.lite.tsx
Due: jscpd --exitCode 1 ., cross-env TIMING=1 NODE_OPTIONS="--max-old-space-size=4096" xo --fix, prettier --write

refactor: code optimization
  docs/research-other-design-systems.md
Due: jscpd --exitCode 1 ., markdownlint -c .markdown-lint.yml

refactor: next export is deprecated (#1462)
  showcases/patternhub/next.config.js
  showcases/patternhub/package.json
Due: jscpd --exitCode 1 ., cross-env TIMING=1 NODE_OPTIONS="--max-old-space-size=4096" xo --fix, prettier --write

refactor: let's give this a try
  packages/foundations/scss/_font-faces.scss
Due: jscpd --exitCode 1 ., stylelint --fix

refactor: reverted this
  packages/foundations/scss/_font-faces.scss
Due: jscpd --exitCode 1 ., stylelint --fix

fix: we need to ensure the long form font names for local environments as well
  packages/foundations/scss/_font-faces.scss
Due: jscpd --exitCode 1 ., stylelint --fix

refactor: added correct default value
  packages/components/src/components/alert/alert.lite.tsx
Due: jscpd --exitCode 1 ., cross-env TIMING=1 NODE_OPTIONS="--max-old-space-size=4096" xo --fix, prettier --write
