Repository nekator/mono: changes, and which lint-staged commands are due for each by the changed paths.
All: jscpd --exitCode 1 ., markdownlint -c .markdown-lint.yml, stylelint --fix, cross-env TIMING=1 NODE_OPTIONS="--max-old-space-size=4096" xo --fix, prettier --write, prettier --write --ignore-unknown

docs: clarity (#3136)
  packages/foundations/docs/CustomIcons.md
Due: jscpd --exitCode 1 ., markdownlint -c .markdown-lint.yml

chore: fix input test
  showcases/screen-reader/__snapshots__/macos/webkit/DBInput-next-1.txt
  showcases/screen-reader/__snapshots__/macos/webkit/DBInput-required-1.txt
  showcases/screen-reader/tests/input.spec.ts
Due: jscpd --exitCode 1 ., cross-env TIMING=1 NODE_OPTIONS="--max-old-space-size=4096" xo --fix, prettier --write

chore: regenerated snapshots for input
  showcases/screen-reader/__snapshots__/macos/webkit/DBInput-next-1.txt
  showcases/screen-reader/__snapshots__/macos/webkit/DBInput-required-1.txt
Due: jscpd --exitCode 1 .

chore: update windows sr snapshot for accordion
  showcases/screen-reader/__snapshots__/windows/chromium/DBAccordion-default-1.txt
Due: jscpd --exitCode 1 .

chore: formatting
  showcases/screen-reader/translations.ts
Due: jscpd --exitCode 1 ., cross-env TIMING=1 NODE_OPTIONS="--max-old-space-size=4096" xo --fix, prettier --write

chore: removes old snapshot for navigation
  showcases/screen-reader/__snapshots__/macos/webkit/DBNavigation-default-1.txt
Due: jscpd --exitCode 1 .

chore: adds regenerated snapshot for navigation
  showcases/screen-reader/__snapshots__/macos/webkit/DBNavigation-default-1.txt
Due: jscpd --exitCode 1 .

feat: re-adds prop active as optional way to highlight
  packages/components/src/components/navigation-item/model.ts
  packages/components/src/components/navigation-item/navigation-item.lite.tsx
  packages/components/src/components/navigation-item/navigation-item.scss
  packages/components/src/components/navigation/docs/Accessibility.md
  packages/components/src/components/navigation/docs/Angular.md
  packages/components/src/components/navigation/docs/React.md
  packages/components/src/components/navigation/docs/Vue.md
  packages/components/src/components/navigation/navigation.scss
  showcases/angular-showcase/src/app/components/navigation-item/navigation-item.component.html
  showcases/angular-showcase/src/app/components/navigation/navigation.component.html
  showcases/react-showcase/src/components/navigation-item/index.tsx
  showcases/shared/navigation.json
  showcases/vue-showcase/src/components/navigation/Navigation.vue
Due: jscpd --exitCode 1 ., markdownlint -c .markdown-lint.yml, stylelint --fix, cross-env TIMING=1 NODE_OPTIONS="--max-old-space-size=4096" xo --fix, prettier --write

refactor: resilience (#3139)
  .husky/pre-commit
Due: jscpd --exitCode 1 .

chore: removes comment
  packages/components/src/components/navigation/navigation.scss
Due: jscpd --exitCode 1 ., stylelint --fix

Update README.md (#3143)
  README.md
Due: jscpd --exitCode 1 ., markdownlint -c .markdown-lint.yml

chore: fixes sr test
  showcases/screen-reader/tests/input.spec.ts
Due: jscpd --exitCode 1 ., cross-env TIMING=1 NODE_OPTIONS="--max-old-space-size=4096" xo --fix, prettier --write

chore: adds regenerated screenshot
  __snapshots__/navigation-item/patternhub/navigation-item-properties-should-match-screenshot.png
Due: jscpd --exitCode 1 .

chore: adds regenerated screenshot for windows
  showcases/screen-reader/__snapshots__/windows/chromium/DBNavigation-default-1.txt
  showcases/screen-reader/__snapshots__/windows/chromium/DBTag-behaviour-1.txt
Due: jscpd --exitCode 1 .

refactor: "preinstall" dev dependency (#3154)
  package-lock.json
  packages/foundations/package.json
Due: jscpd --exitCode 1 .

chore: wrong css committed previously
  packages/components/src/components/navigation/navigation.scss
Due: jscpd --exitCode 1 ., stylelint --fix

Path conditions:
  jscpd --exitCode 1 .: any of: *
  markdownlint -c .markdown-lint.yml: any of: *.md
  stylelint --fix: any of: *.{css,scss}
  cross-env TIMING=1 NODE_OPTIONS="--max-old-space-size=4096" xo --fix: any of: *.{js,ts,tsx}
  prettier --write: any of: *.{js,ts,tsx}
  prettier --write --ignore-unknown: any of: *.!{js,ts,tsx}
