Repository nekator/mono: changes, and which lint-staged commands are due for each by the changed paths.
All: jscpd --exitCode 1 ., markdownlint -c .markdown-lint.yml, stylelint --fix, cross-env TIMING=1 NODE_OPTIONS="--max-old-space-size=4096" xo --fix, prettier --write, prettier --write --ignore-unknown

chore: update snapshots
  __snapshots__/accordion/patternhub/accordion-properties-should-match-screenshot.png
  __snapshots__/tab-item/patternhub/tab-item-properties-should-match-screenshot.png
  __snapshots__/tabs/patternhub/tabs-properties-should-match-screenshot.png
  output/stencil/scripts/packageLinkPhase.js
Due: jscpd --exitCode 1 ., cross-env TIMING=1 NODE_OPTIONS="--max-old-space-size=4096" xo --fix, prettier --write

feat: add description for properties
  output/stencil/custom-elements-manifest.config.js
  output/stencil/package.json
  output/stencil/scripts/analyzePhase.js
  output/stencil/scripts/packageLinkPhase.js
  package-lock.json
  packages/components/scripts/post-build/stencil.ts
Due: jscpd --exitCode 1 ., cross-env TIMING=1 NODE_OPTIONS="--max-old-space-size=4096" xo --fix, prettier --write

fix: issue for jetbrains ide not autocompleting angular components (#3215)
  packages/components/configs/angular/index.js
  packages/components/configs/angular/mitosis.config.js
  packages/components/configs/mitosis.config.js
  packages/components/configs/react/index.js
  packages/components/configs/react/mitosis.config.js
  packages/components/configs/vue/index.js
  packages/components/configs/vue/mitosis.config.js
  packages/components/package.json
  packages/components/scripts/post-build/angular.ts
Due: jscpd --exitCode 1 ., cross-env TIMING=1 NODE_OPTIONS="--max-old-space-size=4096" xo --fix, prettier --write

refactor: introducing typed CSS Custom Properties (#3128)
  packages/foundations/scss/colors/_default-palette.scss
  packages/foundations/scss/default-theme.scss
Due: jscpd --exitCode 1 ., stylelint --fix

fix: issue vue tsc (#3225)
  output/vue/scripts/fix-any-types.ts
Due: jscpd --exitCode 1 ., cross-env TIMING=1 NODE_OPTIONS="--max-old-space-size=4096" xo --fix, prettier --write

fix: issue with long inline links not breaking (#3232)
  packages/components/src/styles/_link-components.scss
  showcases/react-showcase/src/components/form/index.tsx
Due: jscpd --exitCode 1 ., stylelint --fix, cross-env TIMING=1 NODE_OPTIONS="--max-old-space-size=4096" xo --fix, prettier --write

Path conditions:
  jscpd --exitCode 1 .: any of: *
  markdownlint -c .markdown-lint.yml: any of: *.md
  stylelint --fix: any of: *.{css,scss}
  cross-env TIMING=1 NODE_OPTIONS="--max-old-space-size=4096" xo --fix: any of: *.{js,ts,tsx}
  prettier --write: any of: *.{js,ts,tsx}
  prettier --write --ignore-unknown: any of: *.!{js,ts,tsx}
