Repository nekator/mono: changes, and which lint-staged commands are due for each by the changed paths.
All: jscpd --exitCode 1 ., markdownlint -c .markdown-lint.yml, stylelint --fix, cross-env TIMING=1 NODE_OPTIONS="--max-old-space-size=4096" xo --fix, prettier --write, prettier --write --ignore-unknown

docs: 📝 conclusion for switch dev research
  docs/research/switch-and-toggle.md
Due: jscpd --exitCode 1 ., markdownlint -c .markdown-lint.yml

refactor: removed obsolete comment
  .husky/commit-msg
Due: jscpd --exitCode 1 .

fix: issue with wrong data-icon-after (#1601)
  packages/components/index.html
  packages/components/src/components/main-navigation/main-navigation.scss
  packages/components/src/icons.html
  packages/foundations/scss/icon/_icon-helpers.scss
  packages/foundations/scss/icon/icons.scss
Due: jscpd --exitCode 1 ., stylelint --fix

refactor: added box-shadow
  packages/foundations/scss/_init.scss
Due: jscpd --exitCode 1 ., stylelint --fix

refactor: this declaration is redundant
  packages/components/src/components/link/link.scss
Due: jscpd --exitCode 1 ., stylelint --fix

refactor: changed those
  packages/foundations/scss/_init.scss
Due: jscpd --exitCode 1 ., stylelint --fix

Path conditions:
  jscpd --exitCode 1 .: any of: *
  markdownlint -c .markdown-lint.yml: any of: *.md
  stylelint --fix: any of: *.{css,scss}
  cross-env TIMING=1 NODE_OPTIONS="--max-old-space-size=4096" xo --fix: any of: *.{js,ts,tsx}
  prettier --write: any of: *.{js,ts,tsx}
  prettier --write --ignore-unknown: any of: *.!{js,ts,tsx}
