Repository nekator/mono: changes, and which lint-staged commands are due for each by the changed paths.
All: jscpd --exitCode 1 ., markdownlint -c .markdown-lint.yml, stylelint --fix, cross-env TIMING=1 NODE_OPTIONS="--max-old-space-size=4096" xo --fix, prettier --write, prettier --write --ignore-unknown

.lintstagedrc:

{
	"*": "jscpd --exitCode 1 .",
	"*.md": "markdownlint -c .markdown-lint.yml",
	"*.{css,scss}": "stylelint --fix",
	"*.{js,ts,tsx}": ["cross-env TIMING=1 NODE_OPTIONS=\"--max-old-space-size=4096\" xo --fix", "prettier --write"],
	"*.!{js,ts,tsx}": "prettier --write --ignore-unknown"
}

Update index.tsx
  showcases/patternhub/components/index.tsx
Due: jscpd --exitCode 1 ., cross-env TIMING=1 NODE_OPTIONS="--max-old-space-size=4096" xo --fix, prettier --write

chore: update from main
  package-lock.json
Due: jscpd --exitCode 1 .

fix: issue with defaultValue for input floating label (#2338)
  showcases/react-showcase/src/components/input/index.tsx
Due: jscpd --exitCode 1 ., cross-env TIMING=1 NODE_OPTIONS="--max-old-space-size=4096" xo --fix, prettier --write

fix: minor issue with playwright version (#2341)
  .github/scripts/update-playwright.js
  .github/workflows/02-e2e-foundations.yml
  .github/workflows/02-e2e-showcases.yml
  .github/workflows/02-e2e.yml
  e2e/Dockerfile
  e2e/package-lock.json
  e2e/package.json
  package.json
  packages/components/_templates/mitosis/new/showcases/angular-showcase-component.ejs.t
  scripts/package.json
Due: jscpd --exitCode 1 ., cross-env TIMING=1 NODE_OPTIONS="--max-old-space-size=4096" xo --fix, prettier --write

docs: add migration doc for beta
  docs/migration/alpha-beta.md
Due: jscpd --exitCode 1 ., markdownlint -c .markdown-lint.yml

docs: removed component list to reduce maintenance (#2343)
  README.md
Due: jscpd --exitCode 1 ., markdownlint -c .markdown-lint.yml
