Repository nekator/mono: changes, and which lint-staged commands are due for each by the changed paths.
All: jscpd --exitCode 1 ., markdownlint -c .markdown-lint.yml, stylelint --fix, cross-env TIMING=1 NODE_OPTIONS="--max-old-space-size=4096" xo --fix, prettier --write, prettier --write --ignore-unknown

.lintstagedrc:

{
	"*": "jscpd --exitCode 1 .",
	"*.md": "markdownlint -c .markdown-lint.yml",
	"*.{css,scss}": "stylelint --fix",
	"*.{js,ts,tsx}": ["cross-env TIMING=1 NODE_OPTIONS=\"--max-old-space-size=4096\" xo --fix", "prettier --write"],
	"*.!{js,ts,tsx}": "prettier --write --ignore-unknown"
}

fix: static tag color to align with design (#2894)
  packages/components/src/styles/_tag-components.scss
Due: jscpd --exitCode 1 ., stylelint --fix

fix: pipeline speed by skipping firefox test (#2895)
  showcases/e2e/default.ts
Due: jscpd --exitCode 1 ., cross-env TIMING=1 NODE_OPTIONS="--max-old-space-size=4096" xo --fix, prettier --write

test: add guidepup as screen-reader automation (#2556)
  .github/actions/npm-cache/action.yml
  .github/actions/playwright-cache/action.yml
  .github/workflows/01-init-playwright.yml
  .github/workflows/02-e2e-screen-reader.yml
  .github/workflows/default.yml
  .github/workflows/release.yml
  .gitignore
  .jscpd.json
  .prettierignore
  output/react/package.json
  package-lock.json
  package.json
  packages/foundations/scss/helpers/_divider.scss
  showcases/angular-showcase/src/app/components/default.component.ts
  showcases/playwright.config.ts
  showcases/playwright.screen-reader.macos.ts
  showcases/playwright.screen-reader.ts
  showcases/playwright.screen-reader.windows.ts
  showcases/playwright.showcase.ts
  showcases/react-showcase/package.json
  showcases/screen-reader/README.md
  showcases/screen-reader/__snapshots__/macos/webkit/DBButton-should-not-have-icon-in-screen-reader-next-.txt
  showcases/screen-reader/__snapshots__/macos/webkit/DBInput-should-have-message-and-label-next-.txt
  showcases/screen-reader/__snapshots__/macos/webkit/DBRadio-should-label-duplicated-next-.txt
  showcases/screen-reader/__snapshots__/windows/chromium/DBButton-should-not-have-icon-in-screen-reader-next-.txt
  showcases/screen-reader/__snapshots__/windows/chromium/DBButton-should-not-have-icon-in-screen-reader-tab-.txt
  showcases/screen-reader/__snapshots__/windows/chromium/DBInput-should-have-message-and-label-tab-.txt
  showcases/screen-reader/__snapshots__/windows/chromium/DBRadio-should-label-duplicated-arrows-.txt
  showcases/screen-reader/__snapshots__/windows/chromium/DBRadio-should-label-duplicated-next-.txt
  showcases/screen-reader/data.ts
  showcases/screen-reader/default.ts
  showcases/screen-reader/tests/button.spec.ts
  showcases/screen-reader/tests/input.spec.ts
  showcases/screen-reader/tests/radio.spec.ts
  showcases/screen-reader/tsconfig.json
Due: jscpd --exitCode 1 ., markdownlint -c .markdown-lint.yml, stylelint --fix, cross-env TIMING=1 NODE_OPTIONS="--max-old-space-size=4096" xo --fix, prettier --write

fix: issue with angular ssr
  packages/components/src/components/page/page.lite.tsx
Due: jscpd --exitCode 1 ., cross-env TIMING=1 NODE_OPTIONS="--max-old-space-size=4096" xo --fix, prettier --write

fix: issue with autofocus for drawer (#2555)
  __snapshots__/drawer/patternhub/drawer-properties-should-match-screenshot.png
  packages/components/src/components/drawer/drawer.lite.tsx
  packages/components/src/components/drawer/drawer.spec.tsx
  packages/components/src/components/drawer/model.ts
  packages/components/src/components/header/header.lite.tsx
  showcases/angular-showcase/src/app/components/drawer/drawer.component.html
  showcases/react-showcase/src/components/drawer/index.tsx
  showcases/screen-reader/__snapshots__/macos/webkit/DBDrawer-should-autofocus.txt
  showcases/screen-reader/__snapshots__/windows/chromium/DBDrawer-should-autofocus.txt
  showcases/screen-reader/default.ts
  showcases/screen-reader/tests/drawer.spec.ts
  showcases/shared/drawer.json
  showcases/vue-showcase/src/components/drawer/Drawer.vue
Due: jscpd --exitCode 1 ., cross-env TIMING=1 NODE_OPTIONS="--max-old-space-size=4096" xo --fix, prettier --write

Update .lintstagedrc.js
  .lintstagedrc.js
Due: jscpd --exitCode 1 ., cross-env TIMING=1 NODE_OPTIONS="--max-old-space-size=4096" xo --fix, prettier --write

Update CODE-OF-CONDUCT.md
  CODE-OF-CONDUCT.md
Due: jscpd --exitCode 1 ., markdownlint -c .markdown-lint.yml

docs: contributions
  CONTRIBUTING.md
Due: jscpd --exitCode 1 ., markdownlint -c .markdown-lint.yml

Create conventions.md
  docs/conventions.md
Due: jscpd --exitCode 1 ., markdownlint -c .markdown-lint.yml

Update CONTRIBUTING.md
  CONTRIBUTING.md
Due: jscpd --exitCode 1 ., markdownlint -c .markdown-lint.yml

Create .gitattributes
  .gitattributes
Due: jscpd --exitCode 1 .
