Repository nekator/mono: changes, and which lint-staged commands are due for each by the changed paths.
All: jscpd --exitCode 1 ., markdownlint -c .markdown-lint.yml, stylelint --fix, cross-env TIMING=1 NODE_OPTIONS="--max-old-space-size=4096" xo --fix, prettier --write, prettier --write --ignore-unknown

.lintstagedrc:

{
	"*": "jscpd --exitCode 1 .",
	"*.md": "markdownlint -c .markdown-lint.yml",
	"*.{css,scss}": "stylelint --fix",
	"*.{js,ts,tsx}": ["cross-env TIMING=1 NODE_OPTIONS=\"--max-old-space-size=4096\" xo --fix", "prettier --write"],
	"*.!{js,ts,tsx}": "prettier --write --ignore-unknown"
}

fix: issue with removed colorVariants from card
  showcases/patternhub/pages/foundations/tonalities/examples.tsx
  showcases/patternhub/styles/globals.scss
Due: jscpd --exitCode 1 ., stylelint --fix, cross-env TIMING=1 NODE_OPTIONS="--max-old-space-size=4096" xo --fix, prettier --write

fix: remove generating icon-fonts from lintstaged
  .lintstagedrc.js
Due: jscpd --exitCode 1 ., cross-env TIMING=1 NODE_OPTIONS="--max-old-space-size=4096" xo --fix, prettier --write

fix: issue with releasing icon assets (#1950)
  .github/scripts/release/upload-asset.js
Due: jscpd --exitCode 1 ., cross-env TIMING=1 NODE_OPTIONS="--max-old-space-size=4096" xo --fix, prettier --write

refactor: updated xo dependency
  package-lock.json
  package.json
Due: jscpd --exitCode 1 .

refactor: xo feedback
  scripts/md-resolve-svg.js
  showcases/patternhub/pages/foundations/variables/examples.tsx
  showcases/patternhub/scripts/get-code-files.js
  showcases/patternhub/scripts/get-example-file.js
  showcases/patternhub/scripts/get-properties-file.js
  showcases/patternhub/scripts/utils.js
Due: jscpd --exitCode 1 ., cross-env TIMING=1 NODE_OPTIONS="--max-old-space-size=4096" xo --fix, prettier --write

refactor: xo feedback
  showcases/patternhub/components/index.tsx
Due: jscpd --exitCode 1 ., cross-env TIMING=1 NODE_OPTIONS="--max-old-space-size=4096" xo --fix, prettier --write

refactor: corrected this one by deactivating that rule here
  showcases/patternhub/components/index.tsx
Due: jscpd --exitCode 1 ., cross-env TIMING=1 NODE_OPTIONS="--max-old-space-size=4096" xo --fix, prettier --write

chore(tags): removed obsolete declaration
  packages/components/src/components/tag/tag.scss
Due: jscpd --exitCode 1 ., stylelint --fix

fix: issue with bad color-scheme changes (#1951)
  packages/foundations/docs/Colors.md
  packages/foundations/scss/colors/_placeholder.scss
  packages/foundations/scss/colors/color-scheme.scss
  packages/foundations/scss/default-theme.scss
  showcases/patternhub/components/default-page.tsx
  showcases/patternhub/components/index.tsx
  showcases/patternhub/data/routes.ts
  showcases/patternhub/pages/foundations/colors/color-schemes.tsx
  showcases/patternhub/styles/globals.scss
Due: jscpd --exitCode 1 ., markdownlint -c .markdown-lint.yml, stylelint --fix, cross-env TIMING=1 NODE_OPTIONS="--max-old-space-size=4096" xo --fix, prettier --write

fix: asset upload (#1962)
  .github/scripts/release/upload-asset.js
Due: jscpd --exitCode 1 ., cross-env TIMING=1 NODE_OPTIONS="--max-old-space-size=4096" xo --fix, prettier --write
