Repository nekator/mono: changes, and which lint-staged commands are due for each by the changed paths.
All: jscpd --exitCode 1 ., markdownlint -c .markdown-lint.yml, stylelint --fix, cross-env TIMING=1 NODE_OPTIONS="--max-old-space-size=4096" xo --fix, prettier --write, prettier --write --ignore-unknown

fix: missing alignment property (center) (#2689)
  packages/components/src/shared/model.ts
Due: jscpd --exitCode 1 ., cross-env TIMING=1 NODE_OPTIONS="--max-old-space-size=4096" xo --fix, prettier --write

chore: merged main and created new package lock
  package-lock.json
Due: jscpd --exitCode 1 .

chore: removes obsolete type componentGroup
  showcases/react-showcase/src/components/accordion-item/index.tsx
  showcases/react-showcase/src/components/base-component-data.ts
  showcases/react-showcase/src/components/default-component.tsx
  showcases/react-showcase/src/components/navigation-item/index.tsx
  showcases/react-showcase/src/components/tab-item/index.tsx
  showcases/shared/default-component-data.ts
Due: jscpd --exitCode 1 ., cross-env TIMING=1 NODE_OPTIONS="--max-old-space-size=4096" xo --fix, prettier --write

fix: reduces more or less doubled by using function with ts generics
  showcases/next-showcase/pages/[[...slug]].tsx
Due: jscpd --exitCode 1 ., cross-env TIMING=1 NODE_OPTIONS="--max-old-space-size=4096" xo --fix, prettier --write

fix: removes unused commented import
  showcases/react-showcase/src/meta-navigation/index.tsx
Due: jscpd --exitCode 1 ., cross-env TIMING=1 NODE_OPTIONS="--max-old-space-size=4096" xo --fix, prettier --write

fix: fixes ts errors undefined not allowed as array index
  showcases/patternhub/data/routes.tsx
Due: jscpd --exitCode 1 ., cross-env TIMING=1 NODE_OPTIONS="--max-old-space-size=4096" xo --fix, prettier --write

fix: raise npm versions of angular ssr showcase
  package-lock.json
  showcases/angular-ssr-showcase/package.json
Due: jscpd --exitCode 1 .

chore: merged with main and rebuilt package-lock
  package-lock.json
Due: jscpd --exitCode 1 .

fix: separate ReactDefaultComponentProps from DefaultComponentProps
  showcases/patternhub/components/data.ts
  showcases/react-showcase/src/components/data.ts
  showcases/react-showcase/src/components/default-component.tsx
  showcases/shared/default-component-data.ts
  showcases/shared/react-default-component-data.ts
Due: jscpd --exitCode 1 ., cross-env TIMING=1 NODE_OPTIONS="--max-old-space-size=4096" xo --fix, prettier --write

feat: adds patternhub to dev script
  scripts/dev.js
Due: jscpd --exitCode 1 ., cross-env TIMING=1 NODE_OPTIONS="--max-old-space-size=4096" xo --fix, prettier --write

docs: replace some code formatting by bold formatting
  packages/foundations/README.md
  packages/foundations/docs/Colors.md
  packages/foundations/docs/CustomIcons.md
  packages/foundations/docs/Densities.md
  packages/foundations/docs/FontsSizes.md
  packages/foundations/docs/Icons.md
  packages/foundations/docs/Variables.md
  showcases/patternhub/pages/foundations/variables/examples.tsx
Due: jscpd --exitCode 1 ., markdownlint -c .markdown-lint.yml, cross-env TIMING=1 NODE_OPTIONS="--max-old-space-size=4096" xo --fix, prettier --write

fix: removes not necessary non-breaking-space
  showcases/patternhub/pages/foundations/variables/examples.tsx
Due: jscpd --exitCode 1 ., cross-env TIMING=1 NODE_OPTIONS="--max-old-space-size=4096" xo --fix, prettier --write

docs: adds advantages and when to use sections
  packages/foundations/docs/FontsSizes.md
  showcases/patternhub/pages/foundations/font-sizes/overview.tsx
Due: jscpd --exitCode 1 ., markdownlint -c .markdown-lint.yml, cross-env TIMING=1 NODE_OPTIONS="--max-old-space-size=4096" xo --fix, prettier --write

docs: improve font docs
  packages/foundations/docs/FontsSizes.md
  showcases/patternhub/pages/foundations/font-sizes/overview.tsx
  showcases/patternhub/styles/globals.scss
Due: jscpd --exitCode 1 ., markdownlint -c .markdown-lint.yml, stylelint --fix, cross-env TIMING=1 NODE_OPTIONS="--max-old-space-size=4096" xo --fix, prettier --write

docs: fixes path to colors classes
  packages/foundations/docs/Colors.md
Due: jscpd --exitCode 1 ., markdownlint -c .markdown-lint.yml

docs: adds copy to clipboard button for colors
  showcases/patternhub/pages/foundations/colors/overview.tsx
  showcases/patternhub/styles/globals.scss
Due: jscpd --exitCode 1 ., stylelint --fix, cross-env TIMING=1 NODE_OPTIONS="--max-old-space-size=4096" xo --fix, prettier --write

docs: adds optional checkerboard bg and tab-navigation for classes and data-attrs to colors overview
  showcases/patternhub/pages/foundations/colors/overview.tsx
  showcases/patternhub/styles/globals.scss
Due: jscpd --exitCode 1 ., stylelint --fix, cross-env TIMING=1 NODE_OPTIONS="--max-old-space-size=4096" xo --fix, prettier --write

docs: fixes day night icon at cards and levels
  showcases/patternhub/pages/foundations/colors/color-schemes.tsx
Due: jscpd --exitCode 1 ., cross-env TIMING=1 NODE_OPTIONS="--max-old-space-size=4096" xo --fix, prettier --write

Path conditions:
  jscpd --exitCode 1 .: any of: *
  markdownlint -c .markdown-lint.yml: any of: *.md
  stylelint --fix: any of: *.{css,scss}
  cross-env TIMING=1 NODE_OPTIONS="--max-old-space-size=4096" xo --fix: any of: *.{js,ts,tsx}
  prettier --write: any of: *.{js,ts,tsx}
  prettier --write --ignore-unknown: any of: *.!{js,ts,tsx}
