Repository nekator/mono: changes, and which lint-staged commands are due for each by the changed paths.
All: jscpd --exitCode 1 ., markdownlint -c .markdown-lint.yml, stylelint --fix, cross-env TIMING=1 NODE_OPTIONS="--max-old-space-size=4096" xo --fix, prettier --write, prettier --write --ignore-unknown

fix: 🐛 used wrong build script before
  package.json
Due: jscpd --exitCode 1 .

fix: new icons syntax
  docs/how-to-develop-a-component.md
  packages/components/src/styles/_form-components.scss
Due: jscpd --exitCode 1 ., markdownlint -c .markdown-lint.yml, stylelint --fix

refactor: added missing prop
  showcases/react-showcase/src/components/select/index.tsx
Due: jscpd --exitCode 1 ., cross-env TIMING=1 NODE_OPTIONS="--max-old-space-size=4096" xo --fix, prettier --write

refactor: added missing prop
  showcases/angular-showcase/src/app/components/select/select.component.html
  showcases/vue-showcase/src/components/select/Select.vue
Due: jscpd --exitCode 1 .

refactor: removed redundant property
  packages/components/src/components/select/select.lite.tsx
Due: jscpd --exitCode 1 ., cross-env TIMING=1 NODE_OPTIONS="--max-old-space-size=4096" xo --fix, prettier --write

refactor: added missing styling
  packages/components/src/components/select/select.scss
Due: jscpd --exitCode 1 ., stylelint --fix

docs: added further entries
  showcases/shared/select.json
Due: jscpd --exitCode 1 .

docs: added select
  showcases/angular-showcase/src/app/components/form/form.component.html
  showcases/angular-showcase/src/app/components/form/form.component.ts
Due: jscpd --exitCode 1 ., cross-env TIMING=1 NODE_OPTIONS="--max-old-space-size=4096" xo --fix, prettier --write

refactor: scripts
  package.json
Due: jscpd --exitCode 1 .

feat(textarea): added Power Apps properties
  build-power-apps/DBUI/DBUI.cdsproj
  packages/components/src/components/textarea/textarea.lite.tsx
Due: jscpd --exitCode 1 ., cross-env TIMING=1 NODE_OPTIONS="--max-old-space-size=4096" xo --fix, prettier --write

feat: added missing language files
  build-power-apps/textarea/DBTextarea/strings/DBTextarea.1031.resx
  build-power-apps/textarea/DBTextarea/strings/DBTextarea.1033.resx
Due: jscpd --exitCode 1 .

fix: corrected label
  build-power-apps/textarea/DBTextarea/strings/DBTextarea.1031.resx
  build-power-apps/textarea/DBTextarea/strings/DBTextarea.1033.resx
Due: jscpd --exitCode 1 .

refactor: adding that event as well
  showcases/angular-showcase/src/app/components/form/form.component.html
Due: jscpd --exitCode 1 .

refactor: let's give this a try
  packages/components/src/components/textarea/model.ts
  packages/components/src/components/textarea/textarea.lite.tsx
Due: jscpd --exitCode 1 ., cross-env TIMING=1 NODE_OPTIONS="--max-old-space-size=4096" xo --fix, prettier --write

fix: issue with mobile header wrong padding and not hidden on desktop (#1488)
  packages/components/src/components/drawer/drawer.scss
  packages/components/src/components/header/header.lite.tsx
Due: jscpd --exitCode 1 ., stylelint --fix, cross-env TIMING=1 NODE_OPTIONS="--max-old-space-size=4096" xo --fix, prettier --write

refactor(textarea): the standard behaviour should be the natives elements standard behaviour
  packages/components/src/components/textarea/textarea.scss
Due: jscpd --exitCode 1 ., stylelint --fix

Update textarea.lite.tsx
  packages/components/src/components/textarea/textarea.lite.tsx
Due: jscpd --exitCode 1 ., cross-env TIMING=1 NODE_OPTIONS="--max-old-space-size=4096" xo --fix, prettier --write

Discard changes to packages/components/src/components/textarea/model.ts
  packages/components/src/components/textarea/model.ts
Due: jscpd --exitCode 1 ., cross-env TIMING=1 NODE_OPTIONS="--max-old-space-size=4096" xo --fix, prettier --write

test: updated screenshots
  __snapshots__/textarea/component/chromium/DBTextarea-should-match-screenshot.png
  __snapshots__/textarea/component/mobile-chrome/DBTextarea-should-match-screenshot.png
  __snapshots__/textarea/showcase/chromium/regular/neutral/DBTextarea-should-match-screenshot.png
  __snapshots__/textarea/showcase/mobile-chrome/regular/neutral/DBTextarea-should-match-screenshot.png
Due: jscpd --exitCode 1 .

docs: added further input types
  showcases/shared/input.json
Due: jscpd --exitCode 1 .

fix: search shouldn't behave differently (most likely)
  packages/components/src/components/input/input.scss
Due: jscpd --exitCode 1 ., stylelint --fix

Path conditions:
  jscpd --exitCode 1 .: any of: *
  markdownlint -c .markdown-lint.yml: any of: *.md
  stylelint --fix: any of: *.{css,scss}
  cross-env TIMING=1 NODE_OPTIONS="--max-old-space-size=4096" xo --fix: any of: *.{js,ts,tsx}
  prettier --write: any of: *.{js,ts,tsx}
  prettier --write --ignore-unknown: any of: *.!{js,ts,tsx}
