Repository nekator/mono: changes, and which lint-staged commands are due for each by the changed paths.
All: jscpd --exitCode 1 ., markdownlint -c .markdown-lint.yml, stylelint --fix, cross-env TIMING=1 NODE_OPTIONS="--max-old-space-size=4096" xo --fix, prettier --write, prettier --write --ignore-unknown

feat(components): ensure that the assets are packaged as well
  packages/components/package.json
Due: jscpd --exitCode 1 .

refactor: regenerated package lock file
  package-lock.json
Due: jscpd --exitCode 1 .

Update dependabot.yml
  .github/dependabot.yml
Due: jscpd --exitCode 1 .

refactor: regenerated package lock file
  e2e/package-lock.json
  package-lock.json
Due: jscpd --exitCode 1 .

refactor: updated package lock file
  package-lock.json
Due: jscpd --exitCode 1 .

chore: simple optimization
  showcases/react-showcase/src/app.tsx
Due: jscpd --exitCode 1 ., cross-env TIMING=1 NODE_OPTIONS="--max-old-space-size=4096" xo --fix, prettier --write

Update adr-xx-Template.md
  docs/adr-xx-Template.md
Due: jscpd --exitCode 1 ., markdownlint -c .markdown-lint.yml

refactor: running prettier
  packages/components/src/components/badge/badge.lite.tsx
  packages/components/src/components/brand/brand.lite.tsx
  packages/components/src/components/code-docs/code-docs.lite.tsx
  packages/components/src/components/divider/divider.lite.tsx
  packages/components/src/components/infotext/infotext.lite.tsx
  packages/components/src/components/input/model.ts
  packages/components/src/components/main-navigation/main-navigation.lite.tsx
  packages/components/src/components/page/page.lite.tsx
  packages/components/src/components/section/section.lite.tsx
  packages/components/src/components/tab-bar/tab-bar.lite.tsx
  packages/components/src/components/tab/tab.lite.tsx
  packages/components/src/components/tag/tag.lite.tsx
  packages/components/src/utils/index.ts
  packages/foundations/assets/icons/README.md
  showcases/patternhub/components/component-parser/index.tsx
  showcases/patternhub/components/index.tsx
  showcases/patternhub/components/navigation/nav-item.tsx
  showcases/patternhub/pages/_app.tsx
  showcases/patternhub/scripts/get-properties-file.js
  showcases/react-showcase/src/main.tsx
Due: jscpd --exitCode 1 ., markdownlint -c .markdown-lint.yml, cross-env TIMING=1 NODE_OPTIONS="--max-old-space-size=4096" xo --fix, prettier --write

test: deactivate this rule at this place
  showcases/patternhub/components/index.tsx
Due: jscpd --exitCode 1 ., cross-env TIMING=1 NODE_OPTIONS="--max-old-space-size=4096" xo --fix, prettier --write

fix: issue with update-playwright.js (#2151)
  .github/scripts/update-playwright.js
Due: jscpd --exitCode 1 ., cross-env TIMING=1 NODE_OPTIONS="--max-old-space-size=4096" xo --fix, prettier --write

docs: update SBB Storybook link
  docs/research-other-design-systems.md
Due: jscpd --exitCode 1 ., markdownlint -c .markdown-lint.yml

Path conditions:
  jscpd --exitCode 1 .: any of: *
  markdownlint -c .markdown-lint.yml: any of: *.md
  stylelint --fix: any of: *.{css,scss}
  cross-env TIMING=1 NODE_OPTIONS="--max-old-space-size=4096" xo --fix: any of: *.{js,ts,tsx}
  prettier --write: any of: *.{js,ts,tsx}
  prettier --write --ignore-unknown: any of: *.!{js,ts,tsx}
