Repository nekator/mono: changes, and which lint-staged commands are due for each by the changed paths.
All: jscpd --exitCode 1 ., markdownlint -c .markdown-lint.yml, stylelint --fix, cross-env TIMING=1 NODE_OPTIONS="--max-old-space-size=4096" xo --fix, prettier --write, prettier --write --ignore-unknown

.lintstagedrc:

{
	"*": "jscpd --exitCode 1 .",
	"*.md": "markdownlint -c .markdown-lint.yml",
	"*.{css,scss}": "stylelint --fix",
	"*.{js,ts,tsx}": ["cross-env TIMING=1 NODE_OPTIONS=\"--max-old-space-size=4096\" xo --fix", "prettier --write"],
	"*.!{js,ts,tsx}": "prettier --write --ignore-unknown"
}

refactor: regenerated package lock file
  package-lock.json
Due: jscpd --exitCode 1 .

docs: vue navigation-item wraps each router-link (#2519)
  packages/components/src/components/navigation/docs/Vue.md
Due: jscpd --exitCode 1 ., markdownlint -c .markdown-lint.yml

docs: merges navigation and navigation item overview within patternhub (#2500)
  showcases/patternhub/data/routes.ts
  showcases/react-showcase/src/components/navigation-item/index.tsx
  showcases/react-showcase/src/components/navigation/index.tsx
Due: jscpd --exitCode 1 ., cross-env TIMING=1 NODE_OPTIONS="--max-old-space-size=4096" xo --fix, prettier --write

fix: changes border radius to sm (#2501)
  __snapshots__/accordion/showcase/chromium/regular/neutral/DBAccordion-should-match-screenshot.png
  __snapshots__/accordion/showcase/firefox/regular/neutral/DBAccordion-should-match-screenshot.png
  __snapshots__/accordion/showcase/mobile-chrome/regular/neutral/DBAccordion-should-match-screenshot.png
  packages/components/src/components/accordion-item/accordion-item.scss
  packages/components/src/components/accordion/accordion.scss
Due: jscpd --exitCode 1 ., stylelint --fix

feat: add typescript support for vue (#2518)
  output/vue/package.json
  output/vue/scripts/fix-any-types.js
  packages/components/scripts/post-build/angular.js
  packages/components/scripts/post-build/react.js
  packages/components/scripts/post-build/vue.js
  packages/components/scripts/utils/index.js
  packages/components/src/index.ts
Due: jscpd --exitCode 1 ., cross-env TIMING=1 NODE_OPTIONS="--max-old-space-size=4096" xo --fix, prettier --write

fix: issue with copy-button in patternhub (#2520)
  showcases/patternhub/styles/globals.scss
Due: jscpd --exitCode 1 ., stylelint --fix

fix: button with invalid variant prop renders now correctly
  packages/components/src/components/button/button.scss
Due: jscpd --exitCode 1 ., stylelint --fix

test: updated screenshots
  __snapshots__/button/component/chromium/DBButton-should-match-screenshot-for-variant-brand.png
  __snapshots__/button/component/chromium/DBButton-should-only-have-icon-for-variant-brand.png
  __snapshots__/button/component/firefox/DBButton-should-match-screenshot-for-variant-brand.png
  __snapshots__/button/component/firefox/DBButton-should-only-have-icon-for-variant-brand.png
  __snapshots__/button/component/mobile-chrome/DBButton-should-match-screenshot-for-variant-brand.png
  __snapshots__/button/component/mobile-chrome/DBButton-should-only-have-icon-for-variant-brand.png
  __snapshots__/button/showcase/chromium/regular/neutral/DBButton-should-match-screenshot.png
  __snapshots__/button/showcase/firefox/regular/neutral/DBButton-should-match-screenshot.png
  __snapshots__/button/showcase/mobile-chrome/regular/neutral/DBButton-should-match-screenshot.png
  __snapshots__/button/showcase/mobile-safari/regular/neutral/DBButton-should-match-screenshot.png
  __snapshots__/button/showcase/webkit/regular/neutral/DBButton-should-match-screenshot.png
Due: jscpd --exitCode 1 .

refactor(dependabot): optimized mitosis selector
  .github/dependabot.yml
Due: jscpd --exitCode 1 .
