Repository nekator/mono: changes, and which lint-staged commands are due for each by the changed paths.
All: jscpd --exitCode 1 ., markdownlint -c .markdown-lint.yml, stylelint --fix, cross-env TIMING=1 NODE_OPTIONS="--max-old-space-size=4096" xo --fix, prettier --write, prettier --write --ignore-unknown

.lintstagedrc:

{
	"*": "jscpd --exitCode 1 .",
	"*.md": "markdownlint -c .markdown-lint.yml",
	"*.{css,scss}": "stylelint --fix",
	"*.{js,ts,tsx}": ["cross-env TIMING=1 NODE_OPTIONS=\"--max-old-space-size=4096\" xo --fix", "prettier --write"],
	"*.!{js,ts,tsx}": "prettier --write --ignore-unknown"
}

chore: update local names for windows fonts
  packages/foundations/scss/_font-faces.scss
  packages/foundations/tokens/font.jsonc
Due: jscpd --exitCode 1 ., stylelint --fix

refactor: renamed those slightly
  packages/foundations/scss/_font-faces.scss
  packages/foundations/tokens/font.jsonc
Due: jscpd --exitCode 1 ., stylelint --fix

refactor: added relevant entry to copy-and-paste-linting ignore (#1397)
  .jscpd.json
Due: jscpd --exitCode 1 .

refactor: cicd install process (#1446)
  .github/actions/npm-cache/action.yml
  .github/scripts/cleanup-gh-pages.js
  .github/workflows/00-init.yml
Due: jscpd --exitCode 1 ., cross-env TIMING=1 NODE_OPTIONS="--max-old-space-size=4096" xo --fix, prettier --write

feat: add emphasis for divider (#1443)
  packages/components/src/components/divider/divider.lite.tsx
  packages/components/src/components/divider/model.ts
  packages/foundations/scss/_variables.global.scss
  packages/foundations/scss/helpers/_functions.scss
  showcases/angular-showcase/src/app/components/divider/divider.component.html
  showcases/react-showcase/src/components/divider/index.tsx
  showcases/shared/divider.json
  showcases/vue-showcase/src/components/divider/Divider.vue
Due: jscpd --exitCode 1 ., stylelint --fix, cross-env TIMING=1 NODE_OPTIONS="--max-old-space-size=4096" xo --fix, prettier --write

fix: colors for tag to work with dark-mode (#1451)
  packages/components/src/styles/tag-components.scss
Due: jscpd --exitCode 1 ., stylelint --fix

Test playwright cache 2 (#1450)
  .github/actions/npm-cache/action.yml
  .github/workflows/02-e2e-showcases.yml
  .github/workflows/02-e2e.yml
  .github/workflows/03-e2e-merge-reports.yml
  .github/workflows/default.yml
  .github/workflows/release.yml
  packages/components/test/playwright/config.ts
  showcases/playwright.config.ts
Due: jscpd --exitCode 1 ., cross-env TIMING=1 NODE_OPTIONS="--max-old-space-size=4096" xo --fix, prettier --write

fix: issue with drawer header not aligned correctly (#1453)
  packages/components/src/components/drawer/drawer.lite.tsx
  packages/components/src/components/drawer/drawer.scss
Due: jscpd --exitCode 1 ., stylelint --fix, cross-env TIMING=1 NODE_OPTIONS="--max-old-space-size=4096" xo --fix, prettier --write
