Repository nekator/mono: changes, and which lint-staged commands are due for each by the changed paths.
All: jscpd --exitCode 1 ., markdownlint -c .markdown-lint.yml, stylelint --fix, cross-env TIMING=1 NODE_OPTIONS="--max-old-space-size=4096" xo --fix, prettier --write, prettier --write --ignore-unknown

test: adds guidepup test for select wip
  showcases/screen-reader/__snapshots__/macos/webkit/DBSelect-default-1.txt
  showcases/screen-reader/tests/select.spec.ts
Due: jscpd --exitCode 1 ., cross-env TIMING=1 NODE_OPTIONS="--max-old-space-size=4096" xo --fix, prettier --write

chore: update snapshots
  showcases/screen-reader/__snapshots__/windows/chromium/DBNotification-default-1.txt
  showcases/screen-reader/tests/notification.spec.ts
Due: jscpd --exitCode 1 ., cross-env TIMING=1 NODE_OPTIONS="--max-old-space-size=4096" xo --fix, prettier --write

fix: removes active prop from parent-active nav items
  showcases/patternhub/components/navigation/nav-item.tsx
  showcases/react-showcase/src/components/navigation/index.tsx
  showcases/react-showcase/src/navigation/nav-item.tsx
  showcases/shared/navigation.json
Due: jscpd --exitCode 1 ., cross-env TIMING=1 NODE_OPTIONS="--max-old-space-size=4096" xo --fix, prettier --write

Update showcases/screen-reader/tests/card.spec.ts
  showcases/screen-reader/tests/card.spec.ts
Due: jscpd --exitCode 1 ., cross-env TIMING=1 NODE_OPTIONS="--max-old-space-size=4096" xo --fix, prettier --write

chore: update snapshots
  showcases/screen-reader/__snapshots__/macos/webkit/DBCard-default-1.txt
  showcases/screen-reader/__snapshots__/windows/chromium/DBCard-default-1.txt
Due: jscpd --exitCode 1 .

Update navigation.scss
  packages/components/src/components/navigation/navigation.scss
Due: jscpd --exitCode 1 ., stylelint --fix

docs: update drawer spacing "no spacing" to "none" (#3077)
  __snapshots__/drawer/showcase/chromium-highContrast/DBDrawer-should-match-screenshot-1/DBDrawer-should-match-screenshot.png
  __snapshots__/drawer/showcase/chromium/DBDrawer-should-match-screenshot-1/DBDrawer-should-match-screenshot.png
  __snapshots__/drawer/showcase/firefox/DBDrawer-should-match-screenshot-1/DBDrawer-should-match-screenshot.png
  __snapshots__/drawer/showcase/mobile-chrome/DBDrawer-should-match-screenshot-1/DBDrawer-should-match-screenshot.png
  __snapshots__/drawer/showcase/mobile-safari/DBDrawer-should-match-screenshot-1/DBDrawer-should-match-screenshot.png
  __snapshots__/drawer/showcase/webkit/DBDrawer-should-match-screenshot-1/DBDrawer-should-match-screenshot.png
  showcases/shared/drawer.json
Due: jscpd --exitCode 1 .

fix: patternhub testing table not resolving e2e test files (#3078)
  showcases/patternhub/scripts/generate-test-table.js
Due: jscpd --exitCode 1 ., cross-env TIMING=1 NODE_OPTIONS="--max-old-space-size=4096" xo --fix, prettier --write

feat: removes prop active from nav-item
  packages/components/src/components/navigation-item/model.ts
  packages/components/src/components/navigation-item/navigation-item.lite.tsx
  showcases/patternhub/components/navigation/nav-item.tsx
  showcases/react-showcase/src/components/navigation/index.tsx
  showcases/shared/navigation.json
Due: jscpd --exitCode 1 ., cross-env TIMING=1 NODE_OPTIONS="--max-old-space-size=4096" xo --fix, prettier --write

docs: aria current should be set on anchor within nav-item
  packages/components/src/components/navigation/docs/Accessibility.md
  packages/components/src/components/navigation/docs/Angular.md
  packages/components/src/components/navigation/docs/HTML.md
  packages/components/src/components/navigation/docs/React.md
  packages/components/src/components/navigation/docs/Vue.md
  showcases/patternhub/scripts/get-how-to-file.js
Due: jscpd --exitCode 1 ., markdownlint -c .markdown-lint.yml, cross-env TIMING=1 NODE_OPTIONS="--max-old-space-size=4096" xo --fix, prettier --write

chore: merged with main
  showcases/screen-reader/translations.ts
Due: jscpd --exitCode 1 ., cross-env TIMING=1 NODE_OPTIONS="--max-old-space-size=4096" xo --fix, prettier --write

test: improves guidepup accordion test
  showcases/screen-reader/tests/accordion.spec.ts
Due: jscpd --exitCode 1 ., cross-env TIMING=1 NODE_OPTIONS="--max-old-space-size=4096" xo --fix, prettier --write

test: improves guidepup accordion test
  showcases/screen-reader/__snapshots__/macos/webkit/DBAccordion-default-1.txt
Due: jscpd --exitCode 1 .

fix(safari): restored list-style type for VoiceOver screenreader (#3080)
  packages/components/src/components/tab-item/tab-item.scss
  packages/foundations/scss/init/required.scss
  showcases/showcase-styles.css
Due: jscpd --exitCode 1 ., stylelint --fix

Update packages/components/src/components/button/button.scss
  packages/components/src/components/button/button.scss
Due: jscpd --exitCode 1 ., stylelint --fix

test: adds guidepup test for section
  showcases/screen-reader/__snapshots__/macos/webkit/DBSection-default-1.txt
  showcases/screen-reader/tests/section.spec.ts
Due: jscpd --exitCode 1 ., cross-env TIMING=1 NODE_OPTIONS="--max-old-space-size=4096" xo --fix, prettier --write

Path conditions:
  jscpd --exitCode 1 .: any of: *
  markdownlint -c .markdown-lint.yml: any of: *.md
  stylelint --fix: any of: *.{css,scss}
  cross-env TIMING=1 NODE_OPTIONS="--max-old-space-size=4096" xo --fix: any of: *.{js,ts,tsx}
  prettier --write: any of: *.{js,ts,tsx}
  prettier --write --ignore-unknown: any of: *.!{js,ts,tsx}
