Repository nekator/mono: changes, and which lint-staged commands are due for each by the changed paths.
All: jscpd --exitCode 1 ., markdownlint -c .markdown-lint.yml, stylelint --fix, cross-env TIMING=1 NODE_OPTIONS="--max-old-space-size=4096" xo --fix, prettier --write, prettier --write --ignore-unknown

Update conventions.md
  docs/conventions.md
Due: jscpd --exitCode 1 ., markdownlint -c .markdown-lint.yml

Update CONTRIBUTING.md
  CONTRIBUTING.md
Due: jscpd --exitCode 1 ., markdownlint -c .markdown-lint.yml

Update CODE-OF-CONDUCT.md
  CODE-OF-CONDUCT.md
Due: jscpd --exitCode 1 ., markdownlint -c .markdown-lint.yml

refactor: moved those config files
  .config/.commitlintrc.json
  .config/.jscpd.json
  .config/.lintstagedrc.js
  .config/.markdown-lint.yml
  .husky/commit-msg
  .husky/pre-commit
  package.json
Due: jscpd --exitCode 1 ., cross-env TIMING=1 NODE_OPTIONS="--max-old-space-size=4096" xo --fix, prettier --write

fix: issue with wrong snapshot (#2922)
  showcases/screen-reader/__snapshots__/windows/chromium/DBDrawer-should-autofocus.txt
  showcases/screen-reader/default.ts
  showcases/screen-reader/tests/drawer.spec.ts
Due: jscpd --exitCode 1 ., cross-env TIMING=1 NODE_OPTIONS="--max-old-space-size=4096" xo --fix, prettier --write

refactor: we could get rid of this again
  showcases/patternhub/scripts/generate-docs-mdx.js
Due: jscpd --exitCode 1 ., cross-env TIMING=1 NODE_OPTIONS="--max-old-space-size=4096" xo --fix, prettier --write

fix: broken link on icons readme page in patternhub
  packages/foundations/docs/Icons.md
Due: jscpd --exitCode 1 ., markdownlint -c .markdown-lint.yml

fix: adds optional codeFileName field to components example data
  showcases/react-showcase/src/components/data.ts
  showcases/shared/default-component-data.ts
  showcases/shared/notification.json
Due: jscpd --exitCode 1 ., cross-env TIMING=1 NODE_OPTIONS="--max-old-space-size=4096" xo --fix, prettier --write

feat: update colors
  .xo-config.cjs
  package-lock.json
  packages/foundations/package.json
  packages/foundations/scripts/cli.ts
  packages/foundations/scripts/data.ts
  packages/foundations/scripts/migration/color-update.ts
  packages/foundations/scripts/migration/index.ts
  packages/foundations/scripts/program.ts
  packages/foundations/scripts/tsconfig.json
  packages/foundations/scripts/types.ts
  packages/foundations/scss/colors/_default-color-scheme.scss
  packages/foundations/scss/colors/_default-palette.scss
  packages/foundations/scss/colors/_placeholder.scss
  packages/foundations/scss/colors/_variables.additional-palette.scss
  packages/foundations/scss/colors/_variables.additional-speaking-colors.scss
  packages/foundations/scss/colors/_variables.palette.scss
  packages/foundations/scss/colors/_variables.scss
  packages/foundations/scss/colors/_variables.speaking-colors.scss
  packages/foundations/scss/colors/speaking-colors/additional/_blue.speaking-colors.scss
  packages/foundations/scss/colors/speaking-colors/additional/_cyan.speaking-colors.scss
  packages/foundations/scss/colors/speaking-colors/additional/_green.speaking-colors.scss
  packages/foundations/scss/colors/speaking-colors/additional/_orange.speaking-colors.scss
  packages/foundations/scss/colors/speaking-colors/additional/_pink.speaking-colors.scss
  packages/foundations/scss/colors/speaking-colors/additional/_red.speaking-colors.scss
  packages/foundations/scss/colors/speaking-colors/additional/_turquoise.speaking-colors.scss
  packages/foundations/scss/colors/speaking-colors/additional/_violet.speaking-colors.scss
  packages/foundations/scss/colors/speaking-colors/additional/_yellow.speaking-colors.scss
  packages/foundations/scss/colors/speaking-colors/semantic/_brand.speaking-colors.scss
  packages/foundations/scss/colors/speaking-colors/semantic/_critical.speaking-colors.scss
  packages/foundations/scss/colors/speaking-colors/semantic/_informational.speaking-colors.scss
  packages/foundations/scss/colors/speaking-colors/semantic/_neutral.speaking-colors.scss
  packages/foundations/scss/colors/speaking-colors/semantic/_successful.speaking-colors.scss
  packages/foundations/scss/colors/speaking-colors/semantic/_warning.speaking-colors.scss
Due: jscpd --exitCode 1 ., stylelint --fix, cross-env TIMING=1 NODE_OPTIONS="--max-old-space-size=4096" xo --fix, prettier --write

Path conditions:
  jscpd --exitCode 1 .: any of: *
  markdownlint -c .markdown-lint.yml: any of: *.md
  stylelint --fix: any of: *.{css,scss}
  cross-env TIMING=1 NODE_OPTIONS="--max-old-space-size=4096" xo --fix: any of: *.{js,ts,tsx}
  prettier --write: any of: *.{js,ts,tsx}
  prettier --write --ignore-unknown: any of: *.!{js,ts,tsx}
