Repository nekator/mono: changes, and which lint-staged commands are due for each by the changed paths.
All: jscpd --exitCode 1 ., markdownlint -c .markdown-lint.yml, stylelint --fix, cross-env TIMING=1 NODE_OPTIONS="--max-old-space-size=4096" xo --fix, prettier --write, prettier --write --ignore-unknown

.lintstagedrc:

{
	"*": "jscpd --exitCode 1 .",
	"*.md": "markdownlint -c .markdown-lint.yml",
	"*.{css,scss}": "stylelint --fix",
	"*.{js,ts,tsx}": ["cross-env TIMING=1 NODE_OPTIONS=\"--max-old-space-size=4096\" xo --fix", "prettier --write"],
	"*.!{js,ts,tsx}": "prettier --write --ignore-unknown"
}

fix: adds types to exports in package.json
  output/vue/vue3/package.json
Due: jscpd --exitCode 1 .

fix: issue with vue output
  output/vue/package.json
Due: jscpd --exitCode 1 .

docs: add information for angular output hash issue (#2414)
  output/angular/README.md
  packages/components/src/components/header/docs/Angular.md
Due: jscpd --exitCode 1 ., markdownlint -c .markdown-lint.yml

Feat new popover (#2379)
  __snapshots__/popover/component/chromium/DBPopover-after-open-should-match-screenshot.png
  __snapshots__/popover/component/chromium/DBPopover-should-match-screenshot.png
  __snapshots__/popover/component/firefox/DBPopover-after-open-should-match-screenshot.png
  __snapshots__/popover/component/firefox/DBPopover-should-match-screenshot.png
  __snapshots__/popover/component/mobile-chrome/DBPopover-after-open-should-match-screenshot.png
  __snapshots__/popover/component/mobile-chrome/DBPopover-should-match-screenshot.png
  packages/components/scripts/post-build/components.js
  packages/components/scripts/post-build/copy-files.js
  packages/components/src/components/popover/docs/Angular.md
  packages/components/src/components/popover/docs/HTML.md
  packages/components/src/components/popover/docs/React.md
  packages/components/src/components/popover/docs/Vue.md
  packages/components/src/components/popover/model.ts
  packages/components/src/components/popover/popover.lite.tsx
  packages/components/src/components/popover/popover.scss
  packages/components/src/components/popover/popover.spec.tsx
  packages/components/src/components/tooltip/model.ts
  packages/components/src/components/tooltip/tooltip.lite.tsx
  packages/components/src/components/tooltip/tooltip.scss
  packages/components/src/shared/model.ts
  packages/components/src/styles/_popover-component.scss
  packages/components/src/styles/db-ui-components.scss
  packages/components/src/utils/index.ts
  packages/components/test/playwright/boilerplate/index.html
  packages/foundations/scss/_init.scss
  packages/foundations/scss/animation/_animations.scss
  showcases/angular-showcase/src/app/components/popover/popover.component.html
  showcases/react-showcase/src/components/form/index.tsx
  showcases/react-showcase/src/components/popover/index.tsx
  showcases/shared/popover.json
  showcases/showcase-styles.css
  showcases/vue-showcase/src/components/popover/Popover.vue
Due: jscpd --exitCode 1 ., markdownlint -c .markdown-lint.yml, stylelint --fix, cross-env TIMING=1 NODE_OPTIONS="--max-old-space-size=4096" xo --fix, prettier --write

fix(docs): some try for our iframed documentation pages within Marketingportal
  showcases/patternhub/styles/globals.scss
Due: jscpd --exitCode 1 ., stylelint --fix

Update globals.scss
  showcases/patternhub/styles/globals.scss
Due: jscpd --exitCode 1 ., stylelint --fix

Feat accordion design changes (#2394)
  __snapshots__/accordion-item/component/chromium/DBAccordionItem-should-match-screenshot.png
  __snapshots__/accordion-item/component/firefox/DBAccordionItem-should-match-screenshot.png
  __snapshots__/accordion-item/component/mobile-chrome/DBAccordionItem-should-match-screenshot.png
  __snapshots__/accordion-item/showcase/chromium/regular/neutral/DBAccordionItem-should-match-screenshot.png
  __snapshots__/accordion-item/showcase/firefox/regular/neutral/DBAccordionItem-should-match-screenshot.png
  __snapshots__/accordion-item/showcase/mobile-chrome/regular/neutral/DBAccordionItem-should-match-screenshot.png
  __snapshots__/accordion-item/showcase/mobile-safari/regular/neutral/DBAccordionItem-should-match-screenshot.png
  __snapshots__/accordion-item/showcase/webkit/regular/neutral/DBAccordionItem-should-match-screenshot.png
  __snapshots__/accordion/component/chromium/DBAccordion-should-match-screenshot.png
  __snapshots__/accordion/component/firefox/DBAccordion-should-match-screenshot.png
  __snapshots__/accordion/component/mobile-chrome/DBAccordion-should-match-screenshot.png
  __snapshots__/accordion/showcase/chromium/regular/neutral/DBAccordion-should-match-screenshot.png
  __snapshots__/accordion/showcase/firefox/regular/neutral/DBAccordion-should-match-screenshot.png
  __snapshots__/accordion/showcase/mobile-chrome/regular/neutral/DBAccordion-should-match-screenshot.png
  __snapshots__/accordion/showcase/mobile-safari/regular/neutral/DBAccordion-should-match-screenshot.png
  __snapshots__/accordion/showcase/webkit/regular/neutral/DBAccordion-should-match-screenshot.png
  packages/components/src/components/accordion-item/accordion-item.scss
  packages/components/src/components/accordion/accordion.lite.tsx
  packages/components/src/components/accordion/accordion.scss
  packages/components/src/components/accordion/model.ts
  showcases/angular-showcase/src/app/components/accordion/accordion.component.html
  showcases/react-showcase/src/components/accordion/index.tsx
  showcases/shared/accordion.json
  showcases/vue-showcase/src/components/accordion/Accordion.vue
Due: jscpd --exitCode 1 ., stylelint --fix, cross-env TIMING=1 NODE_OPTIONS="--max-old-space-size=4096" xo --fix, prettier --write

chore: next feedback
  showcases/patternhub/pages/_app.tsx
  showcases/patternhub/pages/_document.tsx
Due: jscpd --exitCode 1 ., cross-env TIMING=1 NODE_OPTIONS="--max-old-space-size=4096" xo --fix, prettier --write
