Repository nekator/mono: changes, and which lint-staged commands are due for each by the changed paths.
All: jscpd --exitCode 1 ., markdownlint -c .markdown-lint.yml, stylelint --fix, cross-env TIMING=1 NODE_OPTIONS="--max-old-space-size=4096" xo --fix, prettier --write, prettier --write --ignore-unknown

.lintstagedrc:

{
	"*": "jscpd --exitCode 1 .",
	"*.md": "markdownlint -c .markdown-lint.yml",
	"*.{css,scss}": "stylelint --fix",
	"*.{js,ts,tsx}": ["cross-env TIMING=1 NODE_OPTIONS=\"--max-old-space-size=4096\" xo --fix", "prettier --write"],
	"*.!{js,ts,tsx}": "prettier --write --ignore-unknown"
}

fix: ng-packagr issue by adding it to angular showcase
  package-lock.json
  showcases/angular-showcase/package.json
Due: jscpd --exitCode 1 .

chore: removed examples from patternhub (#2175)
  showcases/patternhub/data/routes.ts
  showcases/patternhub/scripts/generate-docs-mdx.js
  showcases/patternhub/scripts/get-example-file.js
Due: jscpd --exitCode 1 ., cross-env TIMING=1 NODE_OPTIONS="--max-old-space-size=4096" xo --fix, prettier --write

chore: update default color scheme
  packages/foundations/scss/colors/_default-color-scheme.scss
Due: jscpd --exitCode 1 ., stylelint --fix

fix: issues with playwright update (#2176)
  .github/workflows/99-update-playwright.yml
Due: jscpd --exitCode 1 .

chore: update playwright
  .github/scripts/update-playwright.js
  .github/workflows/02-e2e-showcases.yml
  .github/workflows/02-e2e.yml
  e2e/Dockerfile
  e2e/package-lock.json
  e2e/package.json
  package-lock.json
Due: jscpd --exitCode 1 ., cross-env TIMING=1 NODE_OPTIONS="--max-old-space-size=4096" xo --fix, prettier --write

chore: update from main
  package-lock.json
Due: jscpd --exitCode 1 .

chore: update snapshots
  __snapshots__/accordion-item/showcase/firefox/regular/neutral/DBAccordionItem-should-match-screenshot.png
  __snapshots__/accordion/showcase/firefox/regular/neutral/DBAccordion-should-match-screenshot.png
  __snapshots__/alert/component/chromium/DBAlert-should-match-screenshot-for-variant-informational.png
  __snapshots__/alert/component/chromium/DBAlert-should-match-screenshot-for-variant-warning.png
  __snapshots__/alert/component/firefox/DBAlert-should-match-screenshot-for-variant-critical.png
  __snapshots__/alert/component/firefox/DBAlert-should-match-screenshot.png
  __snapshots__/alert/component/mobile-chrome/DBAlert-should-match-screenshot-for-variant-informational.png
  __snapshots__/alert/component/mobile-chrome/DBAlert-should-match-screenshot-for-variant-warning.png
  __snapshots__/alert/showcase/firefox/regular/neutral/DBAlert-should-match-screenshot.png
  __snapshots__/badge/showcase/chromium/regular/neutral/DBBadge-should-match-screenshot.png
  __snapshots__/badge/showcase/firefox/regular/neutral/DBBadge-should-match-screenshot.png
  __snapshots__/badge/showcase/mobile-chrome/regular/neutral/DBBadge-should-match-screenshot.png
  __snapshots__/badge/showcase/mobile-safari/regular/neutral/DBBadge-should-match-screenshot.png
  __snapshots__/badge/showcase/webkit/regular/neutral/DBBadge-should-match-screenshot.png
  __snapshots__/button/showcase/firefox/regular/neutral/DBButton-should-match-screenshot.png
  __snapshots__/card/component/firefox/DBCard-should-match-screenshot.png
  __snapshots__/code-docs/component/firefox/DBCodeDocs-should-match-screenshot.png
  __snapshots__/icon/showcase/firefox/regular/neutral/DBIcon-should-match-screenshot.png
  __snapshots__/infotext/showcase/firefox/regular/neutral/DBInfotext-should-match-screenshot.png
  __snapshots__/input/showcase/firefox/regular/neutral/DBInput-should-match-screenshot.png
  __snapshots__/link/showcase/firefox/regular/neutral/DBLink-should-match-screenshot.png
  __snapshots__/navigation-item/showcase/firefox/regular/neutral/DBNavigationItem-should-match-screenshot.png
  __snapshots__/section/showcase/firefox/regular/neutral/DBSection-should-match-screenshot.png
  __snapshots__/tag/component/chromium/DBTag-should-match-screenshot-for-variant-informational.png
  __snapshots__/tag/component/chromium/DBTag-should-match-screenshot-for-variant-warning.png
  __snapshots__/tag/component/mobile-chrome/DBTag-should-match-screenshot-for-variant-informational.png
  __snapshots__/tag/component/mobile-chrome/DBTag-should-match-screenshot-for-variant-warning.png
  __snapshots__/tag/showcase/chromium/regular/neutral/DBTag-should-match-screenshot.png
  __snapshots__/tag/showcase/firefox/regular/neutral/DBTag-should-match-screenshot.png
  __snapshots__/tag/showcase/mobile-chrome/regular/neutral/DBTag-should-match-screenshot.png
  __snapshots__/tag/showcase/mobile-safari/regular/neutral/DBTag-should-match-screenshot.png
  __snapshots__/tag/showcase/webkit/regular/neutral/DBTag-should-match-screenshot.png
  __snapshots__/textarea/showcase/firefox/regular/neutral/DBTextarea-should-match-screenshot.png
Due: jscpd --exitCode 1 .

chore: update playwright (#2181)
  .github/scripts/update-playwright.js
  .github/workflows/02-e2e-showcases.yml
  .github/workflows/02-e2e.yml
  e2e/Dockerfile
  e2e/package-lock.json
  e2e/package.json
  package-lock.json
Due: jscpd --exitCode 1 ., cross-env TIMING=1 NODE_OPTIONS="--max-old-space-size=4096" xo --fix, prettier --write

docs(ngx-components): describe how to use with standalone components (#2183)
  packages/components/_templates/mitosis/new/readmes/readme-angular.ejs.t
  packages/components/_templates/update-docs/new/readme-angular.ejs.t
  packages/components/src/components/accordion-item/docs/Angular.md
  packages/components/src/components/accordion/docs/Angular.md
  packages/components/src/components/alert/docs/Angular.md
  packages/components/src/components/badge/docs/Angular.md
  packages/components/src/components/brand/docs/Angular.md
  packages/components/src/components/button/docs/Angular.md
  packages/components/src/components/checkbox/docs/Angular.md
  packages/components/src/components/divider/docs/Angular.md
  packages/components/src/components/drawer/docs/Angular.md
  packages/components/src/components/icon/docs/Angular.md
  packages/components/src/components/infotext/docs/Angular.md
  packages/components/src/components/link/docs/Angular.md
  packages/components/src/components/main-navigation/docs/Angular.md
  packages/components/src/components/popover/docs/Angular.md
  packages/components/src/components/radio/docs/Angular.md
  packages/components/src/components/section/docs/Angular.md
  packages/components/src/components/select/docs/Angular.md
  packages/components/src/components/tag/docs/Angular.md
  packages/components/src/components/textarea/docs/Angular.md
  packages/components/src/components/tooltip/docs/Angular.md
Due: jscpd --exitCode 1 ., markdownlint -c .markdown-lint.yml

refactor: regenerated package lock files
  e2e/package-lock.json
  package-lock.json
Due: jscpd --exitCode 1 .

refactor: we've migrated to typescript 5 already
  .github/dependabot.yml
Due: jscpd --exitCode 1 .

refactor: updated xo
  package-lock.json
  package.json
Due: jscpd --exitCode 1 .

docs(angular): use new control flow syntax (#2191)
  packages/components/src/components/checkbox/docs/Angular.md
  packages/components/src/components/radio/docs/Angular.md
Due: jscpd --exitCode 1 ., markdownlint -c .markdown-lint.yml

refactor(tag): enabled keyboard focusability again (#1880)
  __snapshots__/tag/showcase/chromium/regular/neutral/DBTag-should-match-screenshot.png
  __snapshots__/tag/showcase/firefox/regular/neutral/DBTag-should-match-screenshot.png
  __snapshots__/tag/showcase/mobile-chrome/regular/neutral/DBTag-should-match-screenshot.png
  __snapshots__/tag/showcase/mobile-safari/regular/neutral/DBTag-should-match-screenshot.png
  __snapshots__/tag/showcase/webkit/regular/neutral/DBTag-should-match-screenshot.png
  packages/components/src/components/tag/tag.scss
  packages/components/src/styles/_icon-passing.scss
Due: jscpd --exitCode 1 ., stylelint --fix
