Repository nekator/mono: changes, and which lint-staged commands are due for each by the changed paths.
All: jscpd --exitCode 1 ., markdownlint -c .markdown-lint.yml, stylelint --fix, cross-env TIMING=1 NODE_OPTIONS="--max-old-space-size=4096" xo --fix, prettier --write, prettier --write --ignore-unknown

.lintstagedrc:

{
	"*": "jscpd --exitCode 1 .",
	"*.md": "markdownlint -c .markdown-lint.yml",
	"*.{css,scss}": "stylelint --fix",
	"*.{js,ts,tsx}": ["cross-env TIMING=1 NODE_OPTIONS=\"--max-old-space-size=4096\" xo --fix", "prettier --write"],
	"*.!{js,ts,tsx}": "prettier --write --ignore-unknown"
}

chore: another try
  packages/components/src/components/textarea/textarea.lite.tsx
Due: jscpd --exitCode 1 ., cross-env TIMING=1 NODE_OPTIONS="--max-old-space-size=4096" xo --fix, prettier --write

chore: another try
  packages/components/scripts/post-build/power-apps.js
  packages/components/src/components/textarea/textarea.lite.tsx
Due: jscpd --exitCode 1 ., cross-env TIMING=1 NODE_OPTIONS="--max-old-space-size=4096" xo --fix, prettier --write

refactor: removed infotext to provide most simple component construct
  packages/components/src/components/input/docs/HTML.md
  packages/components/src/components/select/docs/HTML.md
  packages/components/src/components/textarea/docs/HTML.md
Due: jscpd --exitCode 1 ., markdownlint -c .markdown-lint.yml

refactor: connected infotext and form elements
  packages/components/src/components/input/index.html
  packages/components/src/components/input/input.lite.tsx
  packages/components/src/components/select/index.html
  packages/components/src/components/select/select.lite.tsx
  packages/components/src/components/textarea/index.html
  packages/components/src/components/textarea/textarea.lite.tsx
Due: jscpd --exitCode 1 ., cross-env TIMING=1 NODE_OPTIONS="--max-old-space-size=4096" xo --fix, prettier --write

chore: revert removing transitions-straight from tokens
  packages/foundations/tokens/transition.json
Due: jscpd --exitCode 1 .

feat: :sparkles: add optional prop defaultValue (#1560)
  packages/components/src/components/checkbox/checkbox.lite.tsx
  packages/components/src/shared/model.ts
  showcases/angular-showcase/src/app/components/form/form.component.html
  showcases/react-showcase/src/components/form/index.tsx
Due: jscpd --exitCode 1 ., cross-env TIMING=1 NODE_OPTIONS="--max-old-space-size=4096" xo --fix, prettier --write

Discard changes to scripts/dev.js
  scripts/dev.js
Due: jscpd --exitCode 1 ., cross-env TIMING=1 NODE_OPTIONS="--max-old-space-size=4096" xo --fix, prettier --write

Discard changes to package.json
  package.json
Due: jscpd --exitCode 1 .

Update package.json
  packages/components/package.json
Due: jscpd --exitCode 1 .

Discard changes to packages/components/src/components/textarea/textarea.lite.tsx
  packages/components/src/components/textarea/textarea.lite.tsx
Due: jscpd --exitCode 1 ., cross-env TIMING=1 NODE_OPTIONS="--max-old-space-size=4096" xo --fix, prettier --write

chore: removed scss from showcases
  package-lock.json
  packages/components/package.json
  showcases/angular-showcase/angular.json
  showcases/angular-showcase/package.json
  showcases/angular-showcase/src/styles.css
  showcases/angular-showcase/src/styles.scss
  showcases/react-showcase/package.json
  showcases/react-showcase/src/index.scss
  showcases/react-showcase/src/main.tsx
  showcases/vue-showcase/package.json
  showcases/vue-showcase/src/index.scss
  showcases/vue-showcase/src/main.ts
Due: jscpd --exitCode 1 ., stylelint --fix, cross-env TIMING=1 NODE_OPTIONS="--max-old-space-size=4096" xo --fix, prettier --write

chore: update package-lock.json
  package-lock.json
Due: jscpd --exitCode 1 .

fix: issue with missing transition variable
  packages/foundations/scss/helpers/_component.scss
Due: jscpd --exitCode 1 ., stylelint --fix

chore: regenerate package-lock.json
  package-lock.json
Due: jscpd --exitCode 1 .

fix: issue with interactive tags (#1567)
  packages/components/src/components/tag/tag.scss
Due: jscpd --exitCode 1 ., stylelint --fix

chore: update eslint issue
  .xo-config.cjs
  showcases/react-showcase/src/main.tsx
  showcases/vue-showcase/src/main.ts
Due: jscpd --exitCode 1 ., cross-env TIMING=1 NODE_OPTIONS="--max-old-space-size=4096" xo --fix, prettier --write

test: regenerated screenshots
  __snapshots__/input/showcase/chromium/regular/neutral/DBInput-should-match-screenshot.png
  __snapshots__/input/showcase/mobile-chrome/regular/neutral/DBInput-should-match-screenshot.png
  __snapshots__/input/showcase/mobile-safari/regular/neutral/DBInput-should-match-screenshot.png
  __snapshots__/input/showcase/webkit/regular/neutral/DBInput-should-match-screenshot.png
Due: jscpd --exitCode 1 .

refactor: simplification
  packages/components/package.json
Due: jscpd --exitCode 1 .

refactor: removed dirname for simplicity
  packages/components/scripts/post-build/power-apps.js
  packages/components/src/components/textarea/model.ts
  packages/components/src/components/textarea/textarea.lite.tsx
Due: jscpd --exitCode 1 ., cross-env TIMING=1 NODE_OPTIONS="--max-old-space-size=4096" xo --fix, prettier --write

refactor: generalize this
  packages/components/src/components/input/input.lite.tsx
  packages/components/src/components/select/select.lite.tsx
  packages/components/src/components/textarea/textarea.lite.tsx
  packages/components/src/shared/model.ts
Due: jscpd --exitCode 1 ., cross-env TIMING=1 NODE_OPTIONS="--max-old-space-size=4096" xo --fix, prettier --write

chore: update from main
  package-lock.json
Due: jscpd --exitCode 1 .
