Repository nekator/mono: changes, and which lint-staged commands are due for each by the changed paths.
All: jscpd --exitCode 1 ., markdownlint -c .markdown-lint.yml, stylelint --fix, cross-env TIMING=1 NODE_OPTIONS="--max-old-space-size=4096" xo --fix, prettier --write, prettier --write --ignore-unknown

.lintstagedrc:

{
	"*": "jscpd --exitCode 1 .",
	"*.md": "markdownlint -c .markdown-lint.yml",
	"*.{css,scss}": "stylelint --fix",
	"*.{js,ts,tsx}": ["cross-env TIMING=1 NODE_OPTIONS=\"--max-old-space-size=4096\" xo --fix", "prettier --write"],
	"*.!{js,ts,tsx}": "prettier --write --ignore-unknown"
}

feat: add variant and weight props to DBIcon (#2052)
  packages/components/src/components/icon/icon.lite.tsx
  packages/components/src/components/icon/model.ts
Due: jscpd --exitCode 1 ., cross-env TIMING=1 NODE_OPTIONS="--max-old-space-size=4096" xo --fix, prettier --write

refactor: update to Node 20 (#1826)
  .github/actions/npm-cache/action.yml
  .nvmrc
  __snapshots__/tag/showcase/chromium/regular/neutral/DBTag-should-match-screenshot.png
  __snapshots__/tag/showcase/mobile-chrome/regular/neutral/DBTag-should-match-screenshot.png
  __snapshots__/tag/showcase/mobile-safari/regular/neutral/DBTag-should-match-screenshot.png
  __snapshots__/tag/showcase/webkit/regular/neutral/DBTag-should-match-screenshot.png
  e2e/package-lock.json
  package-lock.json
  showcases/patternhub/.gitignore
  showcases/patternhub/components/src/tsconfig.json
  showcases/patternhub/package.json
  showcases/patternhub/scripts/esbuild-generate.mjs
  showcases/patternhub/scripts/generate-docs-mdx.js
  showcases/patternhub/scripts/generate-example-jsx.js
  showcases/patternhub/scripts/get-code-files.js
  showcases/patternhub/tsconfig.json
  showcases/shared/tag.json
Due: jscpd --exitCode 1 ., cross-env TIMING=1 NODE_OPTIONS="--max-old-space-size=4096" xo --fix, prettier --write

refactor: `playwright` update (#2044)
  .github/dependabot.yml
  .github/scripts/update-playwright.js
  .github/workflows/02-e2e-showcases.yml
  .github/workflows/02-e2e.yml
  .github/workflows/99-auto-merge.yml
  .github/workflows/99-update-playwright.yml
  .github/workflows/pull-request.yml
  __snapshots__/textarea/component/mobile-chrome/DBTextarea-should-match-screenshot.png
  __snapshots__/textarea/showcase/mobile-chrome/regular/neutral/DBTextarea-should-match-screenshot.png
  e2e/Dockerfile
  e2e/package-lock.json
  e2e/package.json
  output/react/package.json
  output/vue/vue3/package.json
  package-lock.json
  package.json
  scripts/update-playwright.js
Due: jscpd --exitCode 1 ., cross-env TIMING=1 NODE_OPTIONS="--max-old-space-size=4096" xo --fix, prettier --write

chore: update package-lock.json
  package-lock.json
Due: jscpd --exitCode 1 .

chore: update package-lock.json
  e2e/package-lock.json
  package-lock.json
Due: jscpd --exitCode 1 .

refactor: regenerated package lock file
  package-lock.json
Due: jscpd --exitCode 1 .

refactor: regenerated package lock file
  e2e/package-lock.json
  package-lock.json
Due: jscpd --exitCode 1 .

chore: add vscode setting to use ts version from node_modules (#2061)
  .vscode/settings.json
Due: jscpd --exitCode 1 .

docs: add remaining migration guides (#2016)
  packages/components/src/components/checkbox/docs/Migration.md
  packages/components/src/components/header/docs/Migration.md
  packages/components/src/components/icon/docs/Migration.md
  packages/components/src/components/input/docs/Migration.md
  packages/components/src/components/link/docs/Migration.md
  packages/components/src/components/main-navigation/docs/Migration.md
  packages/components/src/components/main-navigation/model.ts
  packages/components/src/components/page/docs/Migration.md
  packages/components/src/components/radio/docs/Migration.md
Due: jscpd --exitCode 1 ., markdownlint -c .markdown-lint.yml, cross-env TIMING=1 NODE_OPTIONS="--max-old-space-size=4096" xo --fix, prettier --write

fix: add typescript dependency to angular package.json
  .github/dependabot.yml
  output/angular/package.json
  package-lock.json
  showcases/angular-showcase/package.json
Due: jscpd --exitCode 1 .

fix: issue with same name upload artifact for gh action (#2070)
  .github/workflows/02-e2e-showcases.yml
  .github/workflows/02-e2e.yml
Due: jscpd --exitCode 1 .
