Repository nekator/mono: changes, and which lint-staged commands are due for each by the changed paths.
All: jscpd --exitCode 1 ., markdownlint -c .markdown-lint.yml, stylelint --fix, cross-env TIMING=1 NODE_OPTIONS="--max-old-space-size=4096" xo --fix, prettier --write, prettier --write --ignore-unknown

fix: issue for patternhub included inside iframe (#2673)
  packages/components/src/components/page/page.lite.tsx
  packages/components/src/components/page/page.scss
  showcases/patternhub/.gitignore
  showcases/patternhub/components/old-routing-fallback/index.tsx
  showcases/patternhub/scripts/generate-docs-mdx.js
  showcases/patternhub/styles/globals.scss
Due: jscpd --exitCode 1 ., stylelint --fix, cross-env TIMING=1 NODE_OPTIONS="--max-old-space-size=4096" xo --fix, prettier --write

chore: removes obsolete script
  showcases/patternhub/package.json
Due: jscpd --exitCode 1 .

fix: removes typescript error
  showcases/react-showcase/src/utils/base-path.ts
Due: jscpd --exitCode 1 ., cross-env TIMING=1 NODE_OPTIONS="--max-old-space-size=4096" xo --fix, prettier --write

fix: fixes imports to relative imports from output
  showcases/patternhub/components/component-parser/index.tsx
  showcases/patternhub/pages/base64/index.tsx
  showcases/patternhub/pages/foundations/colors/color-schemes.tsx
  showcases/patternhub/pages/foundations/colors/overview.tsx
  showcases/patternhub/pages/foundations/densities/examples.tsx
  showcases/patternhub/pages/foundations/font-sizes/overview.tsx
  showcases/patternhub/pages/foundations/icons/overview.tsx
  showcases/patternhub/pages/foundations/variables/examples.tsx
  showcases/patternhub/pages/iframe/index.tsx
Due: jscpd --exitCode 1 ., cross-env TIMING=1 NODE_OPTIONS="--max-old-space-size=4096" xo --fix, prettier --write

Create overview.html
  review/main/components/link/overview.html
Due: jscpd --exitCode 1 .

Create overview.html
  review/main/components/accordion/overview.html
Due: jscpd --exitCode 1 .

Create overview.html
  review/main/components/infotext/overview.html
Due: jscpd --exitCode 1 .

Create overview.html
  review/main/components/tag/overview.html
Due: jscpd --exitCode 1 .

Create overview.html
  review/main/components/checkbox/overview.html
Due: jscpd --exitCode 1 .

Create overview.html
  review/main/components/input/overview.html
Due: jscpd --exitCode 1 .

Create overview.html
  review/main/components/radio/overview.html
Due: jscpd --exitCode 1 .

Create overview.html
  review/main/components/textarea/overview.html
Due: jscpd --exitCode 1 .

Create overview.html
  review/main/components/badge/overview.html
Due: jscpd --exitCode 1 .

Create overview.html
  review/main/components/notification/overview.html
Due: jscpd --exitCode 1 .

Create overview.html
  review/main/components/card/overview.html
Due: jscpd --exitCode 1 .

Create overview.html
  review/main/components/divider/overview.html
Due: jscpd --exitCode 1 .

fix: issue for marketingportal and overview pages (#2674)
  showcases/patternhub/scripts/generate-docs-mdx.js
Due: jscpd --exitCode 1 ., cross-env TIMING=1 NODE_OPTIONS="--max-old-space-size=4096" xo --fix, prettier --write

fix: removes redirect url params for components within patternhub
  showcases/patternhub/next.config.js
  showcases/react-showcase/src/components/default-component.tsx
  showcases/react-showcase/src/hooks/use-query.tsx
Due: jscpd --exitCode 1 ., cross-env TIMING=1 NODE_OPTIONS="--max-old-space-size=4096" xo --fix, prettier --write

fix: removes obsolete nvmrc config in subfolder
  showcases/next-showcase/.nvmrc
Due: jscpd --exitCode 1 .

fix: moves constants outside of function
  scripts/dev.js
Due: jscpd --exitCode 1 ., cross-env TIMING=1 NODE_OPTIONS="--max-old-space-size=4096" xo --fix, prettier --write

fix: simplifies dev script
  scripts/dev.js
  scripts/package.json
Due: jscpd --exitCode 1 ., cross-env TIMING=1 NODE_OPTIONS="--max-old-space-size=4096" xo --fix, prettier --write

chore: disables nuxt telemetry
  showcases/nuxt-showcase/nuxt.config.ts
Due: jscpd --exitCode 1 ., cross-env TIMING=1 NODE_OPTIONS="--max-old-space-size=4096" xo --fix, prettier --write

docs: update HTML.md files to remove unused ids (#2688)
  packages/components/src/components/accordion-item/docs/HTML.md
  packages/components/src/components/accordion/docs/HTML.md
  packages/components/src/components/header/docs/HTML.md
  packages/components/src/components/radio/docs/HTML.md
Due: jscpd --exitCode 1 ., markdownlint -c .markdown-lint.yml

Path conditions:
  jscpd --exitCode 1 .: any of: *
  markdownlint -c .markdown-lint.yml: any of: *.md
  stylelint --fix: any of: *.{css,scss}
  cross-env TIMING=1 NODE_OPTIONS="--max-old-space-size=4096" xo --fix: any of: *.{js,ts,tsx}
  prettier --write: any of: *.{js,ts,tsx}
  prettier --write --ignore-unknown: any of: *.!{js,ts,tsx}
