Repository nekator/mono: changes, and which lint-staged commands are due for each by the changed paths.
All: jscpd --exitCode 1 ., markdownlint -c .markdown-lint.yml, stylelint --fix, cross-env TIMING=1 NODE_OPTIONS="--max-old-space-size=4096" xo --fix, prettier --write, prettier --write --ignore-unknown

docs: adds wip research for animation component
  docs/research/animation-wrapper.md
Due: jscpd --exitCode 1 ., markdownlint -c .markdown-lint.yml

fix: issue with invalid message not showing for is([data-semantic], :empty) (#2978)
  __snapshots__/checkbox/component/firefox/DBCheckbox-should-match-screenshot.png
  __snapshots__/checkbox/showcase/chromium-highContrast/DBCheckbox-should-match-screenshot-1/DBCheckbox-should-match-screenshot.png
  __snapshots__/checkbox/showcase/chromium/DBCheckbox-should-match-screenshot-1/DBCheckbox-should-match-screenshot.png
  __snapshots__/checkbox/showcase/firefox/DBCheckbox-should-match-screenshot-1/DBCheckbox-should-match-screenshot.png
  __snapshots__/checkbox/showcase/mobile-chrome/DBCheckbox-should-match-screenshot-1/DBCheckbox-should-match-screenshot.png
  __snapshots__/checkbox/showcase/mobile-safari/DBCheckbox-should-match-screenshot-1/DBCheckbox-should-match-screenshot.png
  __snapshots__/checkbox/showcase/webkit/DBCheckbox-should-match-screenshot-1/DBCheckbox-should-match-screenshot.png
  __snapshots__/input/component/firefox/DBInput-should-match-screenshot.png
  __snapshots__/select/component/firefox/DBSelect-should-match-screenshot.png
  __snapshots__/textarea/component/firefox/DBTextarea-should-match-screenshot.png
  packages/components/src/styles/_form-components.scss
  showcases/react-showcase/src/components/form/input.tsx
  showcases/screen-reader/__snapshots__/macos/webkit/DBCheckbox-default-1.txt
  showcases/screen-reader/__snapshots__/windows/chromium/DBCheckbox-default-1.txt
  showcases/screen-reader/default.ts
  showcases/shared/checkbox.json
Due: jscpd --exitCode 1 ., stylelint --fix, cross-env TIMING=1 NODE_OPTIONS="--max-old-space-size=4096" xo --fix, prettier --write

docs(migration): pin foundations version
  docs/migration/v0.2.x-to-v0.3.x.md
Due: jscpd --exitCode 1 ., markdownlint -c .markdown-lint.yml

Update v0.3.x-to-v0.4.x.md
  docs/migration/v0.3.x-to-v0.4.x.md
Due: jscpd --exitCode 1 ., markdownlint -c .markdown-lint.yml

fix: background color for accordion (#3263)
  packages/components/src/components/accordion-item/accordion-item.scss
Due: jscpd --exitCode 1 ., stylelint --fix

chore: pin eslint version (#3251)
  .github/dependabot.yml
  package-lock.json
  packages/components/package.json
Due: jscpd --exitCode 1 .

chore: update hygen templates for new component generation (#3229)
  packages/components/_templates/mitosis/new/component/components.ejs.t
  packages/components/_templates/mitosis/new/component/db-ui-components-angular.ejs.t
  packages/components/_templates/mitosis/new/component/tsx.ejs.t
  packages/components/_templates/mitosis/new/readmes/readme-angular.ejs.t
  packages/components/_templates/mitosis/new/showcases/patternhub-comp-parser-import.ejs.t
  packages/components/_templates/mitosis/new/showcases/patternhub-components.ejs.t
  packages/components/_templates/mitosis/new/showcases/patternhub-routes-imports.ejs.t
  packages/components/_templates/mitosis/new/showcases/patternhub-routes.ejs.t
  packages/components/_templates/mitosis/new/showcases/react-showcase-component.ejs.t
Due: jscpd --exitCode 1 .

Path conditions:
  jscpd --exitCode 1 .: any of: *
  markdownlint -c .markdown-lint.yml: any of: *.md
  stylelint --fix: any of: *.{css,scss}
  cross-env TIMING=1 NODE_OPTIONS="--max-old-space-size=4096" xo --fix: any of: *.{js,ts,tsx}
  prettier --write: any of: *.{js,ts,tsx}
  prettier --write --ignore-unknown: any of: *.!{js,ts,tsx}
