Repository nekator/mono: changes, and which lint-staged commands are due for each by the changed paths.
All: jscpd --exitCode 1 ., markdownlint -c .markdown-lint.yml, stylelint --fix, cross-env TIMING=1 NODE_OPTIONS="--max-old-space-size=4096" xo --fix, prettier --write, prettier --write --ignore-unknown

chore: update multi-select component
  packages/components/src/components/input/input.scss
  packages/components/src/components/multi-select-dropdown/model.ts
  packages/components/src/components/multi-select-dropdown/multi-select-dropdown.lite.tsx
  packages/components/src/components/multi-select-dropdown/multi-select-dropdown.scss
  packages/components/src/components/multi-select-form-field/model.ts
  packages/components/src/components/multi-select-form-field/multi-select-form-field.lite.tsx
  packages/components/src/components/multi-select-form-field/multi-select-form-field.scss
  packages/components/src/components/multi-select-header/multi-select-header.scss
  packages/components/src/components/multi-select-list/multi-select-list.scss
  packages/components/src/components/multi-select/model.ts
  packages/components/src/components/multi-select/multi-select.lite.tsx
  packages/components/src/components/multi-select/multi-select.scss
  packages/components/src/components/tag/tag.lite.tsx
  packages/components/src/shared/constants.ts
  packages/components/src/styles/_multi-select-components.scss
  packages/components/src/styles/_scrollbar.scss
  packages/components/src/styles/_tag-components.scss
  packages/foundations/scss/colors/_default-color-scheme.scss
  showcases/react-showcase/src/components/multi-select/index.tsx
  showcases/shared/multi-select.json
Due: jscpd --exitCode 1 ., stylelint --fix, cross-env TIMING=1 NODE_OPTIONS="--max-old-space-size=4096" xo --fix, prettier --write

refactor: define the button elements `type` (#2039)
  packages/components/src/components/button/button.lite.tsx
  showcases/react-showcase/src/components/button/index.tsx
Due: jscpd --exitCode 1 ., cross-env TIMING=1 NODE_OPTIONS="--max-old-space-size=4096" xo --fix, prettier --write

chore: update multi-select component
  packages/components/src/components/multi-select-dropdown/multi-select-dropdown.scss
  packages/components/src/components/multi-select-header/multi-select-header.scss
  packages/components/src/components/multi-select/model.ts
  packages/components/src/components/multi-select/multi-select.lite.tsx
  packages/components/src/components/multi-select/multi-select.scss
  packages/components/src/components/select/select.scss
  packages/components/src/styles/_form-components.scss
  packages/components/src/styles/_select-components.scss
Due: jscpd --exitCode 1 ., stylelint --fix, cross-env TIMING=1 NODE_OPTIONS="--max-old-space-size=4096" xo --fix, prettier --write

docs: add a warning for application owners regarding Samsung Internet browser support (#3118)
  README.md
Due: jscpd --exitCode 1 ., markdownlint -c .markdown-lint.yml

Update showcases/screen-reader/tests/navigation.spec.ts
  showcases/screen-reader/tests/navigation.spec.ts
Due: jscpd --exitCode 1 ., cross-env TIMING=1 NODE_OPTIONS="--max-old-space-size=4096" xo --fix, prettier --write

chore: fix issues with lit build
  package-lock.json
  packages/components/mitosis.config.js
  packages/components/scripts/post-build/index.ts
  packages/components/scripts/post-build/lit.ts
  packages/components/scripts/utils/index.ts
  packages/components/src/utils/index.ts
  showcases/lit-showcase/index.html
  showcases/lit-showcase/package.json
  showcases/lit-showcase/vite.config.ts
Due: jscpd --exitCode 1 ., cross-env TIMING=1 NODE_OPTIONS="--max-old-space-size=4096" xo --fix, prettier --write

chore: fix angular showcose nav-item prop error
  showcases/angular-showcase/src/app/components/navigation-item/navigation-item.component.html
  showcases/angular-showcase/src/app/components/navigation/navigation.component.html
Due: jscpd --exitCode 1 .

chore: fix react and next showcase nav-item prop error
  showcases/react-showcase/src/components/navigation-item/index.tsx
Due: jscpd --exitCode 1 ., cross-env TIMING=1 NODE_OPTIONS="--max-old-space-size=4096" xo --fix, prettier --write

chore: fix react and next showcase nav-item prop error
  showcases/react-showcase/src/navigation/nav-item.tsx
Due: jscpd --exitCode 1 ., cross-env TIMING=1 NODE_OPTIONS="--max-old-space-size=4096" xo --fix, prettier --write

chore: fix react and next showcase nav-item prop error again
  showcases/react-showcase/src/navigation/nav-item.tsx
Due: jscpd --exitCode 1 ., cross-env TIMING=1 NODE_OPTIONS="--max-old-space-size=4096" xo --fix, prettier --write

chore: try to fix guidepup test
  showcases/screen-reader/__snapshots__/macos/webkit/DBTextarea-required-1.txt
Due: jscpd --exitCode 1 .

chore: removes old snapshots
  showcases/screen-reader/__snapshots__/macos/webkit/DBInput-next-1.txt
  showcases/screen-reader/__snapshots__/macos/webkit/DBInput-required-1.txt
Due: jscpd --exitCode 1 .

chore: adds snapshots
  showcases/screen-reader/__snapshots__/macos/webkit/DBInput-next-1.txt
  showcases/screen-reader/__snapshots__/macos/webkit/DBInput-required-1.txt
Due: jscpd --exitCode 1 .

docs: corrected path (#3135)
  packages/foundations/assets/icons/README.md
Due: jscpd --exitCode 1 ., markdownlint -c .markdown-lint.yml

Path conditions:
  jscpd --exitCode 1 .: any of: *
  markdownlint -c .markdown-lint.yml: any of: *.md
  stylelint --fix: any of: *.{css,scss}
  cross-env TIMING=1 NODE_OPTIONS="--max-old-space-size=4096" xo --fix: any of: *.{js,ts,tsx}
  prettier --write: any of: *.{js,ts,tsx}
  prettier --write --ignore-unknown: any of: *.!{js,ts,tsx}
