Repository nekator/mono: changes, and which lint-staged commands are due for each by the changed paths.
All: jscpd --exitCode 1 ., markdownlint -c .markdown-lint.yml, stylelint --fix, cross-env TIMING=1 NODE_OPTIONS="--max-old-space-size=4096" xo --fix, prettier --write, prettier --write --ignore-unknown

refactor: optimized this selector
  packages/components/src/components/navigation-item/navigation-item.scss
  packages/components/src/components/navigation/navigation.scss
  packages/components/src/components/popover/popover.scss
  packages/components/src/components/tag/tag.scss
  packages/components/src/components/textarea/textarea.scss
  packages/components/src/styles/_form-components.scss
  packages/components/src/styles/_scrollbar.scss
  packages/components/src/styles/_tag-components.scss
Due: jscpd --exitCode 1 ., stylelint --fix

refactor: optimized this selector
  packages/components/src/components/navigation/navigation.scss
Due: jscpd --exitCode 1 ., stylelint --fix

fix: remove global link style from DBCard (#2875)
  packages/components/src/components/card/card.scss
Due: jscpd --exitCode 1 ., stylelint --fix

fix: issue with hidden label for input datalist icon (#2878)
  packages/components/src/components/input/input.scss
Due: jscpd --exitCode 1 ., stylelint --fix

refactor: run package commands directly
  .husky/commit-msg
Due: jscpd --exitCode 1 .

refactor: run package commands directly
  .husky/pre-commit
Due: jscpd --exitCode 1 .

refactor: prettify all files
  .husky/pre-commit
  .lintstagedrc.js
Due: jscpd --exitCode 1 ., cross-env TIMING=1 NODE_OPTIONS="--max-old-space-size=4096" xo --fix, prettier --write

refactor: optimize pipeline scripts
  .github/workflows/99-codeql-analysis.yml
Due: jscpd --exitCode 1 .

chore: worth another try
  .github/workflows/99-add-url-comment.yml
Due: jscpd --exitCode 1 .

chore: worth another try
  .github/workflows/00-init.yml
  .github/workflows/default.yml
Due: jscpd --exitCode 1 .

chore: worth another try
  .github/workflows/00-scan-secrets.yml
  .github/workflows/02-e2e-foundations.yml
  .github/workflows/02-e2e-regenerate.yml
  .github/workflows/02-e2e-showcases.yml
  .github/workflows/99-add-url-comment.yml
Due: jscpd --exitCode 1 .

chore: disabled all deprecated stylelint rules
  .stylelintrc.json
  package-lock.json
Due: jscpd --exitCode 1 .

Path conditions:
  jscpd --exitCode 1 .: any of: *
  markdownlint -c .markdown-lint.yml: any of: *.md
  stylelint --fix: any of: *.{css,scss}
  cross-env TIMING=1 NODE_OPTIONS="--max-old-space-size=4096" xo --fix: any of: *.{js,ts,tsx}
  prettier --write: any of: *.{js,ts,tsx}
  prettier --write --ignore-unknown: any of: *.!{js,ts,tsx}
