Repository nekator/mono: changes, and which lint-staged commands are due for each by the changed paths.
All: jscpd --exitCode 1 ., markdownlint -c .markdown-lint.yml, stylelint --fix, cross-env TIMING=1 NODE_OPTIONS="--max-old-space-size=4096" xo --fix, prettier --write, prettier --write --ignore-unknown

refactor: added relevant VS Code setting for default linter
  .vscode/settings.json
Due: jscpd --exitCode 1 .

Update packages/components/src/components/select/select.lite.tsx
  packages/components/src/components/select/select.lite.tsx
Due: jscpd --exitCode 1 ., cross-env TIMING=1 NODE_OPTIONS="--max-old-space-size=4096" xo --fix, prettier --write

refactor: regenerated package lock files
  e2e/package-lock.json
  package-lock.json
Due: jscpd --exitCode 1 .

chore: update from main
  packages/components/src/components/tab-list/tab-list.scss
  packages/components/src/components/tab/tab.scss
  packages/components/src/styles/_scrollbar.scss
  packages/foundations/scss/_focus.scss
  packages/foundations/scss/_init.scss
  showcases/shared/tabs.json
Due: jscpd --exitCode 1 ., stylelint --fix

feat: add headline icon size and weight
  packages/foundations/scss/_init.scss
  packages/foundations/scss/default-theme.scss
  packages/foundations/scss/tonality/_font.scss
  packages/foundations/scss/tonality/_typography-placeholder.scss
Due: jscpd --exitCode 1 ., stylelint --fix

chore: aligned disabled opacity
  packages/components/src/components/accordion-item/accordion-item.scss
  packages/components/src/components/button/button.scss
  packages/components/src/components/link/link.scss
  packages/components/src/components/navigation-item/navigation-item.scss
  packages/components/src/components/tag/tag.scss
  packages/components/src/styles/_component.scss
  packages/components/src/styles/_form-components.scss
  packages/foundations/scss/_variables.scss
  packages/foundations/scss/default-theme.scss
Due: jscpd --exitCode 1 ., stylelint --fix

chore: add db-puls to tab directly
  packages/components/src/components/tab-list/tab-list.scss
  packages/components/src/components/tab/tab.scss
  packages/components/src/components/tabs/tabs.lite.tsx
Due: jscpd --exitCode 1 ., stylelint --fix, cross-env TIMING=1 NODE_OPTIONS="--max-old-space-size=4096" xo --fix, prettier --write

fix: issue with missing block-size for scrollbar
  packages/components/src/styles/_scrollbar.scss
Due: jscpd --exitCode 1 ., stylelint --fix

chore: update radio border logic
  packages/components/src/components/radio/radio.scss
Due: jscpd --exitCode 1 ., stylelint --fix

chore: update card
  packages/components/src/components/alert/model.ts
  packages/components/src/components/card/card.lite.tsx
  packages/components/src/components/card/card.scss
  packages/components/src/components/card/model.ts
  packages/components/src/components/code-docs/code-docs.lite.tsx
  packages/components/src/components/input/input.lite.tsx
  packages/components/src/components/select/select.lite.tsx
  packages/components/src/components/textarea/textarea.lite.tsx
  packages/components/src/shared/model.ts
  packages/components/src/styles/_component.scss
  packages/components/src/styles/_popover-component.scss
  packages/foundations/scss/_init.scss
  showcases/angular-showcase/src/app/components/card/card.component.html
  showcases/patternhub/pages/foundations/colors/color-schemes.tsx
  showcases/patternhub/styles/globals.scss
  showcases/react-showcase/src/components/card/index.tsx
  showcases/shared/card.json
  showcases/vue-showcase/src/components/card/Card.vue
Due: jscpd --exitCode 1 ., stylelint --fix, cross-env TIMING=1 NODE_OPTIONS="--max-old-space-size=4096" xo --fix, prettier --write

chore: update active state navigation item
  packages/components/src/components/main-navigation/main-navigation.scss
  packages/components/src/components/navigation-item/navigation-item.scss
Due: jscpd --exitCode 1 ., stylelint --fix

chore: update snapshots
  __snapshots__/navigation-item/showcase/chromium/regular/neutral/DBNavigationItem-should-match-screenshot.png
  __snapshots__/navigation-item/showcase/firefox/regular/neutral/DBNavigationItem-should-match-screenshot.png
  __snapshots__/navigation-item/showcase/mobile-chrome/regular/neutral/DBNavigationItem-should-match-screenshot.png
  __snapshots__/navigation-item/showcase/webkit/regular/neutral/DBNavigationItem-should-match-screenshot.png
Due: jscpd --exitCode 1 .

refactor: regenerated package lock file
  package-lock.json
Due: jscpd --exitCode 1 .

refactor: regenerated package lock file
  e2e/package-lock.json
  package-lock.json
Due: jscpd --exitCode 1 .

Path conditions:
  jscpd --exitCode 1 .: any of: *
  markdownlint -c .markdown-lint.yml: any of: *.md
  stylelint --fix: any of: *.{css,scss}
  cross-env TIMING=1 NODE_OPTIONS="--max-old-space-size=4096" xo --fix: any of: *.{js,ts,tsx}
  prettier --write: any of: *.{js,ts,tsx}
  prettier --write --ignore-unknown: any of: *.!{js,ts,tsx}
