Repository nekator/mono: changes, and which lint-staged commands are due for each by the changed paths.
All: jscpd --exitCode 1 ., markdownlint -c .markdown-lint.yml, stylelint --fix, cross-env TIMING=1 NODE_OPTIONS="--max-old-space-size=4096" xo --fix, prettier --write, prettier --write --ignore-unknown

.lintstagedrc:

{
	"*": "jscpd --exitCode 1 .",
	"*.md": "markdownlint -c .markdown-lint.yml",
	"*.{css,scss}": "stylelint --fix",
	"*.{js,ts,tsx}": ["cross-env TIMING=1 NODE_OPTIONS=\"--max-old-space-size=4096\" xo --fix", "prettier --write"],
	"*.!{js,ts,tsx}": "prettier --write --ignore-unknown"
}

refactor(textarea): power apps component should have `controlled` height
  packages/components/src/components/textarea/textarea.lite.tsx
Due: jscpd --exitCode 1 ., cross-env TIMING=1 NODE_OPTIONS="--max-old-space-size=4096" xo --fix, prettier --write

fix: issue with search input
  __snapshots__/input/showcase/chromium/regular/neutral/DBInput-should-match-screenshot.png
  __snapshots__/input/showcase/mobile-chrome/regular/neutral/DBInput-should-match-screenshot.png
  __snapshots__/input/showcase/mobile-safari/regular/neutral/DBInput-should-match-screenshot.png
  __snapshots__/input/showcase/webkit/regular/neutral/DBInput-should-match-screenshot.png
  packages/components/src/components/input/input.scss
Due: jscpd --exitCode 1 ., stylelint --fix

feat(power apps): provide target property for DB Link
  build-power-apps/link/DBLink/strings/DBLink.1031.resx
  build-power-apps/link/DBLink/strings/DBLink.1033.resx
  packages/components/src/components/link/link.lite.tsx
Due: jscpd --exitCode 1 ., cross-env TIMING=1 NODE_OPTIONS="--max-old-space-size=4096" xo --fix, prettier --write

refactor: generalize suffix
  packages/components/src/components/input/input.lite.tsx
  packages/components/src/components/select/select.lite.tsx
  packages/components/src/components/textarea/textarea.lite.tsx
  packages/components/src/shared/constants.ts
Due: jscpd --exitCode 1 ., cross-env TIMING=1 NODE_OPTIONS="--max-old-space-size=4096" xo --fix, prettier --write

fix: issue with patternhub not having a fallback for not found pages (#1573)
  showcases/patternhub/pages/404.tsx
  showcases/patternhub/scripts/generate-docs-mdx.js
Due: jscpd --exitCode 1 ., cross-env TIMING=1 NODE_OPTIONS="--max-old-space-size=4096" xo --fix, prettier --write

fix: corrected the values related to the property
  packages/components/src/components/link/link.lite.tsx
Due: jscpd --exitCode 1 ., cross-env TIMING=1 NODE_OPTIONS="--max-old-space-size=4096" xo --fix, prettier --write

refactor: reactivate commitlint
  .husky/commit-msg
Due: jscpd --exitCode 1 .

Update commit-msg
  .husky/commit-msg
Due: jscpd --exitCode 1 .

refactor: not installing plugins for husky npx
  .husky/pre-commit
Due: jscpd --exitCode 1 .

fix: corrected the installation prevention parameters position
  .husky/pre-commit
Due: jscpd --exitCode 1 .

refactor: adapted from examples
  .husky/commit-msg
  .husky/pre-commit
Due: jscpd --exitCode 1 .
