Repository nekator/mono: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint --fix, xo --fix, prettier --write

.lintstagedrc:

{
	"*.{css,scss}": "stylelint --fix",
	"*.{js,ts,tsx}": ["xo --fix", "prettier --write"],
	"*.{css,scss,md,adoc,sh,yml}": "prettier --write"
}

fix: issue with typescript version in angular showcase (#1351)
  package-lock.json
  packages/components/_templates/power-apps/new/.eslintrc.ejs.t
  showcases/angular-showcase/package.json
  showcases/angular-showcase/src/app/components/default.component.ts
  showcases/playwright.config.ts
Due: xo --fix, prettier --write

Update research-other-design-systems.md
  docs/research-other-design-systems.md
Due: prettier --write

refactor: changed naming of body-styles.scss fix issue for font-size overwrites
  packages/components/src/components/button/button.scss
  packages/components/src/components/checkbox/checkbox.scss
  packages/components/src/components/infotext/infotext.scss
  packages/components/src/components/input/input.scss
  packages/components/src/components/link/link.scss
  packages/components/src/components/radio/radio.scss
  packages/components/src/components/select/select.scss
  packages/components/src/components/tag/tag.scss
  packages/foundations/scss/_body-styles.scss
  packages/foundations/scss/_tonality.scss
  packages/foundations/scss/helpers/_font.scss
Due: stylelint --fix, prettier --write

fix: issue with missing hyphen
  packages/components/src/styles/form-components.scss
  packages/foundations/scss/helpers/_font.scss
Due: stylelint --fix, prettier --write

fix: issue body-styles for globals.scss
  showcases/patternhub/styles/globals.scss
Due: stylelint --fix, prettier --write

test: updated screenshots
  __snapshots__/alert/showcase/chromium/regular/neutral-0/DBAlert-should-match-screenshot.png
  __snapshots__/alert/showcase/mobile-chrome/regular/neutral-0/DBAlert-should-match-screenshot.png
  __snapshots__/alert/showcase/mobile-safari/regular/neutral-0/DBAlert-should-match-screenshot.png
  __snapshots__/alert/showcase/webkit/regular/neutral-0/DBAlert-should-match-screenshot.png
  __snapshots__/link/showcase/chromium/regular/neutral-0/DBLink-should-match-screenshot.png
  __snapshots__/link/showcase/mobile-chrome/regular/neutral-0/DBLink-should-match-screenshot.png
  __snapshots__/link/showcase/mobile-safari/regular/neutral-0/DBLink-should-match-screenshot.png
  __snapshots__/link/showcase/webkit/regular/neutral-0/DBLink-should-match-screenshot.png
  __snapshots__/navigation-item/showcase/chromium/regular/neutral-0/DBNavigationItem-should-match-screenshot.png
  __snapshots__/navigation-item/showcase/mobile-chrome/regular/neutral-0/DBNavigationItem-should-match-screenshot.png
  __snapshots__/navigation-item/showcase/mobile-safari/regular/neutral-0/DBNavigationItem-should-match-screenshot.png
  __snapshots__/navigation-item/showcase/webkit/regular/neutral-0/DBNavigationItem-should-match-screenshot.png
Due: none

Chore add how to develop (#1366)
  docs/how-to-develop-a-component.md
  packages/components/_templates/mitosis/new/component/components.ejs.t
  packages/components/_templates/mitosis/new/component/model.ejs.t
  packages/components/_templates/mitosis/new/component/tsx.ejs.t
  packages/components/_templates/mitosis/new/power-app-solution.ejs.t
  packages/components/_templates/mitosis/new/prompt.js
  packages/foundations/scss/_variables.global.scss
Due: stylelint --fix, xo --fix, prettier --write

docs(angular): removed incorrect assumption #1370
  docs/how-to-develop-a-component.md
Due: prettier --write
