Repository nekator/mono: changes, and which lint-staged commands are due for each by the changed paths.
All: jscpd --exitCode 1 ., markdownlint -c .markdown-lint.yml, stylelint --fix, cross-env TIMING=1 NODE_OPTIONS="--max-old-space-size=4096" xo --fix, prettier --write, prettier --write --ignore-unknown

refactor: replaced by simpler solution
  packages/components/src/components/navigation/navigation.scss
Due: jscpd --exitCode 1 ., stylelint --fix

refactor: renaming
  .xo-config.cjs
  scripts/package.json
  showcases/plain-html/.gitignore
  showcases/plain-html/index.html
  showcases/plain-html/package.json
  showcases/plain-html/scripts/generate-routes.js
  showcases/plain-html/src/action-bar.js
  showcases/plain-html/src/app-shell.js
  showcases/plain-html/src/components/button/index.js
  showcases/plain-html/src/components/form/index.js
  showcases/plain-html/src/components/input/index.js
  showcases/plain-html/src/main.js
  showcases/plain-html/src/navigation.js
  showcases/plain-html/src/utils/get-query-params.js
  showcases/plain-html/src/utils/navigation-items.js
  showcases/plain-html/src/utils/navigation-paths.js
  showcases/plain-html/vite.config.js
Due: jscpd --exitCode 1 ., cross-env TIMING=1 NODE_OPTIONS="--max-old-space-size=4096" xo --fix, prettier --write

refactor: leftovers
  package-lock.json
Due: jscpd --exitCode 1 .

refactor: leftovers
  showcases/plain-html/index.html
  showcases/plain-html/src/app-shell.js
Due: jscpd --exitCode 1 ., cross-env TIMING=1 NODE_OPTIONS="--max-old-space-size=4096" xo --fix, prettier --write

Revert "refactor: leftovers"
  showcases/plain-html/index.html
  showcases/plain-html/src/app-shell.js
Due: jscpd --exitCode 1 ., cross-env TIMING=1 NODE_OPTIONS="--max-old-space-size=4096" xo --fix, prettier --write

Revert "refactor: leftovers"
  package-lock.json
Due: jscpd --exitCode 1 .

Revert "refactor: renaming"
  .xo-config.cjs
  scripts/package.json
  showcases/vanilla-showcase/.gitignore
  showcases/vanilla-showcase/index.html
  showcases/vanilla-showcase/package.json
  showcases/vanilla-showcase/scripts/generate-routes.js
  showcases/vanilla-showcase/src/action-bar.js
  showcases/vanilla-showcase/src/app-shell.js
  showcases/vanilla-showcase/src/components/button/index.js
  showcases/vanilla-showcase/src/components/form/index.js
  showcases/vanilla-showcase/src/components/input/index.js
  showcases/vanilla-showcase/src/main.js
  showcases/vanilla-showcase/src/navigation.js
  showcases/vanilla-showcase/src/utils/get-query-params.js
  showcases/vanilla-showcase/src/utils/navigation-items.js
  showcases/vanilla-showcase/src/utils/navigation-paths.js
  showcases/vanilla-showcase/vite.config.js
Due: jscpd --exitCode 1 ., cross-env TIMING=1 NODE_OPTIONS="--max-old-space-size=4096" xo --fix, prettier --write

test: updated screenshot
  __snapshots__/navigation/showcase/chromium-highContrast/regular/neutral-bg-lvl-1/DBNavigation-should-match-screenshot.png
Due: jscpd --exitCode 1 .

fix: issue with wrong height for tag (#2977)
  __snapshots__/tag/component/chromium/DBTag-should-be-a-checkbox-checked.png
  __snapshots__/tag/component/chromium/DBTag-should-be-a-checkbox.png
  __snapshots__/tag/component/firefox/DBTag-should-be-a-checkbox-checked.png
  __snapshots__/tag/component/firefox/DBTag-should-be-a-checkbox.png
  __snapshots__/tag/component/mobile-chrome/DBTag-should-be-a-checkbox-checked.png
  __snapshots__/tag/component/mobile-chrome/DBTag-should-be-a-checkbox.png
  packages/components/src/components/tag/tag.scss
Due: jscpd --exitCode 1 ., stylelint --fix

refactor: let's make this a unregular case
  scripts/dev.ts
Due: jscpd --exitCode 1 ., cross-env TIMING=1 NODE_OPTIONS="--max-old-space-size=4096" xo --fix, prettier --write

docs: change size of show code to increase readability (#2979)
  showcases/patternhub/styles/globals.scss
Due: jscpd --exitCode 1 ., stylelint --fix

Path conditions:
  jscpd --exitCode 1 .: any of: *
  markdownlint -c .markdown-lint.yml: any of: *.md
  stylelint --fix: any of: *.{css,scss}
  cross-env TIMING=1 NODE_OPTIONS="--max-old-space-size=4096" xo --fix: any of: *.{js,ts,tsx}
  prettier --write: any of: *.{js,ts,tsx}
  prettier --write --ignore-unknown: any of: *.!{js,ts,tsx}
