Repository nekator/mono: changes, and which lint-staged commands are due for each by the changed paths.
All: jscpd --exitCode 1 ., markdownlint -c .markdown-lint.yml, stylelint --fix, cross-env TIMING=1 NODE_OPTIONS="--max-old-space-size=4096" xo --fix, prettier --write, prettier --write --ignore-unknown

docs: separates cards-and-levels to a new page
  showcases/patternhub/data/routes.ts
  showcases/patternhub/pages/foundations/colors/cards-levels.tsx
  showcases/patternhub/pages/foundations/colors/color-schemes.tsx
Due: jscpd --exitCode 1 ., cross-env TIMING=1 NODE_OPTIONS="--max-old-space-size=4096" xo --fix, prettier --write

docs: adds dark mode to colors grid
  showcases/patternhub/pages/foundations/colors/overview.tsx
  showcases/patternhub/styles/globals.scss
Due: jscpd --exitCode 1 ., stylelint --fix, cross-env TIMING=1 NODE_OPTIONS="--max-old-space-size=4096" xo --fix, prettier --write

docs: improves migration guide, adds timing variables
  docs/migration/alpha-beta.md
Due: jscpd --exitCode 1 ., markdownlint -c .markdown-lint.yml

docs: removes pseudo fix concerning other pr
  showcases/patternhub/styles/globals.scss
Due: jscpd --exitCode 1 ., stylelint --fix

docs: removes most dashes between words like font sizes
  packages/foundations/docs/FontsSizes.md
  showcases/patternhub/pages/foundations/font-sizes/overview.tsx
Due: jscpd --exitCode 1 ., markdownlint -c .markdown-lint.yml, cross-env TIMING=1 NODE_OPTIONS="--max-old-space-size=4096" xo --fix, prettier --write

fix: adds spaces for readability
  packages/foundations/scss/colors/classes/_get-class.scss
Due: jscpd --exitCode 1 ., stylelint --fix

docs: adds description to overview colors
  showcases/patternhub/pages/foundations/colors/overview.tsx
Due: jscpd --exitCode 1 ., cross-env TIMING=1 NODE_OPTIONS="--max-old-space-size=4096" xo --fix, prettier --write

chore(docs): added links
  output/angular/README.md
  output/react/README.md
  output/vue/README.md
Due: jscpd --exitCode 1 ., markdownlint -c .markdown-lint.yml

fix: issue with backdrop color (#2752)
  packages/components/src/styles/dialog-init.scss
Due: jscpd --exitCode 1 ., stylelint --fix

docs: adds color table
  showcases/patternhub/pages/foundations/colors/overview.tsx
  showcases/patternhub/styles/globals.scss
Due: jscpd --exitCode 1 ., stylelint --fix, cross-env TIMING=1 NODE_OPTIONS="--max-old-space-size=4096" xo --fix, prettier --write

chore: fixes package lock conflicts
  package-lock.json
  showcases/angular-ssr-showcase/package.json
Due: jscpd --exitCode 1 .

fix: issue with mitosis breaking change
  packages/components/scripts/post-build/angular.js
Due: jscpd --exitCode 1 ., cross-env TIMING=1 NODE_OPTIONS="--max-old-space-size=4096" xo --fix, prettier --write

chore: update package-lock.json
  package-lock.json
Due: jscpd --exitCode 1 .

docs: update foundations README.md for tailwind.config use with TS (#2753)
  packages/foundations/README.md
  packages/foundations/tailwind/tailwind-tokens.json
Due: jscpd --exitCode 1 ., markdownlint -c .markdown-lint.yml

Update HTML.md
  packages/components/src/components/header/docs/HTML.md
Due: jscpd --exitCode 1 ., markdownlint -c .markdown-lint.yml

Path conditions:
  jscpd --exitCode 1 .: any of: *
  markdownlint -c .markdown-lint.yml: any of: *.md
  stylelint --fix: any of: *.{css,scss}
  cross-env TIMING=1 NODE_OPTIONS="--max-old-space-size=4096" xo --fix: any of: *.{js,ts,tsx}
  prettier --write: any of: *.{js,ts,tsx}
  prettier --write --ignore-unknown: any of: *.!{js,ts,tsx}
