Repository nekator/mono: changes, and which lint-staged commands are due for each by the changed paths.
All: jscpd --exitCode 1 ., markdownlint -c .markdown-lint.yml, stylelint --fix, cross-env TIMING=1 NODE_OPTIONS="--max-old-space-size=4096" xo --fix, prettier --write, prettier --write --ignore-unknown

chore: ordering
  showcases/react-showcase/src/components/form/index.tsx
Due: jscpd --exitCode 1 ., cross-env TIMING=1 NODE_OPTIONS="--max-old-space-size=4096" xo --fix, prettier --write

refactor: all prettier relevant styling rules have been deprecated
  .stylelintrc.json
  package.json
Due: jscpd --exitCode 1 .

refactor: updated stylelint to the next major version
  .stylelintrc.json
  package-lock.json
  package.json
Due: jscpd --exitCode 1 .

refactor: removed obsolete rule
  .stylelintrc.json
Due: jscpd --exitCode 1 .

Update utils.js
  showcases/patternhub/scripts/utils.js
Due: jscpd --exitCode 1 ., cross-env TIMING=1 NODE_OPTIONS="--max-old-space-size=4096" xo --fix, prettier --write

test: add accessibility-checker for additional tests (#2652)
  .github/workflows/02-e2e-showcases.yml
  .gitignore
  .jscpd.json
  package-lock.json
  package.json
  packages/components/src/components/header/header.lite.tsx
  packages/components/src/components/input/input.lite.tsx
  packages/components/src/components/select/select.lite.tsx
  packages/components/src/components/switch/model.ts
  packages/components/src/components/switch/switch.lite.tsx
  packages/components/src/components/textarea/textarea.lite.tsx
  packages/components/src/components/tooltip/tooltip.lite.tsx
  showcases/angular-showcase/src/app/app.component.html
  showcases/angular-showcase/src/app/components/default.component.html
  showcases/angular-showcase/src/app/components/navigation/navigation.component.html
  showcases/angular-showcase/src/app/components/navigation/navigation.component.ts
  showcases/e2e/default.ts
  showcases/e2e/input/showcase-input.spec.ts
  showcases/e2e/link/showcase-link.spec.ts
  showcases/e2e/select/showcase-select.spec.ts
  showcases/e2e/switch/showcase-switch.spec.ts
  showcases/e2e/tab-item/showcase-tab-item.spec.ts
  showcases/e2e/tabs/showcase-tabs.spec.ts
  showcases/e2e/tag/showcase-tag.spec.ts
  showcases/e2e/textarea/showcase-textarea.spec.ts
  showcases/react-showcase/src/components/default-component.tsx
  showcases/react-showcase/src/components/navigation/index.tsx
  showcases/react-showcase/src/navigation/index.tsx
  showcases/shared/checkbox.json
  showcases/shared/default-component-data.ts
  showcases/shared/radio.json
  showcases/shared/tag.json
  showcases/vue-showcase/src/App.vue
  showcases/vue-showcase/src/components/DefaultComponent.vue
  showcases/vue-showcase/src/components/navigation/Navigation.vue
Due: jscpd --exitCode 1 ., cross-env TIMING=1 NODE_OPTIONS="--max-old-space-size=4096" xo --fix, prettier --write

fix: option "key" for datalist option inside input (#2663)
  __snapshots__/input/showcase/chromium/regular/neutral-bg-lvl-1/DBInput-should-match-screenshot.png
  __snapshots__/input/showcase/firefox/regular/neutral-bg-lvl-1/DBInput-should-match-screenshot.png
  __snapshots__/input/showcase/mobile-chrome/regular/neutral-bg-lvl-1/DBInput-should-match-screenshot.png
  __snapshots__/input/showcase/mobile-safari/regular/neutral-bg-lvl-1/DBInput-should-match-screenshot.png
  __snapshots__/input/showcase/webkit/regular/neutral-bg-lvl-1/DBInput-should-match-screenshot.png
  packages/components/src/components/input/input.lite.tsx
  packages/components/src/components/input/model.ts
  packages/components/src/shared/model.ts
  packages/components/src/utils/index.ts
  showcases/angular-showcase/src/app/components/form/form.component.ts
  showcases/angular-showcase/src/app/components/input/input.component.html
  showcases/angular-showcase/src/app/components/input/input.component.ts
  showcases/react-showcase/src/components/form/index.tsx
  showcases/react-showcase/src/components/input/index.tsx
  showcases/shared/input.json
  showcases/vue-showcase/src/components/input/Input.vue
Due: jscpd --exitCode 1 ., cross-env TIMING=1 NODE_OPTIONS="--max-old-space-size=4096" xo --fix, prettier --write

fix: tag wasn't able to use default html-tags like button,a,input (#2686)
  __snapshots__/tag/showcase/chromium/regular/neutral-bg-lvl-1/DBTag-should-match-screenshot.png
  __snapshots__/tag/showcase/firefox/regular/neutral-bg-lvl-1/DBTag-should-match-screenshot.png
  __snapshots__/tag/showcase/mobile-chrome/regular/neutral-bg-lvl-1/DBTag-should-match-screenshot.png
  __snapshots__/tag/showcase/mobile-safari/regular/neutral-bg-lvl-1/DBTag-should-match-screenshot.png
  __snapshots__/tag/showcase/webkit/regular/neutral-bg-lvl-1/DBTag-should-match-screenshot.png
  packages/components/scripts/post-build/components.ts
  packages/components/src/components/tag/model.ts
  packages/components/src/components/tag/tag.lite.tsx
  packages/components/src/components/tag/tag.scss
  showcases/angular-showcase/src/app/components/tag/tag.component.html
  showcases/angular-showcase/src/app/components/tag/tag.component.ts
  showcases/patternhub/scripts/utils.js
  showcases/react-showcase/src/components/tag/index.tsx
  showcases/shared/header.json
  showcases/shared/notification.json
  showcases/shared/tag.json
  showcases/vue-showcase/src/components/tag/Tag.vue
Due: jscpd --exitCode 1 ., stylelint --fix, cross-env TIMING=1 NODE_OPTIONS="--max-old-space-size=4096" xo --fix, prettier --write

Path conditions:
  jscpd --exitCode 1 .: any of: *
  markdownlint -c .markdown-lint.yml: any of: *.md
  stylelint --fix: any of: *.{css,scss}
  cross-env TIMING=1 NODE_OPTIONS="--max-old-space-size=4096" xo --fix: any of: *.{js,ts,tsx}
  prettier --write: any of: *.{js,ts,tsx}
  prettier --write --ignore-unknown: any of: *.!{js,ts,tsx}
