Repository nekator/mono: changes, and which lint-staged commands are due for each by the changed paths.
All: jscpd --exitCode 1 ., markdownlint -c .markdown-lint.yml, stylelint --fix, cross-env TIMING=1 NODE_OPTIONS="--max-old-space-size=4096" xo --fix, prettier --write, prettier --write --ignore-unknown

.lintstagedrc:

{
	"*": "jscpd --exitCode 1 .",
	"*.md": "markdownlint -c .markdown-lint.yml",
	"*.{css,scss}": "stylelint --fix",
	"*.{js,ts,tsx}": ["cross-env TIMING=1 NODE_OPTIONS=\"--max-old-space-size=4096\" xo --fix", "prettier --write"],
	"*.!{js,ts,tsx}": "prettier --write --ignore-unknown"
}

refactor: reduced code output
  packages/foundations/scss/init/default-fonts.scss
Due: jscpd --exitCode 1 ., stylelint --fix

fix: issue with tooltip colors changed by parent component like tag (#2775)
  packages/components/src/components/tooltip/tooltip.scss
  packages/foundations/scss/colors/_placeholder.scss
  packages/foundations/scss/colors/_variables.scss
  showcases/react-showcase/src/components/form/index.tsx
Due: jscpd --exitCode 1 ., stylelint --fix, cross-env TIMING=1 NODE_OPTIONS="--max-old-space-size=4096" xo --fix, prettier --write

Update packages/components/src/components/badge/badge.scss
  packages/components/src/components/badge/badge.scss
Due: jscpd --exitCode 1 ., stylelint --fix

refactor: it's worth the try
  packages/foundations/scss/default-theme.scss
Due: jscpd --exitCode 1 ., stylelint --fix

fix: pin sass dependency, building process was to slow with version > 1.77.4 (#2778)
  .github/dependabot.yml
  output/react/package.json
  output/vue/package.json
  package-lock.json
  packages/components/package.json
  packages/foundations/package.json
  showcases/patternhub/package.json
Due: jscpd --exitCode 1 .

refactor: reduced output
  packages/foundations/scss/colors/_default-color-scheme.scss
  packages/foundations/scss/default-theme.scss
Due: jscpd --exitCode 1 ., stylelint --fix

refactor: resilience
  packages/foundations/scss/default-theme.scss
Due: jscpd --exitCode 1 ., stylelint --fix

refactor: prettifying
  packages/components/src/components/badge/badge.scss
Due: jscpd --exitCode 1 ., stylelint --fix

docs: added meta HTML element part
  packages/foundations/docs/Colors.md
Due: jscpd --exitCode 1 ., markdownlint -c .markdown-lint.yml

test: updated screenshots
  __snapshots__/badge/showcase/chromium/regular/neutral-bg-lvl-1/DBBadge-should-match-screenshot.png
  __snapshots__/badge/showcase/firefox/regular/neutral-bg-lvl-1/DBBadge-should-match-screenshot.png
  __snapshots__/badge/showcase/mobile-chrome/regular/neutral-bg-lvl-1/DBBadge-should-match-screenshot.png
  __snapshots__/badge/showcase/mobile-safari/regular/neutral-bg-lvl-1/DBBadge-should-match-screenshot.png
  __snapshots__/badge/showcase/webkit/regular/neutral-bg-lvl-1/DBBadge-should-match-screenshot.png
Due: jscpd --exitCode 1 .

fix: issue with wrong padding for badge
  __snapshots__/badge/showcase/chromium/regular/neutral-bg-lvl-1/DBBadge-should-match-screenshot.png
  __snapshots__/badge/showcase/firefox/regular/neutral-bg-lvl-1/DBBadge-should-match-screenshot.png
  __snapshots__/badge/showcase/mobile-chrome/regular/neutral-bg-lvl-1/DBBadge-should-match-screenshot.png
  __snapshots__/badge/showcase/mobile-safari/regular/neutral-bg-lvl-1/DBBadge-should-match-screenshot.png
  __snapshots__/badge/showcase/webkit/regular/neutral-bg-lvl-1/DBBadge-should-match-screenshot.png
  packages/components/src/components/badge/badge.scss
  scripts/dev.js
Due: jscpd --exitCode 1 ., stylelint --fix, cross-env TIMING=1 NODE_OPTIONS="--max-old-space-size=4096" xo --fix, prettier --write

fix: revert cpy-cli changes (#2784)
  e2e/package.json
  output/react/package.json
  output/vue/package.json
  output/webcomponent/package.json
  package-lock.json
  package.json
  packages/components/package.json
  packages/foundations/package.json
  showcases/patternhub/package.json
  showcases/vanilla-showcase/package.json
  showcases/vanilla-showcase/scripts/generate-routes.js
Due: jscpd --exitCode 1 ., cross-env TIMING=1 NODE_OPTIONS="--max-old-space-size=4096" xo --fix, prettier --write

fix: revert github ci deploy (#2785)
  .github/workflows/03-deploy-gh-pages.yml
Due: jscpd --exitCode 1 .
