Repository nekator/mono: changes, and which lint-staged commands are due for each by the changed paths.
All: jscpd --exitCode 1 ., markdownlint -c .markdown-lint.yml, stylelint --fix, cross-env TIMING=1 NODE_OPTIONS="--max-old-space-size=4096" xo --fix, prettier --write, prettier --write --ignore-unknown

.lintstagedrc:

{
	"*": "jscpd --exitCode 1 .",
	"*.md": "markdownlint -c .markdown-lint.yml",
	"*.{css,scss}": "stylelint --fix",
	"*.{js,ts,tsx}": ["cross-env TIMING=1 NODE_OPTIONS=\"--max-old-space-size=4096\" xo --fix", "prettier --write"],
	"*.!{js,ts,tsx}": "prettier --write --ignore-unknown"
}

refactor: making vue a devDependency (#3318)
  output/vue/package.json
  package-lock.json
Due: jscpd --exitCode 1 .

fix: issue with gh-pages latest site (#3390)
  .github/scripts/build-gh-page.sh
Due: jscpd --exitCode 1 .

refactor: updated node version
  .github/actions/npm-cache/action.yml
  .nvmrc
Due: jscpd --exitCode 1 .

chore: update snapshots
  __snapshots__/accordion-item/patternhub/accordion-item-properties-should-match-screenshot.png
  __snapshots__/accordion/patternhub/accordion-properties-should-match-screenshot.png
  __snapshots__/brand/patternhub/brand-properties-should-match-screenshot.png
  __snapshots__/card/patternhub/card-properties-should-match-screenshot.png
  __snapshots__/divider/patternhub/divider-properties-should-match-screenshot.png
  __snapshots__/drawer/patternhub/drawer-docs-should-match-screenshot.png
  __snapshots__/drawer/patternhub/drawer-properties-should-match-screenshot.png
  __snapshots__/header/patternhub/header-properties-should-match-screenshot.png
  __snapshots__/infotext/patternhub/infotext-properties-should-match-screenshot.png
  __snapshots__/input/showcase/chromium-highContrast/DBInput-should-match-screenshot-1/DBInput-should-match-screenshot.png
  __snapshots__/input/showcase/chromium/DBInput-should-match-screenshot-1/DBInput-should-match-screenshot.png
  __snapshots__/input/showcase/firefox/DBInput-should-match-screenshot-1/DBInput-should-match-screenshot.png
  __snapshots__/input/showcase/mobile-chrome/DBInput-should-match-screenshot-1/DBInput-should-match-screenshot.png
  __snapshots__/input/showcase/mobile-safari/DBInput-should-match-screenshot-1/DBInput-should-match-screenshot.png
  __snapshots__/input/showcase/webkit/DBInput-should-match-screenshot-1/DBInput-should-match-screenshot.png
  __snapshots__/link/patternhub/link-properties-should-match-screenshot.png
  __snapshots__/navigation-item/patternhub/navigation-item-properties-should-match-screenshot.png
  __snapshots__/section/patternhub/section-properties-should-match-screenshot.png
  __snapshots__/select/showcase/chromium-highContrast/DBSelect-should-match-screenshot-1/DBSelect-should-match-screenshot.png
  __snapshots__/select/showcase/chromium/DBSelect-should-match-screenshot-1/DBSelect-should-match-screenshot.png
  __snapshots__/select/showcase/firefox/DBSelect-should-match-screenshot-1/DBSelect-should-match-screenshot.png
  __snapshots__/select/showcase/mobile-chrome/DBSelect-should-match-screenshot-1/DBSelect-should-match-screenshot.png
  __snapshots__/switch/patternhub/switch-properties-should-match-screenshot.png
  __snapshots__/tab-item/patternhub/tab-item-properties-should-match-screenshot.png
  __snapshots__/tab-item/showcase/chromium-highContrast/DBTabItem-should-match-screenshot-1/DBTabItem-should-match-screenshot.png
  __snapshots__/tab-item/showcase/chromium/DBTabItem-should-match-screenshot-1/DBTabItem-should-match-screenshot.png
  __snapshots__/tab-item/showcase/firefox/DBTabItem-should-match-screenshot-1/DBTabItem-should-match-screenshot.png
  __snapshots__/tab-item/showcase/mobile-chrome/DBTabItem-should-match-screenshot-1/DBTabItem-should-match-screenshot.png
  __snapshots__/tab-item/showcase/mobile-safari/DBTabItem-should-match-screenshot-1/DBTabItem-should-match-screenshot.png
  __snapshots__/tab-item/showcase/webkit/DBTabItem-should-match-screenshot-1/DBTabItem-should-match-screenshot.png
  __snapshots__/tabs/patternhub/tabs-properties-should-match-screenshot.png
  __snapshots__/tag/patternhub/tag-properties-should-match-screenshot.png
  __snapshots__/tag/showcase/chromium-highContrast/DBTag-should-match-screenshot-1/DBTag-should-match-screenshot.png
  __snapshots__/tooltip/patternhub/tooltip-properties-should-match-screenshot.png
Due: jscpd --exitCode 1 .

fix: popover no animation (#3392)
  __snapshots__/popover/component/chromium/DBPopover-after-open-should-match-screenshot.png
  __snapshots__/popover/component/firefox/DBPopover-after-open-should-match-screenshot.png
  __snapshots__/popover/component/mobile-chrome/DBPopover-after-open-should-match-screenshot.png
  __snapshots__/popover/showcase/chromium-highContrast/DBPopover-should-match-screenshot-1/DBPopover-should-match-screenshot.png
  __snapshots__/popover/showcase/chromium/DBPopover-should-match-screenshot-1/DBPopover-should-match-screenshot.png
  __snapshots__/popover/showcase/firefox/DBPopover-should-match-screenshot-1/DBPopover-should-match-screenshot.png
  __snapshots__/popover/showcase/mobile-chrome/DBPopover-should-match-screenshot-1/DBPopover-should-match-screenshot.png
  __snapshots__/popover/showcase/mobile-safari/DBPopover-should-match-screenshot-1/DBPopover-should-match-screenshot.png
  __snapshots__/popover/showcase/webkit/DBPopover-should-match-screenshot-1/DBPopover-should-match-screenshot.png
  packages/components/src/styles/_popover-component.scss
Due: jscpd --exitCode 1 ., stylelint --fix

fix: slow save triangle for navigation (#3403)
  packages/components/src/utils/navigation.ts
Due: jscpd --exitCode 1 ., cross-env TIMING=1 NODE_OPTIONS="--max-old-space-size=4096" xo --fix, prettier --write
