Repository nekator/mono: changes, and which lint-staged commands are due for each by the changed paths.
All: jscpd --exitCode 1 ., markdownlint -c .markdown-lint.yml, stylelint --fix, cross-env TIMING=1 NODE_OPTIONS="--max-old-space-size=4096" xo --fix, prettier --write, prettier --write --ignore-unknown

.lintstagedrc:

{
	"*": "jscpd --exitCode 1 .",
	"*.md": "markdownlint -c .markdown-lint.yml",
	"*.{css,scss}": "stylelint --fix",
	"*.{js,ts,tsx}": ["cross-env TIMING=1 NODE_OPTIONS=\"--max-old-space-size=4096\" xo --fix", "prettier --write"],
	"*.!{js,ts,tsx}": "prettier --write --ignore-unknown"
}

test: adds guidepup test for section
  showcases/screen-reader/__snapshots__/macos/webkit/DBSection-default-1.txt
  showcases/screen-reader/tests/section.spec.ts
Due: jscpd --exitCode 1 ., cross-env TIMING=1 NODE_OPTIONS="--max-old-space-size=4096" xo --fix, prettier --write

refactor: added windows test
  showcases/screen-reader/__snapshots__/windows/chromium/DBSection-default-1.txt
Due: jscpd --exitCode 1 .

test: adds guidepup test for select
  showcases/screen-reader/tests/select.spec.ts
Due: jscpd --exitCode 1 ., cross-env TIMING=1 NODE_OPTIONS="--max-old-space-size=4096" xo --fix, prettier --write

test: adds guidepup test for select
  showcases/screen-reader/__snapshots__/macos/webkit/DBSelect-default-1.txt
Due: jscpd --exitCode 1 .

test: adds guidepup test for section, minor change
  showcases/screen-reader/tests/section.spec.ts
Due: jscpd --exitCode 1 ., cross-env TIMING=1 NODE_OPTIONS="--max-old-space-size=4096" xo --fix, prettier --write

fix(docs): renamed some tonality leftovers (#3093)
  __snapshots__/brand/patternhub/brand-overview-should-match-screenshot.png
  __snapshots__/brand/showcase/chromium-highContrast/DBBrand-should-match-screenshot-1/DBBrand-should-match-screenshot.png
  __snapshots__/brand/showcase/chromium/DBBrand-should-match-screenshot-1/DBBrand-should-match-screenshot.png
  __snapshots__/brand/showcase/firefox/DBBrand-should-match-screenshot-1/DBBrand-should-match-screenshot.png
  __snapshots__/brand/showcase/mobile-chrome/DBBrand-should-match-screenshot-1/DBBrand-should-match-screenshot.png
  __snapshots__/brand/showcase/mobile-safari/DBBrand-should-match-screenshot-1/DBBrand-should-match-screenshot.png
  __snapshots__/brand/showcase/webkit/DBBrand-should-match-screenshot-1/DBBrand-should-match-screenshot.png
  __snapshots__/header/patternhub/header-overview-should-match-screenshot.png
  __snapshots__/header/showcase/chromium-highContrast/DBHeader-should-match-screenshot-1/DBHeader-should-match-screenshot.png
  __snapshots__/header/showcase/chromium/DBHeader-should-match-screenshot-1/DBHeader-should-match-screenshot.png
  __snapshots__/header/showcase/firefox/DBHeader-should-match-screenshot-1/DBHeader-should-match-screenshot.png
  __snapshots__/header/showcase/mobile-chrome/DBHeader-should-match-screenshot-1/DBHeader-should-match-screenshot.png
  __snapshots__/header/showcase/mobile-safari/DBHeader-should-match-screenshot-1/DBHeader-should-match-screenshot.png
  __snapshots__/header/showcase/webkit/DBHeader-should-match-screenshot-1/DBHeader-should-match-screenshot.png
  __snapshots__/tabs/patternhub/tabs-overview-should-match-screenshot.png
  __snapshots__/tabs/showcase/chromium-highContrast/DBTabs-should-match-screenshot-1/DBTabs-should-match-screenshot.png
  __snapshots__/tabs/showcase/chromium/DBTabs-should-match-screenshot-1/DBTabs-should-match-screenshot.png
  __snapshots__/tabs/showcase/firefox/DBTabs-should-match-screenshot-1/DBTabs-should-match-screenshot.png
  __snapshots__/tabs/showcase/mobile-chrome/DBTabs-should-match-screenshot-1/DBTabs-should-match-screenshot.png
  __snapshots__/tabs/showcase/mobile-safari/DBTabs-should-match-screenshot-1/DBTabs-should-match-screenshot.png
  __snapshots__/tabs/showcase/webkit/DBTabs-should-match-screenshot-1/DBTabs-should-match-screenshot.png
  docs/how-to-develop-a-component.md
  showcases/screen-reader/tests/header.spec.ts
  showcases/shared/brand.json
  showcases/shared/header.json
  showcases/shared/page.json
  showcases/shared/tabs.json
Due: jscpd --exitCode 1 ., markdownlint -c .markdown-lint.yml, cross-env TIMING=1 NODE_OPTIONS="--max-old-space-size=4096" xo --fix, prettier --write

test: adds guidepup test for section, minor change
  showcases/screen-reader/__snapshots__/macos/webkit/DBSection-default-1.txt
Due: jscpd --exitCode 1 .

test: adds guidepup test for select
  showcases/screen-reader/__snapshots__/macos/webkit/DBSelect-default-1.txt
  showcases/screen-reader/default.ts
  showcases/screen-reader/tests/select.spec.ts
Due: jscpd --exitCode 1 ., cross-env TIMING=1 NODE_OPTIONS="--max-old-space-size=4096" xo --fix, prettier --write

chore: removes comments
  showcases/screen-reader/tests/select.spec.ts
Due: jscpd --exitCode 1 ., cross-env TIMING=1 NODE_OPTIONS="--max-old-space-size=4096" xo --fix, prettier --write

test: adds guidepup test for switch
  showcases/screen-reader/__snapshots__/macos/webkit/DBSwitch-default-1.txt
  showcases/screen-reader/default.ts
  showcases/screen-reader/tests/switch.spec.ts
Due: jscpd --exitCode 1 ., cross-env TIMING=1 NODE_OPTIONS="--max-old-space-size=4096" xo --fix, prettier --write

test: adds guidepup test for switch no icon
  showcases/screen-reader/__snapshots__/macos/webkit/DBSwitch-icon-1.txt
  showcases/screen-reader/tests/switch.spec.ts
Due: jscpd --exitCode 1 ., cross-env TIMING=1 NODE_OPTIONS="--max-old-space-size=4096" xo --fix, prettier --write

chore: improves description
  showcases/screen-reader/tests/switch.spec.ts
Due: jscpd --exitCode 1 ., cross-env TIMING=1 NODE_OPTIONS="--max-old-space-size=4096" xo --fix, prettier --write

test: adds guidepup test for tabs
  showcases/screen-reader/__snapshots__/macos/webkit/DBTabs-default-1.txt
  showcases/screen-reader/tests/tabs.spec.ts
Due: jscpd --exitCode 1 ., cross-env TIMING=1 NODE_OPTIONS="--max-old-space-size=4096" xo --fix, prettier --write

test: adds guidepup tests for tag
  showcases/screen-reader/__snapshots__/macos/webkit/DBTag-behaviour-1.txt
  showcases/screen-reader/__snapshots__/macos/webkit/DBTag-default-1.txt
  showcases/screen-reader/tests/tag.spec.ts
Due: jscpd --exitCode 1 ., cross-env TIMING=1 NODE_OPTIONS="--max-old-space-size=4096" xo --fix, prettier --write

test: adds guidepup tests for tooltip
  showcases/screen-reader/__snapshots__/macos/webkit/DBTooltip-default-1.txt
  showcases/screen-reader/tests/tooltip.spec.ts
Due: jscpd --exitCode 1 ., cross-env TIMING=1 NODE_OPTIONS="--max-old-space-size=4096" xo --fix, prettier --write

chore: update sr test for section
  showcases/screen-reader/__snapshots__/windows/chromium/DBSection-default-1.txt
  showcases/screen-reader/tests/section.spec.ts
Due: jscpd --exitCode 1 ., cross-env TIMING=1 NODE_OPTIONS="--max-old-space-size=4096" xo --fix, prettier --write

chore: update sr test for select
  showcases/screen-reader/tests/select.spec.ts
Due: jscpd --exitCode 1 ., cross-env TIMING=1 NODE_OPTIONS="--max-old-space-size=4096" xo --fix, prettier --write

chore: update sr test for switch
  showcases/screen-reader/tests/switch.spec.ts
Due: jscpd --exitCode 1 ., cross-env TIMING=1 NODE_OPTIONS="--max-old-space-size=4096" xo --fix, prettier --write

chore: update sr test for tabs
  showcases/screen-reader/tests/tabs.spec.ts
Due: jscpd --exitCode 1 ., cross-env TIMING=1 NODE_OPTIONS="--max-old-space-size=4096" xo --fix, prettier --write

chore: update sr test for tag
  showcases/screen-reader/__snapshots__/windows/chromium/DBTag-default-1.txt
  showcases/screen-reader/tests/tag.spec.ts
Due: jscpd --exitCode 1 ., cross-env TIMING=1 NODE_OPTIONS="--max-old-space-size=4096" xo --fix, prettier --write
