Repository nekator/mono: changes, and which lint-staged commands are due for each by the changed paths.
All: jscpd --exitCode 1 ., markdownlint -c .markdown-lint.yml, stylelint --fix, cross-env TIMING=1 NODE_OPTIONS="--max-old-space-size=4096" xo --fix, prettier --write, prettier --write --ignore-unknown

.lintstagedrc:

{
	"*": "jscpd --exitCode 1 .",
	"*.md": "markdownlint -c .markdown-lint.yml",
	"*.{css,scss}": "stylelint --fix",
	"*.{js,ts,tsx}": ["cross-env TIMING=1 NODE_OPTIONS=\"--max-old-space-size=4096\" xo --fix", "prettier --write"],
	"*.!{js,ts,tsx}": "prettier --write --ignore-unknown"
}

refactor: did some necessary renaming
  packages/components/_templates/mitosis/new/showcases/shared-component-variants.ejs.t
  packages/components/src/components/header/docs/HTML.md
  packages/components/src/components/tag/docs/HTML.md
  showcases/shared/accordion.json
  showcases/shared/alert.json
  showcases/shared/brand.json
  showcases/shared/button.json
  showcases/shared/card.json
  showcases/shared/divider.json
  showcases/shared/drawer.json
  showcases/shared/header.json
  showcases/shared/icon.json
  showcases/shared/main-navigation.json
  showcases/shared/page.json
  showcases/shared/popover.json
  showcases/shared/radio.json
  showcases/shared/section.json
  showcases/shared/tab.json
  showcases/shared/tabs.json
  showcases/shared/tag.json
  showcases/shared/tooltip.json
Due: jscpd --exitCode 1 ., markdownlint -c .markdown-lint.yml

refactor: capitalized further densities
  packages/components/_templates/mitosis/new/showcases/shared-component-variants.ejs.t
  showcases/patternhub/pages/foundations/tonalities/examples.tsx
  showcases/patternhub/pages/foundations/variables/examples.tsx
Due: jscpd --exitCode 1 ., cross-env TIMING=1 NODE_OPTIONS="--max-old-space-size=4096" xo --fix, prettier --write

refactor: naming feedback
  showcases/shared/checkbox.json
  showcases/shared/radio.json
Due: jscpd --exitCode 1 .

docs: namings
  showcases/shared/checkbox.json
  showcases/shared/radio.json
Due: jscpd --exitCode 1 .

refactor: standarized the elements labels order
  packages/components/_templates/mitosis/new/showcases/shared-component-variants.ejs.t
  showcases/shared/accordion-item.json
  showcases/shared/accordion.json
  showcases/shared/alert.json
  showcases/shared/badge.json
  showcases/shared/brand.json
  showcases/shared/button.json
  showcases/shared/card.json
  showcases/shared/checkbox.json
  showcases/shared/divider.json
  showcases/shared/drawer.json
  showcases/shared/header.json
  showcases/shared/icon.json
  showcases/shared/infotext.json
  showcases/shared/link.json
  showcases/shared/main-navigation.json
  showcases/shared/navigation-item.json
  showcases/shared/page.json
  showcases/shared/popover.json
  showcases/shared/radio.json
  showcases/shared/section.json
  showcases/shared/tab.json
  showcases/shared/tabs.json
  showcases/shared/tag.json
  showcases/shared/tooltip.json
Due: jscpd --exitCode 1 .

test: generated screenshots
  __snapshots__/accordion/showcase/chromium/regular/neutral/DBAccordion-should-match-screenshot.png
  __snapshots__/accordion/showcase/firefox/regular/neutral/DBAccordion-should-match-screenshot.png
  __snapshots__/accordion/showcase/mobile-chrome/regular/neutral/DBAccordion-should-match-screenshot.png
  __snapshots__/accordion/showcase/mobile-safari/regular/neutral/DBAccordion-should-match-screenshot.png
  __snapshots__/accordion/showcase/webkit/regular/neutral/DBAccordion-should-match-screenshot.png
  __snapshots__/alert/showcase/chromium/regular/neutral/DBAlert-should-match-screenshot.png
  __snapshots__/alert/showcase/firefox/regular/neutral/DBAlert-should-match-screenshot.png
  __snapshots__/alert/showcase/mobile-chrome/regular/neutral/DBAlert-should-match-screenshot.png
  __snapshots__/alert/showcase/mobile-safari/regular/neutral/DBAlert-should-match-screenshot.png
  __snapshots__/alert/showcase/webkit/regular/neutral/DBAlert-should-match-screenshot.png
  __snapshots__/button/showcase/chromium/regular/neutral/DBButton-should-match-screenshot.png
  __snapshots__/button/showcase/firefox/regular/neutral/DBButton-should-match-screenshot.png
  __snapshots__/button/showcase/mobile-chrome/regular/neutral/DBButton-should-match-screenshot.png
  __snapshots__/button/showcase/mobile-safari/regular/neutral/DBButton-should-match-screenshot.png
  __snapshots__/button/showcase/webkit/regular/neutral/DBButton-should-match-screenshot.png
  __snapshots__/icon/showcase/chromium/regular/neutral/DBIcon-should-match-screenshot.png
  __snapshots__/icon/showcase/firefox/regular/neutral/DBIcon-should-match-screenshot.png
  __snapshots__/icon/showcase/mobile-chrome/regular/neutral/DBIcon-should-match-screenshot.png
  __snapshots__/icon/showcase/mobile-safari/regular/neutral/DBIcon-should-match-screenshot.png
  __snapshots__/icon/showcase/webkit/regular/neutral/DBIcon-should-match-screenshot.png
  __snapshots__/section/showcase/chromium/regular/neutral/DBSection-should-match-screenshot.png
  __snapshots__/section/showcase/firefox/regular/neutral/DBSection-should-match-screenshot.png
  __snapshots__/section/showcase/mobile-chrome/regular/neutral/DBSection-should-match-screenshot.png
  __snapshots__/section/showcase/mobile-safari/regular/neutral/DBSection-should-match-screenshot.png
  __snapshots__/section/showcase/webkit/regular/neutral/DBSection-should-match-screenshot.png
  __snapshots__/tab/showcase/chromium/regular/neutral/DBTab-should-match-screenshot.png
  __snapshots__/tab/showcase/firefox/regular/neutral/DBTab-should-match-screenshot.png
  __snapshots__/tab/showcase/mobile-chrome/regular/neutral/DBTab-should-match-screenshot.png
  __snapshots__/tab/showcase/mobile-safari/regular/neutral/DBTab-should-match-screenshot.png
  __snapshots__/tab/showcase/webkit/regular/neutral/DBTab-should-match-screenshot.png
  __snapshots__/tabs/showcase/chromium/regular/neutral/DBTabs-should-match-screenshot.png
  __snapshots__/tabs/showcase/firefox/regular/neutral/DBTabs-should-match-screenshot.png
  __snapshots__/tabs/showcase/mobile-chrome/regular/neutral/DBTabs-should-match-screenshot.png
  __snapshots__/tabs/showcase/mobile-safari/regular/neutral/DBTabs-should-match-screenshot.png
  __snapshots__/tabs/showcase/webkit/regular/neutral/DBTabs-should-match-screenshot.png
  __snapshots__/tag/showcase/chromium/regular/neutral/DBTag-should-match-screenshot.png
  __snapshots__/tag/showcase/firefox/regular/neutral/DBTag-should-match-screenshot.png
  __snapshots__/tag/showcase/mobile-chrome/regular/neutral/DBTag-should-match-screenshot.png
  __snapshots__/tag/showcase/mobile-safari/regular/neutral/DBTag-should-match-screenshot.png
  __snapshots__/tag/showcase/webkit/regular/neutral/DBTag-should-match-screenshot.png
Due: jscpd --exitCode 1 .

Update checkbox.json
  showcases/shared/checkbox.json
Due: jscpd --exitCode 1 .

test: updated screenshots
  __snapshots__/accordion/showcase/chromium/regular/neutral/DBAccordion-should-match-screenshot.png
  __snapshots__/accordion/showcase/firefox/regular/neutral/DBAccordion-should-match-screenshot.png
  __snapshots__/accordion/showcase/mobile-chrome/regular/neutral/DBAccordion-should-match-screenshot.png
  __snapshots__/accordion/showcase/mobile-safari/regular/neutral/DBAccordion-should-match-screenshot.png
  __snapshots__/accordion/showcase/webkit/regular/neutral/DBAccordion-should-match-screenshot.png
  __snapshots__/alert/showcase/chromium/regular/neutral/DBAlert-should-match-screenshot.png
  __snapshots__/alert/showcase/firefox/regular/neutral/DBAlert-should-match-screenshot.png
  __snapshots__/alert/showcase/mobile-chrome/regular/neutral/DBAlert-should-match-screenshot.png
  __snapshots__/alert/showcase/mobile-safari/regular/neutral/DBAlert-should-match-screenshot.png
  __snapshots__/alert/showcase/webkit/regular/neutral/DBAlert-should-match-screenshot.png
  __snapshots__/button/showcase/chromium/regular/neutral/DBButton-should-match-screenshot.png
  __snapshots__/button/showcase/firefox/regular/neutral/DBButton-should-match-screenshot.png
  __snapshots__/button/showcase/mobile-chrome/regular/neutral/DBButton-should-match-screenshot.png
  __snapshots__/button/showcase/mobile-safari/regular/neutral/DBButton-should-match-screenshot.png
  __snapshots__/button/showcase/webkit/regular/neutral/DBButton-should-match-screenshot.png
  __snapshots__/icon/showcase/chromium/regular/neutral/DBIcon-should-match-screenshot.png
  __snapshots__/icon/showcase/firefox/regular/neutral/DBIcon-should-match-screenshot.png
  __snapshots__/icon/showcase/mobile-chrome/regular/neutral/DBIcon-should-match-screenshot.png
  __snapshots__/icon/showcase/mobile-safari/regular/neutral/DBIcon-should-match-screenshot.png
  __snapshots__/icon/showcase/webkit/regular/neutral/DBIcon-should-match-screenshot.png
  __snapshots__/section/showcase/chromium/regular/neutral/DBSection-should-match-screenshot.png
  __snapshots__/section/showcase/firefox/regular/neutral/DBSection-should-match-screenshot.png
  __snapshots__/section/showcase/mobile-chrome/regular/neutral/DBSection-should-match-screenshot.png
  __snapshots__/section/showcase/mobile-safari/regular/neutral/DBSection-should-match-screenshot.png
  __snapshots__/section/showcase/webkit/regular/neutral/DBSection-should-match-screenshot.png
  __snapshots__/tab/showcase/chromium/regular/neutral/DBTab-should-match-screenshot.png
  __snapshots__/tab/showcase/firefox/regular/neutral/DBTab-should-match-screenshot.png
  __snapshots__/tab/showcase/mobile-chrome/regular/neutral/DBTab-should-match-screenshot.png
  __snapshots__/tab/showcase/mobile-safari/regular/neutral/DBTab-should-match-screenshot.png
  __snapshots__/tab/showcase/webkit/regular/neutral/DBTab-should-match-screenshot.png
  __snapshots__/tabs/showcase/chromium/regular/neutral/DBTabs-should-match-screenshot.png
  __snapshots__/tabs/showcase/firefox/regular/neutral/DBTabs-should-match-screenshot.png
  __snapshots__/tabs/showcase/mobile-chrome/regular/neutral/DBTabs-should-match-screenshot.png
  __snapshots__/tabs/showcase/mobile-safari/regular/neutral/DBTabs-should-match-screenshot.png
  __snapshots__/tabs/showcase/webkit/regular/neutral/DBTabs-should-match-screenshot.png
  __snapshots__/tag/showcase/chromium/regular/neutral/DBTag-should-match-screenshot.png
  __snapshots__/tag/showcase/firefox/regular/neutral/DBTag-should-match-screenshot.png
  __snapshots__/tag/showcase/mobile-chrome/regular/neutral/DBTag-should-match-screenshot.png
  __snapshots__/tag/showcase/mobile-safari/regular/neutral/DBTag-should-match-screenshot.png
  __snapshots__/tag/showcase/webkit/regular/neutral/DBTag-should-match-screenshot.png
Due: jscpd --exitCode 1 .

refactor: capitalization
  showcases/shared/accordion.json
  showcases/shared/alert.json
  showcases/shared/brand.json
  showcases/shared/button.json
  showcases/shared/card.json
  showcases/shared/divider.json
  showcases/shared/drawer.json
  showcases/shared/header.json
  showcases/shared/icon.json
  showcases/shared/main-navigation.json
  showcases/shared/page.json
  showcases/shared/popover.json
  showcases/shared/radio.json
  showcases/shared/section.json
  showcases/shared/tab.json
  showcases/shared/tabs.json
  showcases/shared/tag.json
  showcases/shared/tooltip.json
Due: jscpd --exitCode 1 .

fix: issue with wrong popover distance (#2473)
  __snapshots__/popover/component/chromium/DBPopover-after-open-should-match-screenshot.png
  __snapshots__/popover/component/firefox/DBPopover-after-open-should-match-screenshot.png
  __snapshots__/popover/component/mobile-chrome/DBPopover-after-open-should-match-screenshot.png
  packages/components/src/styles/_popover-component.scss
Due: jscpd --exitCode 1 ., stylelint --fix

Feat tabs design changes (#2432)
  __snapshots__/tab/showcase/chromium/regular/neutral/DBTab-should-match-screenshot.png
  __snapshots__/tab/showcase/firefox/regular/neutral/DBTab-should-match-screenshot.png
  __snapshots__/tab/showcase/mobile-chrome/regular/neutral/DBTab-should-match-screenshot.png
  __snapshots__/tab/showcase/mobile-safari/regular/neutral/DBTab-should-match-screenshot.png
  __snapshots__/tab/showcase/webkit/regular/neutral/DBTab-should-match-screenshot.png
  __snapshots__/tabs/component/chromium/DBTabs-should-match-screenshot.png
  __snapshots__/tabs/component/firefox/DBTabs-should-match-screenshot.png
  __snapshots__/tabs/component/mobile-chrome/DBTabs-should-match-screenshot.png
  __snapshots__/tabs/showcase/chromium/regular/neutral/DBTabs-should-match-screenshot.png
  __snapshots__/tabs/showcase/firefox/regular/neutral/DBTabs-should-match-screenshot.png
  __snapshots__/tabs/showcase/mobile-chrome/regular/neutral/DBTabs-should-match-screenshot.png
  __snapshots__/tabs/showcase/mobile-safari/regular/neutral/DBTabs-should-match-screenshot.png
  __snapshots__/tabs/showcase/webkit/regular/neutral/DBTabs-should-match-screenshot.png
  packages/components/src/components/tab-list/model.ts
  packages/components/src/components/tab-list/tab-list.lite.tsx
  packages/components/src/components/tab-list/tab-list.scss
  packages/components/src/components/tab/model.ts
  packages/components/src/components/tab/tab.lite.tsx
  packages/components/src/components/tab/tab.scss
  packages/components/src/components/tabs/tabs.lite.tsx
  packages/components/src/components/tabs/tabs.scss
  showcases/angular-showcase/src/app/components/form/form.component.html
  showcases/angular-showcase/src/app/components/form/form.component.ts
  showcases/angular-showcase/src/app/components/tab/tab.component.html
  showcases/react-showcase/src/components/form/index.tsx
  showcases/react-showcase/src/components/tab/index.tsx
  showcases/vue-showcase/src/components/tab/Tab.vue
Due: jscpd --exitCode 1 ., stylelint --fix, cross-env TIMING=1 NODE_OPTIONS="--max-old-space-size=4096" xo --fix, prettier --write

Docs mention routers for frameworks (#2378)
  packages/components/docs/router-usage.md
  showcases/patternhub/.gitignore
  showcases/patternhub/data/routes.ts
  showcases/patternhub/pages/components/router-usage/index.mdx
Due: jscpd --exitCode 1 ., markdownlint -c .markdown-lint.yml, cross-env TIMING=1 NODE_OPTIONS="--max-old-space-size=4096" xo --fix, prettier --write
