Repository nekator/mono: changes, and which lint-staged commands are due for each by the changed paths.
All: jscpd --exitCode 1 ., markdownlint -c .markdown-lint.yml, stylelint --fix, cross-env TIMING=1 NODE_OPTIONS="--max-old-space-size=4096" xo --fix, prettier --write, prettier --write --ignore-unknown

refactor: removing Duncan (#3304)
  CODEOWNERS
Due: jscpd --exitCode 1 .

refactor: making vue a devDependency
  output/vue/package.json
  package-lock.json
Due: jscpd --exitCode 1 .

refactor: corrected styling (#3306)
  packages/components/src/styles/_form-components.scss
Due: jscpd --exitCode 1 ., stylelint --fix

refactor: buttons shouldn't open content before them
  packages/components/src/components/drawer/docs/Angular.md
  packages/components/src/components/drawer/docs/React.md
  packages/components/src/components/drawer/docs/Vue.md
Due: jscpd --exitCode 1 ., markdownlint -c .markdown-lint.yml

refactor: buttons shouldn't open content before them
  showcases/angular-showcase/src/app/components/drawer/drawer.component.html
  showcases/react-showcase/src/components/drawer/index.tsx
  showcases/vue-showcase/src/components/drawer/Drawer.vue
Due: jscpd --exitCode 1 ., cross-env TIMING=1 NODE_OPTIONS="--max-old-space-size=4096" xo --fix, prettier --write

test: updated screenshots
  __snapshots__/drawer/patternhub/drawer-docs-should-match-screenshot.png
  __snapshots__/tab-item/patternhub/tab-item-properties-should-match-screenshot.png
Due: jscpd --exitCode 1 .

chore: corrected attribute (#3333)
  showcases/angular-showcase/src/app/components/section/section.component.html
Due: jscpd --exitCode 1 .

chore: optimize imports (#3336)
  packages/components/src/components/drawer/drawer.spec.tsx
Due: jscpd --exitCode 1 ., cross-env TIMING=1 NODE_OPTIONS="--max-old-space-size=4096" xo --fix, prettier --write

refactor: slight optimizations (#3334)
  showcases/angular-showcase/README.md
Due: jscpd --exitCode 1 ., markdownlint -c .markdown-lint.yml

docs(README): added v3 header image (#3300)
  README.md
Due: jscpd --exitCode 1 ., markdownlint -c .markdown-lint.yml

fix: correct dimensions (#3338)
  README.md
Due: jscpd --exitCode 1 ., markdownlint -c .markdown-lint.yml

Path conditions:
  jscpd --exitCode 1 .: any of: *
  markdownlint -c .markdown-lint.yml: any of: *.md
  stylelint --fix: any of: *.{css,scss}
  cross-env TIMING=1 NODE_OPTIONS="--max-old-space-size=4096" xo --fix: any of: *.{js,ts,tsx}
  prettier --write: any of: *.{js,ts,tsx}
  prettier --write --ignore-unknown: any of: *.!{js,ts,tsx}
