Repository nekator/mono: changes, and which lint-staged commands are due for each by the changed paths.
All: jscpd --exitCode 1 ., markdownlint -c .markdown-lint.yml, stylelint --fix, cross-env TIMING=1 NODE_OPTIONS="--max-old-space-size=4096" xo --fix, prettier --write, prettier --write --ignore-unknown

.lintstagedrc:

{
	"*": "jscpd --exitCode 1 .",
	"*.md": "markdownlint -c .markdown-lint.yml",
	"*.{css,scss}": "stylelint --fix",
	"*.{js,ts,tsx}": ["cross-env TIMING=1 NODE_OPTIONS=\"--max-old-space-size=4096\" xo --fix", "prettier --write"],
	"*.!{js,ts,tsx}": "prettier --write --ignore-unknown"
}

Discard changes to packages/foundations/scripts/generate-icon-fonts/gather-icons.js
  packages/foundations/scripts/generate-icon-fonts/gather-icons.js
Due: jscpd --exitCode 1 ., cross-env TIMING=1 NODE_OPTIONS="--max-old-space-size=4096" xo --fix, prettier --write

fix: colors overview for foundations in patternhub (#1851)
  packages/components/src/shared/constants.ts
  showcases/patternhub/pages/_app.tsx
Due: jscpd --exitCode 1 ., cross-env TIMING=1 NODE_OPTIONS="--max-old-space-size=4096" xo --fix, prettier --write

fix: issue with angular header close event (#1871)
  packages/components/scripts/post-build/components.js
Due: jscpd --exitCode 1 ., cross-env TIMING=1 NODE_OPTIONS="--max-old-space-size=4096" xo --fix, prettier --write

chore: update snapshots
  __snapshots__/alert/component/webkit/DBAlert-should-match-screenshot-for-variant-informational.png
  __snapshots__/alert/component/webkit/DBAlert-should-match-screenshot-for-variant-successful.png
  __snapshots__/alert/component/webkit/DBAlert-should-match-screenshot-for-variant-warning.png
  __snapshots__/alert/showcase/webkit/regular/neutral/DBAlert-should-match-screenshot.png
  __snapshots__/button/component/webkit/DBButton-should-only-have-icon-for-variant-outlined.png
  __snapshots__/infotext/component/webkit/DBInfotext-should-match-screenshot-for-variant-critical.png
  __snapshots__/infotext/component/webkit/DBInfotext-should-match-screenshot.png
  __snapshots__/textarea/showcase/webkit/regular/neutral/DBTextarea-should-match-screenshot.png
Due: jscpd --exitCode 1 .

fix: issue with webkit
  packages/foundations/scss/icons/_icon-helpers.scss
Due: jscpd --exitCode 1 ., stylelint --fix

chore: add docs for tonalities and examples for patternhub (#1862)
  packages/foundations/docs/Tonalities.md
  showcases/patternhub/data/routes.ts
  showcases/patternhub/pages/foundations/tonalities/examples.tsx
  showcases/patternhub/styles/globals.scss
Due: jscpd --exitCode 1 ., markdownlint -c .markdown-lint.yml, stylelint --fix, cross-env TIMING=1 NODE_OPTIONS="--max-old-space-size=4096" xo --fix, prettier --write

chore: update labeler to use emojis (#1872)
  .github/labeler.yml
Due: jscpd --exitCode 1 .

fix: issue with icon releaseId
  .github/workflows/03-publish-packages.yml
Due: jscpd --exitCode 1 .

fix: issue with prerelease not having hyphen
  .github/scripts/package-version.sh
Due: jscpd --exitCode 1 .

fix: issue with icon release id
  .github/workflows/03-publish-packages.yml
Due: jscpd --exitCode 1 .

fix: issue with missing variable
  .github/scripts/release/update-icon-release.js
Due: jscpd --exitCode 1 ., cross-env TIMING=1 NODE_OPTIONS="--max-old-space-size=4096" xo --fix, prettier --write

fix: use tag_name from current release
  .github/scripts/release/get-icon-release-id.js
  .github/scripts/release/index.js
Due: jscpd --exitCode 1 ., cross-env TIMING=1 NODE_OPTIONS="--max-old-space-size=4096" xo --fix, prettier --write

fix: use generated release for icons
  .github/scripts/release/get-icon-release-id.js
  .github/scripts/release/index.js
Due: jscpd --exitCode 1 ., cross-env TIMING=1 NODE_OPTIONS="--max-old-space-size=4096" xo --fix, prettier --write

fix: use adm-zip for icon zipping
  .github/scripts/release/index.js
  .github/scripts/release/zip-folder.js
  package-lock.json
  package.json
Due: jscpd --exitCode 1 ., cross-env TIMING=1 NODE_OPTIONS="--max-old-space-size=4096" xo --fix, prettier --write
