Repository nekator/mono: changes, and which lint-staged commands are due for each by the changed paths.
All: jscpd --exitCode 1 ., markdownlint -c .markdown-lint.yml, stylelint --fix, cross-env TIMING=1 NODE_OPTIONS="--max-old-space-size=4096" xo --fix, prettier --write, prettier --write --ignore-unknown

feat: upload icon assets via GitHub Actions (#1829)
  .github/scripts/package-version.sh
  .github/scripts/release/index.js
  .github/scripts/release/upload-asset.js
  .github/scripts/release/zip-folder.js
  .github/workflows/03-publish-packages.yml
  package-lock.json
  package.json
Due: jscpd --exitCode 1 ., cross-env TIMING=1 NODE_OPTIONS="--max-old-space-size=4096" xo --fix, prettier --write

refactor: renamed those to the general pattern
  packages/foundations/assets/icons/functional/images/maps/db_ic_navigation_u_turn_20.svg
  packages/foundations/assets/icons/functional/images/maps/db_ic_navigation_u_turn_24.svg
  packages/foundations/assets/icons/functional/images/maps/db_ic_navigation_u_turn_32.svg
Due: jscpd --exitCode 1 .

refactor: updated icon font
  packages/foundations/assets/icons/functional/fonts/all/db-ux.woff2
  packages/foundations/assets/icons/functional/fonts/default/db-ux.woff2
  packages/foundations/assets/icons/functional/fonts/default_16/db-ux.woff2
  packages/foundations/assets/icons/functional/fonts/default_20/db-ux.woff2
  packages/foundations/assets/icons/functional/fonts/default_24/db-ux.woff2
  packages/foundations/assets/icons/functional/fonts/default_32/db-ux.woff2
  packages/foundations/assets/icons/functional/fonts/default_48/db-ux.woff2
  packages/foundations/assets/icons/functional/fonts/default_64/db-ux.woff2
  packages/foundations/assets/icons/functional/fonts/inverted/db-ux.woff2
  packages/foundations/assets/icons/functional/fonts/inverted_16/db-ux.woff2
  packages/foundations/assets/icons/functional/fonts/inverted_20/db-ux.woff2
  packages/foundations/assets/icons/functional/fonts/inverted_24/db-ux.woff2
  packages/foundations/assets/icons/functional/fonts/inverted_32/db-ux.woff2
  packages/foundations/assets/icons/functional/fonts/inverted_48/db-ux.woff2
  packages/foundations/assets/icons/functional/fonts/inverted_64/db-ux.woff2
  packages/foundations/assets/icons/functional/fonts/solid/db-ux.woff2
  packages/foundations/assets/icons/functional/fonts/solid_16/db-ux.woff2
  packages/foundations/assets/icons/functional/fonts/solid_20/db-ux.woff2
  packages/foundations/assets/icons/functional/fonts/solid_24/db-ux.woff2
  packages/foundations/assets/icons/functional/fonts/solid_32/db-ux.woff2
  packages/foundations/assets/icons/functional/fonts/solid_48/db-ux.woff2
  packages/foundations/assets/icons/functional/fonts/solid_64/db-ux.woff2
Due: jscpd --exitCode 1 .

fix: issue with input floating label and search type (#1863)
  __snapshots__/input/showcase/chromium/regular/neutral/DBInput-should-match-screenshot.png
  __snapshots__/input/showcase/mobile-chrome/regular/neutral/DBInput-should-match-screenshot.png
  __snapshots__/input/showcase/mobile-safari/regular/neutral/DBInput-should-match-screenshot.png
  __snapshots__/input/showcase/webkit/regular/neutral/DBInput-should-match-screenshot.png
  packages/components/src/components/input/input.scss
  packages/components/src/styles/_form-components.scss
  showcases/shared/input.json
Due: jscpd --exitCode 1 ., stylelint --fix

test: updated screenshots
  __snapshots__/accordion-item/component/webkit/DBAccordionItem-should-match-screenshot.png
  __snapshots__/accordion/component/webkit/DBAccordion-should-match-screenshot.png
  __snapshots__/button/component/webkit/DBButton-should-only-have-icon-for-variant-outlined.png
  __snapshots__/button/component/webkit/DBButton-should-only-have-icon-for-variant-primary.png
  __snapshots__/button/component/webkit/DBButton-should-only-have-icon-for-variant-text.png
  __snapshots__/infotext/component/webkit/DBInfotext-should-match-screenshot-for-variant-successful.png
Due: jscpd --exitCode 1 .

Update .lintstagedrc.js
  .lintstagedrc.js
Due: jscpd --exitCode 1 ., cross-env TIMING=1 NODE_OPTIONS="--max-old-space-size=4096" xo --fix, prettier --write

docs(README): corrected components list
  README.md
Due: jscpd --exitCode 1 ., markdownlint -c .markdown-lint.yml

refactor: we actually need to add this plugin
  .prettierrc.json
Due: jscpd --exitCode 1 .

refactor: formatting
  README.md
Due: jscpd --exitCode 1 ., markdownlint -c .markdown-lint.yml

test: we don't need this assignment
  .prettierrc.json
Due: jscpd --exitCode 1 .

refactor: we need to add this plugin as well
  .prettierrc.json
Due: jscpd --exitCode 1 .

chore: running prettier
  docs/package.json
  docs/research/switch-and-toggle.md
  packages/components/overrides/angular/src/components/popover/index.ts
  packages/components/overrides/angular/src/components/tooltip/index.ts
  packages/components/package.json
  packages/components/src/components/brand/brand.lite.tsx
  packages/components/src/components/main-navigation/docs/HTML.md
  packages/components/src/components/popover/index.html
  packages/components/src/components/popover/index.ts
  packages/components/src/components/select/select.lite.tsx
  packages/components/src/components/tab/tab.lite.tsx
  packages/components/src/components/tooltip/index.ts
  packages/components/src/components/tooltip/tooltip.spec.tsx
  packages/components/src/fonts.html
  packages/components/src/index.ts
  packages/components/src/utils/index.ts
  packages/components/test/playwright/config.ts
  packages/foundations/package.json
  showcases/patternhub/package.json
Due: jscpd --exitCode 1 ., markdownlint -c .markdown-lint.yml, cross-env TIMING=1 NODE_OPTIONS="--max-old-space-size=4096" xo --fix, prettier --write

chore: running prettier
  .github/scripts/package-version.sh
  packages/components/src/shared/icon-types.ts
Due: jscpd --exitCode 1 ., cross-env TIMING=1 NODE_OPTIONS="--max-old-space-size=4096" xo --fix, prettier --write

Path conditions:
  jscpd --exitCode 1 .: any of: *
  markdownlint -c .markdown-lint.yml: any of: *.md
  stylelint --fix: any of: *.{css,scss}
  cross-env TIMING=1 NODE_OPTIONS="--max-old-space-size=4096" xo --fix: any of: *.{js,ts,tsx}
  prettier --write: any of: *.{js,ts,tsx}
  prettier --write --ignore-unknown: any of: *.!{js,ts,tsx}
