Repository nekator/mono: changes, and which lint-staged commands are due for each by the changed paths.
All: jscpd --exitCode 1 ., markdownlint -c .markdown-lint.yml, stylelint --fix, cross-env TIMING=1 NODE_OPTIONS="--max-old-space-size=4096" xo --fix, prettier --write, prettier --write --ignore-unknown

fix: home page gets display again
  showcases/next-showcase/pages/[[...slug]].tsx
Due: jscpd --exitCode 1 ., cross-env TIMING=1 NODE_OPTIONS="--max-old-space-size=4096" xo --fix, prettier --write

chore: removes console log
  showcases/next-showcase/pages/[[...slug]].tsx
Due: jscpd --exitCode 1 ., cross-env TIMING=1 NODE_OPTIONS="--max-old-space-size=4096" xo --fix, prettier --write

feat: adds from react-showcase imported components to routes
  package-lock.json
  scripts/dev.js
  showcases/next-showcase/package.json
  showcases/next-showcase/pages/_app.tsx
  showcases/patternhub/components/index.tsx
  showcases/patternhub/data/routes.tsx
  showcases/patternhub/pages/components/[[...slug]].tsx
  showcases/patternhub/scripts/generate-docs-mdx.js
  showcases/react-showcase/src/components/accordion-item/index.tsx
  showcases/react-showcase/src/components/accordion/index.tsx
  showcases/react-showcase/src/components/badge/index.tsx
  showcases/react-showcase/src/components/base-component-data.ts
  showcases/react-showcase/src/components/brand/index.tsx
  showcases/react-showcase/src/components/card/index.tsx
  showcases/react-showcase/src/components/checkbox/index.tsx
  showcases/react-showcase/src/components/data.ts
  showcases/react-showcase/src/components/divider/index.tsx
  showcases/react-showcase/src/components/drawer/index.tsx
  showcases/react-showcase/src/components/header/index.tsx
  showcases/react-showcase/src/components/icon/index.tsx
  showcases/react-showcase/src/components/index.tsx
  showcases/react-showcase/src/components/infotext/index.tsx
  showcases/react-showcase/src/components/input/index.tsx
  showcases/react-showcase/src/components/navigation-item/index.tsx
  showcases/react-showcase/src/components/navigation/index.tsx
  showcases/react-showcase/src/components/notification/index.tsx
  showcases/react-showcase/src/components/page/index.tsx
  showcases/react-showcase/src/components/popover/index.tsx
  showcases/react-showcase/src/components/radio/index.tsx
  showcases/react-showcase/src/components/section/index.tsx
  showcases/react-showcase/src/components/select/index.tsx
  showcases/react-showcase/src/components/switch/index.tsx
  showcases/react-showcase/src/components/tab-item/index.tsx
  showcases/react-showcase/src/components/tabs/index.tsx
  showcases/react-showcase/src/components/tag/index.tsx
  showcases/react-showcase/src/components/textarea/index.tsx
  showcases/react-showcase/src/components/tooltip/index.tsx
  showcases/shared/default-component-data.ts
Due: jscpd --exitCode 1 ., cross-env TIMING=1 NODE_OPTIONS="--max-old-space-size=4096" xo --fix, prettier --write

chore: removes obsolete code
  showcases/next-showcase/pages/[[...slug]].tsx
Due: jscpd --exitCode 1 ., cross-env TIMING=1 NODE_OPTIONS="--max-old-space-size=4096" xo --fix, prettier --write

chore: clean code, remove obsolete types
  showcases/react-showcase/src/components/accordion-item/index.tsx
  showcases/react-showcase/src/components/accordion/index.tsx
  showcases/react-showcase/src/components/badge/index.tsx
  showcases/react-showcase/src/components/base-component-data.ts
  showcases/react-showcase/src/components/brand/index.tsx
  showcases/react-showcase/src/components/button/index.tsx
  showcases/react-showcase/src/components/card/index.tsx
  showcases/react-showcase/src/components/checkbox/index.tsx
  showcases/react-showcase/src/components/default-component.tsx
  showcases/react-showcase/src/components/divider/index.tsx
  showcases/react-showcase/src/components/drawer/index.tsx
  showcases/react-showcase/src/components/header/index.tsx
  showcases/react-showcase/src/components/icon/index.tsx
  showcases/react-showcase/src/components/infotext/index.tsx
  showcases/react-showcase/src/components/input/index.tsx
  showcases/react-showcase/src/components/link/index.tsx
  showcases/react-showcase/src/components/navigation-item/index.tsx
  showcases/react-showcase/src/components/navigation/index.tsx
  showcases/react-showcase/src/components/notification/index.tsx
  showcases/react-showcase/src/components/page/index.tsx
  showcases/react-showcase/src/components/popover/index.tsx
  showcases/react-showcase/src/components/radio/index.tsx
  showcases/react-showcase/src/components/section/index.tsx
  showcases/react-showcase/src/components/select/index.tsx
  showcases/react-showcase/src/components/switch/index.tsx
  showcases/react-showcase/src/components/tab-item/index.tsx
  showcases/react-showcase/src/components/tabs/index.tsx
  showcases/react-showcase/src/components/tag/index.tsx
  showcases/react-showcase/src/components/textarea/index.tsx
  showcases/react-showcase/src/components/tooltip/index.tsx
  showcases/shared/default-component-data.ts
Due: jscpd --exitCode 1 ., cross-env TIMING=1 NODE_OPTIONS="--max-old-space-size=4096" xo --fix, prettier --write

chore: merged with main, package-lock recreated
  package-lock.json
Due: jscpd --exitCode 1 .

chore: test commit linting
  showcases/next-showcase/pages/[[...slug]].tsx
Due: jscpd --exitCode 1 ., cross-env TIMING=1 NODE_OPTIONS="--max-old-space-size=4096" xo --fix, prettier --write

fix: fixes linting errors
  showcases/next-showcase/pages/[[...slug]].tsx
Due: jscpd --exitCode 1 ., cross-env TIMING=1 NODE_OPTIONS="--max-old-space-size=4096" xo --fix, prettier --write

fix: fixes linting errors
  showcases/next-showcase/pages/...slug.tsx
Due: jscpd --exitCode 1 ., cross-env TIMING=1 NODE_OPTIONS="--max-old-space-size=4096" xo --fix, prettier --write

fix: fixes linting errors
  showcases/next-showcase/pages/[[slug]].tsx
Due: jscpd --exitCode 1 ., cross-env TIMING=1 NODE_OPTIONS="--max-old-space-size=4096" xo --fix, prettier --write

chore: removes obsolete ignore folder
  .jscpd.json
Due: jscpd --exitCode 1 .

chore: removes unsued code
  showcases/react-showcase/src/components/default-component.tsx
Due: jscpd --exitCode 1 ., cross-env TIMING=1 NODE_OPTIONS="--max-old-space-size=4096" xo --fix, prettier --write

docs: update patternhub to work with next/previous page and breadcrumb (#2668)
  packages/components/_templates/mitosis/new/showcases/patternhub-index.ejs.t
  packages/components/_templates/mitosis/new/showcases/patternhub-route.ejs.t
  scripts/package.json
  showcases/patternhub/.gitignore
  showcases/patternhub/components/card-navigation/card-navigation.tsx
  showcases/patternhub/components/default-page.tsx
  showcases/patternhub/components/link-header/index.tsx
  showcases/patternhub/components/old-routing-fallback/index.tsx
  showcases/patternhub/data/components.json
  showcases/patternhub/data/routes.ts
  showcases/patternhub/pages/foundations/colors/index.tsx
  showcases/patternhub/pages/foundations/densities/index.tsx
  showcases/patternhub/pages/foundations/font-sizes/index.tsx
  showcases/patternhub/pages/foundations/icons/index.tsx
  showcases/patternhub/pages/foundations/index.tsx
  showcases/patternhub/pages/foundations/variables/index.tsx
  showcases/patternhub/scripts/generate-docs-mdx.js
  showcases/patternhub/scripts/get-code-files.js
  showcases/patternhub/scripts/get-how-to-file.js
  showcases/patternhub/scripts/get-migration-file.js
  showcases/patternhub/scripts/get-properties-file.js
  showcases/patternhub/scripts/utils.js
  showcases/patternhub/styles/globals.scss
  showcases/shared/default-component-data.ts
  showcases/showcase-styles.css
Due: jscpd --exitCode 1 ., stylelint --fix, cross-env TIMING=1 NODE_OPTIONS="--max-old-space-size=4096" xo --fix, prettier --write

Path conditions:
  jscpd --exitCode 1 .: any of: *
  markdownlint -c .markdown-lint.yml: any of: *.md
  stylelint --fix: any of: *.{css,scss}
  cross-env TIMING=1 NODE_OPTIONS="--max-old-space-size=4096" xo --fix: any of: *.{js,ts,tsx}
  prettier --write: any of: *.{js,ts,tsx}
  prettier --write --ignore-unknown: any of: *.!{js,ts,tsx}
