Repository nekator/mono: changes, and which lint-staged commands are due for each by the changed paths.
All: jscpd --exitCode 1 ., markdownlint -c .markdown-lint.yml, stylelint --fix, cross-env TIMING=1 NODE_OPTIONS="--max-old-space-size=4096" xo --fix, prettier --write, prettier --write --ignore-unknown

.lintstagedrc:

{
	"*": "jscpd --exitCode 1 .",
	"*.md": "markdownlint -c .markdown-lint.yml",
	"*.{css,scss}": "stylelint --fix",
	"*.{js,ts,tsx}": ["cross-env TIMING=1 NODE_OPTIONS=\"--max-old-space-size=4096\" xo --fix", "prettier --write"],
	"*.!{js,ts,tsx}": "prettier --write --ignore-unknown"
}

fix: fixes patternhub build
  showcases/patternhub/.gitignore
  showcases/patternhub/package.json
  showcases/patternhub/scripts/generate-docs-mdx.js
  showcases/react-showcase/src/utils/base-path.ts
Due: jscpd --exitCode 1 ., cross-env TIMING=1 NODE_OPTIONS="--max-old-space-size=4096" xo --fix, prettier --write

fix: fixes vue slots and vue page variant
  showcases/nuxt-showcase/app.vue
  showcases/nuxt-showcase/layouts/default.vue
Due: jscpd --exitCode 1 .

fix: removes next-env from git
  showcases/next-showcase/next-env.d.ts
Due: jscpd --exitCode 1 ., cross-env TIMING=1 NODE_OPTIONS="--max-old-space-size=4096" xo --fix, prettier --write

fix: angular ssr showcase starts now on port 4401
  showcases/angular-ssr-showcase/package.json
Due: jscpd --exitCode 1 .

fix: adds --open option to nuxt dev
  showcases/nuxt-showcase/package.json
Due: jscpd --exitCode 1 .

chore: adds next-env to gitignore
  showcases/next-showcase/.gitignore
Due: jscpd --exitCode 1 .

fix: next showcases opens now on own port
  package-lock.json
  showcases/next-showcase/package.json
Due: jscpd --exitCode 1 .

refactor: patternhub imports components from output
  showcases/patternhub/components/index.tsx
  showcases/patternhub/components/link-header/index.tsx
  showcases/patternhub/components/version-switcher/version-switcher.tsx
  showcases/patternhub/data/routes.ts
  showcases/patternhub/next.config.js
  showcases/patternhub/package.json
  showcases/patternhub/scripts/generate-example-jsx.js
  showcases/patternhub/scripts/get-code-files.js
Due: jscpd --exitCode 1 ., cross-env TIMING=1 NODE_OPTIONS="--max-old-space-size=4096" xo --fix, prettier --write

test: add sa11y to showcases to find some a11y issues (#2646)
  package-lock.json
  showcases/angular-showcase/package.json
  showcases/angular-showcase/src/main.ts
  showcases/angular-showcase/src/sa11y.d.ts
  showcases/angular-showcase/src/styles.css
  showcases/react-showcase/package.json
  showcases/react-showcase/src/main.tsx
  showcases/vue-showcase/package.json
  showcases/vue-showcase/src/main.ts
Due: jscpd --exitCode 1 ., stylelint --fix, cross-env TIMING=1 NODE_OPTIONS="--max-old-space-size=4096" xo --fix, prettier --write

fix: add nuxt-showcase to xo ignore
  .eslintignore
  .xo-config.cjs
  showcases/next-showcase/pages/[[...slug]].tsx
  showcases/nuxt-showcase/nuxt.config.ts
Due: jscpd --exitCode 1 ., cross-env TIMING=1 NODE_OPTIONS="--max-old-space-size=4096" xo --fix, prettier --write

fix: merge with main and fix angular chore-deps at ssr-showcase
  package-lock.json
  showcases/angular-ssr-showcase/package.json
Due: jscpd --exitCode 1 .

fix: merge with main
  package-lock.json
Due: jscpd --exitCode 1 .

fix: use object desctruring
  showcases/patternhub/scripts/get-code-files.js
Due: jscpd --exitCode 1 ., cross-env TIMING=1 NODE_OPTIONS="--max-old-space-size=4096" xo --fix, prettier --write

Merge branch 'main' into feat-nuxt-showcase
  package-lock.json
Due: jscpd --exitCode 1 .

refactor: replacements
  packages/components/src/components/button/button.spec.tsx
  packages/components/src/shared/model.ts
  showcases/patternhub/pages/foundations/variables/examples.tsx
  showcases/shared/drawer.json
  showcases/shared/header.json
  showcases/shared/navigation.json
Due: jscpd --exitCode 1 ., cross-env TIMING=1 NODE_OPTIONS="--max-old-space-size=4096" xo --fix, prettier --write

feat: patternhub imports components from react-showcase
  showcases/patternhub/.gitignore
  showcases/patternhub/components/default-page.tsx
  showcases/patternhub/components/index.tsx
  showcases/patternhub/components/validation-example/index.tsx
  showcases/patternhub/data/routes.tsx
  showcases/patternhub/next.config.js
  showcases/patternhub/pages/components/[[...slug]].tsx
  showcases/patternhub/scripts/generate-docs-mdx.js
  showcases/patternhub/scripts/get-code-files.js
  showcases/react-showcase/src/components/accordion/index.tsx
  showcases/react-showcase/src/components/base-component-data.ts
  showcases/react-showcase/src/components/button/index.tsx
  showcases/react-showcase/src/components/data.ts
  showcases/react-showcase/src/components/index.tsx
  showcases/react-showcase/src/components/link/index.tsx
  showcases/shared/default-component-data.ts
Due: jscpd --exitCode 1 ., cross-env TIMING=1 NODE_OPTIONS="--max-old-space-size=4096" xo --fix, prettier --write

refactor: added further aspects
  packages/components/src/components/header/docs/HTML.md
  packages/components/src/components/navigation/docs/Angular.md
  showcases/shared/header.json
  showcases/shared/navigation.json
Due: jscpd --exitCode 1 ., markdownlint -c .markdown-lint.yml

refactor: added further changes that have been made
  packages/components/src/components/infotext/index.html
  packages/components/src/components/input/index.html
  packages/components/src/components/notification/index.html
  packages/components/src/components/select/index.html
  packages/components/src/components/textarea/index.html
Due: jscpd --exitCode 1 .

refactor: those have been removed
  packages/components/src/components/input/index.html
  packages/components/src/components/select/index.html
  packages/components/src/components/textarea/index.html
Due: jscpd --exitCode 1 .
