Repository nekator/mono: changes, and which lint-staged commands are due for each by the changed paths.
All: jscpd --exitCode 1 ., markdownlint -c .markdown-lint.yml, stylelint --fix, cross-env TIMING=1 NODE_OPTIONS="--max-old-space-size=4096" xo --fix, prettier --write, prettier --write --ignore-unknown

.lintstagedrc:

{
	"*": "jscpd --exitCode 1 .",
	"*.md": "markdownlint -c .markdown-lint.yml",
	"*.{css,scss}": "stylelint --fix",
	"*.{js,ts,tsx}": ["cross-env TIMING=1 NODE_OPTIONS=\"--max-old-space-size=4096\" xo --fix", "prettier --write"],
	"*.!{js,ts,tsx}": "prettier --write --ignore-unknown"
}

style: added relevant styles for input type search
  packages/components/src/components/input/input.scss
Due: jscpd --exitCode 1 ., stylelint --fix

feat: new types section
  __snapshots__/input/showcase/chromium/regular/neutral/DBInput-should-match-screenshot.png
  __snapshots__/input/showcase/mobile-chrome/regular/neutral/DBInput-should-match-screenshot.png
  __snapshots__/input/showcase/mobile-safari/regular/neutral/DBInput-should-match-screenshot.png
  __snapshots__/input/showcase/webkit/regular/neutral/DBInput-should-match-screenshot.png
Due: jscpd --exitCode 1 .

Update README.md
  README.md
Due: jscpd --exitCode 1 ., markdownlint -c .markdown-lint.yml

docs: ✏️ dev research for switch and toggle components
  .markdown-lint.yml
  docs/research-switch-and-toggle.md
Due: jscpd --exitCode 1 ., markdownlint -c .markdown-lint.yml

docs: ✏️ some more references for dev research
  docs/research-switch-and-toggle.md
Due: jscpd --exitCode 1 ., markdownlint -c .markdown-lint.yml

fix: infotext component text breaks unnecessarily
  packages/components/src/components/infotext/infotext.lite.tsx
Due: jscpd --exitCode 1 ., cross-env TIMING=1 NODE_OPTIONS="--max-old-space-size=4096" xo --fix, prettier --write

fix: issues with checkbox radius (#1552)
  __snapshots__/checkbox/component/chromium/DBCheckbox-should-match-screenshot.png
  __snapshots__/checkbox/component/mobile-chrome/DBCheckbox-should-match-screenshot.png
  __snapshots__/checkbox/component/mobile-safari/DBCheckbox-should-match-screenshot.png
  __snapshots__/checkbox/component/webkit/DBCheckbox-should-match-screenshot.png
  packages/foundations/scss/helpers/_component.scss
Due: jscpd --exitCode 1 ., stylelint --fix

refactor: migrating further mixins to the SCSS namespaces
  docs/how-to-develop-a-component.md
  packages/components/src/components/alert/alert.scss
  packages/components/src/components/badge/badge.scss
  packages/components/src/components/card/card.scss
  packages/components/src/components/checkbox/checkbox.scss
  packages/components/src/components/divider/divider.scss
  packages/components/src/components/drawer/drawer-web-component.scss
  packages/components/src/components/drawer/drawer.scss
  packages/components/src/components/header/header-web-component.scss
  packages/components/src/components/header/header.scss
  packages/components/src/components/icon/icon.scss
  packages/components/src/components/input/input.scss
  packages/components/src/components/link/link.scss
  packages/components/src/components/navigation-item/navigation-item.scss
  packages/components/src/components/radio/radio.scss
  packages/components/src/components/section/section.scss
  packages/components/src/components/select/select.scss
  packages/components/src/components/tag/tag.scss
  packages/components/src/styles/_db-puls.scss
  packages/components/src/styles/_tag-components.scss
  packages/foundations/scss/_init.scss
  packages/foundations/scss/db-ui-foundations.scss
  packages/foundations/scss/icon/_icons.helpers.scss
Due: jscpd --exitCode 1 ., markdownlint -c .markdown-lint.yml, stylelint --fix
