Repository nekator/mono: changes, and which lint-staged commands are due for each by the changed paths.
All: jscpd --exitCode 1 ., markdownlint -c .markdown-lint.yml, stylelint --fix, cross-env TIMING=1 NODE_OPTIONS="--max-old-space-size=4096" xo --fix, prettier --write, prettier --write --ignore-unknown

.lintstagedrc:

{
	"*": "jscpd --exitCode 1 .",
	"*.md": "markdownlint -c .markdown-lint.yml",
	"*.{css,scss}": "stylelint --fix",
	"*.{js,ts,tsx}": ["cross-env TIMING=1 NODE_OPTIONS=\"--max-old-space-size=4096\" xo --fix", "prettier --write"],
	"*.!{js,ts,tsx}": "prettier --write --ignore-unknown"
}

test: lit as output for components
  output/lit/package.json
  output/lit/tsconfig.json
  package-lock.json
  packages/components/mitosis-lit.config.js
  packages/components/mitosis.config.js
  packages/components/package.json
  packages/components/scripts/post-build/components.js
  packages/components/scripts/post-build/index.js
  packages/components/scripts/post-build/lit.js
  packages/components/scripts/utils/index.js
  packages/components/src/utils/index.ts
  showcases/lit-showcase/.gitignore
  showcases/lit-showcase/index.html
  showcases/lit-showcase/package.json
  showcases/lit-showcase/src/component-loader.ts
  showcases/lit-showcase/tsconfig.json
  showcases/lit-showcase/vite.config.js
Due: jscpd --exitCode 1 ., cross-env TIMING=1 NODE_OPTIONS="--max-old-space-size=4096" xo --fix, prettier --write

refactor: fix nav item spacing (#2113)
  __snapshots__/navigation-item/showcase/chromium/regular/neutral/DBNavigationItem-should-match-screenshot.png
  __snapshots__/navigation-item/showcase/firefox/regular/neutral/DBNavigationItem-should-match-screenshot.png
  __snapshots__/navigation-item/showcase/mobile-chrome/regular/neutral/DBNavigationItem-should-match-screenshot.png
  __snapshots__/navigation-item/showcase/mobile-safari/regular/neutral/DBNavigationItem-should-match-screenshot.png
  __snapshots__/navigation-item/showcase/webkit/regular/neutral/DBNavigationItem-should-match-screenshot.png
  packages/components/src/components/navigation-item/navigation-item.scss
Due: jscpd --exitCode 1 ., stylelint --fix

fix: remove text-decoration for db-button to use <a> tag (#2205)
  packages/components/src/components/button/button.scss
Due: jscpd --exitCode 1 ., stylelint --fix

refactor(angular-showcase): use new application builder based on esbuild/vite (#2199)
  output/angular/README.md
  packages/components/src/components/input/docs/Angular.md
  showcases/angular-showcase/.browserslistrc
  showcases/angular-showcase/angular.json
  showcases/angular-showcase/src/environments/environment.prod.ts
  showcases/angular-showcase/src/environments/environment.ts
  showcases/angular-showcase/src/main.ts
  showcases/angular-showcase/src/styles.css
  showcases/angular-showcase/tsconfig.app.json
  showcases/angular-showcase/tsconfig.json
Due: jscpd --exitCode 1 ., markdownlint -c .markdown-lint.yml, stylelint --fix, cross-env TIMING=1 NODE_OPTIONS="--max-old-space-size=4096" xo --fix, prettier --write

fix: issue with brand colors
  packages/foundations/scss/colors/_default-color-scheme.scss
  packages/foundations/scss/colors/_default-palette.scss
Due: jscpd --exitCode 1 ., stylelint --fix

chore: update from main
  __snapshots__/navigation-item/showcase/chromium/regular/neutral/DBNavigationItem-should-match-screenshot.png
  __snapshots__/navigation-item/showcase/firefox/regular/neutral/DBNavigationItem-should-match-screenshot.png
  __snapshots__/navigation-item/showcase/mobile-chrome/regular/neutral/DBNavigationItem-should-match-screenshot.png
  __snapshots__/navigation-item/showcase/mobile-safari/regular/neutral/DBNavigationItem-should-match-screenshot.png
  __snapshots__/navigation-item/showcase/webkit/regular/neutral/DBNavigationItem-should-match-screenshot.png
  __snapshots__/tag/showcase/chromium/regular/neutral/DBTag-should-match-screenshot.png
  __snapshots__/tag/showcase/firefox/regular/neutral/DBTag-should-match-screenshot.png
  __snapshots__/tag/showcase/mobile-chrome/regular/neutral/DBTag-should-match-screenshot.png
  __snapshots__/tag/showcase/mobile-safari/regular/neutral/DBTag-should-match-screenshot.png
  __snapshots__/tag/showcase/webkit/regular/neutral/DBTag-should-match-screenshot.png
Due: jscpd --exitCode 1 .

fix: uuid for option keys
  packages/components/src/components/select/select.lite.tsx
Due: jscpd --exitCode 1 ., cross-env TIMING=1 NODE_OPTIONS="--max-old-space-size=4096" xo --fix, prettier --write

fix: use uuid as fallback
  packages/components/src/components/select/model.ts
  packages/components/src/components/select/select.lite.tsx
Due: jscpd --exitCode 1 ., cross-env TIMING=1 NODE_OPTIONS="--max-old-space-size=4096" xo --fix, prettier --write

refactor: fix link icon alignment (#2112)
  __snapshots__/link/showcase/chromium/regular/neutral/DBLink-should-match-screenshot.png
  __snapshots__/link/showcase/firefox/regular/neutral/DBLink-should-match-screenshot.png
  __snapshots__/link/showcase/mobile-chrome/regular/neutral/DBLink-should-match-screenshot.png
  __snapshots__/link/showcase/mobile-safari/regular/neutral/DBLink-should-match-screenshot.png
  __snapshots__/link/showcase/webkit/regular/neutral/DBLink-should-match-screenshot.png
  packages/components/src/components/link/link.scss
  packages/components/src/components/tag/tag.scss
Due: jscpd --exitCode 1 ., stylelint --fix

chore: revert broken commitlint depenendency (#2218)
  package-lock.json
  package.json
Due: jscpd --exitCode 1 .

fix: issue for db-button hover and active states for other tags like <a> (#2216)
  __snapshots__/alert/component/firefox/DBAlert-should-match-screenshot-for-variant-critical.png
  __snapshots__/alert/component/firefox/DBAlert-should-match-screenshot-for-variant-informational.png
  __snapshots__/alert/component/firefox/DBAlert-should-match-screenshot-for-variant-successful.png
  __snapshots__/alert/component/firefox/DBAlert-should-match-screenshot-for-variant-warning.png
  __snapshots__/alert/component/firefox/DBAlert-should-match-screenshot.png
  __snapshots__/alert/showcase/firefox/regular/neutral/DBAlert-should-match-screenshot.png
  __snapshots__/badge/showcase/firefox/regular/neutral/DBBadge-should-match-screenshot.png
  __snapshots__/button/component/firefox/DBButton-should-match-screenshot-for-variant-outlined.png
  __snapshots__/button/component/firefox/DBButton-should-match-screenshot-for-variant-text.png
  __snapshots__/button/component/firefox/DBButton-should-only-have-icon-for-variant-outlined.png
  __snapshots__/button/component/firefox/DBButton-should-only-have-icon-for-variant-text.png
  __snapshots__/button/showcase/firefox/regular/neutral/DBButton-should-match-screenshot.png
  __snapshots__/popover/component/firefox/DBPopover-should-match-screenshot.png
  __snapshots__/tag/showcase/firefox/regular/neutral/DBTag-should-match-screenshot.png
  __snapshots__/textarea/showcase/chromium/regular/neutral/DBTextarea-should-match-screenshot.png
  __snapshots__/tooltip/component/firefox/DBTooltip-should-match-screenshot.png
  packages/components/src/components/accordion-item/accordion-item.scss
  packages/components/src/components/tag/tag.scss
  packages/components/src/components/textarea/textarea.scss
  packages/foundations/scss/colors/_variants.scss
Due: jscpd --exitCode 1 ., stylelint --fix

refactor: replaced older solution
  package.json
Due: jscpd --exitCode 1 .

refactor: added recommendation for stylelint Visual Studio Code extension
  .vscode/extensions.json
Due: jscpd --exitCode 1 .
