Repository nekator/mono: changes, and which lint-staged commands are due for each by the changed paths.
All: jscpd --exitCode 1 ., markdownlint -c .markdown-lint.yml, stylelint --fix, cross-env TIMING=1 NODE_OPTIONS="--max-old-space-size=4096" xo --fix, prettier --write, prettier --write --ignore-unknown

fix: dev script after inquirer update (#2838)
  package-lock.json
  package.json
  scripts/dev.js
  scripts/dev.ts
  scripts/package.json
Due: jscpd --exitCode 1 ., cross-env TIMING=1 NODE_OPTIONS="--max-old-space-size=4096" xo --fix, prettier --write

fix: issue with patternhub test not using first headline (#2839)
  showcases/patternhub/tests/default.spec.ts
Due: jscpd --exitCode 1 ., cross-env TIMING=1 NODE_OPTIONS="--max-old-space-size=4096" xo --fix, prettier --write

feat: enable link for notification variant=overlay (#2662)
  __snapshots__/notification/showcase/chromium/regular/neutral-bg-lvl-1/DBNotification-should-match-screenshot.png
  __snapshots__/notification/showcase/firefox/regular/neutral-bg-lvl-1/DBNotification-should-match-screenshot.png
  __snapshots__/notification/showcase/mobile-chrome/regular/neutral-bg-lvl-1/DBNotification-should-match-screenshot.png
  __snapshots__/notification/showcase/mobile-safari/regular/neutral-bg-lvl-1/DBNotification-should-match-screenshot.png
  __snapshots__/notification/showcase/webkit/regular/neutral-bg-lvl-1/DBNotification-should-match-screenshot.png
  packages/components/src/components/notification/notification-grid-non-overlay.scss
  packages/components/src/components/notification/notification-grid-overlay.scss
  packages/components/src/components/notification/notification.scss
  showcases/shared/notification.json
Due: jscpd --exitCode 1 ., stylelint --fix

fix: issue with open popover and focus-within (#2827)
  packages/components/src/components/popover/popover.scss
Due: jscpd --exitCode 1 ., stylelint --fix

fix: missing declarations (#2842)
  .github/workflows/release.yml
Due: jscpd --exitCode 1 .

fix: issue with patternhub release build (#2847)
  .github/workflows/release.yml
Due: jscpd --exitCode 1 .

chore: remove current-color and current-bg-color for color update (#2840)
  packages/components/src/components/brand/brand.scss
  packages/components/src/components/button/button.scss
  packages/components/src/components/checkbox/checkbox.scss
  packages/components/src/components/infotext/infotext.scss
  packages/components/src/components/link/link.scss
  packages/components/src/components/notification/notification.scss
  packages/components/src/components/radio/radio.scss
  packages/components/src/components/select/select.scss
  packages/components/src/components/switch/switch.scss
  packages/components/src/components/tab-item/tab-item.scss
  packages/components/src/components/tabs/tabs.scss
  packages/components/src/components/tooltip/tooltip.scss
  packages/components/src/styles/_component.scss
  packages/components/src/styles/_form-components.scss
  packages/components/src/styles/_link-components.scss
  packages/components/src/styles/_tag-components.scss
  packages/components/src/styles/dialog-init.scss
  packages/foundations/scss/colors/_placeholder.scss
  packages/foundations/scss/colors/_variables.scss
  packages/foundations/scss/helpers/_divider.scss
  packages/foundations/scss/helpers/_functions.scss
  packages/foundations/scss/helpers/_index.scss
  packages/foundations/scss/icons/_icon-helpers.scss
  packages/foundations/scss/init/default-root.scss
  packages/foundations/tailwind/tailwind-tokens.json
  showcases/patternhub/styles/globals.scss
  showcases/patternhub/styles/highlight.scss
Due: jscpd --exitCode 1 ., stylelint --fix

chore: removed leftovers
  packages/components/src/components/accordion-item/accordion-item.lite.tsx
  packages/components/src/components/accordion/accordion.lite.tsx
Due: jscpd --exitCode 1 ., cross-env TIMING=1 NODE_OPTIONS="--max-old-space-size=4096" xo --fix, prettier --write

chore: code simplification
  packages/components/src/components/tabs/tabs.lite.tsx
Due: jscpd --exitCode 1 ., cross-env TIMING=1 NODE_OPTIONS="--max-old-space-size=4096" xo --fix, prettier --write

chore: simplification
  packages/components/src/components/tabs/tabs.lite.tsx
Due: jscpd --exitCode 1 ., cross-env TIMING=1 NODE_OPTIONS="--max-old-space-size=4096" xo --fix, prettier --write

chore: code simplification
  showcases/vanilla-showcase/src/app-shell.js
Due: jscpd --exitCode 1 ., cross-env TIMING=1 NODE_OPTIONS="--max-old-space-size=4096" xo --fix, prettier --write

Update tabs.lite.tsx
  packages/components/src/components/tabs/tabs.lite.tsx
Due: jscpd --exitCode 1 ., cross-env TIMING=1 NODE_OPTIONS="--max-old-space-size=4096" xo --fix, prettier --write

chore: code formatting
  packages/components/src/components/tabs/tabs.lite.tsx
Due: jscpd --exitCode 1 ., cross-env TIMING=1 NODE_OPTIONS="--max-old-space-size=4096" xo --fix, prettier --write

Path conditions:
  jscpd --exitCode 1 .: any of: *
  markdownlint -c .markdown-lint.yml: any of: *.md
  stylelint --fix: any of: *.{css,scss}
  cross-env TIMING=1 NODE_OPTIONS="--max-old-space-size=4096" xo --fix: any of: *.{js,ts,tsx}
  prettier --write: any of: *.{js,ts,tsx}
  prettier --write --ignore-unknown: any of: *.!{js,ts,tsx}
