Repository nekator/mono: changes, and which lint-staged commands are due for each by the changed paths.
All: jscpd --exitCode 1 ., markdownlint -c .markdown-lint.yml, stylelint --fix, cross-env TIMING=1 NODE_OPTIONS="--max-old-space-size=4096" xo --fix, prettier --write, prettier --write --ignore-unknown

.lintstagedrc:

{
	"*": "jscpd --exitCode 1 .",
	"*.md": "markdownlint -c .markdown-lint.yml",
	"*.{css,scss}": "stylelint --fix",
	"*.{js,ts,tsx}": ["cross-env TIMING=1 NODE_OPTIONS=\"--max-old-space-size=4096\" xo --fix", "prettier --write"],
	"*.!{js,ts,tsx}": "prettier --write --ignore-unknown"
}

fix(docs): corrected URL
  docs/research/tabs.md
Due: jscpd --exitCode 1 ., markdownlint -c .markdown-lint.yml

refactor: added another dependabot group
  .github/dependabot.yml
Due: jscpd --exitCode 1 .

docs(@db-ui/ngx-components): change term to content projection instead of slot
  packages/components/src/components/accordion-item/docs/Angular.md
  showcases/angular-showcase/src/app/components/default.component.html
Due: jscpd --exitCode 1 ., markdownlint -c .markdown-lint.yml

refactor: updated package lock file
  package-lock.json
Due: jscpd --exitCode 1 .

refactor: reformatting
  docs/research-other-design-systems.md
Due: jscpd --exitCode 1 ., markdownlint -c .markdown-lint.yml

fix(rollup): corrected selector nesting
  packages/components/src/components/header/header.scss
Due: jscpd --exitCode 1 ., stylelint --fix

refactor: upgraded to husky version 9
  .husky/commit-msg
Due: jscpd --exitCode 1 .

refactor: upgraded to husky version 9
  .husky/pre-commit
Due: jscpd --exitCode 1 .
