Repository nekator/mono: changes, and which lint-staged commands are due for each by the changed paths.
All: jscpd --exitCode 1 ., markdownlint -c .markdown-lint.yml, stylelint --fix, cross-env TIMING=1 NODE_OPTIONS="--max-old-space-size=4096" xo --fix, prettier --write, prettier --write --ignore-unknown

chore: updates sr snapshot for nav
  showcases/screen-reader/__snapshots__/macos/webkit/DBNavigation-default-1.txt
Due: jscpd --exitCode 1 .

chore: replaces sr snapshots for windows
  showcases/screen-reader/__snapshots__/windows/chromium/DBNavigation-default-1.txt
  showcases/screen-reader/__snapshots__/windows/chromium/DBTag-behaviour-1.txt
Due: jscpd --exitCode 1 .

test: adds fix height to nav snapshot
  showcases/e2e/navigation/navigation-snapshot.spec.ts
Due: jscpd --exitCode 1 ., cross-env TIMING=1 NODE_OPTIONS="--max-old-space-size=4096" xo --fix, prettier --write

chore: regenerates showcase snapshots for navigation
  __snapshots__/navigation/showcase/chromium-highContrast/DBNavigation-should-match-screenshot-1/DBNavigation-should-match-screenshot.png
  __snapshots__/navigation/showcase/chromium/DBNavigation-should-match-screenshot-1/DBNavigation-should-match-screenshot.png
  __snapshots__/navigation/showcase/firefox/DBNavigation-should-match-screenshot-1/DBNavigation-should-match-screenshot.png
  __snapshots__/navigation/showcase/mobile-chrome/DBNavigation-should-match-screenshot-1/DBNavigation-should-match-screenshot.png
  __snapshots__/navigation/showcase/mobile-safari/DBNavigation-should-match-screenshot-1/DBNavigation-should-match-screenshot.png
  __snapshots__/navigation/showcase/webkit/DBNavigation-should-match-screenshot-1/DBNavigation-should-match-screenshot.png
Due: jscpd --exitCode 1 .

refactor: rule optimization
  .xo-config.cjs
Due: jscpd --exitCode 1 .

chore: added further VS Code extension suggestions
  .vscode/extensions.json
Due: jscpd --exitCode 1 .

fix: we need to separate the npx from @db-ui/gif parameters (#3165)
  packages/foundations/package.json
Due: jscpd --exitCode 1 .

Update Accessibility.md
  packages/components/src/components/navigation/docs/Accessibility.md
Due: jscpd --exitCode 1 ., markdownlint -c .markdown-lint.yml

Update navigation.scss
  packages/components/src/components/navigation/navigation.scss
Due: jscpd --exitCode 1 ., stylelint --fix

refactor: added updated screenshots
  __snapshots__/navigation-item/patternhub/navigation-item-properties-should-match-screenshot.png
  __snapshots__/notification/patternhub/notification-properties-should-match-screenshot.png
  __snapshots__/switch/patternhub/switch-properties-should-match-screenshot.png
Due: jscpd --exitCode 1 .

chore: i assume that this is wrong
  __snapshots__/tab-item/patternhub/tab-item-properties-should-match-screenshot.png
Due: jscpd --exitCode 1 .

refactor: added updated screenshots
  __snapshots__/navigation/showcase/chromium-highContrast/DBNavigation-should-match-screenshot-1/DBNavigation-should-match-screenshot.png
  __snapshots__/navigation/showcase/mobile-safari/DBNavigation-should-match-screenshot-1/DBNavigation-should-match-screenshot.png
  __snapshots__/navigation/showcase/webkit/DBNavigation-should-match-screenshot-1/DBNavigation-should-match-screenshot.png
Due: jscpd --exitCode 1 .

Update checkbox.spec.ts
  showcases/screen-reader/tests/checkbox.spec.ts
Due: jscpd --exitCode 1 ., cross-env TIMING=1 NODE_OPTIONS="--max-old-space-size=4096" xo --fix, prettier --write

chore: update snapshots
  showcases/screen-reader/__snapshots__/windows/chromium/DBCheckbox-default-1.txt
  showcases/screen-reader/default.ts
Due: jscpd --exitCode 1 ., cross-env TIMING=1 NODE_OPTIONS="--max-old-space-size=4096" xo --fix, prettier --write

chore: update @db-ui/web-components to use stencil
  .xo-config.cjs
  output/stencil/README.md
  output/stencil/package.json
  output/stencil/stencil.config.ts
  output/webcomponent/package.json
  package-lock.json
  packages/components/mitosis-stencil.config.js
  packages/components/mitosis.config.js
  packages/components/package.json
  scripts/package.json
  showcases/vanilla-showcase/.gitignore
  showcases/vanilla-showcase/index.html
  showcases/vanilla-showcase/package.json
  showcases/vanilla-showcase/scripts/generate-routes.js
  showcases/vanilla-showcase/src/action-bar.js
  showcases/vanilla-showcase/src/app-shell.js
  showcases/vanilla-showcase/src/components/button/index.js
  showcases/vanilla-showcase/src/components/form/index.js
  showcases/vanilla-showcase/src/components/input/index.js
  showcases/vanilla-showcase/src/main.js
  showcases/vanilla-showcase/src/navigation.js
  showcases/vanilla-showcase/src/utils/get-query-params.js
  showcases/vanilla-showcase/src/utils/navigation-items.js
  showcases/vanilla-showcase/src/utils/navigation-paths.js
  showcases/vanilla-showcase/vite.config.js
Due: jscpd --exitCode 1 ., markdownlint -c .markdown-lint.yml, cross-env TIMING=1 NODE_OPTIONS="--max-old-space-size=4096" xo --fix, prettier --write

Path conditions:
  jscpd --exitCode 1 .: any of: *
  markdownlint -c .markdown-lint.yml: any of: *.md
  stylelint --fix: any of: *.{css,scss}
  cross-env TIMING=1 NODE_OPTIONS="--max-old-space-size=4096" xo --fix: any of: *.{js,ts,tsx}
  prettier --write: any of: *.{js,ts,tsx}
  prettier --write --ignore-unknown: any of: *.!{js,ts,tsx}
