Repository nekator/mono: changes, and which lint-staged commands are due for each by the changed paths.
All: jscpd --exitCode 1 ., markdownlint -c .markdown-lint.yml, stylelint --fix, cross-env TIMING=1 NODE_OPTIONS="--max-old-space-size=4096" xo --fix, prettier --write, prettier --write --ignore-unknown

.lintstagedrc:

{
	"*": "jscpd --exitCode 1 .",
	"*.md": "markdownlint -c .markdown-lint.yml",
	"*.{css,scss}": "stylelint --fix",
	"*.{js,ts,tsx}": ["cross-env TIMING=1 NODE_OPTIONS=\"--max-old-space-size=4096\" xo --fix", "prettier --write"],
	"*.!{js,ts,tsx}": "prettier --write --ignore-unknown"
}

Update commit-msg
  .husky/commit-msg
Due: jscpd --exitCode 1 .

Refactor tag (#1288)
  .jscpd.json
  __snapshots__/tag/showcase/chromium/regular/neutral/DBTag-should-match-screenshot.png
  __snapshots__/tag/showcase/mobile-chrome/regular/neutral/DBTag-should-match-screenshot.png
  __snapshots__/tag/showcase/mobile-safari/regular/neutral/DBTag-should-match-screenshot.png
  __snapshots__/tag/showcase/webkit/regular/neutral/DBTag-should-match-screenshot.png
  e2e/docker-compose.yml
  packages/components/src/components/badge/badge.scss
  packages/components/src/components/navigation-item/navigation-item.scss
  packages/components/src/components/tag/docs/Angular.md
  packages/components/src/components/tag/docs/Migration.md
  packages/components/src/components/tag/docs/React.md
  packages/components/src/components/tag/docs/Vue.md
  packages/components/src/components/tag/model.ts
  packages/components/src/components/tag/tag.lite.tsx
  packages/components/src/components/tag/tag.scss
  packages/components/src/styles/_button-components.scss
  packages/components/src/styles/_icon-passing.scss
  packages/components/src/styles/_tag-components.scss
  packages/components/src/styles/db-ui-components.scss
  showcases/angular-showcase/src/app/components/form/form.component.html
  showcases/angular-showcase/src/app/components/tag/tag.component.html
  showcases/e2e/tag/showcase-tag.spec.ts
  showcases/patternhub/scripts/get-code-files.js
  showcases/react-showcase/src/components/form/index.tsx
  showcases/react-showcase/src/components/tag/index.tsx
  showcases/shared/tag.json
  showcases/vue-showcase/src/components/form/Form.vue
  showcases/vue-showcase/src/components/tag/Tag.vue
Due: jscpd --exitCode 1 ., markdownlint -c .markdown-lint.yml, stylelint --fix, cross-env TIMING=1 NODE_OPTIONS="--max-old-space-size=4096" xo --fix, prettier --write

chore: add dev research for tooltip (#1588)
  docs/research/tooltip.md
Due: jscpd --exitCode 1 ., markdownlint -c .markdown-lint.yml

docs: added definition of done (#98)
  docs/definition-of-done-pr.md
Due: jscpd --exitCode 1 ., markdownlint -c .markdown-lint.yml

refactor: further optimized border-width calc (#708)
  packages/components/src/components/radio/radio.scss
Due: jscpd --exitCode 1 ., stylelint --fix

chore: add script to generate research file for component (#1587)
  docs/package.json
  docs/research/README.md
  docs/scripts/component-research/design-systems.js
  docs/scripts/component-research/generate-component-research.js
  package-lock.json
  package.json
Due: jscpd --exitCode 1 ., markdownlint -c .markdown-lint.yml, cross-env TIMING=1 NODE_OPTIONS="--max-old-space-size=4096" xo --fix, prettier --write

feat(input): type `date` (#1407)
  __snapshots__/input/showcase/chromium/regular/neutral/DBInput-should-match-screenshot.png
  __snapshots__/input/showcase/mobile-chrome/regular/neutral/DBInput-should-match-screenshot.png
  __snapshots__/input/showcase/mobile-safari/regular/neutral/DBInput-should-match-screenshot.png
  __snapshots__/input/showcase/webkit/regular/neutral/DBInput-should-match-screenshot.png
  packages/components/src/components/input/input.scss
  packages/foundations/scss/icon/_icon-helpers.scss
  showcases/angular-showcase/src/app/components/form/form.component.html
  showcases/angular-showcase/src/app/components/form/form.component.ts
  showcases/angular-showcase/src/app/components/input/input.component.html
  showcases/react-showcase/src/components/form/index.tsx
  showcases/shared/input.json
  showcases/vue-showcase/src/components/form/Form.vue
  showcases/vue-showcase/src/components/input/Input.vue
Due: jscpd --exitCode 1 ., stylelint --fix, cross-env TIMING=1 NODE_OPTIONS="--max-old-space-size=4096" xo --fix, prettier --write

docs: conclusion for switch and toggle
  docs/research/switch-and-toggle.md
Due: jscpd --exitCode 1 ., markdownlint -c .markdown-lint.yml
