Repository nekator/mono: changes, and which lint-staged commands are due for each by the changed paths.
All: jscpd --exitCode 1 ., markdownlint -c .markdown-lint.yml, stylelint --fix, cross-env TIMING=1 NODE_OPTIONS="--max-old-space-size=4096" xo --fix, prettier --write, prettier --write --ignore-unknown

.lintstagedrc:

{
	"*": "jscpd --exitCode 1 .",
	"*.md": "markdownlint -c .markdown-lint.yml",
	"*.{css,scss}": "stylelint --fix",
	"*.{js,ts,tsx}": ["cross-env TIMING=1 NODE_OPTIONS=\"--max-old-space-size=4096\" xo --fix", "prettier --write"],
	"*.!{js,ts,tsx}": "prettier --write --ignore-unknown"
}

fix(1495): allow string for min and max
  packages/components/src/shared/model.ts
Due: jscpd --exitCode 1 ., cross-env TIMING=1 NODE_OPTIONS="--max-old-space-size=4096" xo --fix, prettier --write

feat: add css nano with postcss (#1497)
  package-lock.json
  package.json
  packages/components/package.json
  packages/components/postcss.config.js
  packages/components/src/styles/_button-components.scss
  packages/components/src/styles/_db-puls.scss
  packages/components/src/styles/_form-components.scss
  packages/components/src/styles/_tag-components.scss
  packages/foundations/package.json
  packages/foundations/postcss.config.js
Due: jscpd --exitCode 1 ., stylelint --fix, cross-env TIMING=1 NODE_OPTIONS="--max-old-space-size=4096" xo --fix, prettier --write

fix: issue with button not having auto width (#1499)
  packages/components/src/components/button/button.scss
Due: jscpd --exitCode 1 ., stylelint --fix

fix: broken illustrative icons (#1502)
  packages/foundations/assets/icons/illustrative/action/db_ic_il_account.svg
  packages/foundations/assets/icons/illustrative/action/db_ic_il_ar_icon.svg
  packages/foundations/assets/icons/illustrative/action/db_ic_il_calendar.svg
  packages/foundations/assets/icons/illustrative/action/db_ic_il_fokus.svg
  packages/foundations/assets/icons/illustrative/action/db_ic_il_pdf.svg
  packages/foundations/assets/icons/illustrative/communication/db_ic_il_chat.svg
  packages/foundations/assets/icons/illustrative/communication/db_ic_il_hashtag.svg
  packages/foundations/assets/icons/illustrative/covid_19/db_ic_il_distance.svg
  packages/foundations/assets/icons/illustrative/covid_19/db_ic_il_single_entry.svg
  packages/foundations/assets/icons/illustrative/feature/db_ic_il_whats_schmutzig.svg
  packages/foundations/assets/icons/illustrative/food/db_ic_il_restaurant.svg
  packages/foundations/assets/icons/illustrative/maps/db_ic_il_home.svg
  packages/foundations/assets/icons/illustrative/station/db_ic_il_db_ticket_vending_machine.svg
  packages/foundations/assets/icons/illustrative/station/db_ic_il_db_train_station.svg
  packages/foundations/assets/icons/illustrative/station/db_ic_il_db_video_travel_center.svg
  packages/foundations/assets/icons/illustrative/ticket/db_ic_il_mobileticket_brand.svg
  packages/foundations/assets/icons/illustrative/ticket/db_ic_il_mobileticket_feature.svg
  packages/foundations/assets/icons/illustrative/travel/db_ic_il_timetable.svg
Due: jscpd --exitCode 1 .

feat: let's add this component as well
  build-power-apps/DBUI/DBUI.cdsproj
Due: jscpd --exitCode 1 .

feat: added relevant language files
  build-power-apps/divider/DBDivider/strings/DBDivider.1031.resx
  build-power-apps/divider/DBDivider/strings/DBDivider.1033.resx
Due: jscpd --exitCode 1 .

fix: issue with tailwind sizings (#1507)
  packages/foundations/tokens/tailwind/spacing.json
Due: jscpd --exitCode 1 .

fix: missing input types (#1508)
  packages/components/src/components/input/input.lite.tsx
  packages/components/src/components/input/model.ts
Due: jscpd --exitCode 1 ., cross-env TIMING=1 NODE_OPTIONS="--max-old-space-size=4096" xo --fix, prettier --write
