Repository nekator/mono: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint --fix, prettier --write

Apply suggestions from code review
  .github/PULL_REQUEST_TEMPLATE.md
Due: prettier --write

docs: ✏️ review feedback for pr template
  .github/PULL_REQUEST_TEMPLATE.md
Due: prettier --write

Update .lintstagedrc
  .lintstagedrc
Due: none

fix: issue with md files resolving images (#1283)
  .github/workflows/01-build-showcases.yml
  .husky/pre-commit
  README.md
  docs/images/download/Contributor Covenant-2.0-4baaaa.licence
  docs/images/download/Contributor Covenant-2.0-4baaaa.svg
  docs/images/download/Conventional Commits-1.0.0-yellow.licence
  docs/images/download/Conventional Commits-1.0.0-yellow.svg
  docs/images/download/License-Apache_2.0-blue.licence
  docs/images/download/License-Apache_2.0-blue.svg
  docs/images/download/PRs-welcome-brightgreen.licence
  docs/images/download/PRs-welcome-brightgreen.svg
  docs/images/download/Part of-DB UX Design System Core-d7dce1.licence
  docs/images/download/Part of-DB UX Design System Core-d7dce1.svg
  docs/images/download/code_style-XO-5ed9c7.licence
  docs/images/download/code_style-XO-5ed9c7.svg
  docs/images/download/code_style-prettier-ff69b4.licence
  docs/images/download/code_style-prettier-ff69b4.svg
  output/README.md
  output/angular/README.md
  output/react/README.md
  output/vue/vue3/README.md
  output/webcomponent/README.md
  packages/components/README.md
  packages/foundations/README.md
  scripts/md-resolve-svg.js
  showcases/patternhub/.gitignore
  showcases/patternhub/package.json
  showcases/patternhub/pages/_app.tsx
Due: prettier --write

chore: updated status
  README.md
Due: prettier --write

chore: update border colors (add weak border) (#1300)
  packages/foundations/scripts/color-placeholders-generator.js
  packages/foundations/scss/color/_color-variants.scss
  packages/foundations/scss/helpers/_component.scss
  packages/foundations/tokens/zeplin.json
Due: stylelint --fix, prettier --write

refactor: drawer backdrop (combine noBackdrop and emphasis) (#1299)
  packages/components/src/components/drawer/drawer.lite.tsx
  packages/components/src/components/drawer/model.ts
  packages/components/src/styles/_dialog-init.scss
  showcases/angular-showcase/src/app/components/drawer/drawer.component.html
  showcases/react-showcase/src/components/drawer/index.tsx
  showcases/shared/drawer.json
  showcases/vue-showcase/src/components/drawer/Drawer.vue
Due: stylelint --fix, prettier --write

refactor: added another language to the generator
  packages/components/_templates/power-apps/new/comp-xml.ejs.t
Due: none

refactor: optimized the gitignore declaration
  .gitignore
Due: none

Path conditions:
  stylelint --fix: any of: *.{css,scss}
  prettier --write: any of: *.{js,css,scss,md,adoc,ts,tsx}
