Repository nekator/mono: changes, and which lint-staged commands are due for each by the changed paths.
All: jscpd --exitCode 1 ., markdownlint -c .markdown-lint.yml, stylelint --fix, cross-env TIMING=1 NODE_OPTIONS="--max-old-space-size=4096" xo --fix, prettier --write, prettier --write --ignore-unknown

chore: update snapshots for windows
  showcases/screen-reader/__snapshots__/windows/chromium/DBAccordion-one-item-should-open-then-the-nex-10d9e-he-first-should-then-close-automatically-next-.txt
  showcases/screen-reader/__snapshots__/windows/chromium/DBAccordion-should-open-two-items-while-both-remain-unfolded-next-.txt
  showcases/screen-reader/default.ts
  showcases/screen-reader/tests/accordion.spec.ts
Due: jscpd --exitCode 1 ., cross-env TIMING=1 NODE_OPTIONS="--max-old-space-size=4096" xo --fix, prettier --write

chore: update test for brand
  showcases/screen-reader/tests/brand.spec.ts
Due: jscpd --exitCode 1 ., cross-env TIMING=1 NODE_OPTIONS="--max-old-space-size=4096" xo --fix, prettier --write

fix: issue with sr accordion test
  showcases/screen-reader/tests/accordion.spec.ts
Due: jscpd --exitCode 1 ., cross-env TIMING=1 NODE_OPTIONS="--max-old-space-size=4096" xo --fix, prettier --write

chore: update snapshot
  showcases/screen-reader/__snapshots__/windows/chromium/DBBrand-should-have-inline-texts-no-icons-but-the-custom-logo-as-image-next-.txt
Due: jscpd --exitCode 1 .

chore: remove line ending
  showcases/screen-reader/__snapshots__/windows/chromium/DBAccordion-one-item-should-open-then-the-nex-10d9e-he-first-should-then-close-automatically-next-.txt
  showcases/screen-reader/__snapshots__/windows/chromium/DBAccordion-should-open-two-items-while-both-remain-unfolded-next-.txt
Due: jscpd --exitCode 1 .

refactor(jscpd config): sorting ignore entries (#3019)
  .config/.jscpd.json
Due: jscpd --exitCode 1 .

Update README.md (#3016)
  showcases/screen-reader/README.md
Due: jscpd --exitCode 1 ., markdownlint -c .markdown-lint.yml

refactor: simplification (#3009)
  showcases/screen-reader/default.ts
Due: jscpd --exitCode 1 ., cross-env TIMING=1 NODE_OPTIONS="--max-old-space-size=4096" xo --fix, prettier --write

chore: update sr test for checkbox
  showcases/screen-reader/default.ts
  showcases/screen-reader/tests/checkbox.spec.ts
Due: jscpd --exitCode 1 ., cross-env TIMING=1 NODE_OPTIONS="--max-old-space-size=4096" xo --fix, prettier --write

chore: update testing table for patternhub with accessibility review (#3020)
  docs/how-to-develop-a-component.md
  showcases/patternhub/components/accessibility-review-info/accessibility-review-info.tsx
  showcases/patternhub/pages/foundations/test-table/index.tsx
  showcases/patternhub/scripts/generate-test-table.js
  showcases/shared/_accessibility-review.json
Due: jscpd --exitCode 1 ., markdownlint -c .markdown-lint.yml, cross-env TIMING=1 NODE_OPTIONS="--max-old-space-size=4096" xo --fix, prettier --write

refactor: prettyfication
  showcases/screen-reader/default.ts
Due: jscpd --exitCode 1 ., cross-env TIMING=1 NODE_OPTIONS="--max-old-space-size=4096" xo --fix, prettier --write

fix: issue with select option for windows (#3024)
  packages/components/src/components/select/select.scss
Due: jscpd --exitCode 1 ., stylelint --fix

feat: added pipeline generated snapshot
  showcases/screen-reader/__snapshots__/windows/chromium/DBBadge-should-have-texts-inline-or-as-data-label-attributes-next-.txt
Due: jscpd --exitCode 1 .

Update DBAccordion-should-open-two-items-while-both-remain-unfolded-next-.txt
  showcases/screen-reader/__snapshots__/windows/chromium/DBAccordion-should-open-two-items-while-both-remain-unfolded-next-.txt
Due: jscpd --exitCode 1 .

Path conditions:
  jscpd --exitCode 1 .: any of: *
  markdownlint -c .markdown-lint.yml: any of: *.md
  stylelint --fix: any of: *.{css,scss}
  cross-env TIMING=1 NODE_OPTIONS="--max-old-space-size=4096" xo --fix: any of: *.{js,ts,tsx}
  prettier --write: any of: *.{js,ts,tsx}
  prettier --write --ignore-unknown: any of: *.!{js,ts,tsx}
