Repository nekator/mono: changes, and which lint-staged commands are due for each by the changed paths.
All: jscpd --exitCode 1 ., markdownlint -c .markdown-lint.yml, stylelint --fix, cross-env TIMING=1 NODE_OPTIONS="--max-old-space-size=4096" xo --fix, prettier --write, prettier --write --ignore-unknown

.lintstagedrc:

{
	"*": "jscpd --exitCode 1 .",
	"*.md": "markdownlint -c .markdown-lint.yml",
	"*.{css,scss}": "stylelint --fix",
	"*.{js,ts,tsx}": ["cross-env TIMING=1 NODE_OPTIONS=\"--max-old-space-size=4096\" xo --fix", "prettier --write"],
	"*.!{js,ts,tsx}": "prettier --write --ignore-unknown"
}

refactor: mainnavigation optimization
  packages/components/src/components/navigation-item/navigation-item.scss
Due: jscpd --exitCode 1 ., stylelint --fix

fix: missing dependency
  packages/foundations/scss/_init.scss
Due: jscpd --exitCode 1 ., stylelint --fix

chore: let's merge these
  packages/foundations/scss/_init.scss
Due: jscpd --exitCode 1 ., stylelint --fix

fix: corrected dependency reference
  packages/foundations/scss/_init.scss
Due: jscpd --exitCode 1 ., stylelint --fix

refactor: this variable should become a DB UX variable the sooner the later
  packages/components/src/components/accordion-item/accordion-item.scss
  packages/components/src/components/link/link.scss
  packages/components/src/components/tag/tag.scss
  packages/components/src/components/textarea/textarea.scss
  packages/components/src/styles/_db-puls.scss
  packages/foundations/scss/_init.scss
  packages/foundations/scss/_variables.scss
Due: jscpd --exitCode 1 ., stylelint --fix

refactor: removed redundant declaration
  packages/components/src/components/link/link.scss
Due: jscpd --exitCode 1 ., stylelint --fix

Discard changes to packages/components/src/components/popover/index.html
  packages/components/src/components/popover/index.html
Due: jscpd --exitCode 1 .

refactor: we need to be more specific on this one
  packages/foundations/scss/_init.scss
Due: jscpd --exitCode 1 ., stylelint --fix

feat: add additional popover placements (#1763)
  packages/components/src/components/popover/popover.spec.tsx
  packages/components/src/components/tooltip/tooltip.scss
  packages/components/src/components/tooltip/tooltip.spec.tsx
  packages/components/src/shared/model.ts
  packages/components/src/styles/_popover-component.scss
  showcases/shared/popover.json
  showcases/shared/tooltip.json
Due: jscpd --exitCode 1 ., stylelint --fix, cross-env TIMING=1 NODE_OPTIONS="--max-old-space-size=4096" xo --fix, prettier --write

fix: wrong radio button color (#1766)
  packages/components/src/components/radio/radio.scss
Due: jscpd --exitCode 1 ., stylelint --fix

chore: update colors for focus states
  packages/foundations/scss/_init.scss
  packages/foundations/scss/colors/_placeholder.scss
Due: jscpd --exitCode 1 ., stylelint --fix

fix: wrong elevation for popover
  packages/components/src/styles/_popover-component.scss
Due: jscpd --exitCode 1 ., stylelint --fix

fix: wrong elevation for popover
  packages/components/src/components/tooltip/tooltip.scss
  packages/components/src/styles/_popover-component.scss
Due: jscpd --exitCode 1 ., stylelint --fix

fix: explicit styling for accordion content spacing
  packages/components/src/components/accordion-item/accordion-item.scss
  packages/foundations/scss/animation/_animations.scss
Due: jscpd --exitCode 1 ., stylelint --fix

refactor: enabled users to force light/dark mode (#1776)
  packages/foundations/scss/colors/_default-color-scheme.scss
  packages/foundations/scss/colors/color-scheme.scss
  packages/foundations/scss/default-theme.scss
Due: jscpd --exitCode 1 ., stylelint --fix

refactor(v-components): use computed values for class names in showcase
  output/vue/vue3/README.md
  showcases/vue-showcase/src/App.vue
Due: jscpd --exitCode 1 ., markdownlint -c .markdown-lint.yml

chore: update tailwind spacings (#1782)
  packages/foundations/tokens/tailwind/spacing.json
Due: jscpd --exitCode 1 .
