Repository nekator/mono: changes, and which lint-staged commands are due for each by the changed paths.
All: jscpd --exitCode 1 ., markdownlint -c .markdown-lint.yml, stylelint --fix, cross-env TIMING=1 NODE_OPTIONS="--max-old-space-size=4096" xo --fix, prettier --write, prettier --write --ignore-unknown

fix: corrected that filename (#1914)
  showcases/patternhub/pages/_app.tsx
Due: jscpd --exitCode 1 ., cross-env TIMING=1 NODE_OPTIONS="--max-old-space-size=4096" xo --fix, prettier --write

chore: update from main
  __snapshots__/input/showcase/chromium/regular/neutral/DBInput-should-match-screenshot.png
  __snapshots__/input/showcase/mobile-chrome/regular/neutral/DBInput-should-match-screenshot.png
  __snapshots__/input/showcase/mobile-safari/regular/neutral/DBInput-should-match-screenshot.png
  __snapshots__/input/showcase/webkit/regular/neutral/DBInput-should-match-screenshot.png
  __snapshots__/textarea/showcase/chromium/regular/neutral/DBTextarea-should-match-screenshot.png
  __snapshots__/textarea/showcase/mobile-chrome/regular/neutral/DBTextarea-should-match-screenshot.png
  __snapshots__/textarea/showcase/mobile-safari/regular/neutral/DBTextarea-should-match-screenshot.png
  __snapshots__/textarea/showcase/webkit/regular/neutral/DBTextarea-should-match-screenshot.png
Due: jscpd --exitCode 1 .

Update research-other-design-systems.md (#1899)
  docs/research-other-design-systems.md
Due: jscpd --exitCode 1 ., markdownlint -c .markdown-lint.yml

fix: remove merge report for playwright in cicd (#1916)
  .github/workflows/02-e2e-showcases.yml
  .github/workflows/02-e2e.yml
  .github/workflows/03-e2e-merge-reports.yml
  .github/workflows/default.yml
  .github/workflows/release.yml
Due: jscpd --exitCode 1 .

fix: issue with form elements new user-valid (#1798)
  __snapshots__/input/showcase/chromium/regular/neutral/DBInput-should-match-screenshot.png
  __snapshots__/input/showcase/mobile-chrome/regular/neutral/DBInput-should-match-screenshot.png
  __snapshots__/textarea/showcase/chromium/regular/neutral/DBTextarea-should-match-screenshot.png
  __snapshots__/textarea/showcase/mobile-chrome/regular/neutral/DBTextarea-should-match-screenshot.png
  packages/components/src/styles/_form-components.scss
  showcases/shared/input.json
  showcases/shared/select.json
  showcases/shared/textarea.json
Due: jscpd --exitCode 1 ., stylelint --fix

chore: update from main
  __snapshots__/input/showcase/chromium/regular/neutral/DBInput-should-match-screenshot.png
  __snapshots__/input/showcase/mobile-chrome/regular/neutral/DBInput-should-match-screenshot.png
  __snapshots__/textarea/showcase/chromium/regular/neutral/DBTextarea-should-match-screenshot.png
  __snapshots__/textarea/showcase/mobile-chrome/regular/neutral/DBTextarea-should-match-screenshot.png
Due: jscpd --exitCode 1 .

refactor: updated icon font files
  packages/foundations/assets/icons/functional/fonts/all/db-ux.woff2
  packages/foundations/assets/icons/functional/fonts/default/db-ux.woff2
  packages/foundations/assets/icons/functional/fonts/default_16/db-ux.woff2
  packages/foundations/assets/icons/functional/fonts/default_20/db-ux.woff2
  packages/foundations/assets/icons/functional/fonts/default_24/db-ux.woff2
  packages/foundations/assets/icons/functional/fonts/default_32/db-ux.woff2
  packages/foundations/assets/icons/functional/fonts/default_48/db-ux.woff2
  packages/foundations/assets/icons/functional/fonts/default_64/db-ux.woff2
  packages/foundations/assets/icons/functional/fonts/inverted/db-ux.woff2
  packages/foundations/assets/icons/functional/fonts/inverted_16/db-ux.woff2
  packages/foundations/assets/icons/functional/fonts/inverted_20/db-ux.woff2
  packages/foundations/assets/icons/functional/fonts/inverted_24/db-ux.woff2
  packages/foundations/assets/icons/functional/fonts/inverted_32/db-ux.woff2
  packages/foundations/assets/icons/functional/fonts/inverted_48/db-ux.woff2
  packages/foundations/assets/icons/functional/fonts/inverted_64/db-ux.woff2
  packages/foundations/assets/icons/functional/fonts/solid/db-ux.woff2
  packages/foundations/assets/icons/functional/fonts/solid_16/db-ux.woff2
  packages/foundations/assets/icons/functional/fonts/solid_20/db-ux.woff2
  packages/foundations/assets/icons/functional/fonts/solid_24/db-ux.woff2
  packages/foundations/assets/icons/functional/fonts/solid_32/db-ux.woff2
  packages/foundations/assets/icons/functional/fonts/solid_48/db-ux.woff2
  packages/foundations/assets/icons/functional/fonts/solid_64/db-ux.woff2
Due: jscpd --exitCode 1 .

docs: corrected the procedure to generate icon files
  packages/foundations/assets/icons/README.md
Due: jscpd --exitCode 1 ., markdownlint -c .markdown-lint.yml

fix: icon generation process error messages
  packages/foundations/scripts/generate-icon-fonts/gather-icons.js
Due: jscpd --exitCode 1 ., cross-env TIMING=1 NODE_OPTIONS="--max-old-space-size=4096" xo --fix, prettier --write

fix: issue with data-icon-none shown as invisible icon (#1924)
  __snapshots__/accordion/showcase/chromium/regular/neutral/DBAccordion-should-match-screenshot.png
  __snapshots__/accordion/showcase/mobile-chrome/regular/neutral/DBAccordion-should-match-screenshot.png
  __snapshots__/accordion/showcase/mobile-safari/regular/neutral/DBAccordion-should-match-screenshot.png
  __snapshots__/accordion/showcase/webkit/regular/neutral/DBAccordion-should-match-screenshot.png
  __snapshots__/badge/showcase/chromium/regular/neutral/DBBadge-should-match-screenshot.png
  __snapshots__/badge/showcase/mobile-chrome/regular/neutral/DBBadge-should-match-screenshot.png
  __snapshots__/badge/showcase/mobile-safari/regular/neutral/DBBadge-should-match-screenshot.png
  __snapshots__/badge/showcase/webkit/regular/neutral/DBBadge-should-match-screenshot.png
  __snapshots__/input/showcase/chromium/regular/neutral/DBInput-should-match-screenshot.png
  __snapshots__/input/showcase/mobile-chrome/regular/neutral/DBInput-should-match-screenshot.png
  __snapshots__/input/showcase/mobile-safari/regular/neutral/DBInput-should-match-screenshot.png
  __snapshots__/input/showcase/webkit/regular/neutral/DBInput-should-match-screenshot.png
  __snapshots__/select/component/chromium/DBSelect-should-match-screenshot.png
  __snapshots__/select/component/mobile-chrome/DBSelect-should-match-screenshot.png
  __snapshots__/textarea/showcase/chromium/regular/neutral/DBTextarea-should-match-screenshot.png
  __snapshots__/textarea/showcase/mobile-chrome/regular/neutral/DBTextarea-should-match-screenshot.png
  __snapshots__/textarea/showcase/mobile-safari/regular/neutral/DBTextarea-should-match-screenshot.png
  __snapshots__/textarea/showcase/webkit/regular/neutral/DBTextarea-should-match-screenshot.png
  packages/foundations/scss/icons/include.scss
Due: jscpd --exitCode 1 ., stylelint --fix

Path conditions:
  jscpd --exitCode 1 .: any of: *
  markdownlint -c .markdown-lint.yml: any of: *.md
  stylelint --fix: any of: *.{css,scss}
  cross-env TIMING=1 NODE_OPTIONS="--max-old-space-size=4096" xo --fix: any of: *.{js,ts,tsx}
  prettier --write: any of: *.{js,ts,tsx}
  prettier --write --ignore-unknown: any of: *.!{js,ts,tsx}
