Repository nekator/mono: changes, and which lint-staged commands are due for each by the changed paths.
All: jscpd --exitCode 1 ., markdownlint -c .markdown-lint.yml, stylelint --fix, cross-env TIMING=1 NODE_OPTIONS="--max-old-space-size=4096" xo --fix, prettier --write, prettier --write --ignore-unknown

.lintstagedrc:

{
	"*": "jscpd --exitCode 1 .",
	"*.md": "markdownlint -c .markdown-lint.yml",
	"*.{css,scss}": "stylelint --fix",
	"*.{js,ts,tsx}": ["cross-env TIMING=1 NODE_OPTIONS=\"--max-old-space-size=4096\" xo --fix", "prettier --write"],
	"*.!{js,ts,tsx}": "prettier --write --ignore-unknown"
}

chore: update font-size and color issues found in theme-builder
  packages/foundations/scss/colors/_default-color-scheme.scss
  packages/foundations/scss/colors/_default-palette.scss
  packages/foundations/scss/fonts/_font-sizes.scss
Due: jscpd --exitCode 1 ., stylelint --fix

chore: fix issue with notification close button
  packages/components/src/components/notification/notification.lite.tsx
Due: jscpd --exitCode 1 ., cross-env TIMING=1 NODE_OPTIONS="--max-old-space-size=4096" xo --fix, prettier --write

fix: issue with notification
  __snapshots__/notification/showcase/chromium/regular/neutral/DBNotification-should-match-screenshot.png
  __snapshots__/notification/showcase/firefox/regular/neutral/DBNotification-should-match-screenshot.png
  __snapshots__/notification/showcase/mobile-chrome/regular/neutral/DBNotification-should-match-screenshot.png
  __snapshots__/notification/showcase/mobile-safari/regular/neutral/DBNotification-should-match-screenshot.png
  __snapshots__/notification/showcase/webkit/regular/neutral/DBNotification-should-match-screenshot.png
  packages/components/src/components/notification/notification.lite.tsx
  packages/foundations/scss/fonts/_font-sizes.scss
  showcases/shared/notification.json
Due: jscpd --exitCode 1 ., stylelint --fix, cross-env TIMING=1 NODE_OPTIONS="--max-old-space-size=4096" xo --fix, prettier --write

fix: issue with tab disabled state
  packages/components/src/components/tab/tab.scss
Due: jscpd --exitCode 1 ., stylelint --fix

chore: tidy-up scripts (#2024)
  .github/workflows/01-build-showcases.yml
  .github/workflows/02-e2e-showcases.yml
  .husky/pre-commit
  e2e/README.md
  e2e/package.json
  package.json
  scripts/package.json
  scripts/start.js
  showcases/patternhub/package.json
Due: jscpd --exitCode 1 ., markdownlint -c .markdown-lint.yml, cross-env TIMING=1 NODE_OPTIONS="--max-old-space-size=4096" xo --fix, prettier --write

fix: issue with missing not[data-placement] for popover
  packages/components/src/styles/_popover-component.scss
Due: jscpd --exitCode 1 ., stylelint --fix

chore: add brand-on variables for colors
  packages/foundations/scss/colors/_variables.scss
Due: jscpd --exitCode 1 ., stylelint --fix

fix: issue with tab ids when changing amount of tabs
  packages/components/src/components/input/input.lite.tsx
  packages/components/src/components/tab-list/tab-list.lite.tsx
  packages/components/src/components/tabs/model.ts
  packages/components/src/components/tabs/tabs.lite.tsx
  showcases/react-showcase/src/components/form/index.tsx
Due: jscpd --exitCode 1 ., cross-env TIMING=1 NODE_OPTIONS="--max-old-space-size=4096" xo --fix, prettier --write

chore: update from main
  scripts/package.json
Due: jscpd --exitCode 1 .

fix: default color palette
  packages/foundations/scss/colors/_default-palette.scss
Due: jscpd --exitCode 1 ., stylelint --fix

fix: issue with angular compile
  packages/components/src/components/tabs/tabs.lite.tsx
Due: jscpd --exitCode 1 ., cross-env TIMING=1 NODE_OPTIONS="--max-old-space-size=4096" xo --fix, prettier --write

fix: issue with angular compile
  showcases/angular-showcase/src/app/components/textarea/textarea.component.ts
Due: jscpd --exitCode 1 ., cross-env TIMING=1 NODE_OPTIONS="--max-old-space-size=4096" xo --fix, prettier --write

chore: update notification
  __snapshots__/input/showcase/webkit/regular/neutral/DBInput-should-match-screenshot.png
  __snapshots__/notification/showcase/chromium/regular/neutral/DBNotification-should-match-screenshot.png
  __snapshots__/notification/showcase/firefox/regular/neutral/DBNotification-should-match-screenshot.png
  __snapshots__/notification/showcase/mobile-chrome/regular/neutral/DBNotification-should-match-screenshot.png
  __snapshots__/notification/showcase/mobile-safari/regular/neutral/DBNotification-should-match-screenshot.png
  __snapshots__/notification/showcase/webkit/regular/neutral/DBNotification-should-match-screenshot.png
  __snapshots__/tabs/showcase/webkit/regular/neutral/DBTabs-should-match-screenshot.png
  packages/components/src/components/notification/notification.lite.tsx
  packages/components/src/components/notification/notification.scss
  packages/foundations/scss/_init.scss
  showcases/angular-showcase/src/app/components/input/input.component.ts
  showcases/angular-showcase/src/app/components/select/select.component.ts
Due: jscpd --exitCode 1 ., stylelint --fix, cross-env TIMING=1 NODE_OPTIONS="--max-old-space-size=4096" xo --fix, prettier --write

chore: update snapshots
  __snapshots__/input/showcase/webkit/regular/neutral/DBInput-should-match-screenshot.png
  __snapshots__/tabs/showcase/webkit/regular/neutral/DBTabs-should-match-screenshot.png
Due: jscpd --exitCode 1 .

fix: issues with validation for form-components
  packages/components/docs/Validation.md
  packages/components/src/components/input/input.lite.tsx
  packages/components/src/components/select/select.lite.tsx
  packages/components/src/components/textarea/textarea.lite.tsx
  packages/components/src/shared/constants.ts
  packages/components/src/shared/model.ts
  packages/components/src/styles/_form-components.scss
Due: jscpd --exitCode 1 ., markdownlint -c .markdown-lint.yml, stylelint --fix, cross-env TIMING=1 NODE_OPTIONS="--max-old-space-size=4096" xo --fix, prettier --write

fix: issue with tabs
  packages/components/src/components/tabs/model.ts
  packages/components/src/components/tabs/tabs.lite.tsx
Due: jscpd --exitCode 1 ., cross-env TIMING=1 NODE_OPTIONS="--max-old-space-size=4096" xo --fix, prettier --write

fix: issue with missing type
  packages/components/src/components/tabs/tabs.lite.tsx
Due: jscpd --exitCode 1 ., cross-env TIMING=1 NODE_OPTIONS="--max-old-space-size=4096" xo --fix, prettier --write

fix: issue with typo in button variant
  packages/components/src/components/button/model.ts
  packages/components/src/components/card/model.ts
Due: jscpd --exitCode 1 ., cross-env TIMING=1 NODE_OPTIONS="--max-old-space-size=4096" xo --fix, prettier --write

fix: add missing on-contrast variable
  packages/foundations/scss/colors/_variables.scss
Due: jscpd --exitCode 1 ., stylelint --fix
