Repository nekator/mono: changes, and which lint-staged commands are due for each by the changed paths.
All: jscpd --exitCode 1 ., markdownlint -c .markdown-lint.yml, stylelint --fix, cross-env TIMING=1 NODE_OPTIONS="--max-old-space-size=4096" xo --fix, prettier --write, prettier --write --ignore-unknown

refactor: let's not cleanup the latest folder (#3408)
  .github/scripts/cleanup-gh-pages.js
Due: jscpd --exitCode 1 ., cross-env TIMING=1 NODE_OPTIONS="--max-old-space-size=4096" xo --fix, prettier --write

fix: overflow scroll drawer content (#3231)
  packages/components/src/components/drawer/drawer.scss
Due: jscpd --exitCode 1 ., stylelint --fix

feat: add onSelect handling
  packages/components/src/components/multi-select-list-item/multi-select-list-item.scss
  packages/components/src/components/multi-select/model.ts
  packages/components/src/components/multi-select/multi-select.lite.tsx
  packages/components/src/shared/constants.ts
  packages/components/src/styles/_form-components.scss
  showcases/react-showcase/src/components/form/index.tsx
  showcases/react-showcase/src/components/multi-select/index.tsx
Due: jscpd --exitCode 1 ., stylelint --fix, cross-env TIMING=1 NODE_OPTIONS="--max-old-space-size=4096" xo --fix, prettier --write

fix: issue with tooltip inside tag (#3272)
  packages/components/src/components/tag/tag.scss
  showcases/patternhub/scripts/utils.js
Due: jscpd --exitCode 1 ., stylelint --fix, cross-env TIMING=1 NODE_OPTIONS="--max-old-space-size=4096" xo --fix, prettier --write

fix: issue with tooltip not centered in with all parent elements (#3399)
  __snapshots__/tooltip/showcase/firefox/DBTooltip-should-match-screenshot-1/DBTooltip-should-match-screenshot.png
  packages/components/src/components/tooltip/tooltip.scss
  packages/components/src/styles/_popover-component.scss
Due: jscpd --exitCode 1 ., stylelint --fix

feat: add variant="inside" for DBDrawer (#3262)
  __snapshots__/drawer/patternhub/drawer-properties-should-match-screenshot.png
  __snapshots__/drawer/showcase/chromium-highContrast/DBDrawer-should-match-screenshot-1/DBDrawer-should-match-screenshot.png
  __snapshots__/drawer/showcase/chromium/DBDrawer-should-match-screenshot-1/DBDrawer-should-match-screenshot.png
  __snapshots__/drawer/showcase/firefox/DBDrawer-should-match-screenshot-1/DBDrawer-should-match-screenshot.png
  __snapshots__/drawer/showcase/mobile-chrome/DBDrawer-should-match-screenshot-1/DBDrawer-should-match-screenshot.png
  __snapshots__/drawer/showcase/mobile-safari/DBDrawer-should-match-screenshot-1/DBDrawer-should-match-screenshot.png
  __snapshots__/drawer/showcase/webkit/DBDrawer-should-match-screenshot-1/DBDrawer-should-match-screenshot.png
  packages/components/src/components/drawer/drawer.lite.tsx
  packages/components/src/components/drawer/model.ts
  packages/components/src/styles/dialog-init.scss
  showcases/angular-showcase/src/app/components/drawer/drawer.component.html
  showcases/react-showcase/src/components/drawer/index.tsx
  showcases/shared/drawer.json
  showcases/vue-showcase/src/components/drawer/Drawer.vue
Due: jscpd --exitCode 1 ., stylelint --fix, cross-env TIMING=1 NODE_OPTIONS="--max-old-space-size=4096" xo --fix, prettier --write

chore: add docs for drawer header (#3398)
  __snapshots__/drawer/patternhub/drawer-docs-should-match-screenshot.png
  packages/components/src/components/drawer/docs/Angular.md
  packages/components/src/components/drawer/docs/React.md
  packages/components/src/components/drawer/docs/Vue.md
Due: jscpd --exitCode 1 ., markdownlint -c .markdown-lint.yml

fix: issue with checkbox icon (#3264)
  __snapshots__/checkbox/showcase/chromium-highContrast/DBCheckbox-should-match-screenshot-1/DBCheckbox-should-match-screenshot.png
  __snapshots__/checkbox/showcase/chromium/DBCheckbox-should-match-screenshot-1/DBCheckbox-should-match-screenshot.png
  __snapshots__/checkbox/showcase/firefox/DBCheckbox-should-match-screenshot-1/DBCheckbox-should-match-screenshot.png
  __snapshots__/checkbox/showcase/mobile-chrome/DBCheckbox-should-match-screenshot-1/DBCheckbox-should-match-screenshot.png
  __snapshots__/checkbox/showcase/mobile-safari/DBCheckbox-should-match-screenshot-1/DBCheckbox-should-match-screenshot.png
  __snapshots__/checkbox/showcase/webkit/DBCheckbox-should-match-screenshot-1/DBCheckbox-should-match-screenshot.png
  packages/components/src/components/checkbox/checkbox.scss
  packages/components/src/styles/_form-components.scss
  showcases/shared/checkbox.json
Due: jscpd --exitCode 1 ., stylelint --fix

fix: issue with dependabot updating eslint major version (#3426)
  .github/dependabot.yml
Due: jscpd --exitCode 1 .

Path conditions:
  jscpd --exitCode 1 .: any of: *
  markdownlint -c .markdown-lint.yml: any of: *.md
  stylelint --fix: any of: *.{css,scss}
  cross-env TIMING=1 NODE_OPTIONS="--max-old-space-size=4096" xo --fix: any of: *.{js,ts,tsx}
  prettier --write: any of: *.{js,ts,tsx}
  prettier --write --ignore-unknown: any of: *.!{js,ts,tsx}
