Repository nekator/mono: changes, and which lint-staged commands are due for each by the changed paths.
All: jscpd --exitCode 1 ., markdownlint -c .markdown-lint.yml, stylelint --fix, cross-env TIMING=1 NODE_OPTIONS="--max-old-space-size=4096" xo --fix, prettier --write, prettier --write --ignore-unknown

fix: issue with wrong import
  showcases/patternhub/pages/iframe/index.tsx
Due: jscpd --exitCode 1 ., cross-env TIMING=1 NODE_OPTIONS="--max-old-space-size=4096" xo --fix, prettier --write

fix: actions/upload-artifact naming convention (#2150)
  .github/workflows/02-e2e-showcases.yml
  .github/workflows/02-e2e.yml
Due: jscpd --exitCode 1 .

refactor: updated playwright
  .github/scripts/update-playwright.js
  e2e/package-lock.json
  e2e/package.json
Due: jscpd --exitCode 1 ., cross-env TIMING=1 NODE_OPTIONS="--max-old-space-size=4096" xo --fix, prettier --write

refactor: updated further places
  .github/workflows/02-e2e-showcases.yml
  .github/workflows/02-e2e.yml
  e2e/Dockerfile
Due: jscpd --exitCode 1 .

Update _init.scss
  packages/foundations/scss/_init.scss
Due: jscpd --exitCode 1 ., stylelint --fix

refactor: we only need the outline with an offset
  packages/foundations/scss/_init.scss
Due: jscpd --exitCode 1 ., stylelint --fix

fix: issue with react forward ref (#2168)
  packages/components/scripts/post-build/react.js
Due: jscpd --exitCode 1 ., cross-env TIMING=1 NODE_OPTIONS="--max-old-space-size=4096" xo --fix, prettier --write

chore: removed unused eslint plugin (#2174)
  .github/scripts/publish-npm.sh
  .xo-config.cjs
  README.md
  packages/eslint/index.js
  packages/eslint/package.json
  packages/eslint/v2-components.js
Due: jscpd --exitCode 1 ., markdownlint -c .markdown-lint.yml, cross-env TIMING=1 NODE_OPTIONS="--max-old-space-size=4096" xo --fix, prettier --write

Path conditions:
  jscpd --exitCode 1 .: any of: *
  markdownlint -c .markdown-lint.yml: any of: *.md
  stylelint --fix: any of: *.{css,scss}
  cross-env TIMING=1 NODE_OPTIONS="--max-old-space-size=4096" xo --fix: any of: *.{js,ts,tsx}
  prettier --write: any of: *.{js,ts,tsx}
  prettier --write --ignore-unknown: any of: *.!{js,ts,tsx}
