Repository nekator/mono: changes, and which lint-staged commands are due for each by the changed paths.
All: jscpd --exitCode 1 ., markdownlint -c .markdown-lint.yml, stylelint --fix, cross-env TIMING=1 NODE_OPTIONS="--max-old-space-size=4096" xo --fix, prettier --write, prettier --write --ignore-unknown

chore: update permission for publish-packages
  .github/workflows/03-publish-packages.yml
Due: jscpd --exitCode 1 .

fix: issue with permission for 03-publish-packages.yml
  .github/workflows/03-publish-packages.yml
Due: jscpd --exitCode 1 .

docs: update angular README.md to add missing file ending for css (#3270)
  output/angular/README.md
Due: jscpd --exitCode 1 ., markdownlint -c .markdown-lint.yml

feat: generating provenance statements (#3186)
  .github/scripts/publish-npm.sh
  .github/workflows/03-publish-packages.yml
Due: jscpd --exitCode 1 .

fix: docs incorrect headline (#3277)
  showcases/patternhub/pages/foundations/icons/overview.tsx
Due: jscpd --exitCode 1 ., cross-env TIMING=1 NODE_OPTIONS="--max-old-space-size=4096" xo --fix, prettier --write

refactor: prettifying (#3282)
  .github/scripts/publish-npm.sh
  CODE-OF-CONDUCT.md
  docs/adr-04-icons.md
  packages/components/configs/angular/index.js
  packages/components/configs/react/index.js
  packages/components/src/components/accordion-item/accordion-item.scss
  packages/components/src/components/input/input.lite.tsx
  packages/components/src/styles/_form-components.scss
Due: jscpd --exitCode 1 ., markdownlint -c .markdown-lint.yml, stylelint --fix, cross-env TIMING=1 NODE_OPTIONS="--max-old-space-size=4096" xo --fix, prettier --write

chore: import declaration optimization (#3283)
  packages/components/_templates/mitosis/new/component/spec.ejs.t
  packages/components/src/components/accordion-item/accordion-item.spec.tsx
  packages/components/src/components/accordion/accordion.spec.tsx
  packages/components/src/components/badge/badge.spec.tsx
  packages/components/src/components/brand/brand.spec.tsx
  packages/components/src/components/button/button.spec.tsx
  packages/components/src/components/card/card.spec.tsx
  packages/components/src/components/checkbox/checkbox.spec.tsx
  packages/components/src/components/divider/divider.spec.tsx
  packages/components/src/components/infotext/infotext.spec.tsx
  packages/components/src/components/input/input.spec.tsx
  packages/components/src/components/navigation-item/navigation-item.spec.tsx
  packages/components/src/components/notification/notification.spec.tsx
  packages/components/src/components/popover/popover.spec.tsx
  packages/components/src/components/radio/radio.spec.tsx
  packages/components/src/components/select/select.spec.tsx
  packages/components/src/components/switch/switch.spec.tsx
  packages/components/src/components/tabs/tabs.spec.tsx
  packages/components/src/components/tag/tag.spec.tsx
  packages/components/src/components/textarea/textarea.spec.tsx
  packages/components/src/components/tooltip/tooltip.spec.tsx
Due: jscpd --exitCode 1 ., cross-env TIMING=1 NODE_OPTIONS="--max-old-space-size=4096" xo --fix, prettier --write

Path conditions:
  jscpd --exitCode 1 .: any of: *
  markdownlint -c .markdown-lint.yml: any of: *.md
  stylelint --fix: any of: *.{css,scss}
  cross-env TIMING=1 NODE_OPTIONS="--max-old-space-size=4096" xo --fix: any of: *.{js,ts,tsx}
  prettier --write: any of: *.{js,ts,tsx}
  prettier --write --ignore-unknown: any of: *.!{js,ts,tsx}
