Repository nekator/mono: changes, and which lint-staged commands are due for each by the changed paths.
All: jscpd --exitCode 1 ., markdownlint -c .markdown-lint.yml, stylelint --fix, cross-env TIMING=1 NODE_OPTIONS="--max-old-space-size=4096" xo --fix, prettier --write, prettier --write --ignore-unknown

test: write test for required inputs to read messages (#2906)
  packages/components/src/components/checkbox/checkbox.lite.tsx
  packages/components/src/components/drawer/drawer.lite.tsx
  packages/components/src/components/input/input.lite.tsx
  packages/components/src/components/select/select.lite.tsx
  packages/components/src/components/textarea/textarea.lite.tsx
  packages/components/src/shared/model.ts
  packages/components/src/styles/_form-components.scss
  packages/components/src/styles/visually-hidden.scss
  packages/components/src/utils/index.ts
  packages/foundations/scss/helpers/_a11y.scss
  showcases/screen-reader/__snapshots__/macos/webkit/DBInput-required-1.txt
  showcases/screen-reader/__snapshots__/windows/chromium/DBInput-required-1.txt
  showcases/screen-reader/default.ts
  showcases/screen-reader/tests/input.spec.ts
  showcases/screen-reader/translations.ts
Due: jscpd --exitCode 1 ., stylelint --fix, cross-env TIMING=1 NODE_OPTIONS="--max-old-space-size=4096" xo --fix, prettier --write

feat: add correct margins for divider (#3033)
  __snapshots__/divider/patternhub/divider-properties-should-match-screenshot.png
  packages/components/src/components/divider/divider.scss
  packages/components/src/components/divider/model.ts
  packages/components/src/shared/model.ts
Due: jscpd --exitCode 1 ., stylelint --fix, cross-env TIMING=1 NODE_OPTIONS="--max-old-space-size=4096" xo --fix, prettier --write

test: adds guidepup test for card
  showcases/screen-reader/__snapshots__/macos/webkit/DBCard-default-1.txt
  showcases/screen-reader/tests/card.spec.ts
Due: jscpd --exitCode 1 ., cross-env TIMING=1 NODE_OPTIONS="--max-old-space-size=4096" xo --fix, prettier --write

test(guidepup): popover (#3010)
  packages/components/src/components/popover/model.ts
  packages/components/src/components/popover/popover.lite.tsx
  showcases/screen-reader/__snapshots__/macos/webkit/DBPopover-opened-1.txt
  showcases/screen-reader/__snapshots__/windows/chromium/DBPopover-opened-1.txt
  showcases/screen-reader/default.ts
  showcases/screen-reader/tests/popover.spec.ts
Due: jscpd --exitCode 1 ., cross-env TIMING=1 NODE_OPTIONS="--max-old-space-size=4096" xo --fix, prettier --write

test: adds guidepup test for header
  showcases/screen-reader/__snapshots__/macos/webkit/DBHeader-default-1.txt
  showcases/screen-reader/default.ts
  showcases/screen-reader/tests/header.spec.ts
Due: jscpd --exitCode 1 ., cross-env TIMING=1 NODE_OPTIONS="--max-old-space-size=4096" xo --fix, prettier --write

test: adds guidepup test for icon
  showcases/screen-reader/__snapshots__/macos/webkit/DBIcon-default-1.txt
  showcases/screen-reader/tests/icon.spec.ts
Due: jscpd --exitCode 1 ., cross-env TIMING=1 NODE_OPTIONS="--max-old-space-size=4096" xo --fix, prettier --write

test: adds guidepup test for infotext
  showcases/screen-reader/__snapshots__/macos/webkit/DBInfotext-default-1.txt
  showcases/screen-reader/tests/infotext.spec.ts
Due: jscpd --exitCode 1 ., cross-env TIMING=1 NODE_OPTIONS="--max-old-space-size=4096" xo --fix, prettier --write

test: adds guidepup test for link
  showcases/screen-reader/__snapshots__/macos/webkit/DBLink-default-1.txt
  showcases/screen-reader/tests/link.spec.ts
Due: jscpd --exitCode 1 ., cross-env TIMING=1 NODE_OPTIONS="--max-old-space-size=4096" xo --fix, prettier --write

chore: manually merged
  showcases/screen-reader/translations.ts
Due: jscpd --exitCode 1 ., cross-env TIMING=1 NODE_OPTIONS="--max-old-space-size=4096" xo --fix, prettier --write

refactor: adding empty alternative text
  packages/components/src/styles/_form-components.scss
Due: jscpd --exitCode 1 ., stylelint --fix

refactor: updated snapshot
  showcases/screen-reader/__snapshots__/windows/chromium/DBCheckbox-default-1.txt
Due: jscpd --exitCode 1 .

refactor: updated snapshot
  showcases/screen-reader/__snapshots__/windows/chromium/DBInput-required-1.txt
Due: jscpd --exitCode 1 .

refactor: using the correct notation
  packages/components/src/styles/_form-components.scss
  packages/foundations/scss/icons/_icon-helpers.scss
Due: jscpd --exitCode 1 ., stylelint --fix

feat: alternative text empty for the asterisk
  packages/components/src/styles/_form-components.scss
Due: jscpd --exitCode 1 ., stylelint --fix

test: repeated test
  showcases/screen-reader/__snapshots__/macos/webkit/DBCheckbox-default-1.txt
  showcases/screen-reader/tests/checkbox.spec.ts
Due: jscpd --exitCode 1 ., cross-env TIMING=1 NODE_OPTIONS="--max-old-space-size=4096" xo --fix, prettier --write

fix: issue with version switcher with pathname resolved as slug (#3052)
  showcases/patternhub/.env
  showcases/patternhub/components/version-switcher/version-switcher.tsx
Due: jscpd --exitCode 1 ., cross-env TIMING=1 NODE_OPTIONS="--max-old-space-size=4096" xo --fix, prettier --write

test: adds guidepup test for navigation
  showcases/screen-reader/__snapshots__/macos/webkit/DBNavigation-default-1.txt
  showcases/screen-reader/tests/navigation.spec.ts
Due: jscpd --exitCode 1 ., cross-env TIMING=1 NODE_OPTIONS="--max-old-space-size=4096" xo --fix, prettier --write

test: adds guidepup test for notification
  showcases/screen-reader/__snapshots__/macos/webkit/DBNotification-default-1.txt
  showcases/screen-reader/tests/notification.spec.ts
Due: jscpd --exitCode 1 ., cross-env TIMING=1 NODE_OPTIONS="--max-old-space-size=4096" xo --fix, prettier --write

fix: align prop "spacing" via scss mixin (#3050)
  __snapshots__/card/showcase/chromium-highContrast/DBCard-should-match-screenshot-1/DBCard-should-match-screenshot.png
  __snapshots__/card/showcase/chromium/DBCard-should-match-screenshot-1/DBCard-should-match-screenshot.png
  __snapshots__/card/showcase/firefox/DBCard-should-match-screenshot-1/DBCard-should-match-screenshot.png
  __snapshots__/card/showcase/mobile-chrome/DBCard-should-match-screenshot-1/DBCard-should-match-screenshot.png
  __snapshots__/card/showcase/mobile-safari/DBCard-should-match-screenshot-1/DBCard-should-match-screenshot.png
  __snapshots__/card/showcase/webkit/DBCard-should-match-screenshot-1/DBCard-should-match-screenshot.png
  __snapshots__/popover/showcase/chromium-highContrast/DBPopover-should-match-screenshot-1/DBPopover-should-match-screenshot.png
  __snapshots__/popover/showcase/chromium/DBPopover-should-match-screenshot-1/DBPopover-should-match-screenshot.png
  __snapshots__/popover/showcase/firefox/DBPopover-should-match-screenshot-1/DBPopover-should-match-screenshot.png
  __snapshots__/popover/showcase/mobile-chrome/DBPopover-should-match-screenshot-1/DBPopover-should-match-screenshot.png
  __snapshots__/popover/showcase/mobile-safari/DBPopover-should-match-screenshot-1/DBPopover-should-match-screenshot.png
  __snapshots__/popover/showcase/webkit/DBPopover-should-match-screenshot-1/DBPopover-should-match-screenshot.png
  __snapshots__/section/showcase/chromium-highContrast/DBSection-should-match-screenshot-1/DBSection-should-match-screenshot.png
  __snapshots__/section/showcase/chromium/DBSection-should-match-screenshot-1/DBSection-should-match-screenshot.png
  __snapshots__/section/showcase/firefox/DBSection-should-match-screenshot-1/DBSection-should-match-screenshot.png
  __snapshots__/section/showcase/mobile-chrome/DBSection-should-match-screenshot-1/DBSection-should-match-screenshot.png
  __snapshots__/section/showcase/mobile-safari/DBSection-should-match-screenshot-1/DBSection-should-match-screenshot.png
  __snapshots__/section/showcase/webkit/DBSection-should-match-screenshot-1/DBSection-should-match-screenshot.png
  packages/components/src/components/card/card.scss
  packages/components/src/components/popover/popover.scss
  packages/components/src/components/section/section.scss
  packages/components/src/styles/_component.scss
  showcases/shared/card.json
  showcases/shared/popover.json
  showcases/shared/section.json
Due: jscpd --exitCode 1 ., stylelint --fix

Path conditions:
  jscpd --exitCode 1 .: any of: *
  markdownlint -c .markdown-lint.yml: any of: *.md
  stylelint --fix: any of: *.{css,scss}
  cross-env TIMING=1 NODE_OPTIONS="--max-old-space-size=4096" xo --fix: any of: *.{js,ts,tsx}
  prettier --write: any of: *.{js,ts,tsx}
  prettier --write --ignore-unknown: any of: *.!{js,ts,tsx}
