Repository nekator/mono: changes, and which lint-staged commands are due for each by the changed paths.
All: jscpd --exitCode 1 ., markdownlint -c .markdown-lint.yml, stylelint --fix, cross-env TIMING=1 NODE_OPTIONS="--max-old-space-size=4096" xo --fix, prettier --write, prettier --write --ignore-unknown

fix: issue with checkbox icon for tag
  packages/components/src/components/tag/tag.scss
Due: jscpd --exitCode 1 ., stylelint --fix

docs: added information on the icons color overwriting possibility (#3458)
  packages/foundations/docs/Icons.md
Due: jscpd --exitCode 1 ., markdownlint -c .markdown-lint.yml

fix: issue with checkbox icon for tag
  packages/components/src/components/tag/tag.scss
  showcases/react-showcase/src/components/form/index.tsx
Due: jscpd --exitCode 1 ., stylelint --fix, cross-env TIMING=1 NODE_OPTIONS="--max-old-space-size=4096" xo --fix, prettier --write

chore: update snapshots
  __snapshots__/tag/component/chromium/DBTag-should-be-a-checkbox-checked.png
  __snapshots__/tag/component/firefox/DBTag-should-be-a-checkbox-checked.png
  __snapshots__/tag/component/mobile-chrome/DBTag-should-be-a-checkbox-checked.png
Due: jscpd --exitCode 1 .

fix(a11y): allow labels to be clickable (#3462)
  packages/components/src/styles/_form-components.scss
Due: jscpd --exitCode 1 ., stylelint --fix

chore: removed obsolete declaration (#3463)
  packages/components/src/styles/_form-components.scss
Due: jscpd --exitCode 1 ., stylelint --fix

fix: issue with wrong variable names for ide support (#3468)
  packages/foundations/ide/db.ide.css
Due: jscpd --exitCode 1 ., stylelint --fix

fix: displayName resolves to `label` instead of object (#3474)
  showcases/patternhub/scripts/generate-docs-mdx.js
Due: jscpd --exitCode 1 ., cross-env TIMING=1 NODE_OPTIONS="--max-old-space-size=4096" xo --fix, prettier --write

refactor: using local font references again
  packages/foundations/scss/fonts/include.scss
Due: jscpd --exitCode 1 ., stylelint --fix

chore: update from package-lock.json
  package-lock.json
  packages/components/package.json
Due: jscpd --exitCode 1 .

docs: changed from webpack to its successor rollup (#3471)
  output/angular/README.md
  output/react/README.md
  output/vue/README.md
Due: jscpd --exitCode 1 ., markdownlint -c .markdown-lint.yml

chore: update package-lock.json
  package-lock.json
Due: jscpd --exitCode 1 .

Path conditions:
  jscpd --exitCode 1 .: any of: *
  markdownlint -c .markdown-lint.yml: any of: *.md
  stylelint --fix: any of: *.{css,scss}
  cross-env TIMING=1 NODE_OPTIONS="--max-old-space-size=4096" xo --fix: any of: *.{js,ts,tsx}
  prettier --write: any of: *.{js,ts,tsx}
  prettier --write --ignore-unknown: any of: *.!{js,ts,tsx}
