Repository nekator/mono: changes, and which lint-staged commands are due for each by the changed paths.
All: jscpd --exitCode 1 ., markdownlint -c .markdown-lint.yml, stylelint --fix, cross-env TIMING=1 NODE_OPTIONS="--max-old-space-size=4096" xo --fix, prettier --write, prettier --write --ignore-unknown

refactor: ran prettier code styling
  packages/components/src/components/badge/badge.lite.tsx
  packages/components/src/components/brand/brand.lite.tsx
  packages/components/src/components/code-docs/code-docs.lite.tsx
  packages/components/src/components/divider/divider.lite.tsx
  packages/components/src/components/header/docs/React.md
  packages/components/src/components/header/docs/Vue.md
  packages/components/src/components/icon/icon.lite.tsx
  packages/components/src/components/infotext/infotext.lite.tsx
  packages/components/src/components/input/model.ts
  packages/components/src/components/main-navigation/main-navigation.lite.tsx
  packages/components/src/components/page/page.lite.tsx
  packages/components/src/components/section/section.lite.tsx
  packages/components/src/components/tab-bar/tab-bar.lite.tsx
  packages/components/src/components/tab/tab.lite.tsx
  packages/components/src/components/tag/tag.lite.tsx
  packages/foundations/assets/icons/README.md
Due: jscpd --exitCode 1 ., markdownlint -c .markdown-lint.yml, cross-env TIMING=1 NODE_OPTIONS="--max-old-space-size=4096" xo --fix, prettier --write

Revert "refactor: ran prettier code styling"
  packages/components/src/components/badge/badge.lite.tsx
  packages/components/src/components/brand/brand.lite.tsx
  packages/components/src/components/code-docs/code-docs.lite.tsx
  packages/components/src/components/divider/divider.lite.tsx
  packages/components/src/components/header/docs/React.md
  packages/components/src/components/header/docs/Vue.md
  packages/components/src/components/icon/icon.lite.tsx
  packages/components/src/components/infotext/infotext.lite.tsx
  packages/components/src/components/input/model.ts
  packages/components/src/components/main-navigation/main-navigation.lite.tsx
  packages/components/src/components/page/page.lite.tsx
  packages/components/src/components/section/section.lite.tsx
  packages/components/src/components/tab-bar/tab-bar.lite.tsx
  packages/components/src/components/tab/tab.lite.tsx
  packages/components/src/components/tag/tag.lite.tsx
  packages/foundations/assets/icons/README.md
Due: jscpd --exitCode 1 ., markdownlint -c .markdown-lint.yml, cross-env TIMING=1 NODE_OPTIONS="--max-old-space-size=4096" xo --fix, prettier --write

refactor: updated Angular from version 14 to version 15
  output/angular/package.json
  package-lock.json
  showcases/angular-showcase/package.json
  showcases/angular-showcase/tsconfig.json
Due: jscpd --exitCode 1 .

refactor: updated Angular from version 15 to version 16
  output/angular/package.json
  package-lock.json
  showcases/angular-showcase/package.json
Due: jscpd --exitCode 1 .

refactor: updated Angular from version 16 to version 17
  output/angular/package.json
  package-lock.json
  showcases/angular-showcase/angular.json
  showcases/angular-showcase/package.json
Due: jscpd --exitCode 1 .

refactor: regenerated package lock file
  package-lock.json
Due: jscpd --exitCode 1 .

refactor: added this missing configuration
  output/angular/tsconfig.json
Due: jscpd --exitCode 1 .

chore: update colors
  packages/components/src/components/button/button.scss
  packages/components/src/components/card/card.scss
  packages/components/src/components/textarea/textarea.scss
  packages/components/src/styles/_form-components.scss
  packages/foundations/scss/_init.scss
  packages/foundations/scss/colors/_default-color-scheme.scss
  packages/foundations/scss/colors/_default-palette.scss
  packages/foundations/scss/colors/speaking-colors.scss
  packages/foundations/scss/default-theme.scss
Due: jscpd --exitCode 1 ., stylelint --fix

chore: regenerated package lock file
  package-lock.json
Due: jscpd --exitCode 1 .

fix: issue with wrong brand hover color
  packages/foundations/scss/colors/_default-color-scheme.scss
Due: jscpd --exitCode 1 ., stylelint --fix

fix: issue with page query param for patternhub (#2015)
  showcases/patternhub/components/index.tsx
Due: jscpd --exitCode 1 ., cross-env TIMING=1 NODE_OPTIONS="--max-old-space-size=4096" xo --fix, prettier --write

Path conditions:
  jscpd --exitCode 1 .: any of: *
  markdownlint -c .markdown-lint.yml: any of: *.md
  stylelint --fix: any of: *.{css,scss}
  cross-env TIMING=1 NODE_OPTIONS="--max-old-space-size=4096" xo --fix: any of: *.{js,ts,tsx}
  prettier --write: any of: *.{js,ts,tsx}
  prettier --write --ignore-unknown: any of: *.!{js,ts,tsx}
