Repository nekator/mono: changes, and which lint-staged commands are due for each by the changed paths.
All: jscpd --exitCode 1 ., markdownlint -c .markdown-lint.yml, stylelint --fix, cross-env TIMING=1 NODE_OPTIONS="--max-old-space-size=4096" xo --fix, prettier --write, prettier --write --ignore-unknown

chore: update border variables
  package-lock.json
  packages/components/src/components/accordion-item/accordion-item.scss
  packages/components/src/components/checkbox/checkbox.scss
  packages/components/src/components/divider/divider.scss
  packages/components/src/components/drawer/drawer.scss
  packages/components/src/components/header/header.scss
  packages/components/src/components/input/input.scss
  packages/components/src/components/navigation-item/navigation-item.scss
  packages/components/src/components/notification/notification.scss
  packages/components/src/components/radio/radio.scss
  packages/components/src/components/tab-list/tab-list.scss
  packages/components/src/components/tab/tab.scss
  packages/components/src/components/tag/tag.scss
  packages/components/src/components/textarea/textarea.scss
  packages/components/src/components/tooltip/tooltip.scss
  packages/components/src/styles/_component.scss
  packages/components/src/styles/_db-puls.scss
  packages/components/src/styles/_link-components.scss
  packages/components/src/styles/_scrollbar.scss
  packages/foundations/scss/_focus.scss
  packages/foundations/scss/_variables.scss
  packages/foundations/scss/default-theme.scss
  packages/foundations/scss/helpers/_functions.scss
  packages/foundations/tailwind/tailwind-tokens.json
Due: jscpd --exitCode 1 ., stylelint --fix

feat: add cursor pointer to interactive components
  packages/components/src/README.md
  packages/components/src/components/accordion-item/accordion-item.scss
  packages/components/src/components/button/button.scss
  packages/components/src/components/card/card.scss
  packages/components/src/components/checkbox/checkbox.scss
  packages/components/src/components/link/link.scss
  packages/components/src/components/navigation-item/navigation-item.scss
  packages/components/src/components/tab/tab.scss
  packages/components/src/styles/_form-components.scss
  packages/components/src/styles/_link-components.scss
  packages/components/src/styles/_tag-components.scss
  packages/foundations/scss/_init.scss
  packages/foundations/scss/helpers/_functions.scss
Due: jscpd --exitCode 1 ., markdownlint -c .markdown-lint.yml, stylelint --fix

fix: broken accordion (#2283)
  packages/components/scripts/post-build/components.js
  packages/components/src/components/accordion-item/accordion-item.lite.tsx
  packages/components/src/components/accordion-item/model.ts
  showcases/angular-showcase/src/app/components/accordion-item/accordion-item.component.html
  showcases/angular-showcase/src/app/components/accordion-item/accordion-item.component.ts
  showcases/react-showcase/src/components/accordion-item/index.tsx
  showcases/vue-showcase/src/components/accordion-item/AccordionItem.vue
Due: jscpd --exitCode 1 ., cross-env TIMING=1 NODE_OPTIONS="--max-old-space-size=4096" xo --fix, prettier --write

fix: global font-size issue and add documentation (#2282)
  __snapshots__/input/showcase/firefox/regular/neutral/DBInput-should-match-screenshot.png
  __snapshots__/textarea/showcase/firefox/regular/neutral/DBTextarea-should-match-screenshot.png
  __snapshots__/textarea/showcase/mobile-chrome/regular/neutral/DBTextarea-should-match-screenshot.png
  __snapshots__/textarea/showcase/mobile-safari/regular/neutral/DBTextarea-should-match-screenshot.png
  __snapshots__/textarea/showcase/webkit/regular/neutral/DBTextarea-should-match-screenshot.png
  packages/components/src/README.md
  packages/components/src/components/badge/badge.scss
  packages/components/src/components/button/button.scss
  packages/components/src/components/checkbox/checkbox.scss
  packages/components/src/components/infotext/infotext.scss
  packages/components/src/components/input/input.scss
  packages/components/src/components/link/link.scss
  packages/components/src/components/select/select.scss
  packages/components/src/components/tag/tag.scss
  packages/components/src/components/textarea/textarea.scss
  packages/components/src/components/tooltip/tooltip.scss
  packages/components/src/styles/_form-components.scss
  packages/foundations/docs/FontsSizes.md
  packages/foundations/scss/_init.scss
  packages/foundations/scss/default-theme.scss
  packages/foundations/scss/fonts/_font-sizes.scss
  packages/foundations/scss/fonts/_index.scss
  packages/foundations/scss/fonts/classes/all.scss
  packages/foundations/scss/tonality/_index.scss
  packages/foundations/scss/tonality/_tonalities.scss
  packages/foundations/scss/tonality/_typography-placeholder.scss
  packages/foundations/scss/tonality/_variables.scss
  showcases/patternhub/data/routes.ts
  showcases/patternhub/pages/_app.tsx
  showcases/patternhub/pages/foundations/font-sizes/overview.tsx
  showcases/patternhub/pages/foundations/font-sizes/readme.mdx
  showcases/patternhub/styles/globals.scss
Due: jscpd --exitCode 1 ., markdownlint -c .markdown-lint.yml, stylelint --fix, cross-env TIMING=1 NODE_OPTIONS="--max-old-space-size=4096" xo --fix, prettier --write

fix: issue with textarea scrollbar
  __snapshots__/textarea/showcase/chromium/regular/neutral/DBTextarea-should-match-screenshot.png
  __snapshots__/textarea/showcase/firefox/regular/neutral/DBTextarea-should-match-screenshot.png
  __snapshots__/textarea/showcase/mobile-chrome/regular/neutral/DBTextarea-should-match-screenshot.png
  __snapshots__/textarea/showcase/mobile-safari/regular/neutral/DBTextarea-should-match-screenshot.png
  __snapshots__/textarea/showcase/webkit/regular/neutral/DBTextarea-should-match-screenshot.png
  packages/components/src/styles/_form-components.scss
Due: jscpd --exitCode 1 ., stylelint --fix

fix: typo for pipeline (#2284)
  .github/workflows/release.yml
Due: jscpd --exitCode 1 .

fix: issue with wrong prop
  showcases/patternhub/pages/foundations/font-sizes/overview.tsx
Due: jscpd --exitCode 1 ., cross-env TIMING=1 NODE_OPTIONS="--max-old-space-size=4096" xo --fix, prettier --write

refactor: pin `dependencies`
  packages/foundations/package.json
Due: jscpd --exitCode 1 .

refactor: regenerated package lock file
  package-lock.json
Due: jscpd --exitCode 1 .

Path conditions:
  jscpd --exitCode 1 .: any of: *
  markdownlint -c .markdown-lint.yml: any of: *.md
  stylelint --fix: any of: *.{css,scss}
  cross-env TIMING=1 NODE_OPTIONS="--max-old-space-size=4096" xo --fix: any of: *.{js,ts,tsx}
  prettier --write: any of: *.{js,ts,tsx}
  prettier --write --ignore-unknown: any of: *.!{js,ts,tsx}
