Repository nekator/mono: changes, and which lint-staged commands are due for each by the changed paths.
All: jscpd --exitCode 1 ., markdownlint -c .markdown-lint.yml, stylelint --fix, cross-env TIMING=1 NODE_OPTIONS="--max-old-space-size=4096" xo --fix, prettier --write, prettier --write --ignore-unknown

.lintstagedrc:

{
	"*": "jscpd --exitCode 1 .",
	"*.md": "markdownlint -c .markdown-lint.yml",
	"*.{css,scss}": "stylelint --fix",
	"*.{js,ts,tsx}": ["cross-env TIMING=1 NODE_OPTIONS=\"--max-old-space-size=4096\" xo --fix", "prettier --write"],
	"*.!{js,ts,tsx}": "prettier --write --ignore-unknown"
}

feat: add autocomplete for IDEs
  packages/foundations/docs/IDESupport.md
  packages/foundations/ide/db.ide.css
  packages/foundations/package.json
  showcases/patternhub/data/routes.tsx
  showcases/patternhub/pages/foundations/ide/index.mdx
Due: jscpd --exitCode 1 ., markdownlint -c .markdown-lint.yml, stylelint --fix, cross-env TIMING=1 NODE_OPTIONS="--max-old-space-size=4096" xo --fix, prettier --write

Update IDESupport.md
  packages/foundations/docs/IDESupport.md
Due: jscpd --exitCode 1 ., markdownlint -c .markdown-lint.yml

feat: add autocomplete for IDEs (#3432)
  packages/foundations/docs/IDESupport.md
  packages/foundations/ide/db.ide.css
  packages/foundations/package.json
  showcases/patternhub/data/routes.tsx
  showcases/patternhub/pages/foundations/ide/index.mdx
Due: jscpd --exitCode 1 ., markdownlint -c .markdown-lint.yml, stylelint --fix, cross-env TIMING=1 NODE_OPTIONS="--max-old-space-size=4096" xo --fix, prettier --write

refactor: added property
  packages/components/src/components/input/input.lite.tsx
  packages/components/src/shared/model.ts
Due: jscpd --exitCode 1 ., cross-env TIMING=1 NODE_OPTIONS="--max-old-space-size=4096" xo --fix, prettier --write

fix(docs): corrected that path (#3436)
  packages/foundations/docs/IDESupport.md
Due: jscpd --exitCode 1 ., markdownlint -c .markdown-lint.yml

fix: we even also need to involve the latest "version" (#3435)
  showcases/patternhub/components/version-switcher/version-switcher.tsx
Due: jscpd --exitCode 1 ., cross-env TIMING=1 NODE_OPTIONS="--max-old-space-size=4096" xo --fix, prettier --write

feat: add code connect for figma
  .config/.jscpd.json
  output/angular/figma.config.json
  output/react/tsconfig.json
  output/vue/figma.config.json
  output/vue/tsconfig.json
  package-lock.json
  package.json
  packages/components/configs/angular/index.js
  packages/components/configs/figma/mitosis.config.js
  packages/components/configs/vue/index.js
  packages/components/package.json
  packages/components/plugins/debug/index.js
  packages/components/plugins/esbuild-generate.mjs
  packages/components/plugins/figma/angular.ts
  packages/components/plugins/figma/utils.ts
  packages/components/plugins/figma/vue.ts
  packages/components/scripts/post-build/vue.ts
  packages/components/src/components/button/figma/data.ts
  packages/components/src/components/button/figma/outlined.figma.lite.tsx
  packages/components/src/shared/figma.ts
  packages/components/tsconfig.json
  packages/components/tsconfig.plugins.json
  showcases/vue-showcase/src/components/Test.vue
Due: jscpd --exitCode 1 ., cross-env TIMING=1 NODE_OPTIONS="--max-old-space-size=4096" xo --fix, prettier --write

fix(version switcher): displaying `latest` entry (#3438)
  showcases/patternhub/components/version-switcher/version-switcher.tsx
Due: jscpd --exitCode 1 ., cross-env TIMING=1 NODE_OPTIONS="--max-old-space-size=4096" xo --fix, prettier --write
